//***************************产品**************************
::-webkit-scrollbar{width:0!important;height:0!important;}
::-webkit-scrollbar-thumb{background-color:#fff!important;}
#product_box{
  height:100%;
  overflow:hidden;
  width:10rem;
  margin: 0 auto;
  position: relative;
  box-shadow: 1px 1px 15px #ddd;
//产品首页
.product_module{
  width:10rem;
  height:100%;
  position:relative;
  .header{
    width:10rem;
    height:2.666rem;
    position:absolute;
    z-index:999;
    top:0;
    left:0;
    background:#fff;
    .title{
      position:relative;
      width:10rem;
      height:1.333rem;
      z-index:50;
      line-height:1.333rem;
      .icon-search{
        float:left;
        font-size:.45333rem;
        color:#FF5E54;
        height:1.333rem;
        line-height:1.333rem;
        padding:0 .5333rem;
      }
      .title{
        display:block;
        font-size:.48rem;
        color:#333;
        position:absolute;
        left:0;
        right:0;
        margin:0 auto;
        width:3rem;
        text-align:center;
      }
      .switch-money{
        float:right;
        width: 1.333rem;
        height: 1.333rem;
        text-align: center;
        line-height: 1.333rem;
        font-size: .65rem;
        color: #F75254;
      }
      .icon-maoduo37{
        float:right;
        width: 1.333rem;
        height: 1.333rem;
        text-align: center;
        line-height: 1.333rem;
        font-size: .55rem;
        color: #F75254;
      }
    }
    .nav{
      width:10rem;
      height:1.333rem;
      line-height:1.333rem;
      border-top:1px solid #EEEEEE;
      border-bottom:1px solid #EEEEEE;
      position:relative;
      z-index:50;
      .classify{
        width:10rem;
        height:1.333rem;
        overflow: hidden;
        .all{
          float:left;
          width:8.133rem;
          height:1.333rem;
          font-size:.4rem;
          color:#999;
          margin-left:.5333rem;
          position:relative;
          overflow: hidden;
          .alls{

          }
          .classify_alls{
            height:2rem;
            overflow: hidden;
            white-space:nowrap;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            li{
              display:inline-block;
              width:1.066rem;
              margin-left:.52075rem;
              height:1.333rem;
              line-height:1.333rem;
              font-size:.4rem;
              color:#666;
              text-align:center;
              position:relative;
              .sort-underline{
                position:absolute;
                bottom:0;
                left:0;
                background:#FF5E54;
                height:.1066rem;
                width:100%;
                z-index:1000;
              }
            }
            li:nth-child(1){
              margin-left:0;
            }
          }
        }
        #slide{
          text-align:center;
          float:right;
          position:relative;
          z-index:2;
          height:1.333rem;
          line-height:1.333rem;
          width:1rem;
          transition:transform .2s linear;
          color:#666;
        }
        .tops{
          transition: transform .2s linear;
          transform:rotate(180deg);
        }
      }
    }
    .assortment-all{
      overflow: hidden;
      width:10rem;
      padding:.3066rem 0;
      position:absolute;
      background:#fff;
      //height:4.9433rem;
      top:2.666rem;
      left:0;
      z-index:10;
      display:none;
      .red-select{
        color:#FF5E54 !important;
      }
      li{
        width:25%;
        height:1rem;
        text-align:center;
        float:left;
        line-height:1rem;
        font-size:.4rem;
        color:#666;
      }
    }
  }
  .black_module{
    position:fixed;
    left:0;
    top:0;
    width:10rem;
    height:100%;
    background: rgba(0,0,0,0.57);
    z-index:555;
    display:none;
  }
  .product-display{
    width:10rem;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height:100%;
    padding:2.666rem 0 1.5996rem 0;
    .carousel{
      width:10rem;
      height:4.9333rem;
      background:#eee;
      position:relative;
      .carousel-box{
        position:relative;
        height:4.9333rem;
        li{
          width:10rem;
          height:4.9333rem;
          position:absolute;
          opacity:0;
          left:0;
          img{
            width:100%;
            height:4.9333rem;
          }
        }
        li:nth-child(1){
          opacity: 1;
        }
      }
      .cir_box{
        z-index:1;
        height:.4rem;
        position:absolute;
        bottom:.1rem;
        li{
          width:.12rem;
          height:.12rem;
          float:left;
          border-radius:.12rem;
          margin-left:.2rem;
          background:#fff;
          box-shadow:0 0 1px 1px #ddd;
        }
        li:nth-child(1){
          margin-left:0;
        }
        .cir_on{
          background:#FF5E54;
        }
      }
    }
    .products-box{
      overflow: hidden;
      padding:0 .25rem;
      .product{
        width:4.25rem;
        height:6.1rem;
        margin:.5333rem .25rem 0 .25rem;
        float:left;
        overflow: hidden;
        .product-photo{
          width:4.25rem;
          height:4.25rem;
          border-radius:15px;
          overflow: hidden;
          img{
            width:4.25rem;
            height:4.25rem;
          }
        }
        .title{
          font-size:.3733rem;
          color:#333;
          font-weight:bold;
          max-height:.8rem;
          overflow: hidden;
          line-height:.4rem;
          margin-top:.3466rem;
        }
        .money{
          display:block;
          font-size:.3733rem;
          color:#FF5E54;
          line-height:.3733rem;
          font-weight:bold;
          padding-top:.2666rem;
        }
      }
    }
    .loading{
      text-align:center;
      width:9rem;
      padding:.5rem 0;
      border-top:1px solid #eee;
      position:relative;
      margin:0 auto;
      margin-top:.5rem;
      .No-more{
        color:#999;
        font-size:.32rem;
        line-height:.32rem;
        position:absolute;
        background:#fff;
        left:0;
        right:0;
        margin:0 auto;
        display:block;
        top:-.16rem;
        width:2rem;
      }
      .See-more{
        width:3.733rem;
        height:.9066rem;
        border:1px solid #FF5E54;
        border-radius:100px;
        color:#FF5E54;
        font-size:.3733rem;
        line-height:.9066rem;
        text-align:center;
        outline:none;
        background:#fff;
      }
    }
  }
  .footer{
    width:10rem;
    background: #fff;
    position: absolute;
    bottom:0;
    left:0;
    border-top:1px solid #eee;
    .bottom-list{
      width:2rem;
      height:1.44rem;
      float: left;
      text-align: center;
      padding-top:0;
      .icon{
        display: block;
        font-size: 0.6rem;
        color: #ccc;
        margin-top: 0.2rem;
      }
      .text{
        color: #999;
        font-size:0.32rem;
      }
    }
    .active{
      .text,.icon{
        color: #ff5e54;
      }
    }
  }
}
//产品搜索
.product_search{
  height:100%;
  position:relative;
  .header{
    width:10rem;
    height:2.666rem;
    line-height:1.333rem;
    position:absolute;
    background:#fff;
    left:0;
    top:0;
    z-index:100;
    .header-head{
      overflow: hidden;
      .icon-mail_fanhui{
        float:left;
        font-size:.45333rem;
        color:#FF5E54;
        height:1.333rem;
        line-height:1.333rem;
        width:1.333rem;
        text-align:center;
      }
      .title{
        display:block;
        font-size:.48rem;
        color:#333;
        position:absolute;
        left:0;
        right:0;
        margin:0 auto;
        width:3rem;
        text-align:center;
      }
      .head-right{
        float:right;
        height:1.333rem;
        line-height:1.333rem;
        padding:0 .5333rem;
        color:#999;
        font-size:.3733rem;
      }
      .select-right{
        color:#FF4B4C !important;
      }
    }
    .search_box{
      height:1.333rem;
      width:10rem;
      .search_input{
        display:block;
        background:#fff;
        width:10rem;
        height:1.333rem;
        line-height:1.333rem;
        position:relative;
        .icon-search{
          position:absolute;
          color:#ccc;
          font-size:.4566rem;
          height:1.333rem;
          line-height:1.333rem;
          margin-left:.35rem;
        }
        ::-webkit-input-placeholder{
          color:#CCC;
          font-size:.3466rem;
        }
        input{
          display:block;
          height:1.333rem;
          line-height:.5rem;
          width:10rem;
          padding:.4165rem 0;
          padding-left:1rem;
          color:#666;
          font-size:.3466rem;
          outline:none;
          border:1px solid #eee;
        }
      }
    }
  }
  .main-contents{
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height:100%;
    padding-top:2.666rem;
    .product-display{
      width:10rem;
      overflow: hidden;
      padding:.2666rem .3333rem;
      .products-box{
        overflow: hidden;
        width:10rem;
        .product{
          width:4.25rem;
          height:6.1rem;
          margin:.5333rem .25rem 0 .25rem;
          float:left;
          overflow: hidden;
          .product-photo{
            width:4.25rem;
            height:4.25rem;
            border-radius:15px;
            overflow: hidden;
            img{
              width:4.25rem;
              height:4.25rem;
            }
          }
          .title{
            font-size:.3733rem;
            color:#333;
            font-weight:bold;
            max-height:.8rem;
            overflow: hidden;
            line-height:.4rem;
            margin-top:.3466rem;
          }
          .money{
            display:block;
            font-size:.3733rem;
            color:#FF5E54;
            line-height:.3733rem;
            font-weight:bold;
            padding-top:.2666rem;
          }
        }
      }
      .loading{
        text-align:center;
        width:9rem;
        clear:both;
        padding:.5rem 0;
        border-top:1px solid #eee;
        position:relative;
        margin-top:.3rem;
        .No-more{
          color:#999;
          font-size:.32rem;
          line-height:.32rem;
          position:absolute;
          background:#fff;
          left:0;
          right:0;
          margin:0 auto;
          display:block;
          top:-.16rem;
          width:2rem;
        }
        .See-more{
          width:3.733rem;
          height:.9066rem;
          border:1px solid #FF5E54;
          border-radius:100px;
          color:#FF5E54;
          font-size:.3733rem;
          line-height:.9066rem;
          text-align:center;
          outline:none;
          background:#fff;
        }
      }
    }
  }
}
//产品详细
.product_details{
  height:100%;
  position:relative;
  overflow:hidden;
  width:10rem;
  .header{
    width:10rem;
    height:2.666rem;
    position:absolute;
    background:#fff;
    z-index:999;
    left:0;
    top:0;
    .detail_head{
      overflow: hidden;
      .icon-mail_fanhui{
        float:left;
        font-size:.45333rem;
        height:1.333rem;
        line-height:1.333rem;
        width:1.333rem;
        text-align:center;
        color:#666;
      }
      .title{
        display:block;
        font-size:.48rem;
        color:#333;
        position:absolute;
        line-height:1.333rem;
        left:0;
        right:0;
        margin:0 auto;
        width:3rem;
        text-align:center;
      }
      .siwdth-money{
        float: right;
        width: 1.333rem;
        height: 1.333rem;
        text-align: center;
        line-height: 1.333rem;
        font-size: .65rem;
        color: #F75254;
      }
    }
    .nav{
      width:10rem;
      height:1.333rem;
      line-height:1.333rem;
      clear:both;
      text-align:center;
      font-size:.4rem;
      color:#999;
      background: #FFFFFF;
      border:1px solid #eee;
      position:relative;
      .underline{
        width:1.6rem;
        background:#ff5e54;
        height:3px;
        position:absolute;
        left:0;
        right:0;
        bottom:1px;
        margin:0 auto;
      }
      .product-details{
        width:5rem;
        position:absolute;
        left:0;
        top:0;
      }
      .customers{
        width:5rem;
        color:#666;
        position:absolute;
        right:0;
        top:0;
      }
    }
  }
  .products{
    width:10rem;
    background:#fff;
    overflow: hidden;
    overflow-y: auto;
    position:absolute;
    left:0;
    top:0;
    height:100%;
    padding:2.666rem 0 1.44rem 0;
    -webkit-overflow-scrolling: touch;
    .Product-introduce{
      width:10rem;
      margin-top:.5333rem;
      padding-bottom:.5333rem;
      .Product-picture{
        width:10rem;
        height:9.6rem;
        position:relative;
        .picture-box{
          width:9.6rem;
          height:9.6rem;
          margin:0 auto;
          position:relative;
          li{
            width:9.6rem;
            height:9.6rem;
            border-radius:30px;
            overflow: hidden;
            position:absolute;
            left:0;
            right:0;
            margin:0 auto;
            opacity:0;
            img{
              width:9.6rem;
              height:9.6rem;
            }
          }
          li:nth-child(1){
            opacity: 1;filter:alpha(opacity=100);
          }
        }
        .cir_box{
          z-index:1;
          height:.4rem;
          position:absolute;
          bottom:.1rem;
          li{
            width:.12rem;
            height:.12rem;
            float:left;
            border-radius:.12rem;
            margin-left:.2rem;
            background:#fff;
            box-shadow:0 0 1px 1px #ddd;
          }
          li:nth-child(1){
            margin-left:0;
          }
          .cir_on{
            background:#FF5E54;
          }
        }
      }
      .Product-number{
        color:#666;
        font-size:.32rem;
        line-height:.32rem;
        padding:0 .5066rem;
        margin-top:.4533rem;
      }
      .Product-title{
        font-size:.4266rem;
        color:#333;
        line-height:.4266rem;
        padding:0 .5066rem;
        font-weight:bold;
        margin-top:.133rem;
      }
      .Product-price{
        font-size:.3733rem;
        color:#FF5E54;
        line-height:.4266rem;
        padding:0 .5066rem;
        margin-top:.32rem;
      }
    }
    .Product-key{
      width:10rem;
      background:#fff;
      padding:0 .5066rem;
      border-top:1px solid #eee;
      .key-title{
        font-size:.3733rem;
        color:#333;
        line-height:.3733rem;
        font-weight:bold;
        margin-top:.4266rem;
      }
      .keys{
        margin-top:.4533rem;
        padding-bottom:.4rem;
        .key{
          display:inline-block;
          margin-right:.2666rem;
          border-radius:4px;
          background:#FFEFEF;
          color:#666;
          font-size:.32rem;
          line-height:.32rem;
          margin-bottom:.3466rem;
          padding:.1066rem .2666rem;
        }
      }
    }
    .Related-customers{
      width:10rem;
      height:1.6rem;
      line-height:1.6rem;
      border:1px solid #eee;
      .title{
        float:left;
        height:1.6rem;
        line-height:1.6rem;
        color:#333;
        font-size:.3733rem;
        font-weight:bold;
        padding:0 .5066rem;
      }
      .icon-to-right{
        float:right;
        height:1.6rem;
        line-height:1.6rem;
        padding:0 .5066rem;
        color:#666;
      }
    }
    .graphic-details{
      border:1px solid #eee;
      width:10rem;
      .graphic-title{
        padding: 0 .5066rem;
        height:1.6rem;
        line-height:1.6rem;
        color:#333;
        font-size:.3733rem;
        font-weight:bold;
      }
      .graphic-box{
        width:10rem;
        background:#f8f8f8;
        border:1px solid #ddd;
        border-radius:10px;
        margin:0 auto;
        img{
          width:10rem;
        }
      }
    }
  }
  .footer{
    width:10rem;
    line-height:1.44rem;
    height:1.44rem;
    position:absolute;
    left:0;
    bottom:0;
    background:#fff;
    border-top:1px solid #eee;
    .Price-left{
      float:left;
      color:#666;
      padding:0 .48rem;
      font-size:.3466rem;
      .icon-wenhao{
        color: #666;
        position: relative;
        font-size: .3466rem;
        top: .031rem;
      }
    }
    .Price-right{
      float:right;
      font-size:.3733rem;
      color:#FF5E54;
      padding:0 .48rem;
    }
  }
}
//相关客户
.customer_details{
  height:100%;
  position:relative;
  .header{
    width:10rem;
    height:2.666rem;
    position:absolute;
    background:#fff;
    z-index:2;
    left:0;
    top:0;
    .head-header{
      overflow: hidden;
      .icon-mail_fanhui{
        float:left;
        font-size:.45333rem;
        color:#666;
        height:1.333rem;
        line-height:1.333rem;
        width:1.333rem;
        text-align:center;
      }
      .title{
        display:block;
        font-size:.48rem;
        color:#333;
        position:absolute;
        left:0;
        right:0;
        margin:0 auto;
        width:3rem;
        line-height:1.333rem;
        text-align:center;
      }
      .icon-to-right{
        float:right;
        height:1.333rem;
        line-height:1.333rem;
        padding:0 .5333rem;
      }
    }
    .nav{
      width:10rem;
      height:1.333rem;
      line-height:1.333rem;
      clear:both;
      text-align:center;
      font-size:.4rem;
      color:#999;
      background: #FFFFFF;
      border:1px solid #eee;
      position:relative;
      .underline{
        width:1.6rem;
        background:#ff5e54;
        height:3px;
        position:absolute;
        left:0;
        right:0;
        bottom:1px;
        margin:0 auto;
      }
      .product-details{
        width:5rem;
        position:absolute;
        left:0;
        top:0;
      }
      .customers{
        width:5rem;
        color:#666;
        position:absolute;
        right:0;
        top:0;
      }
    }
  }
  .contents{
    width:10rem;
    background:#fff;
    overflow: hidden;
    height:100%;
    padding:2.666rem 0 1.44rem 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    .products-customer{
      width:10rem;
      height:2.9333rem;
      border-bottom:1px solid #eee;
      .customer-name{
        float:left;
        width:1.813rem;
        height:2.9333rem;
        .first-name{
          width:.96rem;
          height:.96rem;
          border-radius:.96rem;
          display:block;
          border:1px solid #4A90E2;
          text-align:center;
          line-height:.96rem;
          color:#4A90E2;
          font-size:.48rem;
          margin-left:.3466rem;
          margin-top:.5066rem;
          font-weight:bold;
        }
      }
      .customer-details{
        float:left;
        width:8.187rem;
        height:2.9333rem;
        .title{
          overflow: hidden;
          margin-top:.48rem;
          .titles{
            float:left;
            font-size:.4266rem;
            color:#333;
            line-height:.4266rem;
          }
          .icon-to-right{
            padding:0 .3466rem;
            float:right;
            color:#B6B6B6;
            font-size:.3466rem;
          }
        }
        .introduce{
          color: #999;
          font-size: 0.32rem;
          line-height: 0.55rem;
          width: 7.1rem;
          display: block;
          word-break: break-all;
          height: 1.60rem;
          overflow: hidden;
          text-overflow: ellipsis;
          border: none;
        }
      }
    }
    .loading{
      text-align:center;
      width:9rem;
      padding:.5rem 0;
      border-top:1px solid #eee;
      position:relative;
      margin:0 auto;
      margin-top:.5rem;
      .No-more{
        color:#999;
        font-size:.32rem;
        line-height:.32rem;
        position:absolute;
        background:#fff;
        left:0;
        right:0;
        margin:0 auto;
        display:block;
        top:-.16rem;
        width:2rem;
      }
      .See-more{
        width:3.733rem;
        height:.9066rem;
        border:1px solid #FF5E54;
        border-radius:100px;
        color:#FF5E54;
        font-size:.3733rem;
        line-height:.9066rem;
        text-align:center;
        outline:none;
        background:#fff;
      }
    }
  }
  .footer{
    width:10rem;
    line-height:1.44rem;
    height:1.44rem;
    position:absolute;
    left:0;
    bottom:0;
    background:#fff;
    border-top:1px solid #eee;
    .Price-left{
      float:left;
      color:#666;
      padding:0 .48rem;
      font-size:.3466rem;
      .icon-wenhao{
        color: #666;
        position: relative;
        font-size: .3466rem;
        top: .031rem;
      }
    }
    .Price-right{
      float:right;
      font-size:.3733rem;
      color:#FF5E54;
      padding:0 .48rem;
    }
  }
}
//相关客户详情
#public-sea-customers{
    height:100%;
    background: #f5f5f5;
    .top{
      height:1.333rem;
      background: #fff;
      position: absolute;
      left:0;
      top:0;
      width:10rem;
      z-index:100;
      border-bottom:1px solid #eee;
      .text-center{
        text-align: center;
        color: #333;
        font-size:0.48rem;
        line-height:1.33rem;
        .icon.lf{
          position: absolute;
          left:0;
          top:0;
          padding:0.45rem;
          color:#ccc;
        }
      }
    }
    .content{
      height:100%;
      padding-top:2.66rem;
      padding-bottom:1.44rem;
      overflow: auto;
      -webkit-overflow-scrolling : touch;
      .nav-box{
        width:10rem;
        height:1.333rem;
        border-bottom:1px solid #eee;
        padding:0 2rem;
        background: #fff;
        position: fixed;
        top:1.33rem;
        left:0;
        z-index:100;
        .nav{
          color: #999;
          font-size:0.4rem;
          padding:0.3rem;
          display: block;
        }
        .active{
          border-bottom:2px solid #FF5E54;
          color: #666;
        }
      }
      .data-box{
        .message{
          padding:0 0.666rem;
          background: #fff;
          height:auto;
          .name{
            height:0.7rem;
            color: #333;
            font-size:0.4rem;
            display: block;
            width: 8.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height:0.7rem;
            word-break: break-all;
            white-space: nowrap;
          }
          .text{
            width: 8.5rem;
            text-overflow: ellipsis;
            display: block;
            color: #666;
            font-size:0.3733rem;
            line-height:0.38rem;
            padding-bottom:0.3rem;
            max-height:8rem;
            min-height:2rem;
            overflow:hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling : touch;
            word-break: break-all;
          }
          .showcontent{
            max-height:none;
            height:auto;
            background: #fff;
          }
          .more{
            margin-top:0.1rem;
            text-align: center;
            line-height:1.0666rem;
            color: #999;
            display: block;
            height:1.0666rem;
            border-top:1px solid #eee;
          }
        }
        .company-message{
          padding:0.34667rem 0.666rem;
          background: #fff;
          height:4.26667rem;
          margin:0.2667rem 0;
          overflow: hidden;
          .title{
            color: #333;
            font-size:0.42667rem;
            .qianzai{
              width:1.70667rem;
              height:0.58667rem;
              border:1px solid #ff5e54;
              -webkit-border-radius:4px;
              -moz-border-radius:4px;
              border-radius: 4px;
              text-align: center;
              line-height:0.58667rem;
              font-size:0.32rem;
              color: #ff5e54;
            }
          }
          .text{
            color: #5094E2;
            font-size:0.3733rem;
            line-height:0.8rem;
          }
          .country{
            color: #666;
            font-size:0.3733rem;
            line-height:0.8rem;
          }
          .linkman{
            color: #666;
            font-size:0.3733rem;
            line-height:0.8rem;
          }
        }
        .contact{
          padding:0 0.666rem;
          background: #fff;
          max-height:4.8rem;
          .name{
            height:0.7rem;
            color: #333;
            font-size:0.4rem;
            display: block;
            width: 8.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height:0.7rem;
            word-break: break-all;
          }
          .text{
            width: 8.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            color: #666;
            font-size:0.3733rem;
            line-height:0.38rem;
            padding-bottom:0.3rem;
            max-height:3rem;
            word-break: break-all;
          }
          .more{
            margin-top:0.1rem;
            text-align: center;
            line-height:1.0666rem;
            color: #999;
            display: block;
            height:1.0666rem;
            border-top:1px solid #eee;
          }
        }
      }
      .history-box{
        padding-bottom:1.4rem;
        .title{
          padding:0 0.64rem;
          height:1.6rem;
          background: #fff;
          line-height:1.6rem;
          .text{
            color: #333;
            font-size:0.3733rem;
            .text{
              color: #ff5e54;
              font-size:0.32rem;
            }
          }
          .icon{
            margin-top:0.6rem;
            font-size:0.4rem;
          }
        }
        .list{
          background: #fff;
          padding:0 0.64rem;
          height:1.6rem;
          line-height:1.6rem;
          border-top:1px solid #eee;
          .text{
            color: #666;
            font-size:0.3733rem;
          }
          .rt.num{
            color: #666;
            font-size:0.3733rem;
          }
        }
        .mail-times{
          margin-top:0.4533rem;
        }
        .prev-sendtime{
          margin-top:0.4533rem;
        }
      }
    }
    .bottom{
      height:1.44rem;
      line-height:1.44rem;
      background: #fff;
      position: absolute;
      bottom:0;
      left:0;
      width:10rem;
      border-top:1px solid #eee;
      .lf{
        color: #FF5E54;
        font-size:0.5rem;
        line-height:1.04rem;
        padding:0.2rem 1rem;
      }
      .disabled{
        background: #fff;
        color: #ccc;
      }
      .active{
        background: #DBECFF;
      }
      .rt{
        height: 1.44rem;
        width:3.6rem;
        color: #fff;
        background:#FF5E54;
        text-align: center;
        .icon{
          padding-right:0.3rem;
        }
      }
    }
  }

#public-sea-customer{
    height:100%;
    background: #f5f5f5;
    .top{
      height:1.333rem;
      background: #fff;
      position: absolute;
      left:0;
      top:0;
      width:10rem;
      z-index:100;
      border-bottom:1px solid #eee;
      .text-center{
        text-align: center;
        color: #333;
        font-size:0.48rem;
        line-height:1.33rem;
        .icon.lf{
          position: absolute;
          left:0;
          top:0;
          width:1.333rem;
          text-align:center;
          line-height:1.333rem;
          height:1.333rem;
          color:#ccc;
        }
      }
    }
    .content{
      height:100%;
      padding-top:2.66rem;
      padding-bottom:1.44rem;
      overflow: auto;
      -webkit-overflow-scrolling : touch;
      .nav-box{
        width:10rem;
        height:1.333rem;
        border-top:1px solid #eee;
        border-bottom:1px solid #eee;
        padding:0 2rem;
        background: #fff;
        position: fixed;
        top:1.33rem;
        left:0;
        z-index:100;
        .nav{
          color: #999;
          font-size:0.4rem;
          padding:0.3rem;
          display: block;
        }
        .active{
          border-bottom:2px solid #FF5E54;
          color: #666;
        }
      }
      .data-box{
        .message{
          padding:0 0.666rem;
          background: #fff;
          height:auto;
          .name{
            height:0.7rem;
            color: #333;
            font-size:0.4rem;
            display: block;
            width: 8.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height:0.7rem;
            word-break: break-all;
            white-space: nowrap;
          }
          .text{
            width: 8.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            color: #666;
            font-size:0.3733rem;
            line-height:0.5rem;
            padding-bottom:0.3rem;
            max-height:3rem;
            word-break: break-all;
          }
          .showcontent{
            max-height:none;
            height:auto;
            background: #fff;
          }
          .more{
            margin-top:0.1rem;
            text-align: center;
            line-height:1.0666rem;
            color: #999;
            display: block;
            height:1.0666rem;
            border-top:1px solid #ddd;
          }
        }
        .company-message{
          padding:0.34667rem 0.666rem;
          background: #fff;
          height:4.26667rem;
          margin:0.2667rem 0;
          overflow: hidden;
          .title{
            color: #333;
            font-size:0.42667rem;
            .qianzai{
              width:1.70667rem;
              height:0.58667rem;
              border:1px solid #ff5e54;
              -webkit-border-radius:4px;
              -moz-border-radius:4px;
              border-radius: 4px;
              text-align: center;
              line-height:0.58667rem;
              font-size:0.32rem;
              color: #ff5e54;
            }
          }
          .text{
            color: #5094E2;
            font-size:0.3733rem;
            line-height:0.8rem;
            a{
              color: #5094E2;
            }
          }
          .country{
            color: #666;
            font-size:0.3733rem;
            line-height:0.8rem;
          }
          .linkman{
            color: #666;
            font-size:0.3733rem;
            line-height:0.8rem;
          }
        }
        .fullcontach{
          .xaingxi-message{
            width:10rem;
            background: #fff;
            padding:0.34667rem 0.666rem;
            margin:0.2667rem 0;
            .title{
              color: #333;
              font-size:0.42667rem;
            }
            .photo-box{
              width:2.35rem;
              height:2.35rem;
              background: #f5f5f5;
              text-align: center;
              line-height:2.35rem;
              margin-top:0.666rem;
              img{
                max-height:2.35rem;
                max-width:2.35rem;
              }
            }
            .ulbox{
              margin-top:20px;
              .li{
                line-height:0.5rem;
                margin-top:10px;
                .name{
                  color:#666;
                  font-size: 0.3733rem;
                }
                .text{
                  color: #666;
                  font-size: 0.3733rem;
                }
              }
            }
          }
          .xiangguan-net{
            width:10rem;
            background: #fff;
            margin:0.2667rem 0;
            padding:0.34667rem 0 0.34667rem 0.666rem;
            .title{
              color: #333;
              font-size:0.42667rem;
            }
            .ulbox{
              .li{
                padding-right:0.666rem;
                padding-top:20px;
                padding-bottom:20px;
                border-top: 1px solid #eee;
                .pingtai{
                  color: #333;
                  font-size:0.4rem;
                  line-height: 0.5rem;
                  font-weight:500;
                }
                .web{
                  color: #333;
                  font-size: 0.35rem;
                  line-height: 0.5rem;
                }
              }
            }
          }
          .key-box{
            width:10rem;
            background: #fff;
            padding:0.34667rem 0.66rem;
            margin:0.2667rem 0;
            .title{
              color: #333;
              font-size:0.42667rem;
            }
            .text{
              color: #333;
              font-size: 0.3733rem;
              line-height:0.5rem;
              word-break: break-all;
              padding:20px 0;
              display: block;
              max-height:6.5rem;
              overflow: hidden;
              &.active{
                max-height:none;
              }
            }
            .seeMoreMessage{
              color: #4a90e2;
              font-size:0.3733rem;
              text-align: center;
              height:0.6rem;
              line-height:0.6rem;
              margin-top:0.3rem;
              width:100%;
            }
          }
          .shejiao-message{
            width:10rem;
            background: #fff;
            padding:0.34667rem 0.666rem;
            margin:0.2667rem 0;
            .title{
              color: #333;
              font-size:0.42667rem;
            }
            .fullBox{
              padding: 20px 0;
              border-top:1px solid #eee;
              .name{
                color: #333;
                font-size:0.3733rem;
                font-weight:500;
              }
              .text{
                color: #666;
                font-size:0.3733rem;
                line-height: 0.5rem;
              }
            }
            .net{
              padding:20px 0 20px 0.8rem;
              position: relative;
              .icon{
                color: #ccc;
                font-size:0.5rem;
                position: relative;
                left:-.2rem;
                top:.1rem;
              }
              .text{
                color: #666;
                font-size:0.3733rem;
              }
            }
            .shejiao-bottom{
              border-top:1px solid #eee;
              .box1,.box2{
                float: left;
                width:50%;
                height:1.5rem;
                .name{
                  color: #333;
                  font-size:.3733rem;
                  line-height:1.5rem;
                }
                .text{
                  color: #333;
                  font-size:.3733rem;
                  line-height:1.5rem;
                }
              }
              .box2{
                float: right;
              }
            }
            .shejiao-bottom:after{
              content: '';
              display: table;
              clear: both;
            }
          }
          .paiming{
            width:10rem;
            background: #fff;
            padding:0.34667rem 0 0.34667rem 0.666rem;
            margin:0.2667rem 0;
            .title{
              color: #333;
              font-size:0.42667rem;
            }
            .list{
              border-top:1px solid #eee;
              height:1.1rem;
              line-height:1.1rem;
              padding-right:0.666rem;
              .name,.num{
                color: #666;
                font-size:0.3733rem;
              }
            }
          }
        }
      }
      .history-box{
        padding-bottom:1.4rem;
        .title{
          padding:0 0.64rem;
          height:1.6rem;
          border-top:1px solid #ddd;
          background: #fff;
          line-height:1.6rem;
          .text{
            color: #333;
            font-size:0.3733rem;
            .text{
              color: #ff5e54;
              font-size:0.32rem;
            }
          }
          .icon{
            margin-top:0.6rem;
            font-size:0.4rem;
          }
        }
        .list{
          background: #fff;
          padding:0 0.64rem;
          height:1.6rem;
          line-height:1.6rem;
          border-top:1px solid #ddd;
          overflow: hidden;
          .text{
            color: #666;
            font-size:0.3733rem;
          }
          .rt.num{
            color: #666;
            font-size:0.3733rem;
          }
        }
        .mail-times{
          margin-top:0.4533rem;
        }
        .prev-sendtime{
          margin-top:0.4533rem;
        }
      }

    }
    .bottom{
      height:1.44rem;
      line-height:1.44rem;
      background: #fff;
      position: absolute;
      bottom:0;
      left:0;
      width:10rem;
      border-top:1px solid #ccc;
      .lf{
        color: #FF5E54;
        font-size:0.5rem;
        line-height:1.04rem;
        padding:0.2rem 1rem;
      }
      .disabled{
        background: #fff;
        color: #ccc;
      }
      .active{
        background: #DBECFF;
      }
      .Ace-select{
        background:#Dbecff;
      }
      .rt{
        height: 1.44rem;
        width:3.6rem;
        color: #fff;
        background:#FF5E54;
        text-align: center;
        .icon{
          padding-right:0.3rem;
        }
      }
    }
    .topersonal-seamodal{
      height:100%;
      position: absolute;
      top:0;
      left:0;
      width:100%;
      background:rgba(0,0,0,.5);
      z-index:9999;
      .content{
        padding:0.5rem;
        width:9rem;
        height:7.5rem;
        background: #fff;
        position: absolute;
        left:50%;
        top:50%;
        margin-top:-4rem;
        margin-left:-4.5rem;
        text-align: center;
        border:1px solid transparent;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;
        .title{
          color: #333;
          font-size:0.5rem;
          text-align: center;
          line-height:1rem;
        }
        .list{
          color: #666;
          font-size:0.32rem;
          line-height:0.5rem;
          margin-top:0.3rem;
          text-align: left;
        }
        .check{
          text-align: left;
          margin-top:0.3rem;
          display: block;
          width: 3rem;
          height: 0.6rem;
          line-height:0.6rem;
          .icon{
            color: #ccc;
            font-size:0.35rem;
            float: left;
            margin-right:0.5rem;
            margin-top:0.1rem;
          }
          .text{
            color: #666;
            font-size:0.32rem;
          }
        }
        .active{
          .icon{
            color: #FF5E54;
          }
        }
        .submitbtn{
          width: 4rem;
          height: 0.7rem;
          border: 2px solid #FF5E54;
          -webkit-border-radius: 1rem;
          -moz-border-radius: 1rem;
          border-radius: 1rem;
          text-align: center;
          line-height: 0.7rem;
          color: #FF5E54;
          margin: 0 auto;
          margin-top: 0.8rem;
        }
      }
    }
  }
//小廖
.photo_module{
  width: 10rem;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 888;
}
//添加产品
@pt:37.5rem;
#product-add{
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  position: relative;
  .product-add-title{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 1.3334rem;
    background-color: #fff;
    border-bottom:1px solid #EEEEEE;
    .back-border{
      float: left;
      width: 1.3334rem;
      height: 100%;
      position: relative;
      .back{
        position: absolute;
        color: #FF5E54;
        font-size: 14/@pt;
        //margin: 0.4167rem 0.42667rem;
        top: 0.4167rem;
        left: 0.42667rem;
      }
    }
    .nextStep{
      float: right;
      width: 1.334rem;
      height:100%;
      position: relative;
      .next-step{
        position: absolute;
        color: #FF5E54;
        font-size: 14/@pt;
        top: 0.4164rem;

      }
    }
    .order-word{
      width: 2rem;
      height: 100%;
      line-height: 1.3334rem;
      text-align: center;
      color: #333;
      font-size: 0.48rem;
      margin: 0 auto;
    }
  }
  .product-add-body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
    padding-bottom: 1.44rem;
    padding-top: 1.3334rem;
    .someinfor-2{
      line-height: 40/@pt;
      font-size: 12/@pt;
      padding-left: 15/@pt;
      background: #f5f5f5;
      color:#999;
      position: relative;
      b{
        position: absolute;
        top:0 ; right: 10/@pt;
        color: #FF5E54;
        font-weight: normal;
      }
    }
    .someinfor-3{
      font-size: 12/@pt;
      color: #999;
      line-height: 40/@pt;
      background: #f5f5f5;
      padding-left: 15/@pt;
    }
  }
  .product-add-baseinfo{
    .someInfor-1{
      background: #f5f5f5;
      line-height: 30/@pt;
      color: #999;
      font-size: 14/@pt;
      padding-left:18/@pt ;
    }
    .prod-add-name{
      p{
        line-height: 50/@pt;
        border: 1px solid #eee;
        padding-left: 15/@pt;
        color: #666;
        font-size: 14/@pt;
        font-weight: bold;
        background: #FFFFFF;
      }
      textarea{
        height: 70/@pt;
        width: 100%;
        font-size: 12/@pt;
        border: none;
        resize: none;
        padding: 20/@pt 16/@pt;
        overflow: hidden;
      }
    }
    .prod-add-description{
      p{
        line-height: 50/@pt;
        border: 1px solid #eee;
        padding-left: 15/@pt;
        color: #666;
        font-size: 14/@pt;
        font-weight: bold;
        background: #FFFFFF;
      }
      textarea{
        height: 150/@pt;
        width: 100%;
        font-size: 12/@pt;
        border: none;
        resize: none;
        padding: 20/@pt 16/@pt;
        overflow: hidden;
      }
    }
    .prod-keywords{
      margin-top: 10/@pt;
      p{
        line-height: 50/@pt;
        border-bottom: 1px solid #eee;
        font-size: 14/@pt;
        color: #666;
        font-weight: bold;
        padding-left: 15/@pt;
        background: #fff;
        position: relative;
        span{
          position: absolute;
          top: 0;right:0;
          line-height: 50/@pt;
          padding: 0 20/@pt;
          color: #FF5E54;
        }
      }
      ul{
        li{
          height: 50/@pt;
          padding-left: 15/@pt;
          border-bottom: 1px solid #eee;
          background: #fff;
          position: relative;
          input{
            border: none;
            width: 70%;
            background: #fff;
            line-height: 46/@pt;
          }
          span{
            position: absolute;
            top: 0;right: 0;
            line-height: 50/@pt;
            color: #FF5E54;
            padding: 0 20/@pt;
            font-size: 14/@pt;
          }
        }
      }
    }
    .prod-add-pic{
      background: #fff;
      margin-bottom: 10/@pt;
      p{
        line-height: 50/@pt;
        border-bottom: 1px solid #eee;
        padding-left: 15/@pt;
        color: #666;
        font-size: 14/@pt;
        font-weight: bold;
        background: #FFFFFF;
      }
      ul{
        background: #fff;
        padding-left: 20/@pt;
        li{
          width: 80/@pt; height: 80/@pt;
          margin: 15/@pt;
          background: #eee;
          float: left;
          position: relative;
          img{
            width: 80/@pt; height: 80/@pt;
          }
          span.iconBtn{
            position:absolute;
            right:-0.3rem; top: -0.3rem;
            width: 0.8rem; height: 0.8rem;
            color:#FF5E54;
            background: #fff;
            border-radius: 0.4rem;
            text-align: center;
            i{
              line-height: 0.8rem;
              font-size: 0.8rem;
            }
          }
        }
        li.add-prodpic-btn{
          text-align: center;
          position: relative;
          float: left;
          span{
            line-height: 80/@pt;
            font-size: .5rem;
            color: #b4b4b4;
          }
          input{
            position: absolute;
            height: 80/@pt;
            width: 80/@pt;
            top:0; left: 0;
            z-index: 10;
            opacity: 0;
          }
        }
      }
      p.pic-hint{
        font-weight: normal;
        border-top: 1px solid #ccc;
        line-height: 30/@pt;
        font-style: normal;
        padding-left: 15/@pt;
        position: relative;
        border-top: 1px solid #eee;
        span{
          line-height: 30/@pt;
          position: absolute;
          top: 0; right: 12/@pt;
        }
      }
    }
  }
  .product-add-priceattr{
    .prod-base-attr{
      margin-top: 10/@pt;
      p{
        line-height: 50/@pt;
        border: 1px solid #eee;
        padding-left: 15/@pt;
        color: #666;
        font-size: 14/@pt;
        font-weight: bold;
        background: #FFFFFF;
      }
      ul{
        li{
          height: 50/@pt;
          padding-left: 15/@pt;
          border-bottom: 1px solid #eee;
          background: #fff;
          span{
            line-height: 50/@pt;
            padding: 7/@pt 5/@pt;
            border-right: 1px solid #ddd;
            color: #999;
            font-size: 12/@pt;
            font-weight: normal;
          }
          input{
            height: 42/@pt;
            padding: 10/@pt 15/@pt;
            border: none;
            background: #fff;
          }
        }
      }
    }
    .prod-add-price{
      margin-top: 10/@pt;
      margin-bottom: 10/@pt;
      background: #fff;
      font-size: 12/@pt;
      p{
        line-height: 50/@pt;
        border: 1px solid #eee;
        padding-left: 15/@pt;
        color: #666;
        font-size: 14/@pt;
        font-weight: bold;
        background: #FFFFFF;
      }
      input{
        height: 50/@pt;
        padding: 10/@pt 15/@pt;
        background: #fff;
        border: none;
        width: 70%;
      }
    }
    .prod-custom-attr{
      p.attr-title{
        line-height: 50/@pt;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding-left: 15/@pt;
        color: #666;
        font-size: 14/@pt;
        font-weight: bold;
        background: #FFFFFF;
      }
      ul.prod-attr-ul{
        li.prod-attr-li{
          background: #fff;
          margin-bottom: 10/@pt;
          color: #999;
          font-size: 12/@pt;
          p.attr-name{
            line-height: 50/@pt;
            border-top: 1px solid #eee;
            padding-left: 10/@pt;
            position: relative;
            input{
              width: 60%;
              padding: 10/@pt 10/@pt;
              border: none;
              background: #fff;
              height: 42/@pt;
            }
            span{
              color: #FF5E54;
              position: absolute;
              top: 0; right:0;
              padding: 0 20/@pt;
              line-height: 50/@pt;
              font-size: 14/@pt;
            }
          }
          ul{
            li{
              height: 50/@pt;
              border-top: 1px solid #eee;
              position: relative;
              span{
                line-height: 50/@pt;
                padding: 0 10/@pt;
              }
              input{
                padding: 5/@pt 10/@pt;
                border: none;
                background: #fff;
                height: 46/@pt;
                width: 17%;
              }
              input.noChinese{
                width: 40%;
              }
              i{
                position: absolute;
                top: 0;right: 0;
                color: #FF5E54;
                line-height: 50/@pt;
                font-style: normal;
                padding: 0 20/@pt;
                font-size: 14/@pt;

              }
            }
          }
          p.add-attr-btn{
            line-height: 50/@pt;
            text-align: center;
            color: #FF5E54;
            border-top: 1px solid #eee;
          }

        }
      }
    }
    .add-attrs-btn{
      height: 60/@pt;
      background: #fff;
      margin-bottom: 10/@pt;
      color: #FF5E54;
      font-size: 14/@pt;
      font-weight: bold;
      p{
        line-height: 60/@pt;
        padding-left: 15/@pt;
        position: relative;
        span{
          position: absolute;
          line-height: 60/@pt;
          top: 0; right: 24/@pt;
        }
      }
    }
  }
  .product-add-supplier{
    .add-supplier-btn{
      margin-bottom: 10/@pt;
      p.ph{
        line-height: 50/@pt;
        border: 1px solid #eee;
        padding-left: 15/@pt;
        color: #FF5E54;
        font-size: 14/@pt;
        font-weight: bold;
        background: #FFFFFF;
      }
      div.line-or{
        background: #fff;
        border-bottom: 1px solid #bbb;
        border-top: 1px solid #bbb;
        div:first-child{
          float: left;
          width: 70/@pt;
          margin-top: 18/@pt;
          margin-left: 80/@pt;
          height: 1px;
          background: #ccc;
        }
        div:last-child{
          float: left;
          width: 70/@pt;
          margin-top: 18/@pt;
          margin-right: 80/@pt;
          height: 1px;
          background: #ccc
        }
        p{
          color: #ccc;
          float: left;
          width:75/@pt;
          text-align: center;
          line-height:40/@pt;
          padding-left: 0;
        }
      }
      div.supplierCard{
        height: 150/@pt;
        width:100%;
        text-align: center;
        position: relative;
        background: #fefefe;
        span{
          line-height: 100/@pt;
          font-size: 50/@pt;
          color: #b4b4b4;
        }
        p{
          font-size: 18/@pt;
          color: #ccc;
          text-align: center;
        }
        input{
          position: absolute;
          height: 150/@pt;
          width: 100%;
          top:0; left: 0;
          z-index: 10;
          opacity: 0;
        }
      }
      ul{
        li{
          height: 50/@pt;
          border-bottom: 1px solid #eee;
          padding: 0 18/@pt;
          background: #fff;
          font-size: 12/@pt;
          span{
            display: inline-block;
            line-height: 50/@pt;
            text-align: center;
            color: #FF5E54;
            width: 10/@pt;
          }
          b{
            display: inline-block;
            line-height: 50/@pt;
            width: 60/@pt;
            color: #999;
            font-size: 12/@pt;
            border-right: 1px solid #eee;
          }
          input{
            display: inline-block;
            width: 240/@pt;
            margin-left: 10/@pt;
            line-height: 42/@pt;
            border: none;
            background: #fff;
          }
        }
      }

    }
  }
  .product-add-detail{
    position: relative;
    background: #fff;
    ul.prod-discription-ul-hidden{
      width:100%;
      height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling : touch;
      padding-bottom: 1.44rem;
      textarea.moreDesc{
        width:100%;
        height:50/@pt;
        padding:10/@pt 18/@pt;
        line-height: 30/@pt;
        border: 1px solid #ccc;
        margin-bottom: 15/@pt;
        resize: none;
      }
      li{
        div.li-tag{
          width: 100%;
          height: 25/@pt;
          margin-bottom: 15/@pt;
          text-align: center;
          img{
            border: none;
            height: 25/@pt;
          }
        }
        div.li-main{
          width:100%;
          height:210/@pt;
          position: relative;
          margin-bottom: 15/@pt;
          img{
            width:100%;
            height:100%;
            padding:10/@pt;
            border:none;
          }
          span{
            position: absolute;
            top:3/@pt;
            right:3/@pt;
            font-size: 25/@pt;
          }
        }
        textarea.li-text{
          width:100%;
          min-height: 50/@pt;
          resize: none;
          padding:10/@pt 18/@pt;
          font-size:12/@pt;
          color: #999;
        }
      }
    }
    p.add-descPic-btn{
      background: #fff;
      position: absolute;
      bottom:1.44rem;
      left: 0;
      z-index: 33;
      width: 100%;
      line-height: 50/@pt;
      color: #FF5E54;
      font-size: 14/@pt;
      text-align: center;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      input{
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 10;
      }
    }
  }
  .product-add-foot{
    width: 100%;
    height: 1.44rem;
    background: #FFFFFF;
    box-shadow: 0px -1px 0px 0px #EEEEEE;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 22;
    ul{
      width:100%;
      height:100%;
      li{
        float: left;
        height:100%;
        text-align: center;
      }
      .li-btn{
        width:75/@pt;
        padding-top: 5/@pt;
        span{
          font-size: 28/@pt;
          color: #FF5E54;
        }
        p{
          color: #FF5E54;
          font-size: 12/@pt;
          line-height: 14/@pt;
        }
      }
      .li-line{
        width:25/@pt;
        padding-top: 25/@pt;
        div{
          width:100%;
          height:1/@pt;
          background: #FF5E54;
        }
      }
    }
    //.save-add-prod{
    //  float: right;
    //  width: 2.45rem;
    //  height: 100%;
    //  line-height: 1.44rem;
    //  text-align: center;
    //  background-color: #ff5e54;
    //  color: #fff;
    //  font-size: 0.37334rem;
    //  font-weight: bold;
    //}
  }
  .add-descriptions-page{
    background: #fff;
    top:0;left:0;
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
    div.add-descriptions-header{
      width: 100%;
      height: 1.3334rem;
      background-color: #fff;
      border-bottom:1px solid #EEEEEE;
      .back-desc{
        float: left;
        width: 1.3334rem;
        height: 100%;
        position: relative;
        .backDesc{
          position: absolute;
          color: #999;
          font-size: 14/@pt;
          //margin: 0.4167rem 0.42667rem;
          top: 0.4167rem;
          left: 0.42667rem;
        }
      }
      .order-word{
        width: 4rem;
        height: 100%;
        line-height: 1.3334rem;
        text-align: center;
        color: #333;
        font-size: 0.48rem;
        margin: 0 auto;
      }
    }
    div.add-descriptions-body{
      p{
        line-height: 30/@pt;
        padding-left: 18/@pt;
        color: #999;
        border-bottom: 1px solid #eee;
      }
      ul{
        li{
          line-height: 50/@pt;
          padding-left: 28/@pt;
          color: #666;
          font-size: 14/@pt;
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
  .more-options-pop{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: 99;
    div.cover-board{
      position: absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;
      background: #222;
      opacity: 0.75;
    }
    div.pop-box{
      position: absolute;
      top:182/@pt;
      left:30/@pt;
      height:267/@pt;
      width:316/@pt;
      background: #fff;
      border-radius: 5/@pt;
      text-align: center;
      h3{
        margin-top:24/@pt;
        margin-bottom: 50/@pt;
        text-align: center;
        font-size: 18/@pt;
        color: #666;
        font-weight:normal;
      }
      button{
        margin-bottom: 20/@pt;
        width:236/@pt;
        height:30/@pt;
        border:1px solid #FF5E54;
        background: #fff;
        font-size: 12/@pt;
        color: #FF5E54;
        border-radius: 15/@pt;
      }
      button.delete-pic{
        background: #FF5E54;
        color: #fff;
      }
      button.cancel-option{
        border:1px solid #bbb;
        color: #aaa;
      }
    }
  }
  .cancel-add-pop{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: 99;
    div.cover-board{
      position: absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;
      background: #222;
      opacity: 0.75;
    }
    div.pop-box{
      position: absolute;
      top:182/@pt;
      left:30/@pt;
      height:243/@pt;
      width:316/@pt;
      background: #fff;
      border-radius: 5/@pt;
      text-align: center;
      h3{
        margin-top:28/@pt;
        margin-bottom: 20/@pt;
        text-align: center;
        font-size: 18/@pt;
        color: #666;
        font-weight:normal;
      }
      p{
        font-size:12/@pt;
        color: #666;
        margin-bottom: 30/@pt;
      }
      button{
        margin-bottom: 20/@pt;
        width:236/@pt;
        height:30/@pt;
        border:1px solid #FF5E54;
        background: #fff;
        font-size: 12/@pt;
        color: #FF5E54;
        border-radius: 15/@pt;
      }
      button.ok-btn{
        background: #FF5E54;
        color: #fff;
      }
      button.cancel-btn{
        border:1px solid #bbb;
        color: #aaa;
      }
    }
  }
  .help-other-pop{
    .cancel-add-pop;
  }
}
//修改报价单
.order-change{
  //display: none;

  width: 100%;
  height: 100%;
  background-color: #f5f5f5;

  .change-title{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 1.3334rem;
    background-color: #fff;
    border-bottom:1px solid #EEEEEE;
    .back-border{
      float: left;
      width: 1.3334rem;
      height: 100%;
      position: relative;
      .back{
        position: absolute;
        color: #666;
        font-size: 0.5rem;
        //margin: 0.4167rem 0.42667rem;
        top: 0.4167rem;
        left: 0.42667rem;
      }
    }
    .money-change-border{
      float: right;
      width: 1.3334rem;
      height: 100%;
      position: relative;
      .icon-maoduo41{
        font-size: 0.65rem;
        color: #FB6058;
        position: absolute;
        top: 0.35rem;
        left: 0.35rem;
      }
      .icon-maoduo42{
        font-size: 0.65rem;
        color: #FB6058;
        position: absolute;
        top: 0.35rem;
        left: 0.35rem;
      }

    }
    .order-word{
      width: 1.5rem;
      height: 100%;
      line-height: 1.3334rem;
      text-align: center;
      color: #333;
      font-size: 0.48rem;
      margin: 0 auto;
    }
  }
  .quotation-modify-body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
    padding-bottom: 1.44rem;
    padding-top: 1.3334rem;
    .product-order-num{
      background-color: #fff;
      width: 100%;
      height: 2rem;
      border-bottom: 1px solid #eee;
      padding: 0 0.74667rem;
      &:before{
        content: '';
        display: table;
      }
      .product-num{
        width: 100%;
        font-size: 0.32rem;
        color: #666;
        margin-top: 0.34rem;
      }
      .product-name{
        color:#333;
        font-weight: bold;
        font-size: 0.42667rem;
        letter-spacing: -0.39px;
        //line-height: 0.7rem;
        line-height: 2rem;
      }
    }
    .quotation-group{

      width: 100%;
      .quotation-item{
        padding-bottom: 1rem;
        border-bottom: 1px solid #eee;
        overflow: hidden;
        margin-top: 0.2667rem;
        background-color: #fff;
        margin-bottom: 0.53rem;
        .quotation-head{
          width: 100%;
          height: 1.6rem;
          line-height: 1.6rem;
          padding: 0 0.5067rem;
          // background: #FFFFFF;
          box-shadow: 0px 1px 0px 0px #EEEEEE;
          .group-name{
            font-size: 0.37334rem;
            color: #333;
            font-weight: bold;
            float: left;
          }
          .modify{
            color: #FF6060;
            padding: 0 0.1867rem 0 0.3rem;
            font-size: 0.37334rem;
            float: right;
          }
          .group-delete{
            color: #FF6060;
            padding: 0 0.1867rem 0 0.3rem;
            font-size: 0.37334rem;
            float: right;
          }
        }
        .pic-container{
          width: 100%;
          height: 2.6667rem;
          border-bottom: 1px solid #eee;
          padding: 0.2667rem 1.1334rem;
          text-align: center;
          line-height: 2rem;
          color: #999;
          .pic-border{
            float: left;
            width: 2.1334rem;
            height: 2.1334rem;
            //background: red;
            border-radius: 0.25rem;
            background-size: cover;
            &:nth-child(2n+2){
              margin: 0 0.6666rem;
            }
          }
        }
        .product-detail{
          width: 100%;
          //height: 6.667rem;
          //border-bottom: 1px solid #eee;
          padding: 0.9334rem 0.8rem 0.2667rem 0.8rem;
          font-size: 0.37334rem;
          color: #999;
          //border-bottom: 1px solid #eee;
          .product-attr{
            width: 100%;
            height: 0.58667rem;
            line-height: 0.58667rem;
            .money{
              float: right;
            }
          }


        }
        .line{
          width: 8.4rem;
          height: 0;
          margin-left: 0.8rem;
          border-bottom: 1px solid #eee;
        }
        .total-money{
          float: right;
          margin-right: 0.8rem;
          line-height: 1rem;
          font-weight: bold;
          font-size: 0.37334rem;
          color: #ff5e54;
        }
      }
    }
    .freight-way{
      display: none;
      width: 100%;
      height: 5.04rem;
      background-color: #fff;
      margin-top: .267rem;
      .freight-head{
        width: 100%;
        height: 1.6rem;
        line-height: 1.6rem;
        font-size: .3734rem;
        padding: 0 .5rem;
        box-shadow: 0 1px 0 0 #eee;
        span{

          color: #333;
          font-weight: bold;
          float: left;
        }
        .modify{
          float: right;
          color: #FF6060;
          padding: 0 .273rem;
        }
        .delete{
          float: right;
          color: #FF6060;
          padding: 0 .273rem;
        }

      }
      .freight-body{
        width: 100%;
        height: 3.44rem;
        padding: 0 .7rem;
        .freight-detail{
          width: 100%;
          height: 2.1rem;
          box-shadow: 0 1px 0 0 #eee;
          font-size: .3734rem;
          color: #999;
          padding-top: .6rem;
          .country{
            .country-detail{
              color: #333;
            }
          }
          .freight-way-detail{
            line-height: .6rem;
            .freight-word{
              float: left;
              span{
                float: left;
              }
              .transway{
                color: #333;
                float: left;
                .way{
                  margin-left: .1rem;
                }

              }
            }
            .freight-way-tip{
              float: right;
            }
          }

        }
        .total-money{
          float: right;
          line-height: 1.25rem;
          color: #FF5E54;
          font-size: .3734rem;
        }
      }
    }
    .modify-group{
      background-color: #fff;
      width: 100%;
      margin-top: 0.5334rem;
      border-top: 1px solid #eee;
      .new-item{
        width: 100%;
        height: 1.6rem;
        line-height: 1.6rem;
        padding: 0 0.50667rem;
        box-shadow: 0px 1px 0px 0px #EEEEEE;
        .modify-item{
          color: #ff5e54;
          font-size: 0.37334rem;
          float: left;
        }
        .add-icon{
          float: right;
          width: 0.9334rem;
          height: 0.9334rem;
          //background: red;
          margin-top: 0.3333rem;
          position: relative;
          span{
            position: absolute;
            top: 0.29334rem;
            left: 0.29334rem;
            font-size: 0.34667rem;
            color: #ff5e54;
          }
        }
      }
    }
    .note-modify{
      display: none;
      width: 100%;
      line-height: 3.52rem;
      margin-top: 0.64rem;
      background-color: #fff;
      .note-title{
        width: 100%;
        height: 1.6rem;
        line-height: 1.6rem;
        border-bottom: 1px solid #eee;
        .name-word{
          font-size: 0.37334rem;
          color: #333;
          font-weight: bold;
          margin-left: 0.4rem;
        }
        .name-modify{
          float: right;
          color: #ff6060;
          font-size: 0.37334rem;
          padding: 0 0.2433rem;

        }
        .name-delete{
          float: right;
          color: #ff6060;
          font-size: 0.37334rem;
          padding: 0 0.2433rem;
          margin-right: 0.4867rem;
        }
      }
      .note-word{
        width: 100%;

        line-height: 0.8rem;
        padding: .32rem 0.48rem;
        font-size: 0.37334rem;
        color: #333;
      }

    }
    .profit{
      width: 100%;
      height: 3.7334rem;
      margin-top: 0.5334rem;
      background-color: #fff;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      .income-count{
        color: #333;
        font-size: 0.37334rem;
        float: left;
        margin: 0.4rem 0.50667rem;
      }
      .account-balance{
        float: left;
        width: 100%;
        height: 2rem;
        padding-top: 0.4rem;
        .sale-volume{
          width: 50%;
          height: 100%;
          float: left;
          //background: red;
          .sale-num{
            text-align: center;
            font-size: 0.42667rem;
            color: #ff5e54;
          }
          .sale-word{
            text-align: center;
            font-size: 0.37334rem;
            color: #ABABAB;
          }
        }
        .withdraw-deposit{
          width: 50%;
          height: 100%;
          float: left;
          //background: green;
          .deposit-num{
            text-align: center;
            font-size: 0.42667rem;
            color: #ff5e54;
          }
          .deposit-word{
            text-align: center;
            font-size: 0.37334rem;
            color: #ABABAB;
          }
        }

      }
    }
    .order-name{
      width: 100%;
      height: 3.52rem;
      line-height: 3.52rem;
      margin-top: 0.64rem;
      background-color: #fff;
      .order-title{
        width: 100%;
        height: 1.6rem;
        line-height: 1.6rem;
        border-bottom: 1px solid #eee;
        .name-word{
          font-size: 0.37334rem;
          color: #333;
          font-weight: bold;
          margin-left: 0.4rem;
        }
        .name-modify{
          float: right;
          font-weight: bold;
          color: #ff6060;
          font-size: 0.37334rem;
          padding: 0 0.35rem;
          margin-right: 0.4rem;
        }
      }
      .order-word{
        width: 100%;
        height: 1.92rem;


        font-size: 0.37334rem;
        color: #333;
        textarea{
          width: 100%;
          border: none;
          height: 100%;
          padding: 0.25rem 0.48rem;
          line-height: .7rem;
          overflow: hidden;
          text-overflow:ellipsis;
        }
      }

    }
    .order-download{
      display: none;
      width: 100%;
      height: 1.3rem;
      background-color: #fff;
      border-top: 1px solid #eee;
      .download{
        padding: 0 .3rem;
        //width: 2.5rem;
        height: 100%;
        float: right;
        //background: red;
        line-height: 1.3rem;
        color: #FF5E54;
        font-size: .32rem;
        span{
          float: left;
        }
        .down-icon{
          font-size: .5867rem;
          margin-top: .35rem;
        }
      }
    }
  }
  .quotation-foot{
    width: 100%;
    height: 1.44rem;
    background: #FFFFFF;
    box-shadow: 0px -1px 0px 0px #EEEEEE;
    position: absolute;
    left: 0;
    bottom: 0;
    .quotation-description{
      float: left;
      width: 3.5rem;
      line-height: 1.44rem;
      color: #666;
      font-size: 0.3466rem;
      padding-left: 0.37334rem;
      overflow: hidden;

      .pic-border{
        float: left;
        width: 0.42667rem;
        height: 0.42667rem;
        position: relative;
        margin-top: 0.56rem;

      }
      .icon-wenhao{

        position: absolute;
        left: 0;
        top: 0;

      }
      .description-word{
        float: left;
      }
    }
    .border{
      display: none;
      .submit-order{
        float: right;
        width: 2.45rem;
        height: 100%;
        line-height: 1.44rem;
        text-align: center;
        background-color: #ff5e54;
        color: #fff;
        font-size: 0.37334rem;
        font-weight: bold;
      }
      .save-modify{
        float: right;
        width: 1.76rem;
        height: 100%;
        color: #FB6058;
        padding-top: .25rem;
        border-left: 1px solid #eee;
        .save-icon{
          margin-left: 0.6133rem;
          span{
            font-size: .5334rem;
          }
        }
        .word{
          text-align:center;
        }

      }
      .save-as{
        float: right;
        width: 1.76rem;
        height: 100%;
        color: #FB6058;
        padding-top: .25rem;
        //border-left: 1px solid #eee;
        .save-icon{
          margin-left: 0.6133rem;
          span{
            font-size: .5334rem;
          }
        }
        .word{
          text-align:center;
        }

      }
    }
    .save-quotation{
      float: right;
      width: 2.45rem;
      height: 100%;
      line-height: 1.44rem;
      text-align: center;
      background-color: #ddd;
      color: #fff;
      font-size: 0.37334rem;
      font-weight: bold;
      &.abled{
        background-color: #ff5e54;
      }
    }

  }
}
.own-information {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  .stop-head {
    width: 100%;
    height: 1.334rem;
    border-bottom: 1px solid #eee;
    line-height: 1.334rem;
    font-size: 0.3734rem;
    color: #ff4747;
    .cancel {
      float: left;
      padding: 0 .4267rem;
    }
    .submit {
      float: right;
      padding: 0 .4267rem;
    }
    .title {
      width: 4rem;
      text-align: center;
      margin: 0 auto;
      font-size: .48rem;
      color: #333;
    }
  }
  .reason-border {
    width: 100%;
    height: 100%;
    textarea {
      width: 100%;
      //height: 100%;

      min-height: 1.5rem;
      border: none;
      padding: .4534rem .4rem;
      font-size: .3734rem;
      color: #333;
      line-height: .5rem;

    }
  }
  .tel-contact {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.44rem;
    line-height: 1.44rem;
    border-top: 1px solid #eee;
    background-color: #fff;
    font-size: .3734rem;
    color: #666;
    .tel {
      float: right;
      color: #FF4747;
      margin-right: .5067rem;
    }
    .contact-word {
      float: right;

    }
    .own-description{
      float: left;
      line-height: 1.44rem;
      padding-left: .4rem;
      font-size: .3466rem;
      span{
        float: left;
      }
      .icon-wenhao{
        margin: .56rem .1rem;
      }
    }
  }
}
//产品属性组合
@pt:37.5rem;
#productProperties{
  height: 100%;background: #fff;width: 100%;overflow: hidden;
  header{
    height: 49/@pt;  position: absolute;text-align: center; border-bottom: 1px solid #ddd;background: #fff; top:
          0; left: 0; width: 100%;z-index:20;
    h2{
      font-size: 18/@pt; line-height: 49/@pt;
    }
    span{
      position: absolute; line-height: 49/@pt;top:0; font-size: 14/@pt;color: #ff5e54;
    }
    span.cancelBtn{
      left: 0;padding: 0 12/@pt;
    }

    .icon-maoduo41{
      font-size: 0.65rem;
      color: #FB6058;
      position: absolute;
      top:0;
      right: 0.35rem;
    }
    .icon-maoduo42{
      font-size: 0.65rem;
      color: #FB6058;
      position: absolute;
      top: 0;
      right: 0.35rem;
    }
  }
  article{
    overflow: auto; -webkit-overflow-scrolling: touch;
    width: 100%;height: 100%;padding: 1.3334rem 0 1.44rem 0;
    .quotation-tip{
      width: 100%;
      height: .82667rem;
      line-height: .82667rem;
      background-color: #f8f8f8;
      padding-left: .48rem;
      color: #666;
      font-size: .3466rem;
      span{
        float: left;
      }
      .tips{
        margin: .24rem .15rem;
      }
    }
    div.aboutProduct{
      height: 75/@pt;  padding: 15/@pt 30/@pt 0;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      line-height: 1.2rem;
      p:first-child{
        font-size: 12/@pt; color: #666;
      }
      p:last-child{
        font-size: 16/@pt; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
      }
    }
    div.productPicList{
      p{
        height: 40/@pt;border-bottom: 1px solid #ddd; line-height: 40/@pt;padding-left: 22/@pt; font-size: 14/@pt;
        color: #999;
      }
      ul.picUl{
        height: 110/@pt;border-bottom: 1px solid #ddd; padding: 15/@pt 17/@pt 0;
        li{
          height: 80/@pt; width: 80/@pt; margin:0 16/@pt; float: left;text-align: center;
          img{
            height: 80/@pt;width: 80/@pt; border: none;
          }
          span{
            line-height: 80/@pt;
          }
        }
      }
    }
    div.quantityOfPro{
      div.qtyTitle{
        height: 40/@pt;border-bottom: 1px solid #ddd;
        span.qtyText{
          float: left; line-height: 40/@pt;padding-left: 22/@pt; font-size: 14/@pt; color: #999;
        }
        div.changeQtyBtn{
          display: inline-block; float: right; height: 30/@pt; border-radius: 4/@pt; min-width: 90/@pt;
          background: #ff5e54; margin-top: 5/@pt; margin-right: 5/@pt; padding: 5/@pt 22/@pt 7/@pt 13/@pt;
          span.firstShow{
            font-size: 12/@pt; color: #fff; line-height: 20/@pt;  padding-right: 5/@pt;
          }
          span.firstShow ,em ,input{
            color: #fff; font-size: 13/@pt;
          }
          b{
            display: inline-block; color: #fff; font-size: 13/@pt;padding-left: 5/@pt;
          }
          input{
            display: none; width: 45/@pt; background: #fff; color: #ff5e54; border: none; text-align: center;
            position: relative; top:-1/@pt; border-radius: 3/@pt;
          }
        }

      }
      div.prodBasePrice{
        height: 40/@pt;border-bottom: 1px solid #ddd;margin-top: 32/@pt;
        span.qtyText{
          float: left; line-height: 40/@pt;padding-left: 22/@pt; font-size: 14/@pt; color: #999;
        }
        div.changeBtn{
          display: inline-block; float: right; height: 30/@pt; border-radius: 4/@pt; background: #ff5e54; margin-top: 5/@pt; margin-right: 5/@pt; padding: 5/@pt 22/@pt 7/@pt 13/@pt;
          span.changeText{
            font-size: 12/@pt; color: #fff; line-height: 20/@pt;
          }
          span.changeSign ,em ,input{
            color: #fff; font-size: 13/@pt;
          }
          span.changeSign{
            padding: 0 4/@pt 0 10/@pt;
          }
          em{

          }
          input{
            display: none; width: 45/@pt; background: #fff; color: #ff5e54; border: none; text-align: center;
            position: relative; top:-1/@pt; border-radius: 3/@pt;
          }
        }

      }
      div.qtyInputer{
        height: 40/@pt;padding: 0/@pt 22/@pt; border-bottom: 1px solid #ddd;
        span.basePricePerPcs{
          padding-left: 80/@pt; color: #333; float:right; line-height: 40/@pt;
          span:first-child{
            padding: 0 3/@pt;font-size: 14/@pt;
          }
          em{
            font-size: 18/@pt; position: relative; top:1/@pt;
          }
          span:last-child{
            font-size: 12/@pt; padding-left: 3/@pt;
          }
        }
      }
    }
    ul.propertyList{
      padding-top: 30/@pt;
      li.prodProperty{
        margin-bottom: 30/@pt;
        div.propertyHeader{
          height: 40/@pt;border-bottom: 1px solid #ddd;
          span.propertyName{
            float: left; line-height: 40/@pt;padding-left: 22/@pt; font-size: 14/@pt; color: #999;
          }
          div.changeBtn{
            display: inline-block; float: right; height: 30/@pt; border-radius: 4/@pt; background: #ff5e54;
            margin-top: 5/@pt; margin-right: 5/@pt; padding: 5/@pt 22/@pt 7/@pt 13/@pt;
            span.changeText{
              font-size: 12/@pt; color: #fff; line-height: 20/@pt;
            }
            span.changeSign ,em ,input{
              color: #fff; font-size: 13/@pt;
            }
            span.changeSign{
              padding: 0 4/@pt 0 10/@pt;
            }
            em{

            }
            input{
              display: none; width: 45/@pt; background: #fff; color: #ff5e54; border: none; text-align: center;
              position: relative; top:-1/@pt; border-radius: 3/@pt;
            }
          }

        }
        ul.detailList{
          li{
            height: 50/@pt; border-bottom: 1px solid #ddd; font-size: 14/@pt; line-height: 50/@pt;
            span.icon{
              color:#ccc; padding-left: 17/@pt;
            }
            em{
              color: #333;padding-left: 12/@pt;
            }
            span.detailPrice{
              color: #999; font-weight: normal; float: right; padding-right: 22/@pt;
              b{
                font-weight: normal;
              }
            }
          }
          li.choosed{
            span.icon{
              color: #ff5e54;
            }
          }
        }
      }
    }
  }
  footer{
    position: absolute;left: 0; bottom: 0; z-index: 20; height: 54/@pt;  width: 100%; border-top: 1px solid
  #ddd;background: #fff; color: #666; line-height: 54/@pt;padding: 0 .24rem 0 .48rem;
    //border-bottom: 1px solid red;
    overflow: hidden;
    span.wayToPrice{
      padding-left: 15/@pt; float: left;
      span{
        padding-right: 5/@pt;
        float: left;
      }
    }
    span.pricePerPcs{
      margin-right: .693rem;
      em,b{
        color: #ff5e54;
      }
    }
    span.salesNum{

      em,b{
        color: #ff5e54;
      }
    }
    .sureBtn{
      width: 2rem;
      height: 100%;
      float: right;
      text-align: center;
      color: #FF5E54;
      font-size: .3734rem;
      padding: 0 .24rem;
    }
  }
}
//图片银行
#pictureBank{
  height: 100%; background: #fff;
  header{
    height: 49/@pt;  position: relative;text-align: center; border-bottom: 1px solid #eee;background: #fff;
    h2{
      font-size: 18/@pt; line-height: 49/@pt;
    }
    span{
      position: absolute; line-height: 49/@pt;top:0; font-size: 14/@pt;color: #ff5e54;
    }
    span.cancelBtn{
      left: 0;padding: 0 12/@pt;
    }
    span.sureBtn{
      right:0; padding: 0 12/@pt;
    }
  }
  article{
    div.aboutPic{
      height: 75/@pt; border-bottom: 1px solid #eee; padding: 15/@pt 30/@pt 0;
      line-height: 1.2rem;
      p:first-child{
        font-size: 12/@pt; color: #666;
      }
      p:last-child{
        font-size: 16/@pt; color: #333; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
      }
    }
    div.picLists{
      p{
        text-align: right; padding: 10/@pt 33/@pt 6/@pt; color: #333; font-size: 14/@pt;
      }
      ul{
        padding: 0 13/@pt;
        li {
          position: relative; float: left; height: 90/@pt; width: 90/@pt; margin: 28/@pt 13/@pt 0; border-radius:
                  12/@pt;
          span{
            position: absolute; left: 5/@pt; top: 5/@pt; font-size: 13/@pt; color: red; display: none;
          }
          span.spanShow{
            display: block;
          }
          img{
            height: 100%;width: 100%; border: none;
          }
        }
      }

    }
  }
}
//订单提交成功
.order-success {
  //display: none;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  .success-title {
    width: 100%;
    height: 1.334rem;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    .complete {
      float: right;
      font-size: 0.3734rem;
      padding: 0.417rem;
      color: #FF5E54;
    }
    .tips-word {
      color: #333;
      font-size: 0.48rem;
      width: 1.5rem;
      text-align: center;
      line-height: 1.334rem;
      margin: 0 auto;
    }
  }
  .success-tip {
    width: 100%;
    height: 4.5rem;
    background-color: #fff;
    &:before {
      content: '';
      display: table;
    }
    .pic-border {

      width: 1.574rem;
      height: 1.574rem;
      margin: 0 auto;
      margin-top: .96rem;
      margin-bottom: .5rem;
      //background: red;
      span {
        color: #FB4B4C;
        font-size: 1.573rem;
      }
    }
    .tips {
      width: 100%;
      text-align: center;
      h2 {
        font-size: 0.5334rem;
        color: #3f3f3f;
        line-height: 0.65rem;
      }
      p {
        font-size: 0.32rem;
        color: #999;
      }
    }
  }
  .success-description {
    width: 100%;
    height: 2.4rem;
    margin-top: .267rem;
    background-color: #fff;
    text-align: center;
    font-size: .3734rem;
    padding-top: .6rem;
    p {
      color: #666;
    }
    .tel {
      color: #F74F50;
    }
  }
}
//货运信息
#freight-information{
  width: 100%;
  height: 100%;
  .message-head{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 1.334rem;
    line-height: 1.334rem;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    .cancel{
      float: left;
      font-size: .3734rem;
      color: #FF5E54;
      letter-spacing: -0.34px;
      padding: 0 .45rem;
    }
    .message-title{
      width: 4rem;
      text-align: center;
      margin: 0 auto;
      color: #333;
      font-size: .48rem;
    }
  }
  .freight-body{
    width: 100%;
    height: 100%;
    padding: 1.34rem 0 1.44rem 0;
    overflow: auto;
    -webkit-overflow-scrolling : touch;
    .freight-tips{
      width: 100%;
      height: .82667rem;
      line-height: .82667rem;
      background-color: #f8f8f8;
      color: #666;
      padding-left: .64rem;
      font-size: .3466rem;
      //
      //
      span {
        float: left;
      }
      .wenhao {
        margin-top: .26rem;
        margin-right: .1rem;

      }
    }
    .destination{
      width: 100%;
      height: 1.2rem;

      line-height: 1.2rem;
      //border-bottom: 1px solid #eee;
      //border-top: 1px solid #eee;
      box-shadow: 0 1px 0 0 #eee,0 -1px 0 0 #eee;
      padding: 0 .2rem 0 .587rem;
      font-size: .3734rem;
      span{
        float: left;

        color: #999;
      }
      .country-select{
        float: right;
        height: .8rem;
        line-height: .8rem;
        color: #FF5B50;
        border: 1px solid #FF5E54;
        border-radius: .107rem;
        padding: 0 .2rem;
        margin-top: .27rem;
      }
    }
    .freight-way-border{
      width: 100%;
      padding: 0 .2rem 0 0;
      //border-top: 1px solid red;
      margin-top: .8rem;
      .freight-way{
        width: 100%;
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: .3734rem;
        border-bottom: 1px solid #eee;
        padding-left: .587rem;

        span{
          float: left;
          color: #999;
        }
        .fedex{
          float: right;
          width: 2.294rem;
          height: .8rem;
          line-height: .8rem;
          background: #FF5B50;
          border-radius: 4px;
          text-align: center;
          color: #fff;
          margin-top: .2rem;
        }
      }
      .IPway{
        width: 100%;
        height: 1.34rem;
        line-height: 1.34rem;
        font-size: .3734rem;
        box-shadow: 0 1px 0 0 #eee;
        padding-left: .587rem;
        .freight-left{
          float: left;
          color: #ccc;
          .icon-right{
            font-size: .3734rem;
            color: #ccc;
            &.selected{
              color: #FF5B50;
            }
          }
          .ip{
            font-weight: bold;
          }

        }
        .freight-description{
          float: right;
          color: #ccc;
        }
        &.abled{
          .freight-left{
            .ip{
              color: #000;
            }
          }
          .freight-description{
            color: #999;
          }
        }
      }
      .IEway{
        width: 100%;
        height: 1.34rem;
        line-height: 1.34rem;
        font-size: .3734rem;
        box-shadow: 0 1px 0 0 #eee;
        padding-left: .587rem;
        .freight-left{
          float: left;
          color: #ccc;
          .icon-right{
            font-size: .3734rem;
            color: #ccc;
            &.selected{
              color: #FF5B50;
            }
          }
          .ie{
            font-weight: bold;
          }

        }
        .freight-description{
          float: right;
          color: #ccc;
        }
        &.abled{
          .freight-left{
            .ie{
              color: #000;
            }
          }
          .freight-description{
            color: #999;
          }
        }
      }
    }
    .product-num{
      width: 100%;
      height: 1.34rem;
      line-height: 1.34rem;
      padding: 0 .2rem 0 .587rem;
      box-shadow: 0 1px 0 0 #eee,0 -1px 0 0 #eee;
      margin-top: 1.147rem;
      .num-title{
        float: left;
        color: #999;
      }
      .num-count{
        float: right;
        width: 2.94rem;
        height: .8rem;
        background-color: #FF5B50;
        border-radius: .107rem;
        font-size: .3734rem;
        color: #fff;
        text-align: center;
        line-height: .8rem;
        margin-top: .27rem;
      }
    }
    .freight-fee{
      width: 100%;
      padding: 0 .2rem 0 0;
      //border-top: 1px solid red;
      margin-top: .8rem;
      .fee-way{
        width: 100%;
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: .3734rem;
        border-bottom: 1px solid #eee;
        padding-left: .587rem;

        span{
          float: left;
          color: #999;
        }
        .modify{
          float: right;
          height: .8rem;
          padding: 0 .48rem;
          line-height: .8rem;
          background: #FF5B50;
          border-radius: 4px;
          color: #fff;
          margin-top: .2rem;
          .xiugai{
            float: left;
            margin-right: .2rem;
          }
          span{
            color: #fff;
          }
          .fee-count{
            //display: none;
          }
          .fee-icon{
            margin-right: .1rem;
          }
          #fee-input{
            width: 2rem;
            height: .6rem;
            border: none;
            outline: none;
            border-radius: .1rem;
            margin-top: .1rem;
            float: left;
            display: none;
          }

        }
      }
      .fee-standard{
        width: 100%;
        height: 1.34rem;
        line-height: 1.34rem;
        box-shadow: 0 1px 0 0 #eee;
        padding-right: .48rem;
        .content{
          float: right;
          color: #999;
          font-size: .3734rem;
        }
      }
    }
  }
  .foot{
    width: 100%;
    height: 1.44rem;
    line-height: 1.44rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    background-color: #fff;
    padding: 0 .48rem;
    font-size: .32rem;
    .freight-total-fee{
      float: left;
    }
    .save{
      float: right;
      font-size: .3734rem;
    }
    .color{
      color: #FF5E54;
    }
  }
}
//选择国家
#Country-list{
  width: 100%;
  height: 100%;
  .country-head{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 1.34rem;
    line-height: 1.34rem;
    padding: 0 .04rem;
    box-shadow: 0 1px 0 0 #eee;
    .cancel{
      font-size: .3734rem;
      color: #FF5E54;
      float: left;
      padding: 0 .44rem;
    }
    .icon-search{
      float: right;
      font-size: .4534rem;
      color: #FF5E54;
      padding: .44rem;

    }
    .head-title{
      width: 4rem;
      text-align: center;
      font-size: .48rem;
      color: #333;
      margin: 0 auto;
    }
  }
  .country-title{
    background-color: #fff;
    position: absolute;
    top: 1.34rem;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 1.34rem;
    line-height: 1.34rem;
    padding: 0 .55rem;
    color: #333;
    font-size: .4267rem;
    .district{
      float: left;
      width: 4.9rem;
    }
    .IP{
      float: left;
      width: 2rem;
      text-align: center;
    }
    .IE{
      float: left;
      text-align: center;
      width: 2rem;
    }
  }
  .country-list-table{
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
    padding-top: 2.82rem;
    overflow: auto;
    -webkit-overflow-scrolling : touch;
    //background: red;
    .country-item{
      background-color: #fff;
      width: 100%;
      height: 1.6rem;
      padding: 0 .55rem;
      box-shadow: 0 1px 0 0 #eee;
      .district{
        float: left;
        width: 4.9rem;
        height: 100%;
        color: #666;
        font-size: .3734rem;
        line-height: .5rem;
        padding-top: .3rem;
        .china-country{
          width: 100%;
        }
        .english-country{
          width: 100%;
        }
      }
      .IP{
        float: left;
        width: 2rem;

        height: 100%;
        position: relative;
        span{
          position: absolute;
          font-size: .6rem;
          top: .5rem;
          left: .7rem;
        }
        .icon-maoduo0{
          color: #FB5E54;
        }
        .icon-maoduo1{
          color: #5094E2;
        }
      }
      .IE{
        float: left;
        position: relative;
        width: 2rem;
        height: 100%;
        span{
          position: absolute;
          font-size: .6rem;
          top: .5rem;
          left: .7rem;
        }
        .icon-maoduo0{
          color: #FB5E54;
        }
        .icon-maoduo1{
          color: #5094E2;
        }
      }
    }
  }
}
//搜索国家
#search-country{
  width: 100%;
  height: 100%;
  .search-head{
    width: 100%;
    height: 1.34rem;
    line-height: 1.34rem;
    box-shadow: 0 1px 0 0 #eee;
    .icon-mail_fanhui{
      float: left;
      font-size: .45rem;
      color: #C2C2C2;
      padding: .42rem .445rem;
    }
    .search{
      float: right;
      font-size: .3734rem;
      color: #ff6060;
      padding: 0 .445rem;
    }
    .search-title{
      width: 3rem;
      text-align: center;
      margin: 0 auto;
      color: #333;
      font-size: .48rem;
    }
  }
  .search-input{
    width: 100%;
    height: 1.4rem;
    box-shadow: 0 1px 0 0 #eee,0 -1px 0 0 #eee;
    .icon-search{
      float: left;
      font-size: .45rem;
      color: #ccc;
      padding: .475rem .526rem;
    }
    input{
      float: left;
      width: 8rem;
      height: 1.4rem;
      border: none;
      outline: none;
      font-size: .3734rem;
    }
  }
}
//弹窗样式
#Mask-pop{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(98,98,98,.5);
  .saveas-quotation{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 8.427rem;
    height: 7.84rem;
    background: #FFFFFF;
    border-radius: .134rem;
    padding: 0 .267rem;
    .saveas-title{
      font-size: .48rem;
      color: #656565;
      text-align: center;
      margin-top: .5rem;
    }
    .rename{
      margin-top: .9rem;
      font-size: .3734rem;
      color: #999;
    }
    .quotation-input{
      width: 100%;
      height: 1.2rem;
      input{
        float: left;
        width: 7rem;
        height: 1.2rem;
        border: none;
        outline: none;
        background: #F8FAFC;
        border-radius: .05rem;
      }
      .icon-err{
        float: right;
        font-size: .4rem;
        padding: .4rem .2rem;
      }
    }
    .save{
      width: 6.29rem;
      height: .8rem;
      line-height: .8rem;
      margin: 0 auto;
      margin-top: 1.1rem;
      margin-bottom: .587rem;
      text-align: center;
      color: #fff;
      background: #FF4747;
      border-radius: 1.34rem;
    }
    .cancel{
      width: 6.29rem;
      height: .8rem;
      line-height: .8rem;
      margin: 0 auto;
      text-align: center;
      color: #FB4B4C;
      border: 1px solid #FB4B4C;
      border-radius: 1.34rem;
    }
  }
  .quotation-tips{
    display: none;
    width: 8.427rem;
    height: 6.587rem;
    background: #FFFFFF;
    border-radius: .134rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    .tips-title{
      font-size: .48rem;
      color: #656565;
      margin-top: .853rem;
      text-align: center;
    }
    .content{
      width: 3.5rem;
      height: 2rem;
      margin: .8rem auto;
      margin-bottom: .6rem;
      text-align: center;
      color: #666;
      font-size: .32rem;
      p{
        line-height: .6rem;
        span{
          color: #FB4B4C;
        }
      }
    }
    .modify-quotation{
      width: 6.29rem;
      height: .8rem;
      line-height: .8rem;
      margin: 0 auto;
      text-align: center;
      color: #FB4B4C;
      border: 1px solid #FB4B4C;
      border-radius: 1.34rem;
    }
  }
  .save-quotation{
    display: none;
    width: 8.427rem;
    height: 7rem;
    background: #FFFFFF;
    border-radius: .134rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    .close{
      position: absolute;
      right: .3rem;
      top: .3rem;
      font-size: .6rem;
      transform:rotate(45deg);
      color: #d8d8d8;
    }
    .save-title{
      width: 100%;
      text-align: center;
      margin-top: .8rem;
      font-size: .48rem;
      color: #656565;
    }
    .word{
      text-align: center;
      color: #656565;
      line-height: .8rem;
    }
    .send-email{
      width: 6.29rem;
      height: .8rem;
      line-height: .8rem;
      margin: 0 auto;
      margin-top: .8rem;
      margin-bottom: .587rem;
      text-align: center;
      color: #fff;
      background: #FF4747;
      border-radius: 1.34rem;
      font-size: .32rem;
    }
    .submit-order{
      width: 6.29rem;
      height: .8rem;
      line-height: .8rem;
      margin: 0 auto;
      margin-top: 1.387rem;
      text-align: center;
      color: #FB4B4C;
      border: 1px solid #FB4B4C;
      border-radius: 1.34rem;
    }
    .download-quotation{
      width: 6.29rem;
      height: .8rem;
      line-height: .8rem;
      margin: 0 auto;
      margin-top: .8rem;
      text-align: center;
      color: #FB4B4C;
      border: 1px solid #FB4B4C;
      border-radius: 1.34rem;
    }
  }
}
}