*{
  margin:0;
  padding:0;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.customer-main{
  .lf{float:left}
  .rt{float:right}
  position: relative;
  >div{
    position: relative;
    width:10rem;
    margin:0 auto;
    height:100%;
  }
  #customer0{
    width:10rem;
    overflow-y: auto;
    height:100%;
    padding-top:1.33rem;
    .top{
      width:10rem;
      height:1.3333rem;
      background: #fff;
      line-height:1.333rem;
      text-align: center;
      border-bottom:1px solid #eee;
      position: absolute;
      left:0;
      top:0;
      z-index:100;
      .text-center{
        color: #333;
        font-size:0.48rem;
      }
    }
    .content{
      overflow-y: auto;
      -webkit-overflow-scrolling : touch;
      height:100%;
      width:10rem;
      padding-bottom:1.5rem;
      .sea-box{
        .list{
          height:2.1333rem;
          position: relative;
          border-bottom:1px solid #eee;
          overflow: hidden;
          .iconleft-box{
            position: absolute;
            top:1.06rem;
            left:0.346666rem;
            margin-top:-0.48rem;
            width:.9rem;
            height:.9rem;
            line-height:.9rem;
            text-align: center;
            .icon{
              font-size:.85rem;
              color: #4a90e2;
              padding:0.1rem;
            }
          }
         .title{
           padding-left:1.733rem;
           margin-top:0.5rem;
           color: #333;
           font-size:0.4266rem;
         }
          .title-too{
            padding-left:1.733rem;
            color: #999;
            font-size:0.32rem;
          }
          .rt{
            position: absolute;
            right:0.48rem;
            top:0.85rem;
            font-size:0.4rem;
          }
        }
        .li0{
          .iconleft-box{
            .icon{
              color:#ff5e54;
            }
          }
        }
        .li1{
          .iconleft-box{
            .icon{
              color:#F98143;
            }
          }
        }
        .li2{
          .rt{
            .num{
              position: relative;
              top:-0.08rem;
            }
            .count{
              position: relative;
              top:-0.08rem;
            }
          }
          .iconleft-box{
            .icon{
              color:#F8C557;
            }
          }
        }
      }
      .person-sea{
        height:0.8266rem;
        background: #f5f5f5;
        line-height:0.8266rem;
        padding-left:0.48rem;
        font-size:0.32rem;
        color: #999;
        border:1px solid transparent;
        .text{
          line-height:0.8266rem;
        }
        .icon{
          color: #999;
          font-size:0.32rem;
          position: relative;
          top:0.031rem;
          margin-right:6px;
        }
      }
      .content-list{
        .list.active{
          background: #f5f5f5;
        }
        .list{
          height:2.933rem;
          border:1px solid transparent;
          border-bottom:1px solid #eee;
          position: relative;
          overflow: hidden;
          .title{
            padding-left:1.8133rem;
            color: #333;
            font-size:0.4266rem;
            margin-top:.3rem;
            .text{
              width: 4rem;
              overflow: hidden;
              display: inline-block;
              white-space: nowrap;
              text-overflow: ellipsis;
              float: left;
            }
          }
          .title:after{
            display: table;
            clear: both;
            content: '';
          }
          .content{
            padding-left:1.8133rem;
            color: #999;
            font-size:0.32rem;
            line-height:0.55rem;
            width:9rem;
            display: block;
            word-break: break-all;
            height:1.60rem;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .iconleft-box{
            position: absolute;
            left:0.4466rem;
            top:0.36rem;
            width:.85rem;
            height:.85rem;
            line-height:.85rem;
            border:1px solid #4A90E2;
            -webkit-border-radius:0.5rem;
            -moz-border-radius:0.5rem;
            border-radius:0.5rem;
            text-align: center;
            .iconleft{
              font-size:0.5rem;
              color: #4A90E2;
            }
          }
          .icon{
            position: absolute;
            right:0.48rem;
            top:0.36rem;
          }
        }
      }
      .more{
        height: 1rem;
        text-align: center;
        color: #666;
        font-size:0.3733rem;
        line-height:1rem;
        background: #eee;
      }
    }
    .menue-bottom{
      width:10rem;
      background: #fff;
      position: absolute;
      bottom:0;
      left:0;
      border-top:1px solid #eee;
      .bottom-list{
        width:2rem;
        height:1.44rem;
        float: left;
        text-align: center;
        padding-top:0;
        .icon{
          display: block;
          font-size: 0.6rem;
          color: #ccc;
          margin-top: 0.2rem;
        }
        .text{
          color: #999;
          font-size:0.32rem;
        }
      }
      .active{
        .text,.icon{
          color: #ff5e54;
        }
      }
    }
  }
  #search-result-page{
    height:100%;
    padding-top:1.33rem;
    .top{
      width:10rem;
      height:1.3333rem;
      background: #fff;
      line-height:1.333rem;
      text-align: center;
      position: absolute;
      top:0;
      left:0;
      border-bottom:1px solid #eee;
      z-index:100;
      .lf{
        padding:0.45rem;
        color: #ccc;
        position: absolute;
        left:0;
        top:0;
      }
      .text-center{
        color: #333;
        font-size:0.48rem;
      }
    }
    .content{
      .no-count{
        text-align: center;
        padding-top:3rem;
        img{
          width: 4rem;
          height: 4rem;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -2.5rem;
          margin-top: -4rem;
          opacity: 0.6;
        }
      }
      .search-box{
        width:10rem;
        height:1.333rem;
        padding-top:0.32rem;
        border-top:1px solid #eee;
        .dicen{
          width:9.04rem;
          height:0.72rem;
          background: #f5f5f5;
          text-align: center;
          color: #8f8f8f;
          font-size:0.32rem;
          line-height:0.72rem;
          margin:0 auto;
          -webkit-border-radius:0.1rem;
          -moz-border-radius:0.1rem;
          border-radius:0.1rem;
          .icon{
            margin-right:0.3rem;
            font-size:0.5rem;
            position: relative;
            top:0.12rem;
          }
        }
        .search-input{
          width:9.04rem;
          height: 0.72rem;
          background:transparent;
          position: relative;
          top: -0.72rem;
          left:0.48rem;
          border:none;
          outline:none;
          overflow: hidden;
          padding:0 0.5rem;
        }
      }
      height:100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    .content-list{
      .list.active{
        background: #f5f5f5;
      }
      .list{
        height:2.933rem;
        border:1px solid transparent;
        border-bottom:1px solid #eee;
        position: relative;
        overflow: hidden;
        .title{
          padding-left:1.8133rem;
          color: #333;
          font-size:0.4266rem;
          margin-top:0.3rem;
          .text{
            width: 4rem;
            overflow: hidden;
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            float: left;
          }
        }
        .title:after{
          display: table;
          clear: both;
          content: '';
        }
        .content{
          padding-left:1.8133rem;
          color: #999;
          font-size:0.32rem;
          line-height:0.55rem;
          width:9rem;
          display: block;
          word-break: break-all;
          height:1.60rem;
          overflow: hidden;
          text-overflow: ellipsis;
          border:none;
        }
        .iconleft-box{
          position: absolute;
          left:0.3466rem;
          top:0.36rem;
          width:.85rem;
          height:.85rem;
          line-height:.85rem;
          border:1px solid #4A90E2;
          -webkit-border-radius:0.5rem;
          -moz-border-radius:0.5rem;
          border-radius:0.5rem;
          text-align: center;
          .iconleft{
            font-size:0.5rem;
            color: #4A90E2;
          }
        }
        .icon{
          position: absolute;
          right:0.48rem;
          top:0.36rem;
        }
      }
      .list-bottom{
        height:1rem;
        background: #eee;
        text-align: center;
        line-height:1rem;
        color: #666;
        font-size: 0.3733rem;
      }
    }
    }
  }
  #personal-sea{
    height:100%;
    padding-top:1.333rem;
    .top{
      height:1.333rem;
      background: #fff;
      position: absolute;
      top:0;
      left:0;
      border-bottom:1px solid #eee;
      z-index:100;
      width:10rem;
      .text-center{
        text-align: center;
        color: #333;
        font-size:0.48rem;
        line-height:1.33rem;
        .icon.lf{
          position: absolute;
          left:0;
          top:0;
          padding:0.45rem;
          color:#ccc;
        }
        .send-all{
          color:#4A90E2;
          font-size:0.3733rem;
          position: absolute;
          padding:0 0.45rem;
          right:0;
        }
      }
    }
    .content{
      overflow-y: auto;
      -webkit-overflow-scrolling : touch;
      width:10rem;
      height:100%;
      .title-top{
        height:1.0933rem;
        background: #f5f5f5;
        line-height:1.09333rem;
        padding-left:0.45rem;
        color: #999;
        font-size:0.32rem;
        border-top:1px solid #eee;
        span{
          font-size:0.32rem;
        }
        .icon{
          position: relative;
          top:0.031rem;
          font-size:0.32rem;
          margin-right:6px;
        }
      }
      .list-content{
        .list.active{
          background: #f5f5f5;
        }
        .list{
          height:2.933rem;
          border:1px solid transparent;
          border-bottom:1px solid #eee;
          position: relative;
          overflow: hidden;
          .title{
            padding-left:1.8133rem;
            color: #333;
            font-size:0.4266rem;
            margin-top:0.3rem;
            .text{
              width: 4rem;
              overflow: hidden;
              display: inline-block;
              white-space: nowrap;
              text-overflow: ellipsis;
              float: left;
            }
          }
          .title:after{
            display: table;
            clear: both;
            content: '';
          }
          .content{
            padding-left:1.8133rem;
            color: #999;
            font-size:0.32rem;
            line-height:0.55rem;
            width:9rem;
            display: block;
            word-break: break-all;
            height:1.60rem;
            overflow: hidden;
            text-overflow: ellipsis;
            border:none;
          }
          .iconleft-box{
            position: absolute;
            left:0.3466rem;
            top:0.36rem;
            width:.85rem;
            height:.85rem;
            line-height:.85rem;
            border:1px solid #4A90E2;
            -webkit-border-radius:0.5rem;
            -moz-border-radius:0.5rem;
            border-radius:0.5rem;
            text-align: center;
            .iconleft{
              font-size:0.5rem;
              color: #4A90E2;
              line-height:.85rem;
            }
          }
          .icon{
            position: absolute;
            right:0.48rem;
            top:0.36rem;
            color: #ccc;
          }
        }
      }
      .more{
        height:1rem;
        line-height:1rem;
        background: #eee;
        text-align: center;
        color: #666;
        font-size:0.3733rem;
      }
    }
    .no-count{
      img{
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -2.5rem;
        margin-top: -4rem;
        opacity: 0.6;
      }
      .text{
        position: absolute;
        top: 50%;
        left:50%;
        color: #666;
        font-size:0.3733rem;
        margin-left:-2.5rem;
        width:5rem;
        text-align: center;
        margin-top: .5rem;
      }
    }
  }
  #personal-customer-list{
    background: #f5f5f5;
    height:100%;
    .top{
      height:1.333rem;
      background: #fff;
      position: absolute;
      left:0;
      top:0;
      width:10rem;
      z-index:100;
      border-bottom:1px solid #eee;
      .text-center{
        text-align: center;
        color: #333;
        font-size:0.48rem;
        line-height:1.33rem;
        .icon.lf{
          position: absolute;
          left:0;
          top:0;
          padding:0.45rem;
          color:#ccc;
        }
        .text{
          width:5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
        }
        .give-up{
          color:#FF5E54;
          font-size:0.3733rem;
          padding:0 0.45rem;
          position: absolute;
          right:0;
          top:0;
        }
      }
    }
    .content{
      height:100%;
      padding-top:2.666rem;
      padding-bottom:1.44rem;
      overflow-y: auto;
      -webkit-overflow-scrolling : touch;
      .top-title{
        height:1.333rem;
        line-height:1.333rem;
        background: #FFFFFF;
        box-shadow: 0 1px 0 0 #eee;
        padding:0 0.3rem;
        position: fixed;
        top:1.33rem;
        left:0;
        width:10rem;
        z-index:100;
        overflow: hidden;
        .nav{
          padding:0.3rem 0.75rem;
          color: #999;
          font-size:0.4rem;
        }
        .active{
          color: #666;
          position: relative;
        }
        .active:after{
          content: '';
          position: absolute;
          bottom:-0.12rem;
          margin-left: -20px;
          height: 2px;
          background:#FF5E54;
          display: block;
          width:100%;
          right:0;
        }
      }
      .ren-box{
        background: #fff;
        .text{
          height:0.88rem;
          background: #f5f5f5;
          line-height:0.88rem;
          color: #999;
          font-size:0.32rem;
          padding-left:0.4rem;
          span{
            color: #999;
            position: relative;
            top:0.031rem;
            margin-right:6px;
          }
        }
        .all-nav{
          height:3.6rem;
          border-top:1px solid #eee;
          .active.lianxiren-houxuan{
            .icon{
              color: #4A90E2;
            }
          }
          .all-customer,.wait{
            height:3.6rem;
            position: relative;
            width:5rem;
            text-align: center;
            border-right:1px solid #eee;
            padding-top:0.98rem;
            .icon{
              position: absolute;
              left: 0.45rem;
              top:0.5rem;
              color: #ccc;
              font-size:0.4rem;
              -webkit-border-radius:0.18rem;
              -moz-border-radius:0.18rem;
              border-radius:0.18rem;
            }
            .iconhead{
              color:#F98143;
              font-size:0.96rem;
            }
            .text{
              text-align: center;
              color: #333;
              font-size:0.32rem;
              margin-top:0.2rem;
              background: #fff;
            }
          }
        }
        .one-send{
          height:0.90667rem;
          background: #f5f5f5;
          line-height:0.9066rem;
          padding-left:0.45rem;
          font-size:0.32rem;
          color: #999;
          border-top:1px solid #eee;
        }
        .one-send-box{
          .title{
            height:1.33rem;
            line-height:1.33rem;
            color: #333;
            font-size:0.3733rem;
            padding-left:0.45rem;
            background: #fff;
            border-bottom:1px solid #eee;
            .text{
              background: #fff;
              line-height:1.33rem;
              padding:0;
              font-size:0.3733rem;
            }
            .num.rt{
              color: #333;
              font-size:0.3733rem;
              padding-right:0.45rem;
            }
          }
          .list.active{
            .iconlft{
              color: #4A90E2;
            }
          }
          .list{
            height:1.6rem;
            line-height:1.6rem;
            border-top:1px solid #eee;
            overflow: hidden;
            .iconlft{
              font-size:0.96rem;
              padding:0.2rem;
              margin-left:0.4rem;
              margin-top:0.1rem;
              color: #ccc;
            }
            .text{
              background: #fff;
              color: #323232;
              font-size:0.3733rem;
              margin-left:0.74rem;
              display: inline-block;
              width:3rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              height:1.5rem;
              line-height:1.5rem;
              margin-top:0.05rem;
            }
            .box{
              padding-right:0.45rem;
              color: #999;
              .time{
                color: #999;
              }
            }
          }
          .more{
            height:1rem;
            line-height: 1rem;
            background: #eee;
            color: #666;
            font-size:0.3733rem;
            text-align: center;
          }
        }
      }
      .history-box{
        padding-bottom:1.4rem;
        .title{
          padding:0 0.64rem;
          height:1.6rem;
          border-top:1px solid #ddd;
          background: #fff;
          line-height:1.6rem;
          .text{
            color: #333;
          }
          .icon{
            margin-top:0.6rem;
            font-size:0.4rem;
          }
        }
        .list{
          background: #fff;
          padding:0 0.64rem;
          height:1.6rem;
          line-height:1.6rem;
          border-top:1px solid #ddd;
          overflow: hidden;
          .text{
            color: #666;
            font-size:0.3733rem;
          }
          .rt.num{
            color: #666;
            font-size:0.3733rem;
          }
        }
        .mail-times{
          margin-top:0.4533rem;
        }
        .prev-sendtime{
          margin-top:0.4533rem;
        }
      }
      .data-box{
        .message{
          padding:0 0.666rem;
          background: #fff;
          height:auto;
          border-top:1px solid #eee;
          .name{
            height:0.7rem;
            color: #333;
            font-size:0.4rem;
            display: block;
            width: 8.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height:0.7rem;
            word-break: break-all;
            white-space: nowrap;
          }
          .text{
            width: 8.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            color: #666;
            font-size:0.3733rem;
            line-height:0.5rem;
            padding-bottom:0.3rem;
            max-height:3rem;
            word-break: break-all;
          }
          .showcontent{
            max-height:none;
            height:auto;
            background: #fff;
          }
          .more{
            margin-top:0.1rem;
            text-align: center;
            line-height:1.0666rem;
            color: #999;
            display: block;
            height:1.0666rem;
            border-top:1px solid #ddd;
          }
        }
        .company-message{
          padding:0.34667rem 0.666rem;
          background: #fff;
          height:4.26667rem;
          margin:0.2667rem 0;
          overflow: hidden;
          .title{
            color: #333;
            font-size:0.42667rem;
            line-height:1rem;
            .qianzai{
              width:1.70667rem;
              height:0.58667rem;
              border:1px solid #ff5e54;
              -webkit-border-radius:4px;
              -moz-border-radius:4px;
              border-radius: 4px;
              text-align: center;
              line-height:0.58667rem;
              font-size:0.32rem;
              color: #ff5e54;
            }
          }
          .text{
            color: #5094E2;
            font-size:0.3733rem;
            line-height:0.8rem;
            a{
              color: #5094E2;
            }
          }
          .country{
            color: #666;
            font-size:0.3733rem;
            line-height:0.8rem;
          }
          .linkman{
            color: #666;
            font-size:0.3733rem;
            line-height:0.8rem;
          }
        }
        .fullcontach{
          .xaingxi-message{
            width:10rem;
            background: #fff;
            padding:0.34667rem 0.666rem;
            margin:0.2667rem 0;
            .title{
              color: #333;
              font-size:0.42667rem;
            }
            .photo-box{
              width:2.35rem;
              height:2.35rem;
              background: #f5f5f5;
              text-align: center;
              line-height:2.35rem;
              margin-top:0.666rem;
              img{
                max-height:2.35rem;
                max-width:2.35rem;
              }
            }
            .ulbox{
              margin-top:20px;
              .li{
                line-height:0.5rem;
                margin-top:10px;
                .name{
                  color:#666;
                  font-size: 0.3733rem;
                }
                .text{
                  color: #666;
                  font-size: 0.3733rem;
                }
              }
            }
          }
          .xiangguan-net{
            width:10rem;
            background: #fff;
            margin:0.2667rem 0;
            padding:0.34667rem 0 0.34667rem 0.666rem;
            .title{
              color: #333;
              font-size:0.42667rem;
            }
            .ulbox{
              .li{
                padding-right:0.666rem;
                padding-top:20px;
                padding-bottom:20px;
                border-top: 1px solid #eee;
                .pingtai{
                  color: #333;
                  font-size:0.4rem;
                  line-height: 0.5rem;
                  font-weight:500;
                }
                .web{
                  color: #333;
                  font-size: 0.35rem;
                  line-height: 0.5rem;
                }
              }
            }
          }
          .key-box{
            width:10rem;
            background: #fff;
            padding:0.34667rem 0.66rem;
            margin:0.2667rem 0;
            .title{
              color: #333;
              font-size:0.42667rem;
            }
            .text{
              color: #333;
              font-size: 0.3733rem;
              line-height:0.5rem;
              word-break: break-all;
              padding:20px 0;
              display: block;
              max-height:6.5rem;
              overflow: hidden;
              &.active{
                max-height:none;
              }
            }
            .seeMoreMessage{
              color: #4a90e2;
              font-size:0.3733rem;
              text-align: center;
              height:0.6rem;
              line-height:0.6rem;
              margin-top:0.3rem;
              width:100%;
            }
          }
          .shejiao-message{
            width:10rem;
            background: #fff;
            padding:0.34667rem 0.666rem;
            margin:0.2667rem 0;
            .title{
              color: #333;
              font-size:0.42667rem;
            }
            .fullBox{
              padding: 20px 0;
              border-top:1px solid #eee;
              .name{
                color: #333;
                font-size:0.3733rem;
                font-weight:500;
              }
              .text{
                color: #666;
                font-size:0.3733rem;
                line-height: 0.5rem;
              }
            }
            .net{
              padding:20px 0 20px 0.8rem;
              position: relative;
              .icon{
                color: #ccc;
                font-size:0.5rem;
                position: relative;
                left:-.2rem;
                top:.1rem;
              }
              .text{
                color: #666;
                font-size:0.3733rem;
              }
            }
            .shejiao-bottom{
              border-top:1px solid #eee;
              .box1,.box2{
                float: left;
                width:50%;
                height:1.5rem;
                .name{
                  color: #333;
                  font-size:.3733rem;
                  line-height:1.5rem;
                }
                .text{
                  color: #333;
                  font-size:.3733rem;
                  line-height:1.5rem;
                }
              }
              .box2{
                float: right;
              }
            }
            .shejiao-bottom:after{
              content: '';
              display: table;
              clear: both;
            }
          }
          .paiming{
            width:10rem;
            background: #fff;
            padding:0.34667rem 0 0.34667rem 0.666rem;
            margin:0.2667rem 0;
            .title{
              color: #333;
              font-size:0.42667rem;
            }
            .list{
              border-top:1px solid #eee;
              height:1.1rem;
              line-height:1.1rem;
              padding-right:0.666rem;
              .name,.num{
                color: #666;
                font-size:0.3733rem;
              }
            }
          }
        }
      }
      .no-count{
        img{
          width:4rem;
          height:4rem;
          position: absolute;
          left:50%;
          top:50%;
          margin-left:-2.5rem;
          margin-top:-4rem;
          opacity: 0.6;
        }
        .btn{
          width: 3rem;
          height: 0.8rem;
          background: #fff;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-top:1rem;
          margin-left:-1.5rem;
          font-size: 0.4rem;
          border:2px solid #FF5E54;
          color: #FF5E54;
          line-height:0.8rem;
          text-align:center;
          -webkit-border-radius:1.5rem;
          -moz-border-radius:1.5rem;
          border-radius:1.5rem;
        }
      }
    }
    .bottom{
      height:1.44rem;
      line-height:1.44rem;
      background: #fff;
      position: absolute;
      bottom:0;
      left:0;
      width:10rem;
      border-top:1px solid #eee;
      .prev{
        border-right:1px solid #ddd;
      }
     .lf{
       color: #FF5E54;
       font-size:0.5rem;
       padding:0.2rem 1rem;
       line-height:1.04rem;
       &.disabled{
         background: #fff;
         color: #ccc;
       }
     }
      span.disabled{
        background: #ddd;
        color: #fff;
      }
      .active{
        background: #DBECFF;
      }
      .rt{
        height: 1.44rem;
        width:3.6rem;
        color: #fff;
        background:#FF5E54;
        text-align: center;
      }
    }
    .give-up-modal-box{
      width:10rem;
      height:100%;
      position: absolute;
      left:0;
      top:0;
      background:rgba(0,0,0,.5);
      z-index:1000;
      .select{
        width:8rem;
        height: 6.25rem;
        background: #fff;
        position: absolute;
        left:50%;
        top:50%;
        margin-top:-3rem;
        margin-left:-4rem;
        text-align: center;
        padding:0.5rem 1rem;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;
        .title{
          font-size:0.6rem;
          color: #666;
          text-align: center;
        }
        .li0,.li1{
          color: #666;
          font-size:0.32rem;
          line-height:0.5rem;
        }
        .li0{
          margin-top:0.5rem;
        }
        .a1{
          width:6rem;
          height:0.8rem;
          background: #FF5E54;
          color: #fff;
          text-align: center;
          line-height: 0.8rem;
          -webkit-border-radius:1rem;
          -moz-border-radius:1rem;
          border-radius:1rem;
          display: block;
          margin:0.5rem auto;
        }
        .a2{
          width:6rem;
          height:0.8rem;
          background: #fff;
          color: #FF5E54;
          text-align: center;
          line-height: 0.8rem;
          -webkit-border-radius:1rem;
          -moz-border-radius:1rem;
          border-radius:1rem;
          display: block;
          margin:0 auto;
          border:1px solid #ff5e54;
        }
      }
      .content{
        width:8rem;
        height:10rem;
        margin:1.5rem auto 0 auto;
        background: #fff;
        padding:0.5rem;
        -webkit-border-radius:0.2rem;
        -moz-border-radius:0.2rem;
        border-radius:0.2rem;
        .title{
          text-align: center;
          color: #333;
          font-size:0.6rem;
        }
        .list-box{
          .list{
            line-height:0.7rem;
            .icon{
              color: #ccc;
              font-size:0.4rem;
            }
            .text{
              color: #666;
              font-size:0.32rem;
              padding-left:0.2rem;
            }
          }
          .active{
            .icon{
              color: #ff5e54;
            }
          }
        }
        .user-content{
          width:7rem;
          height:3rem;
          outline:none;
          overflow-y: auto;
          -webkit-overflow-scrolling : touch;
          resize: none;
          border:1px solid #ddd;
          margin-top:0.2rem;
          padding:0.2rem;
        }
        .bottomli{
          text-align: center;
          margin-top:0.7rem;
          .submit{
            width:6rem;
            height:1rem;
            line-height:1rem;
            outline: none;
            border:1px solid #ccc;
            background:#ccc;
            -webkit-border-radius:0.7rem;
            -moz-border-radius:0.7rem;
            border-radius:0.7rem;
            color: #fff;
            font-size:0.4rem;
          }
          .active{
            color: #ff5e54;
            border:1px solid #ff5e54;
            background:#fff;
          }
        }
      }
    }
  }
  #da-sea-detail{
    background:#f5f5f5;
    height:100%;
    padding-top:1.33rem;
    .top{
      height:1.333rem;
      background: #fff;
      position: absolute;
      border-bottom:1px solid #ddd;
      left:0;
      top:0;
      width:10rem;
      z-index:100;
      .text-center{
        text-align: center;
        color: #333;
        font-size:0.48rem;
        line-height:1.33rem;
        .icon.lf{
          position: absolute;
          left:0;
          top:0;
          padding:0.45rem;
          color:#ccc;
        }
      }
    }
    .content{
      height:100%;
      padding-bottom:1.44rem;
      overflow-y: auto;
      -webkit-overflow-scrolling : touch;
      .topersonal-seamodal{
        height:100%;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        background:rgba(0,0,0,.5);
        z-index:9999;
          .content{
            padding:0.5rem;
            width:9rem;
            height:7.5rem;
            background: #fff;
            position: absolute;
            left:50%;
            top:50%;
            margin-top:-4rem;
            margin-left:-4.5rem;
            text-align: center;
            border:1px solid transparent;
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            border-radius:10px;
            .title{
              color: #333;
              font-size:0.5rem;
              text-align: center;
              line-height:1rem;
            }
            .list{
              color: #666;
              font-size:0.32rem;
              line-height:0.5rem;
              margin-top:0.3rem;
              text-align: left;
            }
            .check{
              text-align: left;
              margin-top:0.3rem;
              display: block;
              width: 3rem;
              height: 0.6rem;
              line-height:0.6rem;
              .icon{
                color: #ccc;
                font-size:0.35rem;
                float: left;
                margin-right:0.5rem;
                margin-top:0.1rem;
              }
              .text{
                color: #666;
                font-size:0.32rem;
              }
            }
            .active{
              .icon{
                color: #FF5E54;
              }
            }
            .submitbtn{
              width: 4rem;
              height: 0.7rem;
              border: 2px solid #FF5E54;
              -webkit-border-radius: 1rem;
              -moz-border-radius: 1rem;
              border-radius: 1rem;
              text-align: center;
              line-height: 0.7rem;
              color: #FF5E54;
              margin: 0 auto;
              margin-top: 0.8rem;
            }
          }
      }
      .message{
        padding:0.3rem 0.666rem;
        background: #fff;
        .name{
          height:0.7rem;
          color: #333;
          font-size:0.4rem;
          display: block;
          width: 8.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height:0.7rem;
          word-break: break-all;
          white-space: nowrap;
        }
        .text{
          width: 8.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          color: #666;
          font-size:0.3733rem;
          line-height:0.5rem;
          padding-bottom:0.3rem;
          max-height:3rem;
          word-break: break-all;
        }
        .text.active{
          height:auto;
          max-height:none;
        }
        .more{
          margin-top:0.1rem;
          text-align: center;
          line-height:1.0666rem;
          color: #999;
          display: block;
          height:1.0666rem;
          border-top:1px solid #ddd;
        }
      }
      .company-message{
        padding:0.34667rem 0.666rem;
        background: #fff;
        height:2.6667rem;
        margin:0.2667rem 0;
        overflow: hidden;
        .title{
          color: #333;
          font-size:0.42667rem;
        }
        .text{
          color: #5094E2;
          font-size: 0.3733rem;
          margin-top: 0.5rem;
          display: block;
          width: 8rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          a{
            color: #5094E2;
          }
        }
      }
      .fullcontach{
        .xaingxi-message{
          width:10rem;
          background: #fff;
          padding:0.34667rem 0.666rem;
          margin:0.2667rem 0;
          .title{
            color: #333;
            font-size:0.42667rem;
          }
          .photo-box{
            width:2.35rem;
            height:2.35rem;
            background: #f5f5f5;
            text-align: center;
            line-height:2.35rem;
            margin-top:0.666rem;
            img{
              max-height:2.35rem;
              max-width:2.35rem;
            }
          }
          .ulbox{
            margin-top:20px;
            .li{
              line-height:0.5rem;
              margin-top:10px;
              .name{
                color:#666;
                font-size: 0.3733rem;
              }
              .text{
                color: #666;
                font-size: 0.3733rem;
              }
            }
          }
        }
        .xiangguan-net{
          width:10rem;
          background: #fff;
          margin:0.2667rem 0;
          padding:0.34667rem 0 0.34667rem 0.666rem;
          .title{
            color: #333;
            font-size:0.42667rem;
          }
          .ulbox{
            .li{
              padding-right:0.666rem;
              padding-top:20px;
              padding-bottom:20px;
              border-top: 1px solid #eee;
              .pingtai{
                color: #333;
                font-size:0.4rem;
                line-height: 0.5rem;
                font-weight:500;
              }
              .web{
                color: #333;
                font-size: 0.35rem;
                line-height: 0.5rem;
              }
            }
          }
        }
        .key-box{
          width:10rem;
          background: #fff;
          padding:0.34667rem 0.66rem;
          margin:0.2667rem 0;
          .title{
            color: #333;
            font-size:0.42667rem;
          }
          .text{
            color: #333;
            font-size: 0.3733rem;
            line-height:0.5rem;
            word-break: break-all;
            padding:20px 0;
            display: block;
            max-height:6.5rem;
            overflow: hidden;
            &.active{
              max-height:none;
            }
          }
          .seeMoreMessage{
            color: #4a90e2;
            font-size:0.3733rem;
            text-align: center;
            height:0.6rem;
            line-height:0.6rem;
            margin-top:0.3rem;
            width:100%;
          }
        }
        .shejiao-message{
          width:10rem;
          background: #fff;
          padding:0.34667rem 0.666rem;
          margin:0.2667rem 0;
          .title{
            color: #333;
            font-size:0.42667rem;
          }
          .fullBox{
            padding: 20px 0;
            border-top:1px solid #eee;
            .name{
              color: #333;
              font-size:0.3733rem;
              font-weight:500;
            }
            .text{
              color: #666;
              font-size:0.3733rem;
              line-height: 0.5rem;
            }
          }
          .net{
            padding:20px 0 20px 0.8rem;
            position: relative;
            .icon{
              color: #ccc;
              font-size:0.5rem;
              position: relative;
              left:-.2rem;
              top:.1rem;
            }
            .text{
              color: #666;
              font-size:0.3733rem;
            }
          }
          .shejiao-bottom{
            border-top:1px solid #eee;
            .box1,.box2{
              float: left;
              width:50%;
              height:1.5rem;
              .name{
                color: #333;
                font-size:.3733rem;
                line-height:1.5rem;
              }
              .text{
                color: #333;
                font-size:.3733rem;
                line-height:1.5rem;
              }
            }
            .box2{
              float: right;
            }
          }
          .shejiao-bottom:after{
            content: '';
            display: table;
            clear: both;
          }
        }
        .paiming{
          width:10rem;
          background: #fff;
          padding:0.34667rem 0 0.34667rem 0.666rem;
          margin:0.2667rem 0;
          .title{
            color: #333;
            font-size:0.42667rem;
          }
          .list{
            border-top:1px solid #eee;
            height:1.1rem;
            line-height:1.1rem;
            padding-right:0.666rem;
            .name,.num{
              color: #666;
              font-size:0.3733rem;
            }
          }
        }
      }
    }
    .bottom{
      height:1.44rem;
      line-height:1.44rem;
      background: #fff;
      position: absolute;
      bottom:0;
      left:0;
      width:10rem;
      border-top:1px solid #eee;
      .lf{
        color: #FF5E54;
        font-size:0.5rem;
        padding:0.2rem 1rem;
        line-height:1.04rem;
      }
      .disabled{
        background: #fff;
        color: #ccc;
      }
      .active{
        background: #DBECFF;
      }
      .rt{
        height: 1.44rem;
        width:3.6rem;
        color: #fff;
        background:#FF5E54;
        text-align: center;
        line-height:1.44rem;
        .icon{
          padding-right:0.3rem;
        }
      }
    }
  }
  #pub-sea{
    height: 100%;
    width: 100%;
    overflow: hidden;
    >.content{
      height:100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding-top:1.33rem;
      width:100%;
    }
    .top{
      height:1.333rem;
      background: #fff;
      position: absolute;
      border-bottom:1px solid #eee;
      left:0;
      top:0;
      width:10rem;
      z-index:100;
      .text-center{
        text-align: center;
        color: #333;
        font-size:0.48rem;
        line-height:1.33rem;
        .icon.lf{
          position: absolute;
          left:0;
          top:0;
          padding:0.45rem;
          color:#ccc;
        }
        .rtbtn{
          position: absolute;
          right:0;
          top:0;
          padding:0 0.45rem;
          color:#4a90e2;
          font-size:0.3733rem;
        }
      }
    }
    .content{
      .list-content{
        .list.active{
          background: #f5f5f5;
        }
        .list{
          height:2.933rem;
          border:1px solid transparent;
          border-bottom:1px solid #eee;
          position: relative;
          overflow: hidden;
          .title{
            padding-left:1.8133rem;
            color: #333;
            font-size:0.4266rem;
            margin-top:.3rem;
            .text{
              width: 4rem;
              overflow: hidden;
              display: inline-block;
              white-space: nowrap;
              text-overflow: ellipsis;
              float: left;
            }
          }
          .title:after{
            display: table;
            clear: both;
            content: '';
          }
          .content{
            padding-left:1.8133rem;
            color: #999;
            font-size:0.32rem;
            line-height:0.55rem;
            width:9rem;
            display: block;
            word-break: break-all;
            height:1.60rem;
            overflow: hidden;
            text-overflow: ellipsis;
            border:none;
          }
          .iconleft-box{
            position: absolute;
            left:0.3466rem;
            top:0.36rem;
            width:.85rem;
            height:.85rem;
            line-height:.85rem;
            border:1px solid #4A90E2;
            -webkit-border-radius:0.5rem;
            -moz-border-radius:0.5rem;
            border-radius:0.5rem;
            text-align: center;
            .iconleft{
              font-size:0.5rem;
              color: #4A90E2;
            }
          }
          .icon{
            position: absolute;
            right:0.48rem;
            top:0.36rem;
            color: #ccc;
          }
        }
      }
      .more{
        height: 1rem;
        text-align: center;
        color: #666;
        font-size:0.3733rem;
        line-height:1rem;
        background: #eee;
      }
    }
  }
  #public-sea-customer{
    height:100%;
    background: #f5f5f5;
    .top{
      height:1.333rem;
      background: #fff;
      position: absolute;
      left:0;
      top:0;
      width:10rem;
      z-index:100;
      border-bottom:1px solid #eee;
      .text-center{
        text-align: center;
        color: #333;
        font-size:0.48rem;
        line-height:1.33rem;
        .icon.lf{
          position: absolute;
          left:0;
          top:0;
          padding:0.45rem;
          color:#ccc;
        }
      }
    }
    .content{
      height:100%;
      padding-top:2.66rem;
      padding-bottom:1.44rem;
      overflow: auto;
      -webkit-overflow-scrolling : touch;
      .nav-box{
        width:10rem;
        height:1.333rem;
        border-bottom:1px solid #eee;
        padding:0 2rem;
        background: #fff;
        position: fixed;
        top:1.33rem;
        left:0;
        z-index:100;
        .nav{
          color: #999;
          font-size:0.4rem;
          padding:0.315rem 0.3rem;
          display: block;
        }
        .active{
          border-bottom:2px solid #FF5E54;
          color: #666;
        }
      }
      .data-box{
        .message{
          padding:0 0.666rem;
          background: #fff;
          height:auto;
          .name{
            height:0.7rem;
            color: #333;
            font-size:0.4rem;
            display: block;
            width: 8.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height:0.7rem;
            word-break: break-all;
            white-space: nowrap;
          }
          .text{
            width: 8.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            color: #666;
            font-size:0.3733rem;
            line-height:0.5rem;
            padding-bottom:0.3rem;
            max-height:3rem;
            word-break: break-all;
          }
          .showcontent{
            max-height:none;
            height:auto;
            background: #fff;
          }
          .more{
            margin-top:0.1rem;
            text-align: center;
            line-height:1.0666rem;
            color: #999;
            display: block;
            height:1.0666rem;
            border-top:1px solid #ddd;
          }
        }
        .company-message{
          padding:0.34667rem 0.666rem;
          background: #fff;
          height:4.26667rem;
          margin:0.2667rem 0;
          overflow: hidden;
          .title{
            color: #333;
            font-size:0.42667rem;
            .qianzai{
              width:1.70667rem;
              height:0.58667rem;
              border:1px solid #ff5e54;
              -webkit-border-radius:4px;
              -moz-border-radius:4px;
              border-radius: 4px;
              text-align: center;
              line-height:0.58667rem;
              font-size:0.32rem;
              color: #ff5e54;
            }
          }
          .text{
            color: #5094E2;
            font-size:0.3733rem;
            line-height:0.8rem;
            a{
              color: #5094E2;
            }
          }
          .country{
            color: #666;
            font-size:0.3733rem;
            line-height:0.8rem;
          }
          .linkman{
            color: #666;
            font-size:0.3733rem;
            line-height:0.8rem;
          }
        }
        .fullcontach{
          .xaingxi-message{
            width:10rem;
            background: #fff;
            padding:0.34667rem 0.666rem;
            margin:0.2667rem 0;
            .title{
              color: #333;
              font-size:0.42667rem;
            }
            .photo-box{
              width:2.35rem;
              height:2.35rem;
              background: #f5f5f5;
              text-align: center;
              line-height:2.35rem;
              margin-top:0.666rem;
              img{
                max-height:2.35rem;
                max-width:2.35rem;
              }
            }
            .ulbox{
              margin-top:20px;
              .li{
                line-height:0.5rem;
                margin-top:10px;
                .name{
                  color:#666;
                  font-size: 0.3733rem;
                }
                .text{
                  color: #666;
                  font-size: 0.3733rem;
                }
              }
            }
          }
          .xiangguan-net{
            width:10rem;
            background: #fff;
            margin:0.2667rem 0;
            padding:0.34667rem 0 0.34667rem 0.666rem;
            .title{
              color: #333;
              font-size:0.42667rem;
            }
            .ulbox{
              .li{
                padding-right:0.666rem;
                padding-top:20px;
                padding-bottom:20px;
                border-top: 1px solid #eee;
                .pingtai{
                  color: #333;
                  font-size:0.4rem;
                  line-height: 0.5rem;
                  font-weight:500;
                }
                .web{
                  color: #333;
                  font-size: 0.35rem;
                  line-height: 0.5rem;
                }
              }
            }
          }
          .key-box{
            width:10rem;
            background: #fff;
            padding:0.34667rem 0.66rem;
            margin:0.2667rem 0;
            .title{
              color: #333;
              font-size:0.42667rem;
            }
            .text{
              color: #333;
              font-size: 0.3733rem;
              line-height:0.5rem;
              word-break: break-all;
              padding:20px 0;
              display: block;
              max-height:6.5rem;
              overflow: hidden;
              &.active{
                max-height:none;
              }
            }
            .seeMoreMessage{
              color: #4a90e2;
              font-size:0.3733rem;
              text-align: center;
              height:0.6rem;
              line-height:0.6rem;
              margin-top:0.3rem;
              width:100%;
            }
          }
          .shejiao-message{
            width:10rem;
            background: #fff;
            padding:0.34667rem 0.666rem;
            margin:0.2667rem 0;
            .title{
              color: #333;
              font-size:0.42667rem;
            }
            .fullBox{
              padding: 20px 0;
              border-top:1px solid #eee;
              .name{
                color: #333;
                font-size:0.3733rem;
                font-weight:500;
              }
              .text{
                color: #666;
                font-size:0.3733rem;
                line-height: 0.5rem;
              }
            }
            .net{
              padding:20px 0 20px 0.8rem;
              position: relative;
              .icon{
                color: #ccc;
                font-size:0.5rem;
                position: relative;
                left:-.2rem;
                top:.1rem;
              }
              .text{
                color: #666;
                font-size:0.3733rem;
              }
            }
            .shejiao-bottom{
              border-top:1px solid #eee;
              .box1,.box2{
                float: left;
                width:50%;
                height:1.5rem;
                .name{
                  color: #333;
                  font-size:.3733rem;
                  line-height:1.5rem;
                }
                .text{
                  color: #333;
                  font-size:.3733rem;
                  line-height:1.5rem;
                }
              }
              .box2{
                float: right;
              }
            }
            .shejiao-bottom:after{
              content: '';
              display: table;
              clear: both;
            }
          }
          .paiming{
            width:10rem;
            background: #fff;
            padding:0.34667rem 0 0.34667rem 0.666rem;
            margin:0.2667rem 0;
            .title{
              color: #333;
              font-size:0.42667rem;
            }
            .list{
              border-top:1px solid #eee;
              height:1.1rem;
              line-height:1.1rem;
              padding-right:0.666rem;
              .name,.num{
                color: #666;
                font-size:0.3733rem;
              }
            }
          }
        }
      }
      .history-box{
        padding-bottom:1.4rem;
        .title{
          padding:0 0.64rem;
          height:1.6rem;
          border-bottom:1px solid #eee;
          background: #fff;
          line-height:1.6rem;
          .text{
            color: #333;
            font-size:0.3733rem;
            .text{
              color: #ff5e54;
              font-size:0.32rem;
            }
          }
          .icon{
            margin-top:0.6rem;
            font-size:0.4rem;
          }
        }
        .list{
          background: #fff;
          padding:0 0.64rem;
          height:1.6rem;
          line-height:1.6rem;
          border-top:1px solid #eee;
          overflow: hidden;
          &.genjin{
            border-bottom:1px solid #eee;
          }
          .text{
            color: #666;
            font-size:0.3733rem;
          }
          .rt.num{
            color: #666;
            font-size:0.3733rem;
          }
        }
        .mail-times{
          margin-top:0.4533rem;
        }
        .prev-sendtime{
          margin-top:0.4533rem;
        }
      }

    }
    .bottom{
      height:1.44rem;
      line-height:1.44rem;
      background: #fff;
      position: absolute;
      bottom:0;
      left:0;
      width:10rem;
      border-top:1px solid #eee;
      .lf{
        color: #FF5E54;
        font-size:0.5rem;
        padding:0.2rem 1rem;
        line-height:1.04rem;
      }
      .disabled{
        background: #fff;
        color: #ccc;
      }
      .active{
        background: #DBECFF;
      }
      .rt{
        height: 1.44rem;
        width:3.6rem;
        color: #fff;
        background:#FF5E54;
        text-align: center;
        .icon{
          padding-right:0.3rem;
        }
      }
    }
    .topersonal-seamodal{
      height:100%;
      position: absolute;
      top:0;
      left:0;
      width:100%;
      background:rgba(0,0,0,.5);
      z-index:9999;
      .content{
        padding:0.5rem;
        width:9rem;
        height:7.5rem;
        background: #fff;
        position: absolute;
        left:50%;
        top:50%;
        margin-top:-4rem;
        margin-left:-4.5rem;
        text-align: center;
        border:1px solid transparent;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;
        .title{
          color: #333;
          font-size:0.5rem;
          text-align: center;
          line-height:1rem;
        }
        .list{
          color: #666;
          font-size:0.32rem;
          line-height:0.5rem;
          margin-top:0.3rem;
          text-align: left;
        }
        .check{
          text-align: left;
          margin-top:0.3rem;
          display: block;
          width: 3rem;
          height: 0.6rem;
          line-height:0.6rem;
          .icon{
            color: #ccc;
            font-size:0.35rem;
            float: left;
            margin-right:0.5rem;
            margin-top:0.1rem;
          }
          .text{
            color: #666;
            font-size:0.32rem;
          }
        }
        .active{
          .icon{
            color: #FF5E54;
          }
        }
        .submitbtn{
          width: 4rem;
          height: 0.7rem;
          border: 2px solid #FF5E54;
          -webkit-border-radius: 1rem;
          -moz-border-radius: 1rem;
          border-radius: 1rem;
          text-align: center;
          line-height: 0.7rem;
          color: #FF5E54;
          margin: 0 auto;
          margin-top: 0.8rem;
        }
      }
    }
  }
  #mail-history-box{
    .top{
      height:1.333rem;
      background: #fff;
      position: absolute;
      border-bottom:1px solid #eee;
      .text-center{
        text-align: center;
        color: #333;
        font-size:0.48rem;
        line-height:1.33rem;
        .icon.lf{
          position: absolute;
          left:0;
          top:0;
          padding:0.45rem;
          color:#ccc;
        }
      }
    }
    .content{
      .nav-box{
        height:1.333rem;
        border-top:1px solid #ddd;
        border-bottom:1px solid #ddd;
        padding:0 1rem;
        background: #fff;
        .nav{
          color: #999;
          font-size:0.4rem;
          display: block;
          padding:0.3rem 0.8rem;
        }
        .active{
          border-bottom:2px solid #FF5E54;
          color: #666;
        }
      }
      .all-box,.get-box,.send-box{
        .list{
          height:2.933rem;
          border-bottom:1px solid #ccc;
          position: relative;
          overflow: hidden;
          .title{
            padding-left:1.8133rem;
            color: #333;
            font-size:0.4266rem;
            margin-top:0.4533rem;
            .text{
              width: 4rem;
              overflow: hidden;
              display: inline-block;
              white-space: nowrap;
              text-overflow: ellipsis;
              float: left;
            }
          }
          .title:after{
            display: table;
            clear: both;
            content: '';
          }
          .content{
            padding-left:1.8133rem;
            color: #999;
            font-size:0.32rem;
            line-height:0.55rem;
            width:9rem;
            display: block;
            word-break: break-all;
            height:1.60rem;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .iconleft-box{
            position: absolute;
            left:0.3466rem;
            top:0.3rem;
            width:1rem;
            height:1rem;
            line-height:1rem;
            border:1px solid #4A90E2;
            -webkit-border-radius:0.5rem;
            -moz-border-radius:0.5rem;
            border-radius:0.5rem;
            text-align: center;
            .iconleft{
              font-size:0.7rem;
              color: #4A90E2;
            }
          }
          .icon{
            position: absolute;
            right:0.6667rem;
            top:0;
          }
          .rtbox{
            position: absolute;
            right:0.45rem;
            top:0;
            color: #666;
          }
        }
      }
      .more{
        height:1rem;
        background: #eee;
        line-height:1rem;
        color: #666;
        font-size:0.3733rem;
        text-align: center;
      }
    }
  }
  #personal-seleact-sea{
    height:100%;
    width:100%;
    .top{
      height:1.333rem;
      background: #fff;
      position: absolute;
      border-bottom:1px solid #eee;
      top:0;
      left:0;
      width:10rem;
      z-index:100;
      .text-center{
        text-align: center;
        color: #333;
        font-size:0.48rem;
        line-height:1.33rem;
        .cansel,.submit{
          color: #4A90E2;
          padding:0 0.48rem;
          font-size:0.3733rem;
        }
        .disabled{
          color: #ccc;
        }
        .icon.lf{
          position: absolute;
          left:0;
          top:0;
          padding:0.45rem;
          color:#ccc;
        }
      }
    }
    .content{
      padding-top:1.333rem;
      height:100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      .title-top{
        height:1.0933rem;
        background:#FFE7E7;
        line-height:1.09333rem;
        color:#FF5E54;
        font-size:0.32rem;
        border-top:1px solid #eee;
        text-align: center;
      }
      .list-content{
        .list{
          height:2.933rem;
          border:1px solid transparent;
          border-bottom:1px solid #eee;
          position: relative;
          overflow: hidden;
          .title{
            padding-left:1.8133rem;
            color: #333;
            font-size:0.4266rem;
            margin-top:.3rem;
            .text{
              width: 4rem;
              overflow: hidden;
              display: inline-block;
              white-space: nowrap;
              text-overflow: ellipsis;
              float: left;
            }
          }
          .title:after{
            display: table;
            clear: both;
            content: '';
          }
          .content{
            padding-top:0;
            padding-left:1.8133rem;
            color: #999;
            font-size:0.32rem;
            line-height:0.55rem;
            width:9rem;
            display: block;
            word-break: break-all;
            height:1.60rem;
            overflow: hidden;
            text-overflow: ellipsis;
            border:none;
          }
          .iconleft-box{
            position: absolute;
            left:0.3466rem;
            top:0.36rem;
            width:.96rem;
            height:.96rem;
            line-height:.96rem;
            text-align: center;
            border: 1px solid transparent;
            .iconleft{
              font-size:.96rem;
              color: #ccc;
            }
          }
          .icon{
            position: absolute;
            right:0.6667rem;
            top:0.36rem;
            color: #ccc;
          }
        }
        .active{
          .iconleft-box{
            .iconleft{
              color: #4A90E2;
            }
          }
        }
      }
      .more{
        height:1rem;
        line-height:1rem;
        background: #eee;
        text-align: center;
        color: #666;
        font-size:0.3733rem;
      }
    }
    .no-count{
      img{
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -2.5rem;
        margin-top: -4rem;
        opacity: 0.6;
      }
      .text{
        position: absolute;
        top: 50%;
        left:50%;
        color: #666;
        font-size:0.3733rem;
        margin-left:-2.5rem;
        width:5rem;
        text-align: center;
        margin-top: .5rem;
      }
    }
  }
  #per-mail-history-box{
    height:100%;
    .top{
      height:1.333rem;
      background: #fff;
      position: absolute;
      left:0;
      top:0;
      z-index:100;
      border-bottom:1px solid #eee;
      width:10rem;
      text-align:center;
      .text-center{
        text-align: center;
        color: #333;
        font-size:0.48rem;
        line-height:1.33rem;
        .icon.lf{
          position: absolute;
          left:0;
          top:0;
          padding:0.45rem;
          color:#ccc;
        }
      }
    }
    .content{
      padding-top:2.66rem;
      height:100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      .nav-box{
        height:1.333rem;
        border-bottom:1px solid #eee;
        padding:0 1rem;
        background: #fff;
        position: fixed;
        left:0;
        top:1.33rem;
        background: #fff;
        z-index:100;
        .nav{
          color: #999;
          font-size:0.4rem;
          display: block;
          padding:0.3rem 0.8rem;
        }
        .active{
          border-bottom:2px solid #FF5E54;
          color: #666;
        }
      }
      .all-box,.get-box,.send-box{
        .list{
          width:10rem;
          height:2.6667rem;
          border-top:1px solid #eee;
          padding-left:1.70rem;
          position: relative;
          padding-right:0.347rem;
          padding-top:0.1rem;
          overflow: hidden;
          background: #fff;
          .iconleft-box{
            width:.85rem;
            height:.85rem;
            text-align: center;
            position: absolute;
            top:0.3rem;
            left:0.35rem;
            line-height:.85rem;
            -webkit-border-radius:0.5rem;
            -moz-border-radius:0.5rem;
            border-radius:0.5rem;
            border:2px solid #4a90e2;
            .iconleft{

            }
          }
          .iconleft{
            font-size:0.5rem;
            line-height:0.85rem;
            text-align: center;
            color: #4a90e2;
          }
          .title{
            padding-top:0.1rem;
            .text{
              color: #323232;
              font-size:0.4267rem;
              width:4rem;
              overflow: hidden;
              display: inline-block;
              white-space: nowrap;
              text-overflow: ellipsis;
              float: left;
            }
            .rt{
              color: #666;
              font-size:0.32rem;
              .icon-to-right{
                position: relative;
                top:0.072rem;
              }
            }
          }
          .title-too{
            color: #323232;
            font-size:0.3733rem;
            width:4rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .content{
            font-size:0.32rem;
            color: #999;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 1.16rem;
            word-break: break-all;
            line-height:0.4rem;
            margin-top:-0.1rem;
            div,p{
              font-size:0.3733rem !important;
            }
            ul{
              li{
                font-size:0.3733rem !important;
              }
            }
          }
        }
      }
      .more{
        height:1rem;
        background: #eee;
        line-height:1rem;
        color: #666;
        font-size:0.3733rem;
        text-align: center;
      }
    }
    .no-count{
      width:10rem;
      img{
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -2.5rem;
        margin-top: -4rem;
        opacity: 0.6;
      }
      .text{
        position: absolute;
        top: 50%;
        left:50%;
        color: #666;
        font-size:0.3733rem;
        margin-left:-2rem;
        width:4rem;
        text-align: center;
        margin-top: .5rem;
      }
    }
  }
  #da-hai-search-page{
    width:10rem;
    height:100%;
    background: #fff;
    .top{
      position: absolute;
      top:0;
      left:0;
      width:10rem;
      height:1.33rem;
      line-height:1.333rem;
      text-align: center;
      .text-center{
        color: #333;
        font-size:0.48rem;
      }
      .icon{
        position: absolute;
        left:0;
        top:0;
        padding:0.45rem;
        font-size:0.5rem;
        color: #ccc;
      }
      .search{
        position: absolute;
        right:0;
        top:0;
        padding:0 0.45rem;
        color:#5094E2;
        font-size:0.3733rem;
      }
    }
    .content{
      padding-top:1.33rem;
      .search-box{
        width:10rem;
        height:1.333rem;
        border:1px solid transparent;
        line-height:1.33rem;
        .input{
          width:10rem;
          height:1.33rem;
          border:none;
          line-height:.53rem;
          padding:0.4rem 0;
          padding-left:0.5rem;
          border-bottom:1px solid #ddd;
          border-top:1px solid #ddd;
          font-size:0.4rem;
          color: #333;
        }
      }
      .img-box{
        text-align: center;
        margin:3rem auto;
        img{
          width:5rem;
          max-height:none;
          max-width:none;
        }
      }
    }
  }
  #wanglai-mail-detail{
    background: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .detail-title{
      width: 100%;
      height: 1.3334rem;
      line-height: 1.3334rem;
      padding: 0 0.48rem;
      border-bottom: 1px solid #eee;
      color: #5094e2;
      font-size: 0.37333rem;
      position: absolute;
      left:0;
      top:0;
      z-index:100;
      background: #fff;
      .inbox{
        float: left;
        width: 2.2rem;
        height: 100%;
        .icon-mail_fanhui{
          float: left;
          line-height:1.33rem;
        }
      }
      .page-change{
        float: right;
        width: 2rem;
        height: 100%;
        //background-color: red;
        .icon-caret-angle-up{
          font-size: 0.5rem;
        }
        .icon-caret-angle-bottom{
          font-size: 0.5rem;
          //float: right;
        }
      }
      .email-detail-title{
        width: 2rem;
        margin: 0 auto;
        font-size: 0.48rem;
        color: #333;
      }
    }
    .content{
      height:100%;
      overflow-y: auto;
      -webkit-overflow-scrolling : touch;
      padding:1.33rem 0;
    }
    .detail-head{
      width: 100%;
      height: auto;
      padding:0 0.6667rem 0.5rem;
      border-bottom: 1px solid #eee;
      .email-subject{
        color: #323232;
        font-size: 0.37333rem;
        font-weight: bold;
        line-height: 0.5rem;
        margin-top: 0.4rem;
        width:8.5rem;
        height:auto;
        max-height:2rem;
        word-break: break-all;
      }
      .customer{
        font-size: 0.37333rem;
        color: #999;
        line-height: 0.8rem;
        height:0.8rem;
        margin-top:0.1rem;
      }
      .link-net:after{
        display: table;
        content: '';
        clear: both;
      }
      .link-net{
        font-size: 0.37333rem;
        color: #999;
        min-height:0.8rem;
        height:auto;
        .name{
          height:0.8rem;
          line-height: 0.8rem;
        }
        .text{
          width:6rem;
          overflow: hidden;
          white-space: nowrap;
          word-break: break-all;
          text-overflow: ellipsis;
        }
        .show-all-content{
          line-height: 0.8rem;
          width:6rem;
          height:auto;
          min-height:0.8rem;
          &.active{
            white-space:normal;
          }
        }
        .show-all{
          color:#5094E2 ;
          padding:0.2rem;
          line-height:0.4rem;
        }
      }
      .date{
        font-size: 0.37333rem;
        color: #999;
        line-height: 0.8rem;
        height:0.8rem;
      }
      .product{
        font-size: 0.32rem;
        color: #999;
        line-height: 0.65rem;
      }
      .price{
        font-size: 0.32rem;
        color: #999;
        line-height: 0.65rem;
      }
    }
    .zihu-content{
      .content-box{
        width:10rem;
        padding:0.5rem 0.667rem;
        color: #999;
        *{
          font-size:0.3733rem !important;
          height:auto;
          width:100%;
        }
      }
      .list-box{
        padding:0.5rem 0.667rem;
        .list{
          border:1px solid #ddd;
          height:1.466rem;
          line-height:1.466rem;
          margin-top:0.2rem;
          -webkit-border-radius:5px;
          -moz-border-radius:5px;
          border-radius:5px;
          .box{
            height:1.466rem;
            color: #666;
            font-size:0.3733rem;
            .name{
              line-height:0.37rem;
              margin-bottom:-0.4rem;
              margin-top:0.2rem;
              display: block;
              width:7rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .count{
              line-height:0.37rem;
            }
          }
          .icon{
            padding:0.2rem;
            font-size:0.5rem;
            color: #4a90e2;
            margin:0.2rem;
          }
        }
        .imgbox{
          border:1px solid #ddd;
          height:1.466rem;
          line-height:1.466rem;
          margin-top:0.2rem;
          overflow: hidden;
          -webkit-border-radius:5px;
          -moz-border-radius:5px;
          border-radius:5px;
          .icon{
            font-size:0.5rem;
            float: left;
            padding:0 0.5rem;
            line-height:1.466rem;
            color: #4a90e2;
          }
          img{
            max-width:1.466rem;
            max-height:1.466rem;
          }
        }
      }
    }
    .bottom{
      border-top:1px solid #ddd;
      line-height:1.44rem;
      height:1.44rem;
      position: absolute;
      left:0;
      bottom:0;
      text-align: center;
      width:10rem;
      z-index:100;
      background: #fff;
      .icon{
        line-height:0.5rem;
        color:#5A9BE2;
        font-size:0.55rem;
        display: block;
        margin-top:0.3rem;
      }
      .text{
        line-height:0.5rem;
        color: #5A9BE2;
      }
    }
  }
  #personal-ren-list{
    background: #f5f5f5;
    height:100%;
    .top{
      height:1.333rem;
      background: #fff;
      position: absolute;
      left:0;
      top:0;
      width:10rem;
      z-index:100;
      border-bottom:1px solid #eee;
      overflow: hidden;
      .text-center{
        text-align: center;
        color: #333;
        font-size:0.48rem;
        line-height:1.33rem;
        .icon.lf{
          position: absolute;
          left:0;
          top:0;
          padding:0.45rem;
          color:#ccc;
        }
        .text{
          width:5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
        }
        .give-up{
          color:#FF5E54;
          font-size:0.3733rem;
          padding:0 0.45rem;
          position: absolute;
          right:0;
          top:0;
        }
        .disabled{
          color: #ccc;
        }
      }
    }
    .content{
      height:100%;
      padding-top:1.33rem;
      padding-bottom:1.44rem;
      overflow-y: auto;
      -webkit-overflow-scrolling : touch;
      .top-title{
        height:1.333rem;
        line-height:1.333rem;
        background: #FFFFFF;
        box-shadow: 0 1px 0 0 #ccc;
        padding:0 0.3rem;
        position: absolute;
        top:1.33rem;
        left:0;
        width:10rem;
        z-index:100;
        .nav{
          padding:0.2rem 0.75rem;
          color: #999;
          font-size:0.4rem;
        }
        .active{
          color: #666;
          position: relative;
        }
        .active:after{
          content: '';
          position: absolute;
          bottom:-0.2rem;
          margin-left: -20px;
          height: 2px;
          background:#FF5E54;
          display: block;
          width:100%;
          right:0;
        }
      }
      .ren-box{
        background: #fff;
        .text{
          height:0.88rem;
          background: #f5f5f5;
          line-height:0.88rem;
          color: #999;
          font-size:0.32rem;
          padding-left:0.4rem;
          span{
            color: #999;
            position: relative;
            top:0.031rem;
            font-size: 0.32rem;
            margin-right:6px;
          }
        }
        .all-nav{
          height:3.6rem;
          border-top:1px solid #ddd;
          .active.lianxiren-houxuan{
            .icon{
              color: #4A90E2;
            }
          }
          .all-customer,.wait{
            height:3.6rem;
            position: relative;
            width:5rem;
            text-align: center;
            border-right:1px solid #ddd;
            padding-top:0.98rem;
            .icon{
              position: absolute;
              left: 0.45rem;
              top:0.5rem;
              color: #ccc;
              font-size:.4rem;
              -webkit-border-radius:0.18rem;
              -moz-border-radius:0.18rem;
              border-radius:0.18rem;
            }
            .iconhead{
              color:#F98143;
              font-size:0.96rem;
            }
            .text{
              text-align: center;
              color: #333;
              font-size:0.32rem;
              margin-top:0.2rem;
              background: #fff;
              span{
                margin:0;
              }
            }
          }
        }
        .one-send{
          height:0.90667rem;
          background: #f5f5f5;
          line-height:0.9066rem;
          padding-left:0.45rem;
          font-size:0.32rem;
          color: #999;
          border-top:1px solid #eee;
        }
        .one-send-box{
          .title{
            height:1.33rem;
            line-height:1.33rem;
            color: #333;
            font-size:0.3733rem;
            padding-left:0.45rem;
            background: #fff;
            border-bottom:1px solid #ccc;
            .text{
              background: #fff;
              line-height:1.33rem;
              padding:0;
              font-size:0.3733rem;
            }
            .num.rt{
              color: #333;
              font-size:0.3733rem;
              padding-right:0.45rem;
            }
          }
          .list.active{
            .iconlft{
              color: #4A90E2;
            }
          }
          .list{
            height:1.6rem;
            line-height:1.6rem;
            border-top:1px solid #ddd;
            overflow: hidden;
            .iconlft{
              font-size:0.96rem;
              padding:0.2rem;
              margin-left:0.4rem;
              margin-top:0.1rem;
              color: #ccc;
            }
            .text{
              background: #fff;
              color: #323232;
              font-size:0.3733rem;
              margin-left:0.74rem;
              display: inline-block;
              width:3rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              height:1.5rem;
              line-height:1.5rem;
              margin-top:0.05rem;
            }
            .box{
              padding-right:0.45rem;
              color: #999;
              .time{
                color: #999;
              }
            }
          }
          .more{
            background: #eee;
            line-height:1rem;
            height:1rem;
            text-align: center;
            color: #666;
            font-size:0.3733rem;
          }
        }
      }
      .no-count{
        img{
          width:4rem;
          height:4rem;
          position: absolute;
          left:50%;
          top:50%;
          margin-left:-2.5rem;
          margin-top:-4rem;
          opacity: 0.6;
        }
        .btn{
          width: 3rem;
          height: 0.8rem;
          background: #fff;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-top:1rem;
          margin-left:-1.5rem;
          font-size: 0.4rem;
          border:2px solid #FF5E54;
          color: #FF5E54;
          line-height:0.8rem;
          text-align:center;
          -webkit-border-radius:1.5rem;
          -moz-border-radius:1.5rem;
          border-radius:1.5rem;
        }
      }
    }
    .bottom{
      height:1.44rem;
      line-height:1.44rem;
      background: #fff;
      position: absolute;
      bottom:0;
      left:0;
      width:10rem;
      border-top:1px solid #eee;
      .prev{
        border-right:1px solid #ddd;
      }
      .lf{
        color: #FF5E54;
        font-size:0.32rem;
        padding:0.2rem 1rem;
        line-height:1.04rem;
      }
      .disabled{
        background: #ccc;
        color: #fff;
      }
      .active{
        background: #DBECFF;
      }
      .rt{
        height: 1.44rem;
        width:3.6rem;
        color: #fff;
        background:#FF5E54;
        text-align: center;
      }
    }
  }
}
.cusloading{
  background: rgba(0,0,0,.62);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -moz-border-radius: 100px;
  width: 3.466rem;
  height: .8rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 1.333rem;
  z-index: 9999;
  line-height: .8rem;
  span{
    font-size: .4533rem;
    float: left;
    padding: 0 .3533rem;
    height: .8rem;
    line-height: .8rem;
    width: 0.8rem;
  }
  p{
    float: left;
    color: #fff;
    font-size: .32rem;
    width: 2.6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left:0.2rem;
  }
}
#wanglai-mail-detail-replay{
  background: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .detail-title{
    width: 100%;
    height: 1.3334rem;
    line-height: 1.3334rem;
    padding: 0 0.48rem;
    border-bottom: 1px solid #eee;
    color: #5094e2;
    font-size: 0.37333rem;
    position: absolute;
    left:0;
    top:0;
    background: #fff;
    z-index:100;
    .inbox{
      float: left;
      width: 2.2rem;
      height: 100%;
      .icon-mail_fanhui{
        float: left;
        line-height:1.33rem;
      }
    }
    .page-change{
      float: right;
      width: 2rem;
      height: 100%;
      //background-color: red;
      .icon-caret-angle-up{
        font-size: 0.5rem;
      }
      .icon-caret-angle-bottom{
        font-size: 0.5rem;
        //float: right;
      }
    }
    .email-detail-title{
      width: 2rem;
      margin: 0 auto;
      font-size: 0.48rem;
      color: #333;
    }
  }
  .content{
    padding-top:1.33rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height:100%;
  }
  .detail-head{
    width: 100%;
    height: auto;
    padding:0 0.6667rem 0.5rem;
    border-bottom: 1px solid #eee;
    .email-subject{
      color: #323232;
      font-size: 0.37333rem;
      font-weight: bold;
      line-height: 0.5rem;
      margin-top: 0.4rem;
      width:8.5rem;
      height:auto;
      max-height:2rem;
      word-break: break-all;
    }
    .customer{
      font-size: 0.37333rem;
      color: #999;
      line-height: 0.8rem;
      height:0.8rem;
      margin-top:0.1rem;
    }
    .link-net:after{
      display: table;
      content: '';
      clear: both;
    }
    .link-net{
      font-size: 0.37333rem;
      color: #999;
      min-height:0.8rem;
      height:auto;
      .name{
        height:0.8rem;
        line-height: 0.8rem;
      }
      .text{
        width:6rem;
        overflow: hidden;
        white-space: nowrap;
        word-break: break-all;
        text-overflow: ellipsis;
      }
      .show-all-content{
        line-height: 0.8rem;
        width:6rem;
        height:auto;
        min-height:0.8rem;
        &.active{
          white-space:normal;
        }
      }
      .show-all{
        color:#5094E2 ;
        padding:0.2rem;
        line-height:0.4rem;
      }
    }
    .date{
      font-size: 0.37333rem;
      color: #999;
      line-height: 0.8rem;
      height:0.8rem;
    }
    .product{
      font-size: 0.32rem;
      color: #999;
      line-height: 0.65rem;
    }
    .price{
      font-size: 0.32rem;
      color: #999;
      line-height: 0.65rem;
    }
  }
  .zihu-content{
    .content-box{
      width:10rem;
      padding:0.5rem 0.667rem;
      color: #999;
      *{
        font-size:0.3733rem !important;
        width:100% !important;
        height:auto!important;
        border:none!important;
      }
      img{
        width:2rem!important;
        height:2rem!important;
      }
    }
    .list-box{
      padding:0.5rem 0.667rem;
      .list{
        border:1px solid #ddd;
        height:1.466rem;
        line-height:1.466rem;
        margin-top:0.2rem;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        .box{
          height:1.466rem;
          color: #666;
          font-size:0.3733rem;
          .name{
            line-height:0.37rem;
            margin-bottom:-0.4rem;
            margin-top:0.2rem;
            display: block;
            width:7rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .count{
            line-height:0.37rem;
          }
        }
        .icon{
          padding:0.2rem;
          font-size:0.5rem;
          color: #4a90e2;
          margin:0.2rem;
        }
      }
      .imgbox{
        border:1px solid #ddd;
        height:1.466rem;
        line-height:1.466rem;
        margin-top:0.2rem;
        overflow: hidden;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        .icon{
          font-size:0.5rem;
          float: left;
          padding:0 0.5rem;
          line-height:1.466rem;
          color: #4a90e2;
        }
        img{
          max-width:1.466rem;
          max-height:1.466rem;
        }
      }
    }
  }
  .bottom{
    border-top:1px solid #ddd;
    line-height:1.44rem;
    height:1.44rem;
    position: absolute;
    left:0;
    bottom:0;
    text-align: center;
    width:10rem;
    background: #fff;
    z-index:100;
    .icon{
      line-height:0.5rem;
      color:#5A9BE2;
      font-size:0.55rem;
      display: block;
      margin-top:0.3rem;
    }
    .text{
      line-height:0.5rem;
      color: #5A9BE2;
    }
    div{
      width:5rem;
      height:100%;
      border-right:1px solid #eee;
      float: left;

    }
  }
}
