.hidden{
  display: none;
}
.lf{
  float: left;
}
.rt{
  float: right;
}
*{
  margin: 0;
  padding:0;
  list-style: none;
}
.customer{
  input{
    width: 4rem;
    height: 0.7rem;
    color: #666;
    border: none;
  }
}
.zihu-content{
  padding-bottom:1rem;
}
.imgbox{
  border:1px solid #ddd;
  height:2rem;
  line-height:2rem;
  margin-top:0.2rem;
  overflow: hidden;
  .icon{
    font-size:0.5rem;
    float: left;
    padding:0 0.5rem;
    line-height:2rem;
    color: #00a0ff;
  }
  img{
    max-width:2rem;
    max-height:2rem;
  }
}
@pt:37.5rem;
#write_mail{
  background: #fff;
  height:100%;
  width:10rem;
  overflow-x: hidden;
  .header{
    width:10rem;
    height:1.333rem;
    line-height:1.333rem;
    position:absolute;
    top:0;
    left:0;
    background: #fff;
    z-index:100;
    overflow-x: hidden;
    border-bottom:1px solid #eee;
    .head-left{
      float:left;
      font-size:.3733rem;
      color:#5094E2;
      height:1.333rem;
      line-height:1.333rem;
      padding:0 .5333rem;
    }
    .title{
      display:block;
      font-size:.48rem;
      color:#333;
      position:absolute;
      left:0;
      right:0;
      margin:0 auto;
      width:3rem;
      text-align:center;
    }
    .head-right{
      float:right;
      height:1.333rem;
      line-height:1.333rem;
      font-size:.3733rem;
      color:#5094E2;
      padding:0 .5333rem;
    }
  }
  .cansel-box{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    position: fixed;
    z-index:1000;
    .content{
      width: 8rem;
      height:6rem;
      position: absolute;
      left:50%;
      top:50%;
      background: #fff;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
      margin-top:-3rem;
      margin-left:-4rem;
      .title{
        line-height: 1.8rem;
        text-align: center;
        color: #666;
        font-size: .6rem;
      }
      .list{
        display: block;
        width:5rem;
        height:.8rem;
        margin:0 auto;
        border:1px solid transparent;
        line-height:.8rem;
        margin-bottom:.5rem;
        text-align: center;
        -webkit-border-radius:1.5rem;
        -moz-border-radius:1.5rem;
        border-radius:1.5rem;
        font-size:0.4rem;
        color: #fff;
      }
      .li0{
        background:#fb4f4c;
      }
      .li1{
        background:#5094E2;
      }
      .li2{
        background:#fff;
        color: #fb4f4c;
        border:1px solid #fb4f4c;
      }
    }
  }
  .content0{
    width:10rem;
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
    padding:1.33rem 0 1.44rem 0;
  }
  .Addressee-theme{
    background: #fff;
    width:10rem;
    border:1px solid transparent;
    padding-left:.5333rem;
    overflow: hidden;
    .Addressee{
      width:9.3334rem;
      height:auto;
      overflow: hidden;
      border-bottom:1px solid #eee;
      position: relative;
      .ressee{
        float:left;
        font-size:.3733rem;
        color:#999;
       // height:2.1866rem;
        padding-top:.34667rem;
      }
      .names{
        float:left;
        padding-left:10px;
        height:auto;
        min-height:1.15rem;
        width:6.666rem;
        padding-top:.2667rem;
        &.active{
          height:1.5rem;
          overflow: hidden;
        }
        li{
          background:#FFD8D8;
          border:1px solid #FFC4C4;
          border-radius:93px;
          padding:.16rem .2666rem;
          float:left;
          line-height:.32rem;
          font-size:.32rem;
          margin-right:.1333rem;
          color:#666;
          margin-bottom:.2933rem;
          position:relative;
          max-width:6rem;
          .icon-mail_shred{

          }
        }
      }
      .icon{
        float:right;
        height:0.8rem;
        padding-right:.5333rem;
        color:#ccc;
        font-size:.48rem;
        padding-top:.34667rem;
      }
      .customer-text{
        padding-right:.65rem;
        color:#999;
        font-size:0.3733rem;
        height:0.8rem;
        margin-bottom:10px;
        margin-top:-3px;
      }
      .clickType{
        position: absolute;
        right:0.66rem;
        bottom:0.3rem;
        color: #5094e2;
        font-size:0.373rem;
      }
    }
    .active.Addressee{
      height:2.3rem
    }
    .Theme{
      width:9.3334rem;
      overflow: hidden;
      height:auto;
      .theme{
        font-size:.3733rem;
        color:#999;
        float:left;
        padding-top:0.34667rem;
      }
      .content{
        float:left;
        display:block;
        padding-left:15px;
        min-height:1.15rem!important;
        height:auto;
        width:6.666rem;
        color:#333;
        font-size:.32rem;
        line-height:.48rem;
        border:1px solid transparent;
        resize: none;
        padding-top:0.34667rem;
      }
      .icon{
        float:right;
        height:.5rem;
        padding-right:.5333rem;
        color:#ccc;
        font-size:.48rem;
        line-height:0.5rem;
        margin-top:0.34667rem;
        margin-bottom:5px;
      }
      .customer-modal{
        float:right;
        height:0.8rem;
        font-size:0.3733rem;
        color: #999;
        padding-right:.6933rem;
      }
    }
  }
  .mail-subject{
    //margin-top:.8rem;
    width:10rem;
    background:#fff;
    overflow-x: hidden;
    .mail-title{
      font-size:.4266rem;
      color:#333;
      line-height:.4266rem;
      padding-left:.7733rem;
    }
    .mail-number{
      color:#666;
      font-size:.3733rem;
      width:100%;
      height:auto;
      min-height:6rem;
      line-height: 0.5rem;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      display: block;
      padding:.4rem 0.8rem;
      border:none;
      resize: none;
      border-top:1px solid #eee;
      //border-bottom:1px solid #ddd;
      word-break: break-all;
    }
    .mail-introduce{
      margin-top:.2933rem;
      color:#666;
      font-size:.32rem;
      line-height:.32rem;
      padding-left:.7733rem;
    }
    .mail-picture{
      width:10rem;
      overflow: hidden;
      position: relative;
      height:auto;
      padding-top:1rem;
      .picture-box{
        margin-left:.88rem;
        margin-bottom:0.5rem;
        width:2.133rem;
        height:2.133rem;
        -webkit-border-radius:12px;
        -moz-border-radius:12px;
        border-radius:12px;
        float:left;
        background:#f1f1f1;
        overflow: hidden;
        position:relative;
        line-height:2.133rem;
        text-align: center;
        z-index:10;
        input{
          opacity:0;
          width:100%;
          height:100%;
          position:absolute;
          z-index:4;
        }
        img{
          max-width:2.133rem;
          max-height:2.133rem;
          z-index:3;
        }
        .icon{
          position:absolute;
          left:0;
          top:0;
          display: block;
          z-index:5;
          font-size:.4rem;
          margin:0.2rem;
          width:.5rem;
          height:.5rem;
          line-height:.5rem;
          -webkit-border-radius:.25rem;
          -moz-border-radius:.25rem;
          border-radius:.25rem;
          text-align: center;
          background: #000;
          color: #fff;
          border:1px solid #000;
        }
      }
      .addpictureBTN-box{
        position: absolute;
        left:1rem;
        top:0;
        width:2.133rem;
        height:2.133rem;
        background: #ddd;
        text-align: center;
        line-height:2.133rem;
        z-index:2;
        -webkit-border-radius:12px;
        -moz-border-radius:12px;
        border-radius:12px;
      }
      .addpictureBTN-box2{
        left:4rem;
      }
      .addpictureBTN-box3{
        left:6.88rem;
      }
      #addpictureBTN{
        opacity: 0;
        width:100%;
        height:100%;
        position:absolute;
        z-index:4;
        left:0;
        top:0;
      }
    }
    .quotation-box{
      width:10rem;
      background:#fff;
      overflow: hidden;
      margin-top:.8rem;
      .quotations{
        width:8.8533rem;
        height:1.4666rem;
        margin:0 auto;
        border-radius:3px;
        border:1px solid #eee;
        padding:0 .3466rem;
        .icon0{
          float:left;
          height:1.4666rem;
          color:#FF5E54;
          font-size:.5866rem;
          line-height:1.4666rem;
        }
        .title{
          float:left;
          padding-top:.3033rem;
          height:1.4666rem;
          margin-left:.4266rem;
          .names{
            font-size:.32rem;
            line-height:.32rem;
            color:#333;
            width: 5rem;
            overflow: hidden;
            display: block;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .sizes{
            font-size:.32rem;
            line-height:.32rem;
            color:#999;
            margin-top:10px;
          }
        }
        .icon1{
          float:right;
          height:1.4666rem;
          line-height:1.4666rem;
          color:#999;
          font-size:.4266rem;
          padding:0 0.5rem;
        }
      }
    }
  }
  .footer{
    width:10rem;
    background:#fff;
    height:1.44rem;
    padding-left:.6933rem;
    position:absolute;
    bottom:0;
    left:0;
    z-index:100;
    border-top:1px solid #eee;
    overflow: hidden;
    .footer-left{
      float:left;
      height:1.44rem;
      line-height:1.44rem;
      color:#666;
      font-size:.3466rem;
      .icon{
        color:#999;
        font-size:.3466rem;
        position: relative;
        top:0.031rem;
        margin-right:6px;
      }
      span{
        line-height:1.44rem;
        font-size:.3466rem;
      }
    }
    .footer-right{
      float:right;
      height:1.44rem;
      line-height:1.44rem;
      margin-right:.2rem;
      overflow: hidden;
      div{
        position: relative;
        border-left:1px solid #eee;
        width:2rem;
        height:100%;
        .icon{
          //position: absolute;
          left:0;
          top:-5px;
          z-index:10000;
          color:#999;
          display:inline-block;
          font-size:.666rem;
          height:1.44rem;
          line-height:1.44rem;
          padding:0 .3rem;
          width:2rem;
          text-align: center;
        }
        .icondan{
          font-size:.69rem;
        }
        p{
          color: #999;
          font-size:0.32rem;
          //position: absolute;
          line-height:2.2rem;
          bottom:5px;
          text-align: center;
        }
      }
    }
    .caogaobtn{
      position: absolute;
      right:0;
      top:0;
      width:2rem;
      height:1.44rem;
      opacity:0;
      z-index:9999999;
    }
  }
}
//邮件模板首页
#emailTempIndex{
  -webkit-overflow-scrolling : touch;
  background: #fff;
  header{
    height: 49/@pt;  position: relative;text-align: center; border-bottom: 1px solid #ccc;
    h2{
      font-size: 18/@pt; line-height: 49/@pt;
    }
    span{
      position: absolute; line-height: 49/@pt;top:0; font-size: 18/@pt;
    }
    span.icon{
      left: 12/@pt;
      float: left;
      padding:0 0.4rem;
      margin-left: -0.2rem;
      color: #ccc;
      font-size:0.5rem;
    }
    span.icon-text{
      right: 50/@pt;color: #39f;
    }
    span.icon-plus{
      right: 15/@pt; color: #39f;
    }
  }
  article{
    .contentD{
      .systemTemp{
        .systemTitle{
          background: #ddd;
          padding-left:0.45rem;
          color: #666;
          font-size:0.3733rem;
          line-height:1rem;
          height:1rem;
        }
        .systemUl{
          .li0{
            .iconl{
              color: #5094e2;
            }
          }
          .li1{
            .iconl{
              color: #F7A857;
            }
          }
          .li2{
            .iconl{
              color: #FF5E54;
            }
          }
          .li3{
            .iconl{
              color: #E27650;
            }
          }
          .li4{
            .iconl{
              color: #5094E2;
            }
          }
          .li5{
            .iconl{
              color:#5094e2;
            }
          }
          .li6{
            .iconl{
              color: #7767E0;
            }
          }
          .li7{
            .iconl{
              color: #FF5E54;
            }
          }
        }
      }
      ul.systemUl li{
        height: 60/@pt; border-bottom: 1px solid #ddd; line-height: 60/@pt; position: relative;
        .iconl{
          font-size: 28/@pt; position: absolute; left: 14/@pt; top:15/@pt ; color: #09f;
        }
        b{
          font-size: 14/@pt; color: #666; padding-left: 65/@pt;font-weight: normal;
        }
        span:last-child{
          position: absolute;left: 346/@pt; top:22/@pt; font-size: 18/@pt; color: #bbb;
        }
      }
    }
    ul.singleTempUl li{
      padding-left: 60/@pt;
      height: 90/@pt; border-top: 1px solid #ddd;position: relative;
      .iconl{
        font-size: 28/@pt; position: absolute; left: 14/@pt; top:15/@pt ; color: #09f;
      }
      h4{
        font-size: 14/@pt; font-weight: bold; line-height: 35/@pt;
      }
      b{
        display: inline-block; width: 290/@pt; font-size: 14/@pt; line-height: 20/@pt; height: 40/@pt; color: #999; font-weight: normal; overflow: hidden;text-overflow: ellipsis;
      }
      span:last-child{
        position: absolute;left: 346/@pt; top:12/@pt; font-size: 18/@pt; color: #bbb;
      }

    }
  }


}
//开发信类
#singleEmailTemp{
  background: #fff;
  height:100%;
  header{
    height: 49/@pt;  position: absolute;text-align: center; border-bottom: 1px solid #ccc;
    top:0;
    left:0;
    z-index:100;
    background: #fff;
    width:10rem;
    h2{
      font-size: 18/@pt; line-height: 49/@pt;
    }
    span{
      position: absolute; line-height: 49/@pt;top:0; font-size: 18/@pt;
    }
    span.icon{
      left: 12/@pt;
      float: left;
      padding:0 0.3rem;
      margin-left:-0.2rem;
    }
    span.icon-text{
      right: 50/@pt;color: #39f;
    }
    span.icon-plus{
      right: 15/@pt; color: #39f;
    }
  }
  article{
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top:1.3rem;
    ul.singleTempUl li{
      padding-left: 60/@pt;
      height: 90/@pt; 
      border-bottom: 1px solid #eee;position: relative;
      overflow: hidden;
      .iconl{
        font-size: 28/@pt; position: absolute; left: 14/@pt; top:15/@pt ; color: #09f;
      }
      h4{
        padding-top:16px;
        font-size: 14/@pt;
        line-height:0.4rem;
        color: #323232;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width:6rem;
        display: block;
        white-space: nowrap;
      }
      b{
        display: inline-block;
        font-size: 14/@pt;
        line-height: 20/@pt;
        height: 40/@pt;
        color: #999;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width:7rem;
        word-break: break-all;
      }
      span:last-child{
        position: absolute;left: 346/@pt; top:12/@pt; font-size: 18/@pt; color: #bbb;
      }

    }
  }
}
//价格类
#pricetypemodal{
  background: #fff;
  height: 100%;
  header{
    height: 49/@pt;  position: absolute;text-align: center; border-bottom: 1px solid #ccc;
    top:0;
    left:0;
    z-index:100;
    background: #fff;
    width:10rem;
    h2{
      font-size: 18/@pt; line-height: 49/@pt;
    }
    span{
      position: absolute; line-height: 49/@pt;top:0; font-size: 18/@pt;
    }
    span.icon{
      left: 12/@pt;
      float: left;
      padding:0 0.3rem;
      margin-left:-0.2rem;
    }
    span.icon-text{
      right: 50/@pt;color: #39f;
    }
    span.icon-plus{
      right: 15/@pt; color: #39f;
    }
  }
  article{
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top:1.3rem;
    ul.singleTempUl li{
      padding-left: 60/@pt;
      height: 90/@pt; border-bottom: 1px solid #eee;position: relative;
      overflow: hidden;
      .iconl{
        font-size: 28/@pt; position: absolute; left: 14/@pt; top:15/@pt ; color: #09f;
      }
      h4{
        padding-top:16px;
        font-size: 14/@pt;
        line-height:0.4rem;
        color: #323232;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width:6rem;
        display: block;
        white-space: nowrap;
      }
      b{
        display: inline-block;
        font-size: 14/@pt;
        line-height: 20/@pt;
        height: 40/@pt;
        color: #999;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width:7rem;
        word-break: break-all;
      }
      span:last-child{
        position: absolute;left: 346/@pt; top:12/@pt; font-size: 18/@pt; color: #bbb;
      }

    }
  }
}
//<!--系统模板 打样类模板-->
#dayangtypemodal{
  background: #fff;
  height: 100%;
  header{
    height: 49/@pt;  position: absolute;text-align: center; border-bottom: 1px solid #ccc;
    top:0;
    left:0;
    z-index:100;
    background: #fff;
    width:10rem;
    h2{
      font-size: 18/@pt; line-height: 49/@pt;
    }
    span{
      position: absolute; line-height: 49/@pt;top:0; font-size: 18/@pt;
    }
    span.icon{
      left: 12/@pt;
      float: left;
      padding:0 0.3rem;
      margin-left:-0.2rem;
    }
    span.icon-text{
      right: 50/@pt;color: #39f;
    }
    span.icon-plus{
      right: 15/@pt; color: #39f;
    }
  }
  article{
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top:1.3rem;
    ul.singleTempUl li{
      padding-left: 60/@pt;
      height: 90/@pt; border-bottom: 1px solid #ddd;position: relative;
      overflow: hidden;
      .iconl{
        font-size: 28/@pt; position: absolute; left: 14/@pt; top:15/@pt ; color: #09f;
      }
      h4{
        padding-top:16px;
        font-size: 14/@pt;
        line-height:0.4rem;
        color: #323232;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width:6rem;
        display: block;
        white-space: nowrap;
      }
      b{
        display: inline-block;
        font-size: 14/@pt;
        line-height: 20/@pt;
        height: 40/@pt;
        color: #999;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width:7rem;
        word-break: break-all;
      }
      span:last-child{
        position: absolute;left: 346/@pt; top:12/@pt; font-size: 18/@pt; color: #bbb;
      }

    }
  }
}
//系统模板 跟进类模板
#genjintypemodal{
  background: #fff;
  height: 100%;
  header{
    height: 49/@pt;  position: absolute;text-align: center; border-bottom: 1px solid #ccc;
    top:0;
    left:0;
    z-index:100;
    background: #fff;
    width:10rem;
    h2{
      font-size: 18/@pt; line-height: 49/@pt;
    }
    span{
      position: absolute; line-height: 49/@pt;top:0; font-size: 18/@pt;
    }
    span.icon{
      left: 12/@pt;
      float: left;
      padding:0 0.3rem;
      margin-left:-0.2rem;
    }
    span.icon-text{
      right: 50/@pt;color: #39f;
    }
    span.icon-plus{
      right: 15/@pt; color: #39f;
    }
  }
  article{
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top:1.3rem;
    ul.singleTempUl li{
      padding-left: 60/@pt;
      height: 90/@pt; border-bottom: 1px solid #ddd;position: relative;
      overflow: hidden;
      .iconl{
        font-size: 28/@pt; position: absolute; left: 14/@pt; top:15/@pt ; color: #09f;
      }
      h4{
        padding-top:16px;
        font-size: 14/@pt;
        line-height:0.4rem;
        color: #323232;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width:6rem;
        display: block;
        white-space: nowrap;
      }
      b{
        display: inline-block;
        font-size: 14/@pt;
        line-height: 20/@pt;
        height: 40/@pt;
        color: #999;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width:7rem;
        word-break: break-all;
      }
      span:last-child{
        position: absolute;left: 346/@pt; top:12/@pt; font-size: 18/@pt; color: #bbb;
      }

    }
  }
}
//系统模板 贷款类模板
#daikuanmodal{
  background: #fff;
  height: 100%;
  header{
    height: 49/@pt;  position: absolute;text-align: center; border-bottom: 1px solid #ccc;
    top:0;
    left:0;
    z-index:100;
    background: #fff;
    width:10rem;
    h2{
      font-size: 18/@pt; line-height: 49/@pt;
    }
    span{
      position: absolute; line-height: 49/@pt;top:0; font-size: 18/@pt;
    }
    span.icon{
      left: 12/@pt;
      float: left;
      padding:0 0.3rem;
      margin-left:-0.2rem;
    }
    span.icon-text{
      right: 50/@pt;color: #39f;
    }
    span.icon-plus{
      right: 15/@pt; color: #39f;
    }
  }
  article{
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top:1.3rem;
    ul.singleTempUl li{
      padding-left: 60/@pt;
      height: 90/@pt; border-bottom: 1px solid #ddd;position: relative;
      overflow: hidden;
      .iconl{
        font-size: 28/@pt; position: absolute; left: 14/@pt; top:15/@pt ; color: #09f;
      }
      h4{
        padding-top:16px;
        font-size: 14/@pt;
        line-height:0.4rem;
        color: #323232;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width:6rem;
        display: block;
        white-space: nowrap;
      }
      b{
        display: inline-block;
        font-size: 14/@pt;
        line-height: 20/@pt;
        height: 40/@pt;
        color: #999;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width:7rem;
        word-break: break-all;
      }
      span:last-child{
        position: absolute;left: 346/@pt; top:12/@pt; font-size: 18/@pt; color: #bbb;
      }

    }
  }
}
//系统模板 邀请类模板
#invitetypemodal{
  background: #fff;
  height: 100%;
  header{
    height: 49/@pt;  position: absolute;text-align: center; border-bottom: 1px solid #ccc;
    top:0;
    left:0;
    z-index:100;
    background: #fff;
    width:10rem;
    h2{
      font-size: 18/@pt; line-height: 49/@pt;
    }
    span{
      position: absolute; line-height: 49/@pt;top:0; font-size: 18/@pt;
    }
    span.icon{
      left: 12/@pt;
      float: left;
      padding:0 0.3rem;
      margin-left:-0.2rem;
    }
    span.icon-text{
      right: 50/@pt;color: #39f;
    }
    span.icon-plus{
      right: 15/@pt; color: #39f;
    }
  }
  article{
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top:1.3rem;
    ul.singleTempUl li{
      padding-left: 60/@pt;
      height: 90/@pt; border-bottom: 1px solid #ddd;position: relative;
      overflow: hidden;
      .iconl{
        font-size: 28/@pt; position: absolute; left: 14/@pt; top:15/@pt ; color: #09f;
      }
      h4{
        padding-top:16px;
        font-size: 14/@pt;
        line-height:0.4rem;
        color: #323232;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width:6rem;
        display: block;
        white-space: nowrap;
      }
      b{
        display: inline-block;
        font-size: 14/@pt;
        line-height: 20/@pt;
        height: 40/@pt;
        color: #999;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width:7rem;
        word-break: break-all;
      }
      span:last-child{
        position: absolute;left: 346/@pt; top:12/@pt; font-size: 18/@pt; color: #bbb;
      }

    }
  }
}
//系统模板 节日类模板
#Festivaltypemodal{
  background: #fff;
  height: 100%;
  header{
    height: 49/@pt;  position: absolute;text-align: center; border-bottom: 1px solid #ccc;
    top:0;
    left:0;
    z-index:100;
    background: #fff;
    width:10rem;
    h2{
      font-size: 18/@pt; line-height: 49/@pt;
    }
    span{
      position: absolute; line-height: 49/@pt;top:0; font-size: 18/@pt;
    }
    span.icon{
      left: 12/@pt;
      float: left;
      padding:0 0.3rem;
      margin-left:-0.2rem;
    }
    span.icon-text{
      right: 50/@pt;color: #39f;
    }
    span.icon-plus{
      right: 15/@pt; color: #39f;
    }
  }
  article{
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top:1.3rem;
    ul.singleTempUl li{
      padding-left: 60/@pt;
      height: 90/@pt; border-bottom: 1px solid #ddd;position: relative;
      overflow: hidden;
      .iconl{
        font-size: 28/@pt; position: absolute; left: 14/@pt; top:15/@pt ; color: #09f;
      }
      h4{
        padding-top:16px;
        font-size: 14/@pt;
        line-height:0.4rem;
        color: #323232;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width:6rem;
        display: block;
        white-space: nowrap;
      }
      b{
        display: inline-block;
        font-size: 14/@pt;
        line-height: 20/@pt;
        height: 40/@pt;
        color: #999;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width:7rem;
        word-break: break-all;
      }
      span:last-child{
        position: absolute;left: 346/@pt; top:12/@pt; font-size: 18/@pt; color: #bbb;
      }

    }
  }
}
//邮件模板详情
#mail-modal-detail{
  background: #fff;
  height:100%;
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  .header{
    width:10rem;
    height:1.333rem;
    line-height:1.333rem;
    position:absolute;
    top:0;
    left:0;
    background: #fff;
    z-index:100;
    border-bottom:1px solid #ddd;
    overflow-x: hidden;
    .head-left{
      float:left;
      font-size:.3733rem;
      color:#5094E2;
      height:1.333rem;
      line-height:1.333rem;
      padding:0 .5333rem;
    }
    .title{
      display:block;
      font-size:.48rem;
      color:#333;
      position:absolute;
      left:0;
      right:0;
      margin:0 auto;
      width:3rem;
      text-align:center;
    }
    .head-right{
      float:right;
      height:1.333rem;
      line-height:1.333rem;
      font-size:.3733rem;
      color:#5094E2;
      padding:0 .5333rem;
    }
  }
  .content0{
    width:100%;
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling : touch;
    padding:1.33rem 0 1.44rem 0;
  }
  .Addressee-theme{
    background: #fff;
    width:10rem;
    border:1px solid #eee;
    padding-left:.6666rem;
    overflow: hidden;
    border-bottom:solid 1px transparent;
    .Addressee{
      width:9.3334rem;
      height:auto;
      overflow: hidden;
      border-bottom:1px solid #eee;
      position: relative;
      .ressee{
        float:left;
        font-size:.3733rem;
        color:#999;
        // height:2.1866rem;
        padding-top:.34667rem;
      }
      .names{
        float:left;
        padding-left:10px;
        height:auto;
        min-height:1.15rem;
        width:6.666rem;
        padding-top:.2667rem;
        &.active{
          height:1.5rem;
          overflow: hidden;
        }
        li{
          background:#FFD8D8;
          border:1px solid #FFC4C4;
          border-radius:93px;
          padding:.16rem .2666rem;
          float:left;
          line-height:.32rem;
          font-size:.32rem;
          margin-right:.1333rem;
          color:#666;
          margin-bottom:.2933rem;
          position:relative;
          max-width:6rem;
          .icon-mail_shred{

          }
        }
      }
      .icon{
        float:right;
        height:0.8rem;
        padding-right:.5333rem;
        color:#ccc;
        font-size:.48rem;
        padding-top:.34667rem;
      }
      .customer-text{
        padding-right:.65rem;
        color:#999;
        font-size:0.3733rem;
        height:0.8rem;
        margin-bottom:10px;
        margin-top:-3px;
      }
      .clickType{
        position: absolute;
        right:0.66rem;
        bottom:0.3rem;
        color: #5094e2;
        font-size:0.373rem;
      }
    }
    .active.Addressee{
      height:2.3rem
    }
    .Theme{
      width:9.3334rem;
      overflow: hidden;
      height:auto;
      .theme{
        font-size:.3733rem;
        color:#999;
        float:left;
        padding-top:0.34667rem;
      }
      .content{
        float:left;
        display:block;
        padding-left:15px;
        min-height:1.15rem!important;
        height:auto;
        width:6.666rem;
        color:#333;
        font-size:.32rem;
        line-height:.48rem;
        border:1px solid transparent;
        resize: none;
        padding-top:0.34667rem;
      }
      .icon{
        float:right;
        height:.5rem;
        padding-right:.5333rem;
        color:#ccc;
        font-size:.48rem;
        line-height:0.5rem;
        margin-top:0.34667rem;
        margin-bottom:5px;
      }
      .customer-modal{
        float:right;
        height:0.8rem;
        font-size:0.3733rem;
        color: #999;
        padding-right:.6933rem;
      }
    }
  }
  .mail-subject{
    width:10rem;
    background:#fff;
    overflow-x: hidden;
    .mail-title{
      font-size:.4266rem;
      color:#333;
      line-height:.4266rem;
      padding-left:.7733rem;
    }
    .mail-number{
      color:#666;
      font-size:.3733rem;
      width:100%;
      height:auto;
      min-height:6rem;
      line-height: 0.55rem;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      display: block;
      padding:.4rem 0.8rem;
      border:none;
      resize: none;
      border-top:1px solid #ddd;
      //border-bottom:1px solid #ddd;
      word-break: break-all;
    }
    .mail-introduce{
      margin-top:.2933rem;
      color:#666;
      font-size:.32rem;
      line-height:.32rem;
      padding-left:.7733rem;
    }
    .mail-picture{
      width:10rem;
      overflow: hidden;
      position: relative;
      height:auto;
      padding-top:1rem;
      .picture-box{
        margin-left:.88rem;
        margin-bottom:0.5rem;
        width:2.133rem;
        height:2.133rem;
        -webkit-border-radius:12px;
        -moz-border-radius:12px;
        border-radius:12px;
        float:left;
        background:#f1f1f1;
        overflow: hidden;
        position:relative;
        line-height:2.133rem;
        text-align: center;
        z-index:10;
        input{
          opacity:0;
          width:100%;
          height:100%;
          position:absolute;
          z-index:4;
        }
        img{
          max-width:2.133rem;
          max-height:2.133rem;
          z-index:3;
        }
        .icon{
          position:absolute;
          left:0;
          top:0;
          z-index:5;
          font-size:.4266rem;
          padding:0.2rem;
          color: #000;
        }
      }
      .addpictureBTN-box{
        position: absolute;
        left:1rem;
        top:0;
        width:2.133rem;
        height:2.133rem;
        background: #f5f5f5;
        text-align: center;
        line-height:2.133rem;
        z-index:2;
        -webkit-border-radius:12px;
        -moz-border-radius:12px;
        border-radius:12px;
      }
      .addpictureBTN-box2{
        left:4rem;
      }
      .addpictureBTN-box3{
        left:6.88rem;
      }
      #addpictureBTN{
        opacity: 0;
        width:100%;
        height:100%;
        position:absolute;
        z-index:4;
        left:0;
        top:0;
      }
    }
    .quotation-box{
      width:10rem;
      background:#fff;
      overflow: hidden;
      margin-top:.8rem;
      .quotations{
        width:8.8533rem;
        height:1.4666rem;
        margin:0 auto;
        border-radius:3px;
        border:1px solid #eee;
        padding:0 .3466rem;
        .icon0{
          float:left;
          height:1.4666rem;
          color:#FF5E54;
          font-size:.5866rem;
          line-height:1.4666rem;
        }
        .title{
          float:left;
          padding-top:.3033rem;
          height:1.4666rem;
          margin-left:.4266rem;
          .names{
            font-size:.32rem;
            line-height:.32rem;
            color:#333;
            width: 5rem;
            overflow: hidden;
            display: block;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .sizes{
            font-size:.32rem;
            line-height:.32rem;
            color:#999;
            margin-top:10px;
          }
        }
        .icon1{
          float:right;
          height:1.4666rem;
          line-height:1.4666rem;
          color:#999;
          font-size:.4266rem;
          padding:0 0.5rem;
        }
      }
    }
  }
  .footer{
    width:10rem;
    background:#fff;
    height:1.44rem;
    padding-left:.6933rem;
    position:absolute;
    bottom:0;
    left:0;
    z-index:100;
    border-top:1px solid #ddd;
    overflow-x: hidden;
    .footer-left{
      float:left;
      height:1.44rem;
      line-height:1.44rem;
      color:#666;
      font-size:.32rem;
      .icon{
        color:#999;
        font-size:.3466rem;
      }
    }
    .footer-right{
      float:right;
      height:1.44rem;
      line-height:1.44rem;
      margin-right:.2rem;
      .icon{
        color:#999;
        display:inline-block;
        font-size:.666rem;
        height:1.44rem;
        line-height:1.44rem;
        padding:0 .3rem;
      }
    }
    .caogaobtn{
      position: absolute;
      right:0;
      top:0;
      width:1.5rem;
      height:1.44rem;
      opacity:0;
    }
  }
}
//发邮件选择客户页面
#person-box1{
  height:100%;
  padding-top:1.333rem;
  background: #fff;
  .top{
    height:1.333rem;
    background: #fff;
    position: fixed;
    top:0;
    left:0;
    border-bottom:1px solid #eee;
    z-index:100;
    width:10rem;
    .text-center{
      text-align: center;
      color: #333;
      font-size:0.48rem;
      line-height:1.33rem;
      .icon.lf{
        position: absolute;
        left:0;
        top:0;
        padding:0.45rem;
        color:#ccc;
      }
      .canselbtn{
        color:#4A90E2;
        font-size:0.3733rem;
        position: absolute;
        padding:0 0.45rem;
        left:0;
      }
      .send-all{
        color:#4A90E2;
        font-size:0.3733rem;
        position: absolute;
        padding:0 0.45rem;
        right:0;
      }
    }
  }
  .content{
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
    height:100%;
    .title-top{
      height:1.0933rem;
      background: #f5f5f5;
      line-height:1.09333rem;
      padding-left:0.45rem;
      color: #999;
      font-size:0.32rem;
      border-top:1px solid #eee;
    }
    .list-content{
      .list.active{
        background: #f5f5f5;
      }
      .list{
        height:2.933rem;
        border:1px solid transparent;
        border-bottom:1px solid #eee;
        position: relative;
        overflow: hidden;
        .title{
          padding-left:1.8133rem;
          color: #333;
          font-size:0.4266rem;
          margin-top:0.4533rem;
          .text{
            width: 4rem;
            overflow: hidden;
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            float: left;
          }
        }
        .title:after{
          display: table;
          clear: both;
          content: '';
        }
        .content{
          padding-left:1.8133rem;
          color: #999;
          font-size:0.32rem;
          line-height:0.55rem;
          width:9rem;
          display: block;
          word-break: break-all;
          height:1.60rem;
          overflow: hidden;
          text-overflow: ellipsis;
          border:none;
        }
        .iconleft-box{
          position: absolute;
          left:0.3466rem;
          top:0.3rem;
          width:.85rem;
          height:.85rem;
          line-height:.85rem;
          border:1px solid #4A90E2;
          -webkit-border-radius:0.5rem;
          -moz-border-radius:0.5rem;
          border-radius:0.5rem;
          text-align: center;
          .iconleft{
            font-size:0.5rem;
            color: #4A90E2;
          }
        }
        .icon{
          position: absolute;
          right:0.6667rem;
          top:0.3rem;
          color: #ccc;
        }
      }
    }
    .more{
      height:1rem;
      line-height:1rem;
      background: #eee;
      text-align: center;
      color: #666;
      font-size:0.3733rem;
    }
  }
}
//发邮件选择联系人
#personal-seleact1{
  background: #fff;
  height:100%;
  width:100%;
  .top{
    height:1.333rem;
    background: #fff;
    position: absolute;
    border-bottom:1px solid #eee;
    top:0;
    left:0;
    width:10rem;
    z-index:100;
    .text-center{
      text-align: center;
      color: #333;
      font-size:0.48rem;
      line-height:1.33rem;
      .canselbtn{
        position: absolute;
        left: 0;
        top:0;
        display: block;
        font-size:0.3733rem;
        padding:0 0.5rem;
        color: #5094E2;
      }
      .send-all{
        position: absolute;
        right: 0.5rem;
        top:0;
        display: block;
        font-size:0.3733rem;
      }
      .send-all.active{
        color: #00a0ff;
      }
    }
  }
  .content{
    padding-top:1.333rem;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height:100%;
    .title-top{
      height:1.0933rem;
      background:#FFE7E7;
      line-height:1.09333rem;
      color:#FF5E54;
      font-size:0.32rem;
      border-top:1px solid #eee;
      text-align: center;
    }
    .list-content{
      .list{
        height:2.933rem;
        border:1px solid transparent;
        border-bottom:1px solid #eee;
        position: relative;
        overflow: hidden;
        .title{
          padding-left:1.8133rem;
          color: #333;
          font-size:0.4266rem;
          margin-top:0.4533rem;
          .text{
            width: 4rem;
            overflow: hidden;
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            float: left;
          }
        }
        .title:after{
          display: table;
          clear: both;
          content: '';
        }
        .content{
          padding-top:0;
          padding-left:1.8133rem;
          color: #999;
          font-size:0.32rem;
          line-height:0.55rem;
          width:9rem;
          display: block;
          word-break: break-all;
          height:1.60rem;
          overflow: hidden;
          text-overflow: ellipsis;
          border:none;
        }
        .iconleft-box{
          position: absolute;
          left:0.3466rem;
          top:0.3rem;
          width:.96rem;
          height:.96rem;
          line-height:.96rem;
          text-align: center;
          border: 1px solid transparent;
          .iconleft{
            font-size:.96rem;
            color: #ccc;
          }
        }
        .icon{
          position: absolute;
          right:0.6667rem;
          top:0.3rem;
          color: #ccc;
        }
      }
      .active{
        .iconleft-box{
          .iconleft{
            color: #4A90E2;
          }
        }
      }
    }
    .more{
      height:1rem;
      line-height:1rem;
      background: #eee;
      text-align: center;
      color: #666;
      font-size:0.3733rem;
    }
  }
}
//发邮件选择联系人详情
#personal-ren-list-de{
  background: #f5f5f5;
  height:100%;
  .top{
    height:1.333rem;
    background: #fff;
    position: fixed;
    left:0;
    top:0;
    width:10rem;
    z-index:100;
    border-bottom:1px solid #ddd;
    overflow: hidden;
    .text-center{
      text-align: center;
      color: #333;
      font-size:0.48rem;
      line-height:1.33rem;
      .icon.lf{
        position: absolute;
        left:0;
        top:0;
        padding:0.45rem;
        color:#ccc;
      }
      .text{
        width:5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
      }
      .give-up{
        color:#FF5E54;
        font-size:0.3733rem;
        padding:0 0.45rem;
        position: absolute;
        right:0;
        top:0;
      }
    }
  }
  .content{
    height:100%;
    padding-top:1.33rem;
    padding-bottom:1.44rem;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
    .top-title{
      height:1.333rem;
      line-height:1.333rem;
      background: #FFFFFF;
      box-shadow: 0 1px 0 0 #ccc;
      padding:0 0.3rem;
      position: fixed;
      top:1.33rem;
      left:0;
      width:10rem;
      z-index:100;
      .nav{
        padding:0.2rem 0.75rem;
        color: #999;
        font-size:0.4rem;
      }
      .active{
        color: #666;
        position: relative;
      }
      .active:after{
        content: '';
        position: absolute;
        bottom:-0.2rem;
        margin-left: -20px;
        height: 2px;
        background:#FF5E54;
        display: block;
        width:100%;
        right:0;
      }
    }
    .ren-box{
      background: #fff;
      .text{
        height:0.88rem;
        background: #f5f5f5;
        line-height:0.88rem;
        color: #999;
        font-size:0.32rem;
        padding-left:0.4rem;
        span{
          color: #999;
          position: relative;
          top:0.031rem;
          margin-right:6px;
        }
      }
      .all-nav{
        height:3.6rem;
        border-top:1px solid #ddd;
        .active.lianxiren-houxuan{
          .icon{
            color: #4A90E2;
          }
        }
        .all-customer,.wait{
          height:3.6rem;
          position: relative;
          width:5rem;
          text-align: center;
          border-right:1px solid #ddd;
          padding-top:0.98rem;
          .icon{
            position: absolute;
            left: 0.45rem;
            top:0.5rem;
            color: #ccc;
            background: #fff;
            font-size:0.4rem;
            -webkit-border-radius:0.18rem;
            -moz-border-radius:0.18rem;
            border-radius:0.18rem;
          }
          .iconhead{
            color:#F98143;
            font-size:0.96rem;
          }
          .text{
            text-align: center;
            color: #333;
            font-size:0.32rem;
            margin-top:0.2rem;
            background: #fff;
            span{
              margin:0;
            }
          }
        }
      }
      .one-send{
        height:0.90667rem;
        background: #f5f5f5;
        line-height:0.9066rem;
        padding-left:0.45rem;
        font-size:0.32rem;
        color: #999;
        border-top:1px solid #eee;
      }
      .one-send-box{
        .title{
          height:1.33rem;
          line-height:1.33rem;
          color: #333;
          font-size:0.3733rem;
          padding-left:0.45rem;
          background: #fff;
          border-bottom:1px solid #ccc;
          .text{
            background: #fff;
            line-height:1.33rem;
            padding:0;
            font-size:0.3733rem;
          }
          .num.rt{
            color: #333;
            font-size:0.3733rem;
            padding-right:0.45rem;
          }
        }
        .list.active{
          .iconlft{
            color: #4A90E2;
          }
        }
        .list{
          height:1.6rem;
          line-height:1.6rem;
          border-top:1px solid #ddd;
          overflow: hidden;
          .iconlft{
            font-size:0.96rem;
            padding:0.2rem;
            margin-left:0.4rem;
            margin-top:0.1rem;
            color: #ccc;
          }
          .text{
            background: #fff;
            color: #323232;
            font-size:0.3733rem;
            margin-left:0.74rem;
            display: inline-block;
            width:3rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height:1.5rem;
            line-height:1.5rem;
            margin-top:0.05rem;
          }
          .box{
            padding-right:0.45rem;
            color: #999;
            .time{
              color: #999;
            }
          }
        }
        .more{
          background: #eee;
          line-height:1rem;
          height:1rem;
          text-align: center;
          color: #666;
          font-size:0.3733rem;
        }
      }
    }
    .no-count{
      img{
        width:4rem;
        height:4rem;
        position: absolute;
        left:50%;
        top:50%;
        margin-left:-2.5rem;
        margin-top:-4rem;
        opacity: 0.6;
      }
      .btn{
        width: 3rem;
        height: 0.8rem;
        background: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top:1rem;
        margin-left:-1.5rem;
        font-size: 0.4rem;
        border:2px solid #FF5E54;
        color: #FF5E54;
        line-height:0.8rem;
        text-align:center;
        -webkit-border-radius:1.5rem;
        -moz-border-radius:1.5rem;
        border-radius:1.5rem;
      }
    }
  }
  .bottom{
    height:1.44rem;
    line-height:1.44rem;
    background: #fff;
    position: absolute;
    bottom:0;
    left:0;
    width:10rem;
    border-top:1px solid #ccc;
    .prev{
      border-right:1px solid #ddd;
    }
    .lf{
      color: #FF5E54;
      font-size:0.32rem;
      padding:0.2rem 1rem;
      line-height:1.04rem;
    }
    .disabled{
      background: #ccc;
      color: #fff;
    }
    .active{
      background: #DBECFF;
    }
    .rt{
      height: 1.44rem;
      width:3.6rem;
      color: #fff;
      background:#FF5E54;
      text-align: center;
    }
  }
}
//回复邮件样式
#reply-Mail{
  background: #fff;
  height:100%;
  width:10rem;
  overflow-x: hidden;
  .header{
    width:10rem;
    height:1.333rem;
    line-height:1.333rem;
    position:absolute;
    top:0;
    left:0;
    background: #fff;
    z-index:100;
    overflow-x: hidden;
    border-bottom:1px solid #eee;
    .head-left{
      float:left;
      font-size:.3733rem;
      color:#5094E2;
      height:1.333rem;
      line-height:1.333rem;
      padding:0 .5333rem;
    }
    .title{
      display:block;
      font-size:.48rem;
      color:#333;
      position:absolute;
      left:0;
      right:0;
      margin:0 auto;
      width:3rem;
      text-align:center;
    }
    .head-right{
      float:right;
      height:1.333rem;
      line-height:1.333rem;
      font-size:.3733rem;
      color:#5094E2;
      padding:0 .5333rem;
    }
  }
  .cansel-box{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    position: fixed;
    z-index:1000;
    .content{
      width: 8rem;
      height:6rem;
      position: absolute;
      left:50%;
      top:50%;
      background: #fff;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
      margin-top:-3rem;
      margin-left:-4rem;
      .title{
        line-height: 1.8rem;
        text-align: center;
        color: #666;
        font-size: .6rem;
      }
      .list{
        display: block;
        width:5rem;
        height:.8rem;
        margin:0 auto;
        border:1px solid transparent;
        line-height:.8rem;
        margin-bottom:.5rem;
        text-align: center;
        -webkit-border-radius:1.5rem;
        -moz-border-radius:1.5rem;
        border-radius:1.5rem;
        font-size:0.4rem;
        color: #fff;
      }
      .li0{
        background:#fb4f4c;
      }
      .li1{
        background:#5094E2;
      }
      .li2{
        background:#fff;
        color: #fb4f4c;
        border:1px solid #fb4f4c;
      }
    }
  }
  .content0{
    width:10rem;
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
    padding:1.33rem 0 1.44rem 0;
  }
  .Addressee-theme{
    background: #fff;
    width:10rem;
    border:1px solid transparent;
    padding-left:.5333rem;
    overflow: hidden;
    .Addressee{
      width:9.3334rem;
      height:auto;
      overflow: hidden;
      border-bottom:1px solid #eee;
      position: relative;
      .ressee{
        float:left;
        font-size:.3733rem;
        color:#999;
        // height:2.1866rem;
        padding-top:.34667rem;
      }
      .names{
        float:left;
        padding-left:10px;
        height:auto;
        min-height:1.15rem;
        width:6.666rem;
        padding-top:.2667rem;
        &.active{
          height:1.5rem;
          overflow: hidden;
        }
        li{
          background:#FFD8D8;
          border:1px solid #FFC4C4;
          border-radius:93px;
          padding:.16rem .2666rem;
          float:left;
          line-height:.32rem;
          font-size:.32rem;
          margin-right:.1333rem;
          color:#666;
          margin-bottom:.2933rem;
          position:relative;
          max-width:6rem;
          .icon-mail_shred{

          }
        }
      }
      .icon{
        float:right;
        height:0.8rem;
        padding-right:.5333rem;
        color:#ccc;
        font-size:.48rem;
        padding-top:.34667rem;
      }
      .customer-text{
        padding-right:.65rem;
        color:#999;
        font-size:0.3733rem;
        height:0.8rem;
        margin-bottom:10px;
        margin-top:-3px;
      }
      .clickType{
        position: absolute;
        right:0.66rem;
        bottom:0.3rem;
        color: #5094e2;
        font-size:0.373rem;
      }
    }
    .active.Addressee{
      height:2.3rem
    }
    .Theme{
      width:9.3334rem;
      overflow: hidden;
      height:auto;
      .theme{
        font-size:.3733rem;
        color:#999;
        float:left;
        padding-top:0.34667rem;
      }
      .content{
        float:left;
        display:block;
        padding-left:15px;
        min-height:1.15rem!important;
        height:auto;
        width:6.666rem;
        color:#333;
        font-size:.32rem;
        line-height:.48rem;
        border:1px solid transparent;
        resize: none;
        padding-top:0.34667rem;
      }
      .icon{
        float:right;
        height:.5rem;
        padding-right:.5333rem;
        color:#ccc;
        font-size:.48rem;
        line-height:0.5rem;
        margin-top:0.34667rem;
        margin-bottom:5px;
      }
      .customer-modal{
        float:right;
        height:0.8rem;
        font-size:0.3733rem;
        color: #999;
        padding-right:.6933rem;
      }
    }
  }
  .mail-subject{
    //margin-top:.8rem;
    width:10rem;
    background:#fff;
    overflow-x: hidden;
    .mail-title{
      font-size:.4266rem;
      color:#333;
      line-height:.4266rem;
      padding-left:.7733rem;
    }
    .mail-number{
      color:#666;
      font-size:.3733rem;
      width:100%;
      height:auto;
      min-height:6rem;
      line-height: 0.5rem;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      display: block;
      padding:.4rem 0.8rem;
      border:none;
      resize: none;
      border-top:1px solid #eee;
      //border-bottom:1px solid #ddd;
      word-break: break-all;
    }
    .mail-introduce{
      margin-top:.2933rem;
      color:#666;
      font-size:.32rem;
      line-height:.32rem;
      padding-left:.7733rem;
    }
    .mail-picture{
      width:10rem;
      overflow: hidden;
      position: relative;
      height:auto;
      padding-top:1rem;
      .picture-box{
        margin-left:.88rem;
        margin-bottom:0.5rem;
        width:2.133rem;
        height:2.133rem;
        -webkit-border-radius:12px;
        -moz-border-radius:12px;
        border-radius:12px;
        float:left;
        background:#f1f1f1;
        overflow: hidden;
        position:relative;
        line-height:2.133rem;
        text-align: center;
        z-index:10;
        input{
          opacity:0;
          width:100%;
          height:100%;
          position:absolute;
          z-index:4;
        }
        img{
          max-width:2.133rem;
          max-height:2.133rem;
          z-index:3;
        }
        .icon{
          position:absolute;
          left:0;
          top:0;
          display: block;
          z-index:5;
          font-size:.4rem;
          margin:0.2rem;
          width:.5rem;
          height:.5rem;
          line-height:.5rem;
          -webkit-border-radius:.25rem;
          -moz-border-radius:.25rem;
          border-radius:.25rem;
          text-align: center;
          background: #000;
          color: #fff;
          border:1px solid #000;
        }
      }
      .addpictureBTN-box{
        position: absolute;
        left:1rem;
        top:0;
        width:2.133rem;
        height:2.133rem;
        background: #ddd;
        text-align: center;
        line-height:2.133rem;
        z-index:2;
        -webkit-border-radius:12px;
        -moz-border-radius:12px;
        border-radius:12px;
      }
      .addpictureBTN-box2{
        left:4rem;
      }
      .addpictureBTN-box3{
        left:6.88rem;
      }
      #addpictureBTN{
        opacity: 0;
        width:100%;
        height:100%;
        position:absolute;
        z-index:4;
        left:0;
        top:0;
      }
    }
    .quotation-box{
      width:10rem;
      background:#fff;
      overflow: hidden;
      margin-top:.8rem;
      .quotations{
        width:8.8533rem;
        height:1.4666rem;
        margin:0 auto;
        border-radius:3px;
        border:1px solid #eee;
        padding:0 .3466rem;
        .icon0{
          float:left;
          height:1.4666rem;
          color:#FF5E54;
          font-size:.5866rem;
          line-height:1.4666rem;
        }
        .title{
          float:left;
          padding-top:.3033rem;
          height:1.4666rem;
          margin-left:.4266rem;
          .names{
            font-size:.32rem;
            line-height:.32rem;
            color:#333;
            width: 5rem;
            overflow: hidden;
            display: block;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .sizes{
            font-size:.32rem;
            line-height:.32rem;
            color:#999;
            margin-top:10px;
          }
        }
        .icon1{
          float:right;
          height:1.4666rem;
          line-height:1.4666rem;
          color:#999;
          font-size:.4266rem;
          padding:0 0.5rem;
        }
      }
    }
  }
  .footer{
    width:10rem;
    background:#fff;
    height:1.44rem;
    padding-left:.6933rem;
    position:absolute;
    bottom:0;
    left:0;
    z-index:100;
    border-top:1px solid #eee;
    overflow: hidden;
    .footer-left{
      float:left;
      height:1.44rem;
      line-height:1.44rem;
      color:#666;
      font-size:.3466rem;
      .icon{
        color:#999;
        font-size:.3466rem;
        position: relative;
        top:0.031rem;
        margin-right:6px;
      }
      span{
        line-height:1.44rem;
        font-size:.3466rem;
      }
    }
    .footer-right{
      float:right;
      height:1.44rem;
      line-height:1.44rem;
      margin-right:.2rem;
      overflow: hidden;
      div{
        position: relative;
        border-left:1px solid #eee;
        width:2rem;
        height:100%;
        .icon{
          //position: absolute;
          left:0;
          top:-5px;
          z-index:10000;
          color:#999;
          display:inline-block;
          font-size:.666rem;
          height:1.44rem;
          line-height:1.44rem;
          padding:0 .3rem;
          width:2rem;
          text-align: center;
        }
        .icondan{
          font-size:.69rem;
        }
        p{
          color: #999;
          font-size:0.32rem;
          //position: absolute;
          line-height:2.2rem;
          bottom:5px;
          text-align: center;
        }
      }
    }
    .caogaobtn{
      position: absolute;
      right:0;
      top:0;
      width:2rem;
      height:1.44rem;
      opacity:0;
      z-index:9999999;
    }
  }
}
//再次编辑写邮件样式
#zaici-edit{
  background: #fff;
  height:100%;
  width:10rem;
  overflow-x: hidden;
  .header{
    width:10rem;
    height:1.333rem;
    line-height:1.333rem;
    position:absolute;
    top:0;
    left:0;
    background: #fff;
    z-index:100;
    overflow-x: hidden;
    border-bottom:1px solid #eee;
    .head-left{
      float:left;
      font-size:.3733rem;
      color:#5094E2;
      height:1.333rem;
      line-height:1.333rem;
      padding:0 .5333rem;
    }
    .title{
      display:block;
      font-size:.48rem;
      color:#333;
      position:absolute;
      left:0;
      right:0;
      margin:0 auto;
      width:3rem;
      text-align:center;
    }
    .head-right{
      float:right;
      height:1.333rem;
      line-height:1.333rem;
      font-size:.3733rem;
      color:#5094E2;
      padding:0 .5333rem;
    }
  }
  .cansel-box{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    position: fixed;
    z-index:1000;
    .content{
      width: 8rem;
      height:6rem;
      position: absolute;
      left:50%;
      top:50%;
      background: #fff;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
      margin-top:-3rem;
      margin-left:-4rem;
      .title{
        line-height: 1.8rem;
        text-align: center;
        color: #666;
        font-size: .6rem;
      }
      .list{
        display: block;
        width:5rem;
        height:.8rem;
        margin:0 auto;
        border:1px solid transparent;
        line-height:.8rem;
        margin-bottom:.5rem;
        text-align: center;
        -webkit-border-radius:1.5rem;
        -moz-border-radius:1.5rem;
        border-radius:1.5rem;
        font-size:0.4rem;
        color: #fff;
      }
      .li0{
        background:#fb4f4c;
      }
      .li1{
        background:#5094E2;
      }
      .li2{
        background:#fff;
        color: #fb4f4c;
        border:1px solid #fb4f4c;
      }
    }
  }
  .content0{
    width:10rem;
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
    padding:1.33rem 0 1.44rem 0;
  }
  .Addressee-theme{
    background: #fff;
    width:10rem;
    border:1px solid transparent;
    padding-left:.5333rem;
    overflow: hidden;
    .Addressee{
      width:9.3334rem;
      height:auto;
      overflow: hidden;
      border-bottom:1px solid #eee;
      position: relative;
      .ressee{
        float:left;
        font-size:.3733rem;
        color:#999;
        // height:2.1866rem;
        padding-top:.34667rem;
      }
      .names{
        float:left;
        padding-left:10px;
        height:auto;
        min-height:1.15rem;
        width:6.666rem;
        padding-top:.2667rem;
        &.active{
          height:1.5rem;
          overflow: hidden;
        }
        li{
          background:#FFD8D8;
          border:1px solid #FFC4C4;
          border-radius:93px;
          padding:.16rem .2666rem;
          float:left;
          line-height:.32rem;
          font-size:.32rem;
          margin-right:.1333rem;
          color:#666;
          margin-bottom:.2933rem;
          position:relative;
          max-width:6rem;
          .icon-mail_shred{

          }
        }
      }
      .icon{
        float:right;
        height:0.8rem;
        padding-right:.5333rem;
        color:#ccc;
        font-size:.48rem;
        padding-top:.34667rem;
      }
      .customer-text{
        padding-right:.65rem;
        color:#999;
        font-size:0.3733rem;
        height:0.8rem;
        margin-bottom:10px;
        margin-top:-3px;
      }
      .clickType{
        position: absolute;
        right:0.66rem;
        bottom:0.3rem;
        color: #5094e2;
        font-size:0.373rem;
      }
    }
    .active.Addressee{
      height:2.3rem
    }
    .Theme{
      width:9.3334rem;
      overflow: hidden;
      height:auto;
      .theme{
        font-size:.3733rem;
        color:#999;
        float:left;
        padding-top:0.34667rem;
      }
      .content{
        float:left;
        display:block;
        padding-left:15px;
        min-height:1.15rem!important;
        height:auto;
        width:6.666rem;
        color:#333;
        font-size:.32rem;
        line-height:.48rem;
        border:1px solid transparent;
        resize: none;
        padding-top:0.34667rem;
      }
      .icon{
        float:right;
        height:.5rem;
        padding-right:.5333rem;
        color:#ccc;
        font-size:.48rem;
        line-height:0.5rem;
        margin-top:0.34667rem;
        margin-bottom:5px;
      }
      .customer-modal{
        float:right;
        height:0.8rem;
        font-size:0.3733rem;
        color: #999;
        padding-right:.6933rem;
      }
    }
  }
  .mail-subject{
    //margin-top:.8rem;
    width:10rem;
    background:#fff;
    overflow-x: hidden;
    .mail-title{
      font-size:.4266rem;
      color:#333;
      line-height:.4266rem;
      padding-left:.7733rem;
    }
    .mail-number{
      color:#666;
      font-size:.3733rem;
      width:100%;
      height:auto;
      min-height:6rem;
      line-height: 0.5rem;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      display: block;
      padding:.4rem 0.8rem;
      border:none;
      resize: none;
      border-top:1px solid #eee;
      //border-bottom:1px solid #ddd;
      word-break: break-all;
    }
    .mail-introduce{
      margin-top:.2933rem;
      color:#666;
      font-size:.32rem;
      line-height:.32rem;
      padding-left:.7733rem;
    }
    .mail-picture{
      width:10rem;
      overflow: hidden;
      position: relative;
      height:auto;
      padding-top:1rem;
      .picture-box{
        margin-left:.88rem;
        margin-bottom:0.5rem;
        width:2.133rem;
        height:2.133rem;
        -webkit-border-radius:12px;
        -moz-border-radius:12px;
        border-radius:12px;
        float:left;
        background:#f1f1f1;
        overflow: hidden;
        position:relative;
        line-height:2.133rem;
        text-align: center;
        z-index:10;
        input{
          opacity:0;
          width:100%;
          height:100%;
          position:absolute;
          z-index:4;
        }
        img{
          max-width:2.133rem;
          max-height:2.133rem;
          z-index:3;
        }
        .icon{
          position:absolute;
          left:0;
          top:0;
          display: block;
          z-index:5;
          font-size:.4rem;
          margin:0.2rem;
          width:.5rem;
          height:.5rem;
          line-height:.5rem;
          -webkit-border-radius:.25rem;
          -moz-border-radius:.25rem;
          border-radius:.25rem;
          text-align: center;
          background: #000;
          color: #fff;
          border:1px solid #000;
        }
      }
      .addpictureBTN-box{
        position: absolute;
        left:1rem;
        top:0;
        width:2.133rem;
        height:2.133rem;
        background: #ddd;
        text-align: center;
        line-height:2.133rem;
        z-index:2;
        -webkit-border-radius:12px;
        -moz-border-radius:12px;
        border-radius:12px;
      }
      .addpictureBTN-box2{
        left:4rem;
      }
      .addpictureBTN-box3{
        left:6.88rem;
      }
      #addpictureBTN{
        opacity: 0;
        width:100%;
        height:100%;
        position:absolute;
        z-index:4;
        left:0;
        top:0;
      }
    }
    .quotation-box{
      width:10rem;
      background:#fff;
      overflow: hidden;
      margin-top:.8rem;
      .quotations{
        width:8.8533rem;
        height:1.4666rem;
        margin:0 auto;
        border-radius:3px;
        border:1px solid #eee;
        padding:0 .3466rem;
        .icon0{
          float:left;
          height:1.4666rem;
          color:#FF5E54;
          font-size:.5866rem;
          line-height:1.4666rem;
        }
        .title{
          float:left;
          padding-top:.3033rem;
          height:1.4666rem;
          margin-left:.4266rem;
          .names{
            font-size:.32rem;
            line-height:.32rem;
            color:#333;
            width: 5rem;
            overflow: hidden;
            display: block;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .sizes{
            font-size:.32rem;
            line-height:.32rem;
            color:#999;
            margin-top:10px;
          }
        }
        .icon1{
          float:right;
          height:1.4666rem;
          line-height:1.4666rem;
          color:#999;
          font-size:.4266rem;
          padding:0 0.5rem;
        }
      }
    }
  }
  .footer{
    width:10rem;
    background:#fff;
    height:1.44rem;
    padding-left:.6933rem;
    position:absolute;
    bottom:0;
    left:0;
    z-index:100;
    border-top:1px solid #eee;
    overflow: hidden;
    .footer-left{
      float:left;
      height:1.44rem;
      line-height:1.44rem;
      color:#666;
      font-size:.3466rem;
      .icon{
        color:#999;
        font-size:.3466rem;
        position: relative;
        top:0.031rem;
        margin-right:6px;
      }
      span{
        line-height:1.44rem;
        font-size:.3466rem;
      }
    }
    .footer-right{
      float:right;
      height:1.44rem;
      line-height:1.44rem;
      margin-right:.2rem;
      overflow: hidden;
      div{
        position: relative;
        border-left:1px solid #eee;
        width:2rem;
        height:100%;
        .icon{
          //position: absolute;
          left:0;
          top:-5px;
          z-index:10000;
          color:#999;
          display:inline-block;
          font-size:.666rem;
          height:1.44rem;
          line-height:1.44rem;
          padding:0 .3rem;
          width:2rem;
          text-align: center;
        }
        .icondan{
          font-size:.69rem;
        }
        p{
          color: #999;
          font-size:0.32rem;
          //position: absolute;
          line-height:2.2rem;
          bottom:5px;
          text-align: center;
        }
      }
    }
    .caogaobtn{
      position: absolute;
      right:0;
      top:0;
      width:2rem;
      height:1.44rem;
      opacity:0;
      z-index:9999999;
    }
  }
}
//客户模块写邮件
#customer-writeMail{
  background: #fff;
  height:100%;
  width:10rem;
  overflow-x: hidden;
  .header{
    width:10rem;
    height:1.333rem;
    line-height:1.333rem;
    position:absolute;
    top:0;
    left:0;
    background: #fff;
    z-index:100;
    overflow-x: hidden;
    border-bottom:1px solid #eee;
    .head-left{
      float:left;
      font-size:.3733rem;
      color:#5094E2;
      height:1.333rem;
      line-height:1.333rem;
      padding:0 .5333rem;
    }
    .title{
      display:block;
      font-size:.48rem;
      color:#333;
      position:absolute;
      left:0;
      right:0;
      margin:0 auto;
      width:3rem;
      text-align:center;
    }
    .head-right{
      float:right;
      height:1.333rem;
      line-height:1.333rem;
      font-size:.3733rem;
      color:#5094E2;
      padding:0 .5333rem;
    }
  }
  .cansel-box{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    position: fixed;
    z-index:1000;
    .content{
      width: 8rem;
      height:6rem;
      position: absolute;
      left:50%;
      top:50%;
      background: #fff;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
      margin-top:-3rem;
      margin-left:-4rem;
      .title{
        line-height: 1.8rem;
        text-align: center;
        color: #666;
        font-size: .6rem;
      }
      .list{
        display: block;
        width:5rem;
        height:.8rem;
        margin:0 auto;
        border:1px solid transparent;
        line-height:.8rem;
        margin-bottom:.5rem;
        text-align: center;
        -webkit-border-radius:1.5rem;
        -moz-border-radius:1.5rem;
        border-radius:1.5rem;
        font-size:0.4rem;
        color: #fff;
      }
      .li0{
        background:#fb4f4c;
      }
      .li1{
        background:#5094E2;
      }
      .li2{
        background:#fff;
        color: #fb4f4c;
        border:1px solid #fb4f4c;
      }
    }
  }
  .content0{
    width:10rem;
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
    padding:1.33rem 0 1.44rem 0;
  }
  .Addressee-theme{
    background: #fff;
    width:10rem;
    border:1px solid transparent;
    padding-left:.5333rem;
    overflow: hidden;
    .Addressee{
      width:9.3334rem;
      height:auto;
      overflow: hidden;
      border-bottom:1px solid #eee;
      position: relative;
      .ressee{
        float:left;
        font-size:.3733rem;
        color:#999;
        // height:2.1866rem;
        padding-top:.34667rem;
      }
      .names{
        float:left;
        padding-left:10px;
        height:auto;
        min-height:1.15rem;
        width:6.666rem;
        padding-top:.2667rem;
        &.active{
          height:1.5rem;
          overflow: hidden;
        }
        li{
          background:#FFD8D8;
          border:1px solid #FFC4C4;
          border-radius:93px;
          padding:.16rem .2666rem;
          float:left;
          line-height:.32rem;
          font-size:.32rem;
          margin-right:.1333rem;
          color:#666;
          margin-bottom:.2933rem;
          position:relative;
          max-width:6rem;
          .icon-mail_shred{

          }
        }
      }
      .icon{
        float:right;
        height:0.8rem;
        padding-right:.5333rem;
        color:#ccc;
        font-size:.48rem;
        padding-top:.34667rem;
      }
      .customer-text{
        padding-right:.65rem;
        color:#999;
        font-size:0.3733rem;
        height:0.8rem;
        margin-bottom:10px;
        margin-top:-3px;
      }
      .clickType{
        position: absolute;
        right:0.66rem;
        bottom:0.3rem;
        color: #5094e2;
        font-size:0.373rem;
      }
    }
    .active.Addressee{
      height:2.3rem
    }
    .Theme{
      width:9.3334rem;
      overflow: hidden;
      height:auto;
      .theme{
        font-size:.3733rem;
        color:#999;
        float:left;
        padding-top:0.34667rem;
      }
      .content{
        float:left;
        display:block;
        padding-left:15px;
        min-height:1.15rem!important;
        height:auto;
        width:6.666rem;
        color:#333;
        font-size:.32rem;
        line-height:.48rem;
        border:1px solid transparent;
        resize: none;
        padding-top:0.34667rem;
      }
      .icon{
        float:right;
        height:.5rem;
        padding-right:.5333rem;
        color:#ccc;
        font-size:.48rem;
        line-height:0.5rem;
        margin-top:0.34667rem;
        margin-bottom:5px;
      }
      .customer-modal{
        float:right;
        height:0.8rem;
        font-size:0.3733rem;
        color: #999;
        padding-right:.6933rem;
      }
    }
  }
  .mail-subject{
    //margin-top:.8rem;
    width:10rem;
    background:#fff;
    overflow-x: hidden;
    .mail-title{
      font-size:.4266rem;
      color:#333;
      line-height:.4266rem;
      padding-left:.7733rem;
    }
    .mail-number{
      color:#666;
      font-size:.3733rem;
      width:100%;
      height:auto;
      min-height:6rem;
      line-height: 0.5rem;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      display: block;
      padding:.4rem 0.8rem;
      border:none;
      resize: none;
      border-top:1px solid #eee;
      //border-bottom:1px solid #ddd;
      word-break: break-all;
    }
    .mail-introduce{
      margin-top:.2933rem;
      color:#666;
      font-size:.32rem;
      line-height:.32rem;
      padding-left:.7733rem;
    }
    .mail-picture{
      width:10rem;
      overflow: hidden;
      position: relative;
      height:auto;
      padding-top:1rem;
      .picture-box{
        margin-left:.88rem;
        margin-bottom:0.5rem;
        width:2.133rem;
        height:2.133rem;
        -webkit-border-radius:12px;
        -moz-border-radius:12px;
        border-radius:12px;
        float:left;
        background:#f1f1f1;
        overflow: hidden;
        position:relative;
        line-height:2.133rem;
        text-align: center;
        z-index:10;
        input{
          opacity:0;
          width:100%;
          height:100%;
          position:absolute;
          z-index:4;
        }
        img{
          max-width:2.133rem;
          max-height:2.133rem;
          z-index:3;
        }
        .icon{
          position:absolute;
          left:0;
          top:0;
          display: block;
          z-index:5;
          font-size:.4rem;
          margin:0.2rem;
          width:.5rem;
          height:.5rem;
          line-height:.5rem;
          -webkit-border-radius:.25rem;
          -moz-border-radius:.25rem;
          border-radius:.25rem;
          text-align: center;
          background: #000;
          color: #fff;
          border:1px solid #000;
        }
      }
      .addpictureBTN-box{
        position: absolute;
        left:1rem;
        top:0;
        width:2.133rem;
        height:2.133rem;
        background: #ddd;
        text-align: center;
        line-height:2.133rem;
        z-index:2;
        -webkit-border-radius:12px;
        -moz-border-radius:12px;
        border-radius:12px;
      }
      .addpictureBTN-box2{
        left:4rem;
      }
      .addpictureBTN-box3{
        left:6.88rem;
      }
      #addpictureBTN{
        opacity: 0;
        width:100%;
        height:100%;
        position:absolute;
        z-index:4;
        left:0;
        top:0;
      }
    }
    .quotation-box{
      width:10rem;
      background:#fff;
      overflow: hidden;
      margin-top:.8rem;
      .quotations{
        width:8.8533rem;
        height:1.4666rem;
        margin:0 auto;
        border-radius:3px;
        border:1px solid #eee;
        padding:0 .3466rem;
        .icon0{
          float:left;
          height:1.4666rem;
          color:#FF5E54;
          font-size:.5866rem;
          line-height:1.4666rem;
        }
        .title{
          float:left;
          padding-top:.3033rem;
          height:1.4666rem;
          margin-left:.4266rem;
          .names{
            font-size:.32rem;
            line-height:.32rem;
            color:#333;
            width: 5rem;
            overflow: hidden;
            display: block;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .sizes{
            font-size:.32rem;
            line-height:.32rem;
            color:#999;
            margin-top:10px;
          }
        }
        .icon1{
          float:right;
          height:1.4666rem;
          line-height:1.4666rem;
          color:#999;
          font-size:.4266rem;
          padding:0 0.5rem;
        }
      }
    }
  }
  .footer{
    width:10rem;
    background:#fff;
    height:1.44rem;
    padding-left:.6933rem;
    position:absolute;
    bottom:0;
    left:0;
    z-index:100;
    border-top:1px solid #eee;
    overflow: hidden;
    .footer-left{
      float:left;
      height:1.44rem;
      line-height:1.44rem;
      color:#666;
      font-size:.3466rem;
      .icon{
        color:#999;
        font-size:.3466rem;
        position: relative;
        top:0.031rem;
        margin-right:6px;
      }
      span{
        line-height:1.44rem;
        font-size:.3466rem;
      }
    }
    .footer-right{
      float:right;
      height:1.44rem;
      line-height:1.44rem;
      margin-right:.2rem;
      overflow: hidden;
      div{
        position: relative;
        border-left:1px solid #eee;
        width:2rem;
        height:100%;
        .icon{
          //position: absolute;
          left:0;
          top:-5px;
          z-index:10000;
          color:#999;
          display:inline-block;
          font-size:.666rem;
          height:1.44rem;
          line-height:1.44rem;
          padding:0 .3rem;
          width:2rem;
          text-align: center;
        }
        .icondan{
          font-size:.69rem;
        }
        p{
          color: #999;
          font-size:0.32rem;
          //position: absolute;
          line-height:2.2rem;
          bottom:5px;
          text-align: center;
        }
      }
    }
    .caogaobtn{
      position: absolute;
      right:0;
      top:0;
      width:2rem;
      height:1.44rem;
      opacity:0;
      z-index:9999999;
    }
  }
}
#qw1{
  //display: none;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  .No-more{
    background:none;
  }
  .quotation-title{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 1.3334rem;
    background-color: #fff;
    border-bottom:1px solid #EEEEEE;
    //position: relative;
    .back-border{
      float: left;
      width: 1.3334rem;
      height: 100%;
      position: relative;
      .back{
        position: absolute;
        color: #666;
        font-size: 0.5rem;
        //margin: 0.4167rem 0.42667rem;
        top: 0.4167rem;
        left: 0.42667rem;
      }
    }
    .edite-border{
      float: right;
      width: 1.3334rem;
      height: 100%;
      position: relative;
      text-align: center;
      line-height: 1.334rem;
      font-size: .3734rem;
      color: #666;
      right:0.3rem;
      margin-right:0.00rem;
      &.active{
        color: #409ae2;
      }
    }
    .order-word{
      width: 1.5rem;
      height: 100%;
      line-height: 1.3334rem;
      text-align: center;
      color: #333;
      font-size: 0.48rem;
      margin: 0 auto;
    }
    .select-menu{
      display: none;
      width: 100%;
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 1.3334rem;

      font-size: 0.3734rem;
      color: #5094E2;
      letter-spacing: -0.34px;
      .select-all{
        float: left;
        padding: 0 0.43rem;
      }
      .cancel{
        float: right;
        padding: 0 0.43rem;
      }
      .select-num{
        width: 5rem;
        text-align: center;
        margin: 0 auto;
        color: #333;
        font-size: 0.4267rem;
      }
    }
  }
  .quotation-body-border{
    width: 100%;
    height: 100%;
    padding-top: 1.334rem;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
    .quotation-list-item{
      width: 100%;

      .quotation-item{
        width: 100%;
        height: 4.6934rem;
        background: #FFFFFF;
        border-bottom: 1px solid #EEEEEE;
        margin-bottom: 0.29rem;
        .item-head{
          width: 100%;
          height: 1.84rem;
          // border-bottom: 1px solid red;
          .pic-border{
            float: left;
            width: 0.96rem;
            height: 0.96rem;
            margin: 0.44rem 0.34667rem;
            //background: red;

            span{
              font-size: 0.96rem;

            }
            .icon{
              color: #AEAEAE;
              &.selected{
                color: #1E85FF;
              }
              display: block!important;
            }

          }
          .item-name{
            width: 7.2rem;
            float: left;
            font-size: 0.3734rem;
            color: #333;
            //background: green;
            margin-top: 0.45rem;
            line-height: .5rem;
          }
          .to-right{
            float: right;
            font-size: .5rem;
            padding: 0.66rem 0.5rem 0.66rem 0.1rem;
            //background: pink;
          }
        }
        .item-body{
          width: 100%;
          height: 2.4rem;
          background-color: #f8f8f8;
          padding-left: 1.5467rem;
          .pic-border{
            width: 1.6rem;
            height: 1.6rem;
            float: left;
            margin-top: .4rem;
            //background-color: red;
            border-radius: .16rem;

            background: url('') 0 0 no-repeat;
            background-size: cover;
          }
          .product-introduce{
            float: left;
            width: 5.6rem;
            margin-left: .4rem;
            margin-top: 0.50667rem;
            color: #333;
            font-size: 0.32rem;
            .product{
              width: 100%;
              height: 1.0134rem;
            }
            .price{
              color: #FF5E54;
            }
          }
        }

      }
    }
  }
  .no-count{
    height:100%;
    width:100%;
    background: #fff;
    position: absolute;
    left:0;
    top:1.33rem;
    img{
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -2.5rem;
      margin-top: -4rem;
      opacity: 0.6;
      border:1px solid transparent;
      background:none;
    }
    .text{
      position: absolute;
      top: 50%;
      left:50%;
      color: #666;
      font-size:0.3733rem;
      margin-left:-2.5rem;
      width:5rem;
      text-align: center;
      margin-top: .5rem;
    }
  }
}
.illustrate{
  padding-bottom:1rem;
  background:#fff;
  width:10rem;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:9999;
  overflow: hidden;
  .header{
    position:absolute;
    text-align:center;
    height:1.333rem;
    line-height:1.333rem;
    left:0;
    top:0;
    width:10rem;
    border-bottom:1px solid #eee;
    background:#fff;
    z-index:9999;
    .icon-mail_fanhui{
      position:absolute;
      left:0;
      height:1.333rem;
      line-height:1.333rem;
      padding:0 .48rem;
      font-size:.4533rem;
      color:#8c8c8c;
      z-index:99999;
    }
    .title{
      font-size:.48rem;
      color:#5f5f5f;
    }
  }
  .container{
    width:10rem;
    height:100%;
    padding-top:1.333rem;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .main-body{
      width:10rem;
      padding:0 .48rem;
      .theme{
        font-size:.4266rem;
        color:#323232;
        font-weight:bold;
        margin-top:.453rem;
      }
      .title{
        color:#323232;
        font-size:.373rem;
        margin-top:.693rem;
      }
      .paragraph{
        margin-top:.3466rem;
        color:#323232;
        font-size:.373rem;
      }
    }
  }
}
