<div class="customer-main" style="width:10rem;height:100%;margin:0 auto;">
    <!--客户首页-->
    <div class="customer0" id="customer0">
        <div class="top">
            <h4 class="text-center">客户首页</h4>
        </div>
        <div class="content">
            <div class="sea-box">
                <div class="li0 list">
                    <div class="iconleft-box">
                        <span class="icon-search-cir icon"></span>
                    </div>
                    <h3 class="title">
                        <span class="text">大海</span>
                    </h3>
                    <h4 class="title-too">根据关键词搜索客户</h4>
                    <span class="icon-to-right icon rt"></span>
                </div>
                <div class="li1 list">
                    <div class="iconleft-box lf">
                        <span class="icon-pub-sea icon"></span>
                    </div>
                    <h3 class="title">
                        <span class="text">公海</span>
                    </h3>
                    <h4 class="title-too">优质公共客户资源</h4>
                    <span class="icon-to-right icon rt"></span>
                </div>
                <div class="li2 list">
                    <div class="iconleft-box">
                        <span class="icon-person-sea icon"></span>
                    </div>
                    <h3 class="title">
                        <span class="text">私海</span>
                    </h3>
                    <h4 class="title-too">私有客户资源</h4>
                    <div class="rt rightbox">
                        <span class="num">0</span><span class="count">/100</span>
                        <span class="icon-to-right icon"></span>
                    </div>
                </div>
            </div>
            <div class="person-sea"><span class="icon-wenhao icon"></span>客户池说明，以下是最近添加的客户</div>
            <div class="content-list">

            </div>
            <div class="more">加载更多</div>
        </div>
        <div class="menue-bottom">
            <div class="bottom-list product">
                <span class="icon-tab_box icon"></span>
                <span class="text">产品</span>
            </div>
            <div class="bottom-list customer active">
                <span class="icon-tab_kehu icon"></span>
                <span class="text">客户</span>
            </div>
            <div class="bottom-list email">
                <span class="icon-tab_youjian icon"></span>
                <span class="text">邮件</span>
            </div>
            <div class="bottom-list receipts">
                <span class="icon-tab_danju icon"></span>
                <span class="text">单据</span>
            </div>
            <div class="bottom-list mime">
                <span class="icon-tab_wode icon"></span>
                <span class="text">我的</span>
            </div>
        </div>
    </div>
    <!--大海搜索页-->
    <div class="da-hai-search-page hidden" id="da-hai-search-page">
        <div class="top">
            <span class="icon-mail_fanhui icon"></span>
            <h4 class="text-center">大海搜索</h4>
            <span class="search">搜索</span>
        </div>
        <div class="content">
            <div class="search-box">
                <input type="text" class="input" placeholder="请输入关键词">
            </div>
            <div class="img-box">
                <img src="images/no-count1.png" alt="">
            </div>
        </div>
    </div>
    <!--搜索结果页-->
    <div class="search-result-page hidden"id="search-result-page">
        <div class="top">
            <h4 class="text-center"><span class="lf icon-mail_fanhui icon"></span><span class="text">搜索结果</span></h4>
        </div>
        <div class="content">
            <div class="search-box">
                <div class="dicen">
                    <span class="icon-mail_search icon"></span>
                    <span>输入关键词</span>
                </div>
                <input type="text" class="search-input">
            </div>
            <div class="content-list">
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="icon-to-right icon"></span>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="icon-to-right icon"></span>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="icon-to-right icon"></span>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="icon-to-right icon"></span>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="icon-to-right icon"></span>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="icon-to-right icon"></span>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="icon-to-right icon"></span>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="icon-to-right icon"></span>-->
                <!--</div>-->
                <div class="list-bottom hidden">
                    查看更多
                </div>
            </div>
            <div class="no-count hidden">
                <img src="images/nocount_0.svg" alt="">
            </div>
        </div>
    </div>
    <!--大海详情-->
    <div class="da-sea-detail hidden" id="da-sea-detail">
        <div class="top">
            <h4 class="text-center"><span class="lf icon-mail_fanhui icon"></span><span class="text">客户详情</span></h4>
        </div>
        <div class="content">
            <div class="topersonal-seamodal hidden">
                <div class="content">
                    <h3 class="title">移到私海</h3>
                    <p class="list" >1、客户移到私海后，之前的沟通记录也会加入进来</p>
                    <p class="list" >2、移到私海后如果14天内没有邮件往来该客户将被移回公海</p>
                    <p class="list" >3、跟进客户申请遵守【客户交易协议】</p>
                    <p class="check"><span class="icon-right icon"></span> <span class="text">不再提示</span></p>
                    <div class="submitbtn">确定</div>
                </div>
            </div>
            <div class="message">
                <h3 class="name">Usbnbdshbjk</h3>
                <p class="text">format</p>
                <h3 class="more">查看更多</h3>
            </div>
            <div class="company-message">
                <h3 class="title">公司信息</h3>
                <h3 class="text"><span class="name">网址：</span><span class="website" href="http://www.usbfad.com" target="_blank">www.usbfad.com</span></h3>
            </div>
            <div class="fullcontach">
                <div class="xaingxi-message fullcon-box">
                    <h3 class="title fullcon-text">详细信息</h3>
                    <div class="photo-box">
                        <img src="images/gif.gif" alt="">
                    </div>
                    <ul class="ulbox">
                        <li class="li company">
                            <span class="name fullcon-text">公司名：</span>
                            <span class="text fullcon-text">凤凰网iuefhewhfehfierhirefjerfj</span>
                        </li>
                        <li class="li count">
                            <span class="name fullcon-text">员工数：</span>
                            <span class="text fullcon-text">50+</span>
                        </li>
                        <li class="li time">
                            <span class="name fullcon-text">成立时间：</span>
                            <span class="text fullcon-text">2010</span>
                        </li>
                        <li class="li gaishu">
                            <span class="name fullcon-text">概述：</span>
                            <span class="text fullcon-text">凤凰网iuefhewhfehfierhiref绯闻绯闻绯闻废物纷纷为丰富服务仍jerfj</span>
                        </li>
                    </ul>
                </div>
                <div class="xiangguan-net fullcon-box">
                    <h3 class="title fullcon-text">相关网址</h3>
                    <ul class="ulbox">

                    </ul>
                    <ul class="hidden modalLi">
                        <li class="li">
                            <span class="pingtai fullcon-text">youtube</span>
                            <p class="web fullcon-text">www.fhffwefwefwefewfffffffffffffhfhffsfe</p>
                        </li>
                    </ul>
                </div>
                <div class="key-box fullcon-box">
                    <h3 class="title fullcon-text">
                        关键词
                    </h3>
                    <p class="text fullcon-text">befbe、不换行、jjjjjj、hygg、gyfwgyfgwuf、hfwufhuwehfuewhfue、fhuwhuerih、fhweuhfuewhfuewhfeu、访问回复而文化服务</p>
                    <div class="seeMoreMessage">查看更多</div>
                </div>
                <div class="shejiaoModal hidden fullcon-box">
                    <h3 class="title"><span class="name fullcon-text">Twitter</span><span class="fullcon-text">的社交信息</span></h3>
                    <div class="fullBox">
                        <h3 class="name fullcon-text">FullContactApp</h3>
                        <p class="text fullcon-text">Keep your contact information clean, complete & current across all your address books.Keep .</p>
                    </div>
                    <div class="net">
                        <span class="icon-maoduo100 icon"></span><span class="text fullcon-text">twitter.com/FullContactApp</span>
                    </div>
                    <div class="shejiao-bottom">
                        <div class="box1">
                            <span class="name fullcon-text">following:</span>
                            <span class="num">1544</span>
                        </div>
                        <div class="box2">
                            <span class="name fullcon-text">followers:</span>
                            <span class="num">1544</span>
                        </div>
                    </div>
                </div>
                <div class="paiming fullcon-box">
                    <h3 class="title fullcon-text">
                        排名
                    </h3>
                    <div class="modalPaiMing hidden">
                        <div class="list">
                            <span class="name lf fullcon-text">fwfewfwe</span>
                            <span class="num rt fullcon-text">4545</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <span class="prev lf">↑</span>
            <span class="next lf">↓</span>
            <span class="send rt"><span class="icon-maoduo22 icon"></span>转到私海</span>
        </div>
    </div>
    <!--公海-->
    <div class="pub-sea hidden" id="pub-sea">
        <div class="top">
            <h4 class="text-center"><span class="lf icon-mail_fanhui icon"></span><span class="text">公海</span><span class="rtbtn">换一换</span></h4>
        </div>
        <div class="content">
            <div class="list-content">

            </div>
            <div class="more">换一换</div>
        </div>
    </div>
    <!--公海客户详情-->
    <div class="public-sea-customer hidden" id="public-sea-customer">
        <div class="top">
            <h4 class="text-center"><span class="lf icon-mail_fanhui icon"></span><span class="text">客户详情</span></h4>
        </div>
        <div class="content">
            <div class="nav-box ">
                <span class="data nav active lf">基本资料</span>
                <span class="history nav rt">跟进记录</span>
            </div>
            <div class="data-box ">
                <div class="message">
                    <h3 class="name">Usbnnbdshbjk</h3>
                    <p class="text">format multiple usmat multiple usb, deploy mumat multiple usb, deploy mumat multiple usb, deploy mub, deploy mu  usb</p>
                    <h3 class="more">查看更多</h3>
                </div>
                <div class="company-message">
                    <h3 class="title">公司信息<span class="rt qianzai">潜在客户</span></h3>
                    <h3 class="text"><span class="name">网址：</span><span class="website" href="http://www.eyaoon.com">www.eyaoon.com</span></h3>
                    <!--<h3 class="country"><span class="name">国家：</span ><span class="address">美国 UCT+11 13：00</span></h3>-->
                    <h3 class="linkman"><span class="name">联系人数：</span><span class="num">100+</span></h3>
                </div>
                <div class="fullcontach">
                    <div class="xaingxi-message fullcon-box">
                        <h3 class="title fullcon-text">详细信息</h3>
                        <div class="photo-box">
                            <img src="images/gif.gif" alt="">
                        </div>
                        <ul class="ulbox">
                            <li class="li company">
                                <span class="name fullcon-text">公司名：</span>
                                <span class="text fullcon-text">凤凰网iuefhewhfehfierhirefjerfj</span>
                            </li>
                            <li class="li count">
                                <span class="name fullcon-text">员工数：</span>
                                <span class="text fullcon-text">50+</span>
                            </li>
                            <li class="li time">
                                <span class="name fullcon-text">成立时间：</span>
                                <span class="text fullcon-text">2010</span>
                            </li>
                            <li class="li gaishu">
                                <span class="name fullcon-text">概述：</span>
                                <span class="text fullcon-text">凤凰网iuefhewhfehfierhiref绯闻绯闻绯闻废物纷纷为丰富服务仍jerfj</span>
                            </li>
                        </ul>
                    </div>
                    <div class="xiangguan-net fullcon-box">
                        <h3 class="title fullcon-text">相关网址</h3>
                        <ul class="ulbox">

                        </ul>
                        <ul class="hidden modalLi">
                            <li class="li">
                                <span class="pingtai fullcon-text">youtube</span>
                                <p class="web fullcon-text">www.fhffwefwefwefewfffffffffffffhfhffsfe</p>
                            </li>
                        </ul>
                    </div>
                    <div class="key-box fullcon-box">
                        <h3 class="title fullcon-text">
                            关键词
                        </h3>
                        <p class="text fullcon-text">befbe、不换行、jjjjjj、hygg、gyfwgyfgwuf、hfwufhuwehfuewhfue、fhuwhuerih、fhweuhfuewhfuewhfeu、访问回复而文化服务</p>
                        <div class="seeMoreMessage">查看更多</div>
                    </div>
                    <div class="shejiaoModal hidden fullcon-box">
                        <h3 class="title"><span class="name fullcon-text">Twitter</span><span class="fullcon-text">的社交信息</span></h3>
                        <div class="fullBox">
                            <h3 class="name fullcon-text">FullContactApp</h3>
                            <p class="text fullcon-text">Keep your contact information clean, complete & current across all your address books.Keep .</p>
                        </div>
                        <div class="net">
                            <span class="icon-maoduo100 icon"></span><span class="text fullcon-text">twitter.com/FullContactApp</span>
                        </div>
                        <div class="shejiao-bottom">
                            <div class="box1">
                                <span class="name fullcon-text">following:</span>
                                <span class="num">1544</span>
                            </div>
                            <div class="box2">
                                <span class="name fullcon-text">followers:</span>
                                <span class="num">1544</span>
                            </div>
                        </div>
                    </div>
                    <div class="paiming fullcon-box">
                        <h3 class="title fullcon-text">
                            排名
                        </h3>
                        <div class="modalPaiMing hidden">
                            <div class="list">
                                <span class="name lf fullcon-text">fwfewfwe</span>
                                <span class="num rt fullcon-text">4545</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="history-box box hidden">
                <div class="title">
                    <span class="text">往来邮件<span class="num rt text">转到私海后可查看该客户的所有往来邮件</span></span>
                </div>
                <div class="mail-times list">
                    <span class="text">邮件累计查看次数</span>
                    <span class="rt num">21</span>
                </div>
                <div class="linkman youxiao list">
                    <span class="text">有效联系人</span>
                    <span class="rt num">3</span>
                </div>
                <div class="linkman genjin list">
                    <span class="text">跟进业务员</span>
                    <span class="rt num">3</span>
                </div>
                <div class="prev-sendtime list">
                    <span class="text">上次邮件发送时间</span>
                    <span class="rt num">2016年12月3日</span>
                </div>
                <div class="last-get-time list">
                    <span class="text">最近收到回复时间</span>
                    <span class="rt num">2016年12月3日</span>
                </div>
                <!--<div class="xunpan list">-->
                    <!--<span class="text">是否有待回复的询盘</span>-->
                    <!--<span class="rt num">有</span>-->
                <!--</div>-->
            </div>
            <div class="topersonal-seamodal hidden">
                <div class="content">
                    <h3 class="title">移到私海</h3>
                    <p class="list" >1、客户移到私海后，之前的沟通记录也会加入进来</p>
                    <p class="list" >2、移到私海后如果14天内没有邮件往来该客户将被移回公海</p>
                    <p class="list" >3、跟进客户申请遵守【客户交易协议】</p>
                    <p class="check"><span class="icon-right icon"></span> <span class="text">不再提示</span></p>
                    <div class="submitbtn">确定</div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <span class="prev lf">↑</span>
            <span class="next lf">↓</span>
            <span class="send rt"><span class="icon-maoduo22 icon"></span>转到私海</span>
        </div>

    </div>
    <!--公海客户详情里的往来邮件-->
    <div class="mail-history-box hidden" id="mail-history-box">
        <div class="top">
            <h4 class="text-center"><span class="lf icon-mail_fanhui icon"></span><span class="text">往来邮件</span></h4>
        </div>
        <div class="content">
            <div class="nav-box">
                <span class="all nav lf active">全部</span>
                <span class="get nav lf">收到的</span>
                <span class="send nav lf">发出的</span>
            </div>
            <div class="all-box">
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
            </div>
            <div class="get-box hidden">
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
            </div>
            <div class="send-box hidden">
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
                <div class="list">
                    <div class="iconleft-box">
                        <span class="iconleft">U</span>
                    </div>
                    <h3 class="title">
                        <span class="text">Usbfad</span>
                    </h3>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>
                    <span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>
                </div>
            </div>
            <div class="more">查看更多</div>
        </div>
    </div>
    <!--私海-->
    <div class="personal-sea hidden" id="personal-sea">
        <div class="top">
            <h4 class="text-center"><span class="lf icon-mail_fanhui icon"></span><span class="text">私海（<span class="num">0</span>）</span><span class="send-all rt">群发</span></h4>
        </div>
        <div class="content">
            <div class="title-top">
                <span class="icon-wenhao icon"></span><span>提示：14天未跟进的客户，该客户将会被移出私海</span>
            </div>
            <div class="list-content">

            </div>
            <div class="more">加载更多</div>
        </div>
        <div class="no-count hidden">
            <img src="images/nocount_0.svg" alt="">
            <p class="text">暂时没有私海客户</p>
        </div>
    </div>
    <!--私海选择列表-->
    <div class="personal-seleact-sea hidden" id="personal-seleact-sea">
        <div class="top">
            <h4 class="text-center"><span class="lf cansel">取消</span><span class="text">选择客户</span><span class="submit rt disabled">确定</span></h4>
        </div>
        <div class="content">
            <div class="title-top">
               提示：将对选中的客户进行邮件群发
            </div>
            <div class="list-content">
            </div>
            <div class="more">查看更多</div>
        </div>
        <div class="no-count hidden">
            <img src="images/nocount_0.svg" alt="">
            <p class="text">暂时没有私海客户</p>
        </div>
    </div>
    <!--私海客户详情     联系人-->
    <div class="personal-customer-list youxiaoidselect hidden" id="personal-customer-list">
        <div class="top">
            <h4 class="text-center"><span class="lf icon-mail_fanhui icon"></span><span class="text">usbfad</span><span class="give-up rt">放弃</span></h4>
        </div>
        <div class="content">
            <div class="top-title">
                <span class="ren nav active">联系人</span>
                <span class="history nav">跟进记录</span>
                <span class="data nav ">基础资料</span>
            </div>
            <div class="ren-box box">
                <div class="text"><span class="icon-wenhao"></span>群发邮件</div>
                <div class="all-nav">
                    <div class="lf all-customer lianxiren-houxuan" data-type="1">
                        <span class="icon-right icon"></span>
                        <span class="icon-maoduo45 iconhead"></span>
                        <h3 class="text">所有联系人(<span class="num" style="margin:0">1</span>)</h3>
                    </div>
                    <div class="lf wait lianxiren-houxuan" data-type="2">
                        <span class="icon-right icon"></span>
                        <span class="icon-maoduo45 iconhead" style="color: #4a90e2;"></span>
                        <h3 class="text">待开发联系人(<span class="num" style="margin:0">2</span>)</h3>
                    </div>
                </div>
                <div class="one-send">单发邮件</div>
                <div class="one-send-box">
                    <div class="title"><span class="text lf">有效联系人</span><span class="rt num">3</span></div>
                    <div class="more">加载更多</div>
                </div>
            </div>
            <div class="history-box box hidden">
                <div class="title">
                    <span class="text">往来邮件（<span class="num"></span>）</span>
                    <span class="rt icon-to-right icon"></span>
                </div>
                <div class="mail-times list">
                    <span class="text">邮件累计查看次数</span>
                    <span class="rt num">21</span>
                </div>
                <div class="linkman youxiao list">
                    <span class="text">有效联系人</span>
                    <span class="rt num">3</span>
                </div>
                <div class="linkman genjin list">
                    <span class="text">跟进业务员</span>
                    <span class="rt num">3</span>
                </div>
                <div class="prev-sendtime list">
                    <span class="text">上次邮件发送时间</span>
                    <span class="rt num">2016年12月3日</span>
                </div>
                <div class="last-get-time list">
                    <span class="text">最近收到回复时间</span>
                    <span class="rt num">2016年12月3日</span>
                </div>
            </div>
            <div class="data-box box hidden">
                <div class="message">
                    <h3 class="name">Usbnnbdshbjk</h3>
                    <p class="text">format multiple usmat multiple usb, deploy mumat multiple usb, deploy mumat multiple usb, deploy mub, deploy mu  usb</p>
                    <h3 class="more">查看更多</h3>
                </div>
                <div class="company-message">
                    <h3 class="title">公司信息<!--<span class="rt qianzai">潜在客户</span>--></h3>
                    <h3 class="text"><span class="name">网址：</span><span class="website" href="http://www.usbfad.com">www.usbfad.com</span></h3>
                    <!--<h3 class="country"><span class="name">国家：</span ><span class="address">美国 UCT+11 13：00</span></h3>-->
                    <h3 class="linkman"><span class="name">联系人数：</span><span class="num">100+</span></h3>
                </div>
                <div class="fullcontach hidden">
                    <div class="xaingxi-message fullcon-box">
                        <h3 class="title fullcon-text">详细信息</h3>
                        <div class="photo-box">
                            <img src="images/gif.gif" alt="">
                        </div>
                        <ul class="ulbox">
                            <li class="li company">
                                <span class="name fullcon-text">公司名：</span>
                                <span class="text fullcon-text">凤凰网iuefhewhfehfierhirefjerfj</span>
                            </li>
                            <li class="li count">
                                <span class="name fullcon-text">员工数：</span>
                                <span class="text fullcon-text">50+</span>
                            </li>
                            <li class="li time">
                                <span class="name fullcon-text">成立时间：</span>
                                <span class="text fullcon-text">2010</span>
                            </li>
                            <li class="li gaishu">
                                <span class="name fullcon-text">概述：</span>
                                <span class="text fullcon-text">凤凰网iuefhewhfehfierhiref绯闻绯闻绯闻废物纷纷为丰富服务仍jerfj</span>
                            </li>
                        </ul>
                    </div>
                    <div class="xiangguan-net fullcon-box">
                        <h3 class="title fullcon-text">相关网址</h3>
                        <ul class="ulbox">

                        </ul>
                        <ul class="hidden modalLi">
                            <li class="li">
                                <span class="pingtai fullcon-text">youtube</span>
                                <p class="web fullcon-text">www.fhffwefwefwefewfffffffffffffhfhffsfe</p>
                            </li>
                        </ul>
                    </div>
                    <div class="key-box fullcon-box">
                        <h3 class="title fullcon-text">
                            关键词
                        </h3>
                        <p class="text fullcon-text">befbe、不换行、jjjjjj、hygg、gyfwgyfgwuf、hfwufhuwehfuewhfue、fhuwhuerih、fhweuhfuewhfuewhfeu、访问回复而文化服务</p>
                        <div class="seeMoreMessage">查看更多</div>
                    </div>
                    <div class="shejiaoModal hidden fullcon-box">
                        <h3 class="title"><span class="name fullcon-text">Twitter</span><span class="fullcon-text">的社交信息</span></h3>
                        <div class="fullBox">
                            <h3 class="name fullcon-text">FullContactApp</h3>
                            <p class="text fullcon-text">Keep your contact information clean, complete & current across all your address books.Keep .</p>
                        </div>
                        <div class="net">
                            <span class="icon-maoduo100 icon"></span><span class="text fullcon-text">twitter.com/FullContactApp</span>
                        </div>
                        <div class="shejiao-bottom">
                            <div class="box1">
                                <span class="name fullcon-text">following:</span>
                                <span class="num">1544</span>
                            </div>
                            <div class="box2">
                                <span class="name fullcon-text">followers:</span>
                                <span class="num">1544</span>
                            </div>
                        </div>
                    </div>
                    <div class="paiming fullcon-box">
                        <h3 class="title fullcon-text">
                            排名
                        </h3>
                        <div class="list">
                            <span class="name lf fullcon-text">fwfewfwe</span>
                            <span class="num rt fullcon-text">4545</span>
                        </div>
                        <div class="modalPaiMing hidden">
                            <div class="list">
                                <span class="name lf fullcon-text">fwfewfwe</span>
                                <span class="num rt fullcon-text">4545</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="no-count">
                <img src="images/nocount_0.svg" alt="">
                <!--<button class="btn">放弃跟进</button>-->
            </div>
        </div>
        <div class="bottom">
            <span class="prev lf">↑</span>
            <span class="next lf">↓</span>
            <span class="send rt disabled">发邮件</span>
        </div>
        <div class="give-up-modal-box hidden">
            <div class="content hidden">
                <h3 class="title">放弃原因</h3>
                <ul class="list-box">
                    <li class="li0 list">
                        <span class="icon-right icon"></span>
                        <span class="text">不想继续跟进</span>
                    </li>
                    <li class="li1 list">
                        <span class="icon-right icon"></span>
                        <span class="text">客户长时间没有回复</span>
                    </li>
                    <li class="li2 list">
                        <span class="icon-right icon"></span>
                        <span class="text">该客户价值不高</span>
                    </li>
                    <li class="li3 list">
                        <span class="icon-right icon"></span>
                        <span class="text">自定义原因</span>
                    </li>
                </ul>
                <textarea name="" id="" cols="30" rows="10" class="user-content" maxlength="50" disabled="disabled"></textarea>
                <div class="bottomli">
                    <button class="submit">完成</button>
                </div>
            </div>
            <div class="select">
                <h3 class="title">是否放弃客户</h3>
                <h4 class="li0">放弃后将无法跟进该客户</h4>
                <h4 class="li1">且该客户将转移到公海</h4>
                <p class="a1">放弃客户</p>
                <p class="a2">取消</p>
            </div>
        </div>
    </div>
    <!--发邮件选择联系人-->
    <div class="personal-ren-list youxiaoidselect hidden" id="personal-ren-list">
        <div class="top">
            <h4 class="text-center"><span class="lf icon-mail_fanhui icon"></span><span class="text">usbfad</span><span class="give-up rt disabled">确定</span></h4>
        </div>
        <div class="content">
            <div class="ren-box box">
                <div class="text"><span class="icon-wenhao"></span>群发邮件</div>
                <div class="all-nav">
                    <div class="lf all-customer lianxiren-houxuan" data-type="1">
                        <span class="icon-right icon"></span>
                        <span class="icon-maoduo45 iconhead"></span>
                        <h3 class="text">所有联系人(<span class="num">0</span>)</h3>
                    </div>
                    <div class="lf wait lianxiren-houxuan" data-type="2">
                        <span class="icon-right icon"></span>
                        <span class="icon-maoduo45 iconhead" style="color: #4a90e2"></span>
                        <h3 class="text">待开发联系人(<span class="num">0</span>)</h3>
                    </div>
                </div>
                <div class="one-send">单发邮件</div>
                <div class="one-send-box">
                    <div class="title"><span class="text lf">有效联系人</span><span class="rt num">3</span></div>
                    <div class="more">加载更多</div>
                </div>
            </div>
            <div class="no-count">
                <img src="images/nocount_0.svg" alt="">
                <!--<button class="btn">放弃跟进</button>-->
            </div>
        </div>
    </div>
    <!--私海客户详情里的往来邮件-->
    <div class="per-mail-history-box hidden" id="per-mail-history-box">
        <div class="top">
            <h4 class="text-center"><span class="lf icon-mail_fanhui icon"></span><span class="text">往来邮件</span></h4>
        </div>
        <div class="content">
            <div class="nav-box">
                <span class="all nav lf active">全部</span>
                <span class="get nav lf">收到的</span>
                <span class="send nav lf">发出的</span>
            </div>
            <div class="all-box box">
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>-->
                <!--</div>-->
            </div>
            <div class="get-box box hidden">
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>-->
                <!--</div>-->
            </div>
            <div class="send-box box hidden">
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">U</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">Usbfad</span>-->
                    <!--</h3>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format severormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploormat multiple usb, deploy multiple usb, collect from usb, format several usb, deploal usb, deploy</p>-->
                    <!--<span class="rtbox rt"><span class="time">2016年12月12日 12:00</span><span class="icon-to-right"></span></span>-->
                <!--</div>-->
            </div>
            <div class="more">查看更多</div>
        </div>
        <div class="no-count hidden"><img src="images/nocount_0.svg" alt=""><p class="text">暂时没有往来邮件</p></div>
    </div>
    <!--私海客户往来邮件邮件详细-->
    <div class="wanglai-mail-detail hidden" id="wanglai-mail-detail">
        <div class="detail-title">
            <div class="inbox">
                <span class="icon-mail_fanhui"></span>
                <span>往来邮件</span>
            </div>
            <div class="page-change">
                <span class="icon-caret-angle-up"></span>
                <span class="icon-caret-angle-bottom"></span>
            </div>
            <div class="email-detail-title">邮件详细</div>
        </div>
        <div class="content">
            <div class="detail-head">
                <div class="email-subject">USB Driver and Money</div>
                <div class="customer"><span class="name lf">客户：</span><input class="text lf"></div>
                <!--<div class="link-net">-->
                    <!--<span class="name lf">抄送：</span>-->
                    <!--<span class="text lf show-all-content">frfr、的我的、的的我顾客如果客人公开热裤仍然可观若客官热裤供热</span>-->
                    <!--<span class="show-all rt">展开</span>-->
                <!--</div>-->
                <div class="date"><span class="name lf">时间：</span><span class="text lf">2016年12月28日 12:56</span></div>
            </div>
            <div class="zihu-content">
                <div class="content-box">
                    <!--邮件内容 -->
                </div>
                <div class="list-box">
                    <div class="list hidden">
                        <span class="icon-maoduo18 icon lf"></span>
                        <div class="lf box">
                            <h3 class="name">USB Driver-todaysgrgregregregregreports-2016-1208.pdf</h3>
                            <span class="count">1.2M</span>
                        </div>
                    </div>
                    <div class="imgbox hidden">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <img src="images/gif.gif" alt="">
                    </div>
                </div>
                <div class="modalFujian">
                    <div class="list hidden">
                        <a class="icon-maoduo18 icon lf"></a>
                        <div class="lf box">
                            <h3 class="name">USB Driver-todaysgrgregregregregreports-2016-1208.pdf</h3>
                            <span class="count">1.2M</span>
                        </div>
                    </div>
                    <div class="imgbox hidden">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <img src="images/gif.gif" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <span class="icon-maoduo53 icon"></span>
            <p class="text">再次编辑</p>
        </div>
    </div>
    <!--私海客户往来邮件邮件详细回复-->
    <div class="wanglai-mail-detail-replay hidden" id="wanglai-mail-detail-replay">
        <div class="detail-title">
            <div class="inbox">
                <span class="icon-mail_fanhui"></span>
                <span>往来邮件</span>
            </div>
            <div class="page-change">
                <span class="icon-caret-angle-up"></span>
                <span class="icon-caret-angle-bottom"></span>
            </div>
            <div class="email-detail-title">邮件详细</div>
        </div>
        <div class="content">
            <div class="detail-head">
                <div class="email-subject">USB Driver and Money</div>
                <div class="customer"><span class="name lf">客户：</span><input class="text lf"></div>
                <div class="link-net">
                    <span class="name lf">抄送：</span>
                    <span class="text lf show-all-content">f</span>
                    <span class="show-all rt">展开</span>
                </div>
                <div class="date"><span class="name lf">时间：</span><span class="text lf">2016年12月28日 12:56</span></div>
            </div>
            <div class="zihu-content">
                <div class="content-box">
                   <!--邮件内容-->
                </div>
                <div class="list-box">

                </div>
                <div class="modalFujian">
                    <div class="list hidden">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <div class="lf box">
                            <h3 class="name">USB Driver-todaysgrgregregregregreports-2016-1208.pdf</h3>
                            <span class="count">1.2M</span>
                        </div>
                    </div>
                    <div class="imgbox hidden">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <img src="images/gif.gif" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <!--<div class="reply-one">-->
                <span class="icon-maoduo55 icon"></span>
                <p class="text">回复</p>
            <!--</div>-->
            <!--<div class="reply-all">-->
                <!--<span class="icon-maoduo55 icon"></span>-->
                <!--<p class="text">回复全部</p>-->
            <!--</div>-->
        </div>
    </div>
    <component :is="currentView" >

    </component>
    <!--说明-->
    <div id="customer-explain" class="illustrate hidden">
        <div class="header">
            <span class="icon-mail_fanhui icon"></span>
            <span class="title">客户池说明</span>
        </div>
        <div class="container">
            <div class="main-body">
                <h2 class="theme">什么是海</h2>
                <p class="paragraph">1.大海，可根据你所需要的关键词进行客户搜索，搜到的客户可加入私海；</p>
                <p class="paragraph">2.公海，公海是贸多多提供的公共客户数据，可加入私海；私海，私海客户是用户自己的客户，不与他人共享。</p>
                <p class="paragraph">3.私海，私海客户是用户自己的客户，不与他人共享。</p>
                <h2 class="theme">转移规则</h2>
                <p class="paragraph">1.客户数据只会存在唯一海，不重复出现，因此每个用户都拥有专属客户资源；</p>
                <p class="paragraph">2.客户数据只会存在唯一海，不重复出现，因此每个用户都拥有专属客户资源；</p>
                <p class="paragraph">3.大海、公海中的客户均可加入私海；私海中的客户若14天未跟进，将会转移至公海。</p>
                <h2 class="theme">数据归属</h2>
                <p class="paragraph">贸多多平台数据归贸多多所有，仅用于提供给用户使用，用户不得以任何形式窃取、转移贸多多客户资料，一经发现将永久封停账号。必要时将进行法律维权。</p>
            </div>
        </div>
    </div>
    <!--邮件规则-->
    <div id="sendemail-explain" style="position: absolute;" class="illustrate hidden">
        <div class="header">
            <span class="icon-mail_fanhui icon"></span>
            <span class="title">邮件书写说明</span>
        </div>
        <div class="container">
            <div class="main-body">
                <h2 class="theme">选择发送对象</h2>
                <p class="paragraph">1.进行邮件发送时，需选择发送对象，根据不同的发送对象，系统将进行群发或单发；</p>
                <p class="paragraph">2.选择“所有联系人”、”待开发联系人“系统将进行群发，此时应遵守群发规则，避免邮件被屏蔽。</p>
                <p class="paragraph">3.选择若干特定联系人，将进行邮件单发。</p>
                <p class="paragraph">4.选择“一个客户”或“多个客户”将进行邮件群发，选择“联系人”将进行单发。</p>
                <h2 class="theme">群发邮件规则</h2>
                <p class="paragraph">以下行为均可能导致邮件被屏蔽，或者邮箱地址、邮箱后缀以及网络IP地址被发垃圾邮件联盟列入黑名单</p>
                <p class="paragraph">1.相同IP和邮箱地址短时间内大量发送邮件出去，一般免费的163，QQ邮箱这些每天发送量应不超过50封，个人使用的企业级邮箱（有公司自己后缀）一般不超过100封。另外，发送邮件的频率也不能过快</p>
                <p class="paragraph">2.大量邮件发送到无效邮箱地址中。这些无效地址包括不存在的邮箱地址和长期不用的邮箱地址。</p>
                <p class="paragraph">3.发送邮件到蜜罐邮箱地址。蜜罐地址即垃圾邮件陷阱，是邮箱运营商和发垃圾邮件联盟自己故意放出来的不存在的邮箱地址，故意让群发的人采集到，当群发者往这些陷阱地址发邮件后就会被盯上，一旦确认确实在群发营销邮件就会被列入黑名单。</p>
                <p class="paragraph">4.收件人未订阅，但是邮件中带有附件的。以及邮件中含有大量图片的。</p>
                <p class="paragraph">5.邮件中含有Spam高频词（即垃圾邮件高位词汇），常见的高危词如下：</p>
                <p class="paragraph">Free, Discount, Oppotunity, Win, Winner, Cheap, Deal, Debt, Income, Insurance, Loan, Money, Mortgage, Price, Rate, Profit, Save, Merchant, Stock, ActNow, All New, CallNow, Subscribe Now, Million, Dollars, Opportunity, Compare, Check, Cash, Bonus, Credit, Loans, BuyDirect, Get Paid, OrderNow, Specializing, Specialized, Offer, Please Read, Don'tDelete, Special Promotion, Satisfaction Guaranteed, You've Been Selected.Money back guarantee</p>
                <h2 class="paragraph">中文高危词汇：</h2>
                <p class="paragraph">免费、优惠、特惠、特价、低价、便宜、廉价、视频、赚钱、群发、发财、致富、代开、薪水、交友、支付、商机、法宝、宝典、秘密、情报、机密、保密、绝密、神秘、秘诀、发票、办证、传销等</p>
                <p class="paragraph">6.邮件中包含URL的。</p>
                <p class="paragraph">7.邮件标题中的高危行为：</p>
                <p class="paragraph">（1）标题全部大写的</p>
                <p class="paragraph">（2）标题中包含大量符号的</p>
                <p class="paragraph">（3）标题中含有高危词汇的（同邮件内容一样，应避免free,discount等字眼）</p>
                <p class="paragraph">8.用word设计HTML代码的邮件.(应尽量使用纯文本文件来发送)</p>
            </div>
        </div>
    </div>
</div>