<div id="bill-box"  class="writemailbox" style="width:100%;height: 100%;">
    <!--加载动画-->
    <div class="load_animation ">
        <div class="picture_box">
            <img src="images/gif.gif" alt="">
            <p>加载中...</p>
        </div>
    </div>
    <!--单据首页-->
    <div class="Bill indexClass" id="Bill">
        <div class="bill-head">单据</div>
        <div class="bill-body">
            <div class="bill-tips">
                <span class="icon-wenhao"></span>
                <span>提示：新建单据，从产品页面开始</span>
            </div>
            <div class="item-menu">
                <div class="quotation-order item-list">
                    <div class="list-border">
                        <div class="pic-border"><i class="icon-price-main"></i></div>
                        <span>报价单</span>
                    </div>
                    <span class="icon-to-right"></span>

                </div>
                <div class="order item-list">
                    <div class="list-border">
                        <div class="pic-border"><i class="icon-order"></i></div>
                        <span>订单</span>
                    </div>
                    <span class="icon-to-right"></span>

                </div>

            </div>
            <div class="trading-order">进行中的订单</div>
            <div class="trading-list">

            </div>
            <!--没有数据-->
            <div class="no-data">
                <img src="images/nocount_0.svg" alt="">
                <div class="tips"><p>没有相关数据</p></div>
            </div>
            <!--加载按钮-->
            <div class="loading_more hidden">
                <span class="No-more hidden">没有更多</span>
                <button class="See-more">查看更多</button>
            </div>
        </div>
        <div class="menue-bottom">
            <div class="bottom-list product">
                <span class="icon-tab_box icon"></span>
                <span class="text">产品</span>
            </div>
            <div class="bottom-list customer">
                <span class="icon-tab_kehu icon"></span>
                <span class="text">客户</span>
            </div>
            <div class="bottom-list email">
                <span class="icon-tab_youjian icon"></span>
                <span class="text">邮件</span>
            </div>
            <div class="bottom-list receipts active">
                <span class="icon-tab_danju icon"></span>
                <span class="text">单据</span>
            </div>
            <div class="bottom-list mime">
                <span class="icon-tab_wode icon"></span>
                <span class="text">我的</span>
            </div>
        </div>
        <div id="example-order" style="display:none;">
            <div class="order-item-card">
                <div class="card-head">
                    <span class="date">2016年12月5日</span>
                    <div class="order-detail">
                        <span>订单详情</span>
                        <span class="icon-to-right"></span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pic-border"></div>
                    <div class="product-introduce">
                        <div class="product"><span>产品：</span><span class="product-name">Multi color cushion & Very soft cushion</span></div>
                        <div class="price"><span>$</span> <span class="money-num">568.36</span></div>
                    </div>
                </div>
                <div class="card-foot"><span>状态：</span><span class="state">已发货</span></div>

            </div>
        </div>
    </div>
    <!--订单列表-->
    <div class="deal-order hidden" id="deal-order">
        <div class="order-head">
            <span class="icon-mail_fanhui back"></span>
            <div class="deal-order-word">订单</div>
        </div>
        <div class="deal-order-border">
            <div class="order-list">

            </div>
            <!--加载按钮-->
            <div class="loading_more hidden">
                <span class="No-more hidden">没有更多</span>
                <button class="See-more">查看更多</button>
            </div>
            <!--没有数据-->
            <div class="no-data">
                <img src="images/nocount_0.svg" alt="">
                <div class="tips"><p>没有相关数据</p></div>
            </div>
            <!--加载动画-->
            <div class="load_animation hidden">
                <div class="picture_box">
                    <img src="images/gif.gif" alt="">
                    <p>加载中...</p>
                </div>
            </div>
        </div>

    </div>

    <!--报价单-->
    <div class="quotation hidden" id="quotation">
        <div class="quotation-title">
            <div class="back-border">
                <span class="icon-mail_fanhui back"></span>
            </div>
            <div class="edite-border">
                <span class="icon-maoduo101"></span>
            </div>
            <div class="order-word">报价单</div>
            <div class="select-menu">
                <div class="select-all">全选</div>
                <div class="cancel">取消</div>
                <div class="select-num">
                    <span>已选择</span>
                    <span class="select-count">0</span>
                   <span>封</span>
                </div>
            </div>
        </div>
        <div class="delete">
                <div class="pic-border">
                    <span class="icon-shred trash"></span>
                    <span>删除</span>
                </div>
            </div>
        <div class="quotation-body-border">
            <div class="quotation-list-item">

            </div>
            <!--没有数据-->
            <div class="no-data">
                <img src="images/nocount_0.svg" alt="">
                <div class="tips"><p>没有相关数据</p></div>
            </div>
            <!--加载按钮-->
            <div class="loading_more hidden ">
                <span class="No-more hidden">没有更多</span>
                <button class="See-more abled">查看更多</button>
            </div>
            <div id="example-quotation" style="display:none;">
                <div class="quotation-item abled">
                    <div class="item-head">
                        <div class="pic-border">
                            <span class="icon-maoduo28"></span>
                            <span class="icon-right-null"></span>
                        </div>
                        <div class="item-name">
                            20161212-Multi color cushion & Very soft cushion
                        </div>
                        <span class="icon-to-right to-right"></span>
                    </div>
                    <div class="item-body">
                        <div class="pic-border"></div>
                        <div class="product-introduce">
                            <div class="product"><span>产品：</span><span class="product-name">Multi color cushion & Very soft cushion</span></div>
                            <div class="price"><span>$ </span><span class="money-num">568.36</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--修改报价单-->
    <div class="quotation-modify order-change hidden" id="quotation-modify">
        <div class="quotation-title change-title">
            <div class="back-border">
                <span class="icon-mail_fanhui back"></span>
            </div>
            <div class="money-change-border">
                <span class="icon-maoduo41"></span>
                <span class="icon-maoduo42 hidden"></span>
            </div>
            <div class="order-word">产品报价</div>
        </div>
        <div class="quotation-modify-body">
            <div class="product-order-num">
                <div class="product-num" style="display: none;">
                    <span>ProductNo ：</span>
                    <span class="productno">A12314</span>
                </div>
                <div class="product-name">Multi color cushion & Very soft cushion</div>
            </div>
            <div class="quotation-group">

            </div>
            <div class="freight-way">
                <div class="freight-head">
                    <span>货运信息</span>
                    <div class="delete">删除</div>
                    <div class="modify">修改</div>
                </div>
                <div class="freight-body">
                    <div class="freight-detail">
                        <div class="country">
                            <span>Ship to：</span>
                            <span class="country-detail">America</span>
                        </div>
                        <div class="freight-way-detail">
                            <div class="freight-word">
                                <span>Forwarder：</span>
                                <p class="transway"><span>Fedex</span><span class="way">IP</span></p>
                            </div>
                            <div class="freight-way-tip">
                                <span>国际优先快递服务</span>
                            </div>

                        </div>
                    </div>
                    <div class="total-money">
                        <span>Total </span>
                        <span class="symol-switch">$ </span>
                        <span class="money fund-change">1100.00</span>
                    </div>
                </div>
            </div>
            <div class="modify-group">
                <div class="add-product new-item">
                    <span class="modify-item">添加产品组合</span>
                    <div class="add-icon">
                        <span class="icon-add-cir"></span>
                    </div>
                </div>
                <div class="new-item add-address">
                    <span class="modify-item">添加货运信息</span>
                    <div class="add-icon">
                        <span class="icon-add-cir"></span>
                    </div>
                </div>
                <div class="new-item add-note">
                    <span class="modify-item">自定义信息</span>
                    <div class="add-icon">
                        <span class="icon-add-cir"></span>
                    </div>
                </div>
            </div>
            <div class="note-modify">
                <div class="note-title">
                    <span class="name-word">自定义信息</span>
                    <span class="name-delete">删除</span>
                    <span class="name-modify">修改</span>
                </div>
                <div class="note-word">
                    Multi color cushion & Very soft cushion Multi color cushion & Very soft cushionMulti color cushion & Very soft cushion
                </div>
            </div>
            <div class="profit">
                <div class="income-count">收益计算</div>
                <div class="account-balance">
                    <div class="sale-volume">
                        <div class="sale-num"><span class="symol-switch">$ </span><span class="money-count fund-change">568.36</span></div>
                        <div class="sale-word">销售额</div>
                    </div>
                    <div class="withdraw-deposit">
                        <div class="deposit-num"><span class="symol-switch">$ </span><span class="money-count fund-change">568.36</span></div>
                        <div class="deposit-word">提成</div>
                    </div>
                </div>
            </div>
            <div class="order-name">
                <div class="order-title">
                    <span class="name-word">单据名称</span>

                </div>
                <div class="order-word">
                    <textarea name="" id="order-name-input" cols="" rows="2" maxlength="50">Multi color cushion & Very soft cushion 的订单</textarea>

                </div>

            </div>
            <div class="order-download">
                <div class="download">
                    <span class="icon-price-dan down-icon"></span>
                    <span>下载PDF</span>
                </div>
            </div>
            <div id="quotation-modify-exmple" style="display: none;">
                <div class="quotation-item">
                    <div class="quotation-head">
                        <span class="group-name">报价组合</span>
                        <span class="group-delete">删除</span>
                        <span class="modify">修改</span>
                    </div>
                    <div class="pic-container">

                    </div>
                    <div class="product-detail">


                    </div>
                    <div class="line"></div>
                    <div class="total-money">
                        <span>Total  </span>
                        <span><b class="symol-switch">$</b><span class="money-count fund-change">15450.00</span></span>
                    </div>
                </div>
            </div>
            <div id="Mask-pop">
                <div class="saveas-quotation">
                    <div class="saveas-title">另存为报价单</div>
                    <div class="rename">重命名</div>
                    <div class="quotation-input">
                        <input type="text" value="20161212-Multi color cushion 副本">
                        <span class="icon-err"></span>
                    </div>
                    <div class="save">保存</div>
                    <div class="cancel">取消</div>
                </div>
                <div class="quotation-tips">
                    <div class="tips-title">报价提示</div>
                    <div class="content">
                        <p>请重新修改您的报价</p>
                        <p>销售额不能低于 <span>$</span><span class="money">2.00</span></p>
                    </div>
                    <div class="modify-quotation">修改报价</div>
                </div>
                <div class="save-quotation">
                    <span class="icon-add close"></span>
                    <div class="save-title">报价单保存成功</div>
                    <p class="word">你已经保存此报价单，接下来可以</p>
                    <div class="send-email">发送邮件</div>

                    <div class="download-quotation">下载报价单</div>
                </div>
            </div>
        </div>
        <div class="quotation-foot">
            <div class="quotation-description quotation_note">
                <div class="pic-border">
                    <span class="icon-wenhao"></span>
                </div>
                <span class="description-word">《报价说明》</span>
            </div>
            <div class="submit-order">提交订单</div>
            <div class="save-modify">
                <div class="save-icon"><span class="icon-file-download"></span></div>
                <div class="word">保存</div>
            </div>
            <div class="save-as">
                <div class="save-icon"><span class="icon-save-as"></span></div>
                <div class="word">另存为</div>
            </div>
        </div>

    </div>
    <!--订单详情-->
    <div class="Order-Detail hidden" id="Order-Detail">
        <div class="quotation-title change-title">
            <div class="back-border">
                <span class="icon-mail_fanhui back"></span>
            </div>
            <div class="money-change-border">
                <span class="icon-maoduo41"></span>
                <span class="icon-maoduo42 hidden"></span>
            </div>
            <div class="order-word">订单详细</div>
        </div>
        <div class="quotation-body">
            <div class="product-order-num" >
                <div class="product-num" style="display: none;">
                    <span>ProductNo ：</span>
                    <span class="productno">A12314</span>
                </div>
                <div class="product-name">Multi color cushion & Very soft cushion</div>
            </div>
            <div class="quotation-group">
                <!--
                <div class="quotation-item">
                    <div class="quotation-head">
                        <span class="group-name">报价组合 1</span>

                    </div>
                    <div class="pic-container">

                    </div>
                    <div class="product-detail">
                        <div class="product-num">
                            <span>Product Qty:</span>
                            <span>1000pcs</span>
                            <span class="money">1500.00</span>
                        </div>
                        <div class="product-color">
                            <span>Color:</span>
                            <span>Black</span>
                            <span class="money">0</span>
                        </div>
                        <div class="product-logo">
                            <span>Logo:</span>
                            <span>Front side</span>
                            <span class="money">150.00</span>
                        </div>

                    </div>
                    <div class="line"></div>
                    <div class="total-money">
                        <span>Total  </span>
                        <span><b>$</b>15450.00</span>
                    </div>
                </div>
                -->
            </div>
            <div class="freight-way">
                <div class="freight-head">
                    <span>货运信息</span>

                </div>
                <div class="freight-body">
                    <div class="freight-detail">
                        <div class="country">
                            <span>Ship to：</span>
                            <span class="country-detail">America</span>
                        </div>
                        <div class="freight-way-detail">
                            <div class="freight-word">
                                <span>Forwarder：</span>
                                <p class="transway"><span>Fedex</span><span class="way">IP</span></p>
                            </div>
                            <div class="freight-way-tip">
                                <span>国际优先快递服务</span>
                            </div>

                        </div>
                    </div>
                    <div class="total-money">
                        <span>Total </span>
                        <span class="symol-switch">$ </span>
                        <span class="money fund-change">1100.00</span>
                    </div>
                </div>
            </div>
            <div class="own-note">
                <div class="note-title">自定义信息</div>
                <div class="note-content">自定义内容显示用户自定义的内容。
                    可以换行，无其他特殊格式啦。
                    可以换行。
                </div>
            </div>
            <div class="profit">
                <div class="income-count">收益计算</div>
                <div class="account-balance">
                    <div class="sale-volume">
                        <div class="sale-num"><span class="symol-switch">$ </span><span class="money-count fund-change"></span></div>
                        <div class="sale-word">销售额</div>
                    </div>
                    <div class="withdraw-deposit">
                        <div class="deposit-num"><span class="symol-switch">$ </span><span class="money-count fund-change"></span></div>
                        <div class="deposit-word">提成</div>
                    </div>
                </div>
            </div>

            <div class="order-download">
                <div class="download">
                    <span class="icon-price-dan down-icon"></span>
                    <span>下载PDF</span>
                </div>
            </div>
            <div id="quotation-group-exmple" style="display: none;">
                <div class="quotation-item">
                    <div class="quotation-head">
                        <span class="group-name">报价组合</span>

                    </div>
                    <div class="pic-container">


                    </div>
                    <div class="product-detail">


                    </div>
                    <div class="line"></div>
                    <div class="total-money">
                        <span>Total  </span>
                        <span><b class="symol-switch">$</b><span class="money-count fund-change">15450.00</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--成功提交订单-->
    <div class="order-success hidden" id="order-success">
        <div class="success-title">
            <span class="complete">完成</span>
            <div class="tips-word">提示</div>
        </div>
        <div class="success-tip">
            <div class="pic-border">
                <span class="icon-right"></span>
            </div>
            <div class="tips">
                <h2>提交订单成功</h2>
                <p>2016年12月5日 23:00</p>
            </div>
        </div>
        <div class="success-description">
            <p>如有疑问，请致电</p>
            <p class="tel">400 0755 222</p>
        </div>
    </div>
    <!--订单追踪-->
    <div class="order-track hidden" id="order-track">
        <div class="order-track-head">
            <span class="icon-mail_fanhui back"></span>
            <div class="track-word">订单追踪</div>
        </div>
        <div class="order-track-body">
            <div class="order-card">
                <div class="order-head">
                    <div class="order-title-border">
                        <div class="order-num"><span>订单号：</span><span class="order-count">ASH1231244</span></div>
                        <div class="order-date">2016年12月5日 23:00</div>
                    </div>
                    <div class="order-detail-go">
                        <span>详细信息</span>
                        <i class="icon-to-right"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pic-border"></div>
                    <div class="order-product">
                        <div class="product-name">
                            <span>产品：</span>
                            <span class="product-name-word">Multi color cushion & Very soft cushion</span>
                        </div>
                        <div class="product-money">
                            <span>$</span>
                            <span class="price">564.32</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-track-detail">
                <div class="order-track-title">订单追踪</div>
                <div class="order-track-line">
                    <div class="dot-border">
                        <div class="line"></div>

                    </div>

                    <div class="order-track-border">


                    </div>
                </div>
            </div>
        </div>
        <div class="order-stop">
            <div class="order-description">
                <span class="icon-wenhao"></span>
                <span>《订单追踪说明》</span>
            </div>
            <div class="stop-trade">订单反馈</div>
        </div>
    </div>
    <!--终止申请页面-->
    <div class="stop-order hidden" id="stop-order">
        <div class="stop-head">
            <div class="cancel">取消</div>
            <div class="submit">提交</div>
            <div class="title">订单反馈</div>
        </div>
        <div class="reason-border">
            <textarea name="" id="" cols="30" rows="10" placeholder="请输入反馈内容："></textarea>
        </div>
        <div class="tel-contact">
            <span class="tel"> 400 0755 222</span>
            <span class="contact-word">电话联系：</span>
        </div>
    </div>
    <!--自定义信息页面-->
    <div class="own-information hidden" id="own-information">
        <div class="stop-head">
            <div class="cancel">取消</div>
            <div class="submit">确定</div>
            <div class="title">自定义信息</div>
        </div>
        <div class="reason-border">
            <textarea name="" id="" cols="30" rows="10" placeholder="输入自定义的内容："></textarea>
        </div>
        <div class="tel-contact">
            <div class="own-description">
                <span class="icon-wenhao"></span>
                <span>信息填写说明</span>
            </div>

            <span class="tel"> 400 0755 222</span>
            <span class="contact-word">电话联系：</span>
        </div>
    </div>
    <!--修改产品组合-->
    <div id="productProperties" class="hidden">
        <header>
            <h2>报价组合</h2>
            <span class="cancelBtn">取消</span>
            <span class="icon-maoduo41 change-money hidden"></span>
            <span class="icon-maoduo42 change-money hidden"></span>
        </header>
        <article>
            <div class="quotation-tip">
                <span class="icon-wenhao tips"></span>
                <span class="wayToPrice">提示：《报价说明》</span>
            </div>
            <div class="aboutProduct">
                <p style="display: none;">ProductNo：<span class="productno">A12314</span></p>
                <p class="product-name">Multi color cushion Very soft cushion</p>
            </div>
            <div class="productPicList">
                <p class="picHeader">产品图片</p>
                <ul class="picUl cl">


                </ul>
            </div>
            <div class="quantityOfPro">
                <div class="qtyTitle cl">
                    <span class="qtyText">产品数量</span>
                    <div class="changeQtyBtn " id="product-num-border">
                        <span class="firstShow">请输入产品数量</span><b id="product-num"></b><input id="product-num-input" class="" type="tel" />
                    </div>
                </div>
                <div class="prodBasePrice cl">
                    <span class="qtyText">产品基础价格</span>
                    <div class="changeBtn">
                        <span class="changeText">修改报价</span><span class="changeSign">+$</span><em class="">9.13</em><input class="" type="number" />
                    </div>
                </div>
                <div class="qtyInputer">
                    <span class="basePricePerPcs"><span>$</span><em>8.00</em></span>
                </div>
            </div>
            <ul class="propertyList">

            </ul>
            <ul id="attribute-exmple" style="display: none;">
                <li class="prodProperty">
                    <div class="propertyHeader">
                        <span class="propertyName">产品属性1</span>
                        <div class="changeBtn">
                            <span class="changeText">修改报价</span><span class="changeSign">+$</span><em class="">0</em><input class="" type="number" />
                        </div>
                    </div>
                    <ul class="detailList">

                    </ul>
                </li>
            </ul>

        </article>
        <footer class="">

            <span class="pricePerPcs">单价  <b>$</b> <em>0</em></span>
            <span class="salesNum">销售额  <b>$</b> <em>0</em></span>
            <div class="sureBtn">保存组合</div>
        </footer>
    </div>
    <!--图片银行-->
    <div id="pictureBank" class="hidden">
        <header>
            <h2>选择图片</h2>
            <span class="cancelBtn">取消</span>
            <span class="sureBtn">确定</span>
        </header>
        <article>
            <div class="aboutPic">
                <p>ProductNo：<span>A12314</span></p>
                <p>Multi color cushion Very soft cushion</p>
            </div>
            <div class="picLists">
                <p><em>0</em>/3</p>
                <ul class="cl">
                    <li>
                        <span class="icon-right-cir"></span>
                        <img src="images/7F51EB036B7B85F381F2B4CB985EC6A5.png" alt="" />
                    </li>
                    <li>
                        <span class="icon-right-cir"></span>
                        <img src="images/7F51EB036B7B85F381F2B4CB985EC6A5.png" alt="" />
                    </li>
                    <li>
                        <span class="icon-right-cir"></span>
                        <img src="images/7F51EB036B7B85F381F2B4CB985EC6A5.png" alt="" />
                    </li>
                    <li>
                        <span class="icon-right-cir"></span>
                        <img src="images/7F51EB036B7B85F381F2B4CB985EC6A5.png" alt="" />
                    </li>
                    <li>
                        <span class="icon-right-cir"></span>
                        <img src="images/7F51EB036B7B85F381F2B4CB985EC6A5.png" alt="" />
                    </li>
                    <li>
                        <span class="icon-right-cir"></span>
                        <img src="images/7F51EB036B7B85F381F2B4CB985EC6A5.png" alt="" />
                    </li>
                </ul>
            </div>
        </article>
    </div>
    <!--货运信息-->
    <div id="freight-information" class="hidden">
        <div class="message-head">
            <div class="cancel">取消</div>
            <div class="message-title">货运信息</div>
        </div>
        <div class="freight-body">
            <div class="freight-tips">
                <span class="icon-wenhao wenhao"></span>
            <span>提示：《货运报价》</span>

        </div>
            <div class="destination">
            <span class="destination-title">目的地</span>
            <div class="country-select">请选择国家</div>
        </div>
            <div class="freight-way-border">
                <div class="freight-way">
                    <span>货运方式</span>
                    <div class="fedex">Fedex</div>
                </div>
                <div class="IPway list abled">
                    <div class="freight-left">
                        <span class="icon-right selected"></span>
                        <span class="ip">IP</span>
                    </div>
                    <div class="freight-description">国际优先快递服务</div>
                </div>
                <div class="IEway list abled">
                    <div class="freight-left">
                        <span class="icon-right"></span>
                        <span class="ie">IE</span>
                    </div>
                    <div class="freight-description">国际经济快递服务</div>
                </div>
            </div>
            <div class="product-num">
                <div class="num-title">产品数量</div>
                <div class="num-count">1000</div>
            </div>
            <div class="freight-fee">
                <div class="fee-way">
                    <span>货运费用</span>
                    <div class="modify" id="fee-modify">
                        <div class="xiugai">修改</div>
                        <span class="fee-icon">$</span>
                        <span class="fee-count">8.00</span>
                        <input type="number" id="fee-input">
                    </div>
                </div>
                <div class="fee-standard">
                    <div class="content">
                        <span>$</span>
                        <span class="standard-money">9.00</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="foot">
            <div class="freight-total-fee">
                <span>货运费用:</span>
                <span class="color">$ </span>
                <span class="color money">12.19</span>
            </div>
            <div class="save">保存组合</div>
        </div>
    </div>
    <!--选择国家-->
    <div id="Country-list" class="hidden">
        <div class="country-head">
            <div class="cancel">取消</div>
            <span class="icon-search"></span>
            <div class="head-title">选择国家</div>
        </div>
        <div class="country-title">
            <div class="district">国家/地区</div>
            <div class="IP">IP</div>
            <div class="IE">IE</div>
        </div>
        <div class="country-list-table">

        </div>
        <div id="country-item-example" style="display: none;">
            <div class="country-item">
                <div class="district">
                    <div class="china-country">阿富汗</div>
                    <div class="english-country">Afghanistan</div>
                </div>
                <div class="IP"><span class=""></span></div>
                <div class="IE"><span class=""></span></div>
            </div>
        </div>
    </div>
    <!--搜索国家-->
    <div id="search-country" class="hidden">
        <div class="search-head">
            <span class="icon-mail_fanhui"></span>
            <span class="search">搜索</span>
            <div class="search-title">搜索国家</div>
        </div>
        <div class="search-input">
            <span class="icon-search"></span>
            <input type="text" placeholder="输入要搜索的国家">
        </div>
    </div>

    <!--组合报价方法-->
    <div class="illustrate hidden" id="quotation_way">
        <div class="header">
            <span class="icon-mail_fanhui"></span>
            <span class="title">报价说明</span>
        </div>
        <div class="container">
            <div class="main-body">
                <h2 class="theme">“开始报价”的使用</h2>
                <p class="paragraph">1、选择产品进行报价，每个报价单至少含有一个报价组合，可添加多个报价组合；</p>
                <p class="paragraph">2、每个报价组合可任意选择属性，以及修改相应价格；</p>
                <p class="paragraph">3、可以添加货运信息，目前以Fedex货运为主；</p>
                <p class="paragraph">4、可以添加自定义信息，自定义信息用于填写客户相关信息，如：货运地址、联系方式、要求和备注。</p>
                <h2 class="theme">生产报价单的条件</h2>
                <p class="paragraph">用户可以自行修改每一项属性的价格，生成报价单时，销售总额不低于成本总额。</p>
                <h2 class="theme">生成订单的条件</h2>
                <p class="paragraph">生产订单将会提交给贸多多后台，须保证报价组合、货运信息、自定义信息填写完整，缺一不可。</p>
                <h2 class="theme">提成说明</h2>
                <p class="paragraph">每笔订单的利润，根据国家规定扣除了相关税费；</p>
                <p class="paragraph">用户将获得每笔订单利润90%的提成，剩余10%归平台方所有；</p>
                <p class="paragraph">提成为预计提成，不包含银行手续费以及其他交易过程中产生的额外费用，实际提成将扣除各类费用，请以实际核算提成为准。</p>
                <h2 class="theme">报价单的用途</h2>
                <p class="paragraph">生成报价单之后会生成报价单PDF格式文档，可以下载或通过邮件发送给客户；</p>
                <p class="paragraph">与客户沟通确认后，可将报价单提交成为订单，由贸多多安排出货。</p>
                <h2 class="theme">疑问解答</h2>
                <p class="paragraph">1、是否支持合并报价单</p>
                <p class="paragraph">不支持，目前只支持一个产品的多种属性组合报价，如需多个产品，请生成多个报价单。</p>
                <p class="paragraph">2、报价单的管理</p>
                <p class="paragraph">报价单用于用户给客户客户报价，可根据自己的定制生产报价单、并保存管理，保存在“单据-报价单”中，可根据自身需求调整报价单、另存为报价单。</p>
                <p class="paragraph">3、何时能获得提成</p>
                <p class="paragraph">每笔订单交易完成后，将获得实际提成。</p>
            </div>
            </div>
        </div>
    <!--货运报价说明报价方法-->
    <div class="illustrate hidden" id="freight_description">
        <div class="header">
            <span class="icon-mail_fanhui"></span>
            <span class="title">货运报价说明</span>
        </div>
        <div class="container">
            <div class="main-body">
                <h2 class="theme">货运报价规则</h2>
                <p class="paragraph">货运报价只需要选择目的国家以及货运方式（IP或IE），将根据产品报价组合的总数量以及产品参数进行运费计算；</p>
                <p class="paragraph">货运报价将根据国际物流标准计算，目前只支持Fedex，燃油附加费以Fedex费率为准；</p>
                <p class="paragraph">根据产品的不同质量和体积，将按照产品重量和材积取大后进行运费计算；</p>
                <p class="paragraph">货运报价可以自行修改，但须保证销售总额大于成本总额。</p>

            </div>
        </div>
    </div>
    <!--订单追踪说明-->
    <div class="illustrate hidden" id="order_tracking">
        <div class="header">
            <span class="icon-mail_fanhui"></span>
            <span class="title">订单追踪说明</span>
        </div>
        <div class="container">
            <div class="main-body">
                <h2 class="theme">订单的使用</h2>
                <p class="paragraph">订单用于用户根据客户要求提交所得，由贸多多根据订单需求备货、出货；</p>
                <p class="paragraph">订单追踪用于用户跟进订单状态，及时与贸多多进行沟通反馈；</p>
                <p class="paragraph">订单交易中产生的问题请点“订单反馈”说明情况，贸多多将及时处理。</p>
                <h2 class="theme">疑问解答</h2>
                <p class="paragraph">1、何时安排备货、出货？</p>
                <p class="paragraph">贸多多将在收到订单时进行准备，收到客户定金后备货完成，收到客户全款后进行出货。</p>
                <p class="paragraph">2、如何收取货款？</p>
                <p class="paragraph">客户根据生产订单中的银行信息，进行支付；用户须在与客户确认货款动向后，认领货款。</p>
            </div>
        </div>
    </div>
    <!--单据使用说明-->
    <div class="illustrate hidden" id="order_description">
        <div class="header">
            <span class="icon-mail_fanhui"></span>
            <span class="title">单据使用说明</span>
        </div>
        <div class="container">
            <div class="main-body">
                <h2 class="theme">报价单</h2>
                <p class="paragraph">1.在产品页面选择产品后，点击“开始报价”，填写相关信息，即可生产报价单；</p>
                <p class="paragraph">2.用户可以自行修改每一项属性的价格，生成报价单时，销售总额不低于成本总额。</p>
                <h2 class="theme">订单</h2>
                <p class="paragraph">1.可从报价单生成订单，须保证报价组合、货运信息、自定义信息填写完整，缺一不可；</p>
                <p class="paragraph">2.订单将会提交给贸多多后台，由贸多多安排处理；</p>
                <p class="paragraph">3.订单交易过程中的信息，通过订单详细页面右下方“信息反馈”，及时与我们保持沟通。</p>
                <h2 class="theme">新建单据</h2>
                <p class="paragraph">新建单据，从产品页面开始。</p>
            </div>
        </div>
    </div>
    <!--自定义信息说明-->
    <div class="illustrate hidden" id="own_description">
        <div class="header">
            <span class="icon-mail_fanhui"></span>
            <span class="title">信息填写说明</span>
        </div>
        <div class="container">
            <div class="main-body">
                <p class="paragraph">自定义信息用于填写客户相关信息，如：货运地址、联系方式、要求和备注等，以保证订单信息完整。</p>
            </div>
        </div>
    </div>
    <!--通用费用-->
    <div class="common-fee" id="common-fee">
        <div class="header">
            <div class="cancel">取消</div>
            <div class="message-title">通用价格</div>
        </div>
        <div class="common-attr-content">
            <div class="common-attr">
                <div class="title">通用属性</div>
            </div>
        </div>
    </div>

    <component :is="currentView" >

    </component>
</div>