#bill-box {
  .Bill {
    //display: none;
    width: 100%;
    height: 100%;

    .bill-head {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      width: 100%;
      height: 1.3334rem;
      background-color: #fff;
      text-align: center;
      line-height: 1.3334rem;
      color: #333;
      font-size: 0.48rem;
      border-bottom: 1px solid #eee;
    }
    .bill-body {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding-top: 1.3334rem;
      padding-bottom: 1.44rem;
      .bill-tips {
        height: 0.82667rem;
        width: 100%;
        line-height: 0.82667rem;
        background-color: #f2f2f2;
        color: #999;
        font-size: 0.32rem;
        padding-left: 0.56rem;
        span{
          float: left;
        }
        .icon-wenhao{
          margin: .25rem .1rem .25rem 0;
        }
      }
      .item-menu {
        width: 100%;
        //background: red;
        .item-list {
          width: 100%;
          height: 1.6rem;
          padding: 0 0.61334rem;
          box-shadow: 0px 1px 0px 0px #EEEEEE;

          .list-border {
            float: left;
            width: 3rem;
            height: 100%;
            line-height: 1.6rem;
            &:before {
              content: '';
              display: table;
            }
            //background: red;
            .pic-border {
              float: left;
              width: 0.48rem;
              height: 0.48rem;
              //background: green;
              margin-top: 0.48rem;
              position: relative;
            }
            span {
              float: left;
              margin-left: 0.37334rem;
              font-size: 0.42667rem;
              color: #333;

            }
            i {
              position: absolute;
              top: 0;
              left: 0;
              font-size: 0.56rem;
              color: #00BCD4;
            }
          }

        }
        .order .list-border i {
          color: #FFC155;

        }
        .trade-order .list-border i {
          color: #4ADA8E;

        }

        .icon-to-right {
          font-size: 0.5rem;
          float: right;
          margin-top: 0.55rem;
        }
      }
      .trading-order {
        width: 100%;
        height: 0.74667rem;
        line-height: 0.74667rem;
        font-size: 0.32rem;
        color: #999;
        background: #F2F2F2;
        padding-left: 0.56rem;
      }
      .trading-list {
        width: 100%;
        background-color: #fff;

      }
      .no-data{
        display: none;
        width: 100%;
        position: relative;
        height: 4.5rem;
        margin-top: 1rem;
        img{
          width: 4rem;
          position: absolute;
          left: 50%;
          top: 0;
          margin-left: -2.4rem;
          opacity: .6;
        }
        .tips{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          p{
            text-align: center;
          }
        }
      }
      .order-item-card {
        width: 9.0667rem;
        height: 4.3667rem;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 0.10667rem 0.16rem 0px rgba(203, 203, 203, 0.50);
        border-radius: 0.18667rem;
        margin: 0.5334rem auto 0.8rem;
        //margin-bottom: 0.8rem;
        .card-head {
          width: 100%;
          height: 0.93334rem;
          line-height: 0.93334rem;
          background: #fff;
          padding: 0 0.37333rem;
          .date {
            float: left;
            color: #999;
          }
          .order-detail {
            float: right;
            span {
              color: #999;
            }
            .icon-to-right {
              color: #666;
            }
          }
        }
        .card-body {
          width: 100%;
          height: 2.4rem;
          background: #F8F8F8;
          &:before {
            content: '';
            display: table;
          }
          .pic-border {
            float: left;
            width: 1.6rem;
            height: 1.6rem;
            //background-color: red;
            margin: 0.4rem 0.34667rem;
            border-radius: 0.16rem;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../images/quotation_blank.png');
          }
          .product-introduce {
            float: left;
            width: 6.21334rem;
            margin-top: 0.50667rem;
            color: #333;
            font-size: 0.32rem;
            .product {
              width: 100%;
              height: 1.0134rem;
            }
            .price {
              color: #FF5E54;
            }
          }
        }
        .card-foot {
          width: 100%;
          height: 0.93334rem;
          line-height: 0.93334rem;
          padding: 0 0.37333rem;
          color: #333;
          .state {
            color: #FF5E54;
          }
        }
      }
    }

    .menue-bottom {
      width: 10rem;
      background: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      .bottom-list {
        width: 2rem;
        height: 1.44rem;
        float: left;
        text-align: center;
        padding-top: 0;
        .icon {
          display: block;
          font-size: 0.6rem;
          color: #ccc;
          margin-top: 0.2rem;
        }
        .text {
          color: #999;
          font-size: 0.32rem;
        }
      }
      .active {
        .text, .icon {
          color: #ff5e54;
        }
      }
    }

  }
  .deal-order {
    //display: none;
    width: 100%;
    height: 100%;

    .order-head {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1.3334rem;
      line-height: 1.3334rem;
      font-size: 0.48rem;
      color: #333333;
      box-shadow: 0px 1px 0px 0px #EEEEEE;
      background-color: #fff;
      .back {
        float: left;
        color: #666;
        font-size: 0.5rem;
        //margin-top: 0.4167rem;
        padding: 0.4167rem 0.42667rem;
        position: relative;
        z-index: 1;
      }
      .deal-order-word {
        width: 2rem;
        text-align: center;
        margin: 0 auto;

      }
    }
    .deal-order-border{
      width: 100%;
      height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding-top: 1.3334rem;
    }
    .order-list {
      width: 100%;
      .order-item-card {
        width: 9.0667rem;
        height: 4.3667rem;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 0.10667rem 0.16rem 0px rgba(203, 203, 203, 0.50);
        border-radius: 0.18667rem;
        margin: 0.5334rem auto 0.8rem;
        //margin-bottom: 0.8rem;
        .card-head {
          width: 100%;
          height: 0.93334rem;
          line-height: 0.93334rem;
          background: #fff;
          padding: 0 0.37333rem;
          .date {
            float: left;
            color: #999;
          }
          .order-detail {
            float: right;
            span {
              color: #999;
            }
            .icon-to-right {
              color: #666;
            }
          }
        }
        .card-body {
          width: 100%;
          height: 2.4rem;
          background: #F8F8F8;
          &:before {
            content: '';
            display: table;
          }
          .pic-border {
            float: left;
            width: 1.6rem;
            height: 1.6rem;
            //background-color: red;
            margin: 0.4rem 0.34667rem;
            border-radius: 0.16rem;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../images/quotation_blank.png');
          }
          .product-introduce {
            float: left;
            width: 6.21334rem;
            margin-top: 0.50667rem;
            color: #333;
            font-size: 0.32rem;
            .product {
              width: 100%;
              height: 1.0134rem;
            }
            .price {
              color: #FF5E54;
            }
          }
        }
        .card-foot {
          width: 100%;
          height: 0.93334rem;
          line-height: 0.93334rem;
          padding: 0 0.37333rem;
          color: #333;
          .state {
            color: #FF5E54;
          }
        }
      }
    }
    .no-data{
      display: none;
      width: 100%;
      position: relative;
      height: 4.5rem;
      top: 50%;
      margin-top: -4rem;
      img{
        width: 4rem;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -2.4rem;
        opacity: .6;
      }
      .tips{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        p{
          text-align: center;
        }
      }
    }
  }

  .quotation {
    //display: none;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;

    .quotation-title {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      width: 100%;
      height: 1.3334rem;
      background-color: #fff;
      border-bottom: 1px solid #EEEEEE;
      //position: relative;
      .back-border {
        float: left;
        width: 1.3334rem;
        height: 100%;
        position: relative;
        .back {
          position: absolute;
          color: #666;
          font-size: 0.5rem;
          //margin: 0.4167rem 0.42667rem;
          top: 0.4167rem;
          left: 0.42667rem;
        }
      }
      .edite-border {
        float: right;
        width: 1.3334rem;
        height: 100%;
        position: relative;
        .icon-maoduo101 {
          font-size: 0.48rem;
          color: #5BC2FF;
          position: absolute;
          top: 0.4267rem;
          left: 0.4267rem;
        }

      }
      .order-word {
        width: 1.5rem;
        height: 100%;
        line-height: 1.3334rem;
        text-align: center;
        color: #333;
        font-size: 0.48rem;
        margin: 0 auto;
      }
      .select-menu {
        display: none;
        width: 100%;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 1.3334rem;

        font-size: 0.3734rem;
        color: #5094E2;
        letter-spacing: -0.34px;
        .select-all {
          float: left;
          padding: 0 0.43rem;
        }
        .cancel {
          float: right;
          padding: 0 0.43rem;
        }
        .select-num {
          width: 5rem;
          text-align: center;
          margin: 0 auto;
          color: #333;
          font-size: 0.4267rem;
        }
      }
    }
    .delete {
      display: none;
      position: absolute;
      z-index: 20;
      top: 1.3334rem;
      left: 0;
      width: 100%;
      height: 1.334rem;

      color: #fff;
      background: #ddd;
      &.abled {
        color: #f35254;
        background-color: #FFE7E7;
      }
      .pic-border {
        width: .8rem;
        height: 100%;
        margin: 0 auto;
        font-size: .32rem;
        //color: #f35254;
        text-align: center;
        padding-top: .24rem;
        span {
          float: left;
        }
        .trash {
          font-size: .45rem;
          margin-left: .08rem;
        }
      }
    }
    .quotation-body-border {
      width: 100%;
      height: 100%;
      padding-top: 1.334rem;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      .quotation-list-item {
        width: 100%;

        .quotation-item {
          width: 100%;
          height: 4.6934rem;
          background: #FFFFFF;
          border-bottom: 1px solid #EEEEEE;
          margin-bottom: 0.29rem;
          .item-head {
            width: 100%;
            height: 1.84rem;
            // border-bottom: 1px solid red;
            .pic-border {
              float: left;
              width: 0.96rem;
              height: 0.96rem;
              margin: 0.44rem 0.34667rem;
              //background: red;

              span {
                font-size: 0.96rem;

              }
              .icon-right-null {
                color: #AEAEAE;
                &.selected {
                  color: #1E85FF;
                }
                display: none;
              }
              .icon-maoduo28 {
                color: #00BCD4;

              }

            }
            .item-name {
              width: 7.2rem;
              float: left;
              font-size: 0.3734rem;
              color: #333;
              //background: green;
              margin-top: 0.45rem;
              line-height: .5rem;
            }
            .to-right {
              float: right;
              font-size: .5rem;
              padding: 0.66rem 0.5rem 0.66rem 0.1rem;
              //background: pink;
            }
          }
          .item-body {
            width: 100%;
            height: 2.4rem;
            background-color: #f8f8f8;
            padding-left: 1.5467rem;
            .pic-border {
              width: 1.6rem;
              height: 1.6rem;
              float: left;
              margin-top: .4rem;
              //background-color: red;
              border-radius: .16rem;

              background-position: 0 0;
              background-repeat: no-repeat;
              background-size: cover;
              background-image: url('../images/quotation_blank.png');
            }
            .product-introduce {
              float: left;
              width: 5.6rem;
              margin-left: .4rem;
              margin-top: 0.50667rem;
              color: #333;
              font-size: 0.32rem;
              .product {
                width: 100%;
                height: 1.0134rem;
              }
              .price {
                color: #FF5E54;
              }
            }
          }

        }
      }
      .no-data{
        display: none;
        width: 100%;
        position: relative;
        height: 4.5rem;
        top: 50%;
        margin-top: -4rem;
        img{
          width: 4rem;
          position: absolute;
          left: 50%;
          top: 0;
          margin-left: -2.4rem;
          opacity: .6;
        }
        .tips{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          p{
            text-align: center;
          }
        }
      }
    }

  }
  .order-change {
    //display: none;

    width: 100%;
    height: 100%;
    background-color: #f5f5f5;

    .change-title {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      width: 100%;
      height: 1.3334rem;
      background-color: #fff;
      border-bottom: 1px solid #EEEEEE;
      .back-border {
        float: left;
        width: 1.3334rem;
        height: 100%;
        position: relative;
        .back {
          position: absolute;
          color: #666;
          font-size: 0.5rem;
          //margin: 0.4167rem 0.42667rem;
          top: 0.4167rem;
          left: 0.42667rem;
        }
      }
      .money-change-border {
        float: right;
        width: 1.3334rem;
        height: 100%;
        position: relative;
        .icon-maoduo41 {
          font-size: 0.65rem;
          color: #FB6058;
          position: absolute;
          top: 0.35rem;
          left: 0.35rem;
        }
        .icon-maoduo42 {
          font-size: 0.65rem;
          color: #FB6058;
          position: absolute;
          top: 0.35rem;
          left: 0.35rem;
        }

      }
      .order-word {
        width: 4rem;
        height: 100%;
        line-height: 1.3334rem;
        text-align: center;
        color: #333;
        font-size: 0.48rem;
        margin: 0 auto;
      }
    }
    .quotation-modify-body {
      position: relative;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 1.44rem;
      padding-top: 1.3334rem;
      .product-order-num {
        background-color: #fff;
        width: 100%;
        height: 2rem;
        border-bottom: 1px solid #eee;
        padding: 0 0.74667rem;
        &:before {
          content: '';
          display: table;
        }
        .product-num {
          width: 100%;
          font-size: 0.32rem;
          color: #666;
          margin-top: 0.34rem;
        }
        .product-name {
          color: #333;
          font-weight: bold;
          font-size: 0.42667rem;
          letter-spacing: -0.39px;
          //line-height: 0.7rem;
          line-height: 2rem;
          white-space: nowrap;
          padding: .1rem 0;
        }
      }
      .quotation-group {

        width: 100%;
        .quotation-item {
          padding-bottom: 1rem;
          border-bottom: 1px solid #eee;
          overflow: hidden;
          margin-top: 0.2667rem;
          background-color: #fff;
          margin-bottom: 0.53rem;
          .quotation-head {
            width: 100%;
            height: 1.6rem;
            line-height: 1.6rem;
            padding: 0 0.5067rem;
            // background: #FFFFFF;
            box-shadow: 0px 1px 0px 0px #EEEEEE;
            .group-name {
              font-size: 0.37334rem;
              color: #333;
              font-weight: bold;
              float: left;
            }
            .modify {
              color: #FF6060;
              padding: 0 0.1867rem 0 0.3rem;
              font-size: 0.37334rem;
              float: right;
            }
            .group-delete {
              color: #FF6060;
              padding: 0 0.1867rem 0 0.3rem;
              font-size: 0.37334rem;
              float: right;
            }
          }
          .pic-container {
            width: 100%;
            height: 2.6667rem;
            border-bottom: 1px solid #eee;
            padding: 0.2667rem 1.1334rem;
            text-align: center;
            line-height: 2rem;
            color: #999;
            .pic-border {
              float: left;
              width: 2.1334rem;
              height: 2.1334rem;
              //background: red;
              border-radius: 0.25rem;
              background-size: cover;
              &:nth-child(2n+2) {
                margin: 0 0.6666rem;
              }
            }
          }
          .product-detail {
            width: 100%;
            //height: 6.667rem;
            //border-bottom: 1px solid #eee;
            padding: 0.9334rem 0.8rem 0.2667rem 0.8rem;
            font-size: 0.37334rem;
            color: #999;
            //border-bottom: 1px solid #eee;
            .product-attr {
              width: 100%;
              height: 0.58667rem;
              line-height: 0.58667rem;
              .money {
                float: right;
              }
            }

          }
          .line {
            width: 8.4rem;
            height: 0;
            margin-left: 0.8rem;
            border-bottom: 1px solid #eee;
          }
          .total-money {
            float: right;
            margin-right: 0.8rem;
            line-height: 1rem;
            font-weight: bold;
            font-size: 0.37334rem;
            color: #ff5e54;
          }
        }
      }
      .freight-way {
        width: 100%;
        height: 5.04rem;
        background-color: #fff;
        margin-top: .267rem;
        .freight-head {
          width: 100%;
          height: 1.6rem;
          line-height: 1.6rem;
          font-size: .3734rem;
          padding: 0 .5rem;
          box-shadow: 0 1px 0 0 #eee;
          span {

            color: #333;
            font-weight: bold;
            float: left;
          }
          .modify {
            float: right;
            color: #FF6060;
            padding: 0 .273rem;
          }
          .delete {
            float: right;
            color: #FF6060;
            padding: 0 .273rem;
          }

        }
        .freight-body {
          width: 100%;
          height: 3.44rem;
          padding: 0 .7rem;
          .freight-detail {
            width: 100%;
            height: 2.1rem;
            box-shadow: 0 1px 0 0 #eee;
            font-size: .3734rem;
            color: #999;
            padding-top: .6rem;
            .country {
              .country-detail {
                color: #333;
              }
            }
            .freight-way-detail {
              line-height: .6rem;
              .freight-word {
                float: left;
                span {
                  float: left;
                }
                .transway {
                  color: #333;
                  float: left;
                  .way {
                    margin-left: .1rem;
                  }

                }
              }
              .freight-way-tip {
                float: right;
              }
            }

          }
          .total-money {
            float: right;
            line-height: 1.25rem;
            color: #FF5E54;
            font-size: .3734rem;
          }
        }
      }
      .modify-group {
        background-color: #fff;
        width: 100%;
        margin-top: 0.5334rem;
        border-top: 1px solid #eee;
        .new-item {
          width: 100%;
          height: 1.6rem;
          line-height: 1.6rem;
          padding: 0 0.50667rem;
          box-shadow: 0px 1px 0px 0px #EEEEEE;
          .modify-item {
            color: #ff5e54;
            font-size: 0.37334rem;
            float: left;
          }
          .add-icon {
            float: right;
            width: 0.9334rem;
            height: 0.9334rem;
            //background: red;
            margin-top: 0.3333rem;
            position: relative;
            span {
              position: absolute;
              top: 0.29334rem;
              left: 0.29334rem;
              font-size: 0.34667rem;
              color: #ff5e54;
            }
          }
        }
      }
      .note-modify {
        width: 100%;

        line-height: 3.52rem;
        margin-top: 0.64rem;
        background-color: #fff;
        .note-title {
          width: 100%;
          height: 1.6rem;
          line-height: 1.6rem;
          border-bottom: 1px solid #eee;
          .name-word {
            font-size: 0.37334rem;
            color: #333;
            font-weight: bold;
            margin-left: 0.4rem;
          }
          .name-modify {
            float: right;
            color: #ff6060;
            font-size: 0.37334rem;
            padding: 0 0.2433rem;

          }
          .name-delete {
            float: right;
            color: #ff6060;
            font-size: 0.37334rem;
            padding: 0 0.2433rem;
            margin-right: 0.4867rem;
          }
        }
        .note-word {
          width: 100%;

          line-height: 0.8rem;
          padding: .32rem 0.48rem;
          font-size: 0.37334rem;
          color: #333;
        }

      }
      .profit {
        width: 100%;
        height: 3.7334rem;
        margin-top: 0.5334rem;
        background-color: #fff;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        .income-count {
          color: #333;
          font-size: 0.37334rem;
          float: left;
          margin: 0.4rem 0.50667rem;
        }
        .account-balance {
          float: left;
          width: 100%;
          height: 2rem;
          padding-top: 0.4rem;
          .sale-volume {
            width: 50%;
            height: 100%;
            float: left;
            //background: red;
            .sale-num {
              text-align: center;
              font-size: 0.42667rem;
              color: #ff5e54;
            }
            .sale-word {
              text-align: center;
              font-size: 0.37334rem;
              color: #ABABAB;
            }
          }
          .withdraw-deposit {
            width: 50%;
            height: 100%;
            float: left;
            //background: green;
            .deposit-num {
              text-align: center;
              font-size: 0.42667rem;
              color: #ff5e54;
            }
            .deposit-word {
              text-align: center;
              font-size: 0.37334rem;
              color: #ABABAB;
            }
          }

        }
      }
      .order-name {
        width: 100%;
        height: 3.52rem;
        line-height: 3.52rem;
        margin-top: 0.64rem;
        background-color: #fff;
        .order-title {
          width: 100%;
          height: 1.6rem;
          line-height: 1.6rem;
          border-bottom: 1px solid #eee;
          .name-word {
            font-size: 0.37334rem;
            color: #333;
            font-weight: bold;
            margin-left: 0.4rem;
          }
          .name-modify {
            float: right;
            font-weight: bold;
            color: #ff6060;
            font-size: 0.37334rem;
            padding: 0 0.35rem;
            margin-right: 0.4rem;
          }
        }
        .order-word {
          width: 100%;
          height: 1.92rem;

          font-size: 0.37334rem;
          color: #333;
          textarea {
            width: 100%;
            border: none;
            height: 100%;
            padding: 0.25rem 0.48rem;
            line-height: .7rem;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

      }
      .order-download {
        width: 100%;
        height: 1.3rem;
        background-color: #fff;
        border-top: 1px solid #eee;
        .download {
          padding: 0 .3rem;
          //width: 2.5rem;
          height: 100%;
          float: right;
          //background: red;
          line-height: 1.3rem;
          color: #FF5E54;
          font-size: .32rem;
          span {
            float: left;
          }
          .down-icon {
            font-size: .5867rem;
            margin-top: .35rem;
          }
        }
      }
    }
    .quotation-foot {
      width: 100%;
      height: 1.44rem;
      background: #FFFFFF;
      box-shadow: 0px -1px 0px 0px #EEEEEE;
      position: absolute;
      left: 0;
      bottom: 0;
      .quotation-description {
        float: left;
        width: 4rem;
        line-height: 1.44rem;
        color: #666;
        font-size: 0.3466rem;
        padding-left: 0.37334rem;
        overflow: hidden;
        .pic-border {
          float: left;
          width: 0.42667rem;
          height: 0.42667rem;
          position: relative;
          margin-top: 0.56rem;
        }
        .icon-wenhao {
          font-size: .3466rem;
          position: absolute;
          left: 0;
          top: 0;

        }
        .description-word {
          float: left;
        }
      }
      .submit-order {
        float: right;
        width: 2.45rem;
        height: 100%;
        line-height: 1.44rem;
        text-align: center;
        background-color: #ff5e54;
        color: #fff;
        font-size: 0.37334rem;
        font-weight: bold;
      }
      .save-modify {
        float: right;
        width: 1.76rem;
        height: 100%;
        padding-top: .25rem;
        border-left: 1px solid #eee;
        color: #FB6058;
        .save-icon {
          margin-left: 0.6133rem;
          span {
            font-size: .5334rem;
          }
        }
        .word {
          text-align: center;
        }

      }
      .save-as {
        float: right;
        width: 1.76rem;
        height: 100%;
        color: #FB6058;
        padding-top: .25rem;
        //border-left: 1px solid #eee;
        .save-icon {
          margin-left: 0.6133rem;
          span {
            font-size: .5334rem;
          }
        }
        .word {
          text-align: center;
        }

      }
    }
  }
  .Order-Detail {
    //display: none;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;

    .change-title {
      width: 100%;
      height: 1.3334rem;
      background-color: #fff;
      border-bottom: 1px solid #EEEEEE;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      .back-border {
        float: left;
        width: 1.3334rem;
        height: 100%;
        position: relative;
        .back {
          position: absolute;
          color: #666;
          font-size: 0.5rem;
          //margin: 0.4167rem 0.42667rem;
          top: 0.4167rem;
          left: 0.42667rem;
        }
      }
      .money-change-border {
        float: right;
        width: 1.3334rem;
        height: 100%;
        position: relative;
        .icon-maoduo41 {
          font-size: 0.65rem;
          color: #FB6058;
          position: absolute;
          top: 0.35rem;
          left: 0.35rem;
        }
        .icon-maoduo42 {
          font-size: 0.65rem;
          color: #FB6058;
          position: absolute;
          top: 0.35rem;
          left: 0.35rem;
        }

      }
      .order-word {
        width: 3rem;
        height: 100%;
        line-height: 1.3334rem;
        text-align: center;
        color: #333;
        font-size: 0.48rem;
        margin: 0 auto;
      }
    }
    .quotation-body {
      width: 100%;
      height: 100%;
      padding-top: 1.3334rem;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      .product-order-num {
        background-color: #fff;
        width: 100%;
        height: 2rem;
        border-bottom: 1px solid #eee;
        padding: 0 0.74667rem;
        &:before {
          content: '';
          display: table;
        }
        .product-num {
          width: 100%;
          font-size: 0.32rem;
          color: #666;
          margin-top: 0.34rem;
        }
        .product-name {
          color: #333;
          font-weight: bold;
          font-size: 0.42667rem;
          letter-spacing: -0.39px;
          //line-height: 0.7rem;
          line-height: 2rem;
          padding: .1rem 0;
        }
      }
      .quotation-group {

        width: 100%;
        .quotation-item {
          padding-bottom: 1rem;
          border-bottom: 1px solid #eee;
          overflow: hidden;
          margin-top: 0.2667rem;
          margin-bottom: 0.45334rem;
          background-color: #fff;
          .quotation-head {
            width: 100%;
            height: 1.6rem;
            line-height: 1.6rem;
            padding: 0 0.5067rem;
            // background: #FFFFFF;
            box-shadow: 0px 1px 0px 0px #EEEEEE;
            .group-name {
              font-size: 0.37334rem;
              color: #333;
              font-weight: bold;
              float: left;
            }
            .modify {
              color: #FF6060;
              padding: 0 0.1867rem;
              font-size: 0.37334rem;
              float: right;
            }
          }
          .pic-container {
            width: 100%;
            height: 2.6667rem;
            border-bottom: 1px solid #eee;
            padding: 0.2667rem 1.1334rem;
            overflow: hidden;
            .pic-border {
              float: left;
              width: 2.1334rem;
              height: 2.1334rem;
              //background: red;
              background-size: cover;
              border-radius: 0.25rem;
              margin-bottom: 0.2667rem;
              &:nth-child(2n+2) {
                margin: 0 0.6666rem;
              }
            }
          }
          .product-detail {
            width: 100%;
            //height: 6.667rem;
            //border-bottom: 1px solid #eee;
            padding: 0.9334rem 0.8rem 0.2667rem 0.8rem;
            font-size: 0.37334rem;
            color: #999;
            //border-bottom: 1px solid #eee;
            .product-attr {
              width: 100%;
              height: 0.58667rem;
              line-height: 0.58667rem;
              .money {
                float: right;
              }
            }

          }
          .line {
            width: 8.4rem;
            height: 0;
            margin-left: 0.8rem;
            border-bottom: 1px solid #eee;
          }
          .total-money {
            float: right;
            margin-right: 0.8rem;
            line-height: 1rem;
            font-weight: bold;
            font-size: 0.37334rem;
            color: #ff5e54;
          }
        }
      }
      .freight-way {
        width: 100%;
        height: 5.04rem;
        background-color: #fff;
        margin-top: .267rem;
        .freight-head {
          width: 100%;
          height: 1.6rem;
          line-height: 1.6rem;
          font-size: .3734rem;
          padding: 0 .5rem;
          box-shadow: 0 1px 0 0 #eee;
          span {

            color: #333;
            font-weight: bold;
            float: left;
          }

        }
        .freight-body {
          width: 100%;
          height: 3.44rem;
          padding: 0 .7rem;
          .freight-detail {
            width: 100%;
            height: 2.1rem;
            box-shadow: 0 1px 0 0 #eee;
            font-size: .3734rem;
            color: #999;
            padding-top: .6rem;
            .country {
              .country-detail {
                color: #333;
              }
            }
            .freight-way-detail {
              line-height: .6rem;
              .freight-word {
                float: left;
                span {
                  float: left;
                }
                .transway {
                  color: #333;
                  float: left;
                  .way {
                    margin-left: .1rem;
                  }

                }
              }
              .freight-way-tip {
                float: right;
              }
            }

          }
          .total-money {
            float: right;
            line-height: 1.25rem;
            color: #FF5E54;
            font-size: .3734rem;
          }
        }
      }
      .own-note {
        width: 100%;
        background-color: #fff;
        margin-top: 0.5334rem;

        .note-title {
          width: 100%;
          height: 1.6rem;
          line-height: 1.6rem;
          padding: 0 0.5067rem;
          font-size: 0.37334rem;
          color: #333;
          border-bottom: 1px solid #eee;
        }
        .note-content {
          width: 100%;
          padding: 0.4rem 0.56rem;
          font-size: 0.37334rem;
          color: #333;
          line-height: 1rem;
        }
      }

      .profit {
        width: 100%;
        height: 3.7334rem;
        margin-top: 0.5334rem;
        background-color: #fff;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        .income-count {
          color: #333;
          font-size: 0.37334rem;
          float: left;
          margin: 0.4rem 0.50667rem;
        }
        .account-balance {
          float: left;
          width: 100%;
          height: 2rem;
          padding-top: 0.4rem;
          .sale-volume {
            width: 50%;
            height: 100%;
            float: left;
            //background: red;
            .sale-num {
              text-align: center;
              font-size: 0.42667rem;
              color: #ff5e54;
            }
            .sale-word {
              text-align: center;
              font-size: 0.37334rem;
              color: #ABABAB;
            }
          }
          .withdraw-deposit {
            width: 50%;
            height: 100%;
            float: left;
            //background: green;
            .deposit-num {
              text-align: center;
              font-size: 0.42667rem;
              color: #ff5e54;
            }
            .deposit-word {
              text-align: center;
              font-size: 0.37334rem;
              color: #ABABAB;
            }
          }

        }
      }

      .order-download {
        width: 100%;
        height: 1.3rem;
        background-color: #fff;
        border-top: 1px solid #eee;
        .download {
          padding: 0 .3rem;
          //width: 2.5rem;
          height: 100%;
          float: right;
          //background: red;
          line-height: 1.3rem;
          color: #FF5E54;
          font-size: .32rem;
          span {
            float: left;
          }
          .down-icon {
            font-size: .5867rem;
            margin-top: .35rem;
          }
        }
      }
    }

  }

  .order-success {
    //display: none;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    .success-title {
      width: 100%;
      height: 1.334rem;
      border-bottom: 1px solid #eee;
      background-color: #fff;
      .complete {
        float: right;
        font-size: 0.3734rem;
        padding: 0.417rem;
        color: #FF5E54;
      }
      .tips-word {
        color: #333;
        font-size: 0.48rem;
        width: 1.5rem;
        text-align: center;
        line-height: 1.334rem;
        margin: 0 auto;
      }
    }
    .success-tip {
      width: 100%;
      height: 4.5rem;
      background-color: #fff;
      &:before {
        content: '';
        display: table;
      }
      .pic-border {

        width: 1.574rem;
        height: 1.574rem;
        margin: 0 auto;
        margin-top: .96rem;
        margin-bottom: .5rem;
        //background: red;
        span {
          color: #FB4B4C;
          font-size: 1.573rem;
        }
      }
      .tips {
        width: 100%;
        text-align: center;
        h2 {
          font-size: 0.5334rem;
          color: #3f3f3f;
          line-height: 0.65rem;
        }
        p {
          font-size: 0.32rem;
          color: #999;
        }
      }
    }
    .success-description {
      width: 100%;
      height: 2.4rem;
      margin-top: .267rem;
      background-color: #fff;
      text-align: center;
      font-size: .3734rem;
      padding-top: .6rem;
      p {
        color: #666;
      }
      .tel {
        color: #F74F50;
      }
    }
  }

  .order-track {
    //display: none;
    width: 100%;
    height: 100%;

    .order-track-head {
      position: absolute;
      background-color: #fff;
      top: 0;
      left: 0;
      width: 100%;
      height: 1.3334rem;
      line-height: 1.3334rem;
      border-bottom: 1px solid #eee;
      z-index: 10;
      .back {
        font-size: .5rem;
        color: #666;
        float: left;
        padding: 0.4167rem 0.42667rem;
      }
      .track-word {
        margin: 0 auto;
        width: 3rem;
        line-height: 1.3334rem;
        text-align: center;
        color: #333;
        font-size: .48rem;
      }
    }
    .order-track-body {
      width: 100%;
      height: 100%;
      padding: 1.3334rem 0 1.44rem 0;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      .order-card {
        width: 100%;
        height: 4.2667rem;
        padding-bottom: .2934rem;
        border-bottom: 1px solid #eee;
        .order-head {
          width: 100%;
          height: 1.6rem;
          //border-bottom: 1px solid #eee;
          .order-title-border {
            float: left;

            height: 100%;
            padding-top: 0.25rem;
            padding-left: 0.6134rem;

            .order-num {
              font-size: 0.37334rem;
              color: #333;
              line-height: 0.6rem;
            }
            .order-date {
              font-size: 0.32rem;
              color: #999;
            }
          }
          .order-detail-go {
            float: right;
            line-height: 1.6rem;
            padding-right: 0.5rem;
            color: #ff5b50;
            font-size: 0.3467rem;
            i {
              float: right;
              margin-left: 0.1rem;
              font-size: .5rem;
              margin-top: 0.55rem;

            }
          }
        }
        .card-body {
          width: 100%;
          height: 2.4rem;
          background: #f8f8f8;
          padding-left: 0.88rem;
          &:before {
            content: '';
            display: table;
          }
          .pic-border {
            float: left;
            width: 1.6rem;
            height: 1.6rem;
            //background: red;
            margin: .4rem 0;
            border-radius: 0.16rem;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../images/quotation_blank.png');
          }
          .order-product {
            width: 6.5rem;
            height: 1.6rem;
            float: left;
            margin-left: .4rem;
            margin-top: .4rem;
            .product-name {
              font-size: 0.32rem;
              color: #333;
              line-height: .5rem;
              height: 1rem;
            }
            .product-money {
              color: #ff5e54;
              font-size: .32rem;
              line-height: 0.6rem;
            }
          }
        }
      }
      .order-track-detail {
        width: 100%;
        .order-track-title {
          width: 100%;
          padding-left: 0.6134rem;
          color: #333;
          font-size: 0.4rem;
          line-height: 1.2rem;
        }
        .order-track-line {
          width: 100%;
          padding-left: 0.9067rem;
          overflow: hidden;
          .dot-border {
            float: left;
            width: 0.32rem;
            margin-top: .25rem;
            position: relative;
            .line {
              position: absolute;
              width: 0.08rem;
              height: 5.8302rem;
              background: #ddd;
              top: 0;
              left: .13rem;
            }
            .dot {
              position: absolute;

              left: 0;
              width: 0.32rem;
              height: 0.32rem;
              border-radius: 50%;
              background-color: #ddd;
            }
            .dot1 {
              top: 0;
              background-color: #5094e2;
            }

          }

          .order-track-border {
            float: left;

            margin-left: 0.5334rem;

            .track-state {
              color: #999;
              margin-bottom: 0.85rem;
              .word {
                font-size: 0.3734rem;
              }
              .date {
                font-size: 0.32rem;
              }
              &:nth-child(1) {
                color: #5094e2;
              }

            }
          }
        }
      }
    }
    .order-stop {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1.44rem;
      background: #FFFFFF;
      box-shadow: 0px -1px 0px 0px #EEEEEE;
      //position: fixed;

      .order-description {
        float: left;
        line-height: 1.44rem;
        margin-left: .4rem;
        font-size: .3466rem;
        color: #666;
        span{
          float: left;
        }
        .icon-wenhao{
          font-size: .3466rem;
          margin: .57rem 0;
        }
      }
      .stop-trade {
        float: right;
        line-height: 1.44rem;
        padding: 0 .4534rem;
        color: #ff5e54;
        font-size: 0.3734rem;
      }
    }
  }

  .stop-order {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .stop-head {
      width: 100%;
      height: 1.334rem;
      border-bottom: 1px solid #eee;
      line-height: 1.334rem;
      font-size: 0.3734rem;
      color: #ff4747;
      .cancel {
        float: left;
        padding: 0 .4267rem;
      }
      .submit {
        float: right;
        padding: 0 .4267rem;
      }
      .title {
        width: 2rem;
        text-align: center;
        margin: 0 auto;
        font-size: .48rem;
        color: #333;
      }
    }
    .reason-border {
      width: 100%;
      height: 100%;
      textarea {
        width: 100%;
        //height: 100%;

        min-height: 1.5rem;
        border: none;
        padding: .4534rem .4rem;
        font-size: .3734rem;
        color: #333;
        line-height: .5rem;

      }
    }
    .tel-contact {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1.44rem;
      line-height: 1.44rem;
      border-top: 1px solid #eee;
      background-color: #fff;
      font-size: .3734rem;
      color: #666;
      .tel {
        float: right;
        color: #FF4747;
        margin-right: .5067rem;
      }
      .contact-word {
        float: right;

      }

    }
  }
  .own-information {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .stop-head {
      width: 100%;
      height: 1.334rem;
      border-bottom: 1px solid #eee;
      line-height: 1.334rem;
      font-size: 0.3734rem;
      color: #ff4747;
      .cancel {
        float: left;
        padding: 0 .4267rem;
      }
      .submit {
        float: right;
        padding: 0 .4267rem;
      }
      .title {
        width: 4rem;
        text-align: center;
        margin: 0 auto;
        font-size: .48rem;
        color: #333;
      }
    }
    .reason-border {
      width: 100%;
      height: 100%;
      textarea {
        width: 100%;
        //height: 100%;

        min-height: 1.5rem;
        border: none;
        padding: .4534rem .4rem;
        font-size: .3734rem;
        color: #333;
        line-height: .5rem;

      }
    }
    .tel-contact {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1.44rem;
      line-height: 1.44rem;
      border-top: 1px solid #eee;
      background-color: #fff;
      font-size: .3734rem;
      color: #666;
      .tel {
        float: right;
        color: #FF4747;
        margin-right: .5067rem;
      }
      .contact-word {
        float: right;

      }
      .own-description{
        float: left;
        line-height: 1.44rem;
        padding-left: .4rem;
        font-size: .3466rem;
        span{
          float: left;
        }
        .icon-wenhao{
          margin: .56rem .1rem;
        }
      }
    }
  }
  //
  //产品属性组合
  @pt: 37.5rem;
  #productProperties {
    height: 100%;
    background: #fff;
    width: 100%;
    header {
      height: 49/@pt;
      position: absolute;
      text-align: center;
      border-bottom: 1px solid #ddd;
      background: #fff;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 20;
      h2 {
        font-size: 18/@pt;
        line-height: 49/@pt;
      }
      span {
        position: absolute;
        line-height: 49/@pt;
        top: 0;
        font-size: 14/@pt;
        color: #ff5e54;
      }
      span.cancelBtn {
        left: 0;
        padding: 0 12/@pt;
      }

      .icon-maoduo41 {
        font-size: 0.65rem;
        color: #FB6058;
        position: absolute;
        top: 0;
        right: 0.35rem;
      }
      .icon-maoduo42 {
        font-size: 0.65rem;
        color: #FB6058;
        position: absolute;
        top: 0;
        right: 0.35rem;
      }
    }
    article {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      width: 100%;
      height: 100%;
      padding: 1.3334rem 0 1.44rem 0;
      .quotation-tip {
        width: 100%;
        height: .82667rem;
        line-height: .82667rem;
        background-color: #f8f8f8;
        padding-left: .48rem;
        color: #666;
        font-size: .3466rem;
        span {
          float: left;
        }
        .tips {

          margin: .24rem .15rem;
        }
      }
      div.aboutProduct {
        height: 75/@pt;
        padding: 15/@pt 30/@pt 0;
        p:first-child {
          font-size: 12/@pt;
          color: #666;
        }
        p:last-child {
          font-size: 16/@pt;
          color: #333;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.2rem;
        }
      }
      div.productPicList {
        p {
          height: 40/@pt;
          border-bottom: 1px solid #ddd;
          line-height: 40/@pt;
          padding-left: 22/@pt;
          font-size: 14/@pt;
          color: #999;
        }
        ul.picUl {
          height: 110/@pt;
          border-bottom: 1px solid #ddd;
          padding: 15/@pt 17/@pt 0;
          li {
            height: 80/@pt;
            width: 80/@pt;
            //border: 1px solid #ddd;
            margin: 0 16/@pt;
            float: left;
            text-align: center;
            img {
              height: 80/@pt;
              width: 80/@pt;
              border: none;
            }
            span {
              line-height: 80/@pt;
            }
          }
        }
      }
      div.quantityOfPro {
        div.qtyTitle {
          height: 40/@pt;
          border-bottom: 1px solid #ddd;
          span.qtyText {
            float: left;
            line-height: 40/@pt;
            padding-left: 22/@pt;
            font-size: 14/@pt;
            color: #999;
          }
          div.changeQtyBtn {
            display: inline-block;
            float: right;
            height: 30/@pt;
            border-radius: 4/@pt;
            min-width: 90/@pt;
            background: #ff5e54;
            margin-top: 5/@pt;
            margin-right: 5/@pt;
            padding: 5/@pt 22/@pt 7/@pt 13/@pt;
            span.firstShow {
              font-size: 12/@pt;
              color: #fff;
              line-height: 20/@pt;
              padding-right: 5/@pt;
            }
            span.firstShow, em, input {
              color: #fff;
              font-size: 13/@pt;
            }
            b {
              display: inline-block;
              color: #fff;
              font-size: 13/@pt;
              padding-left: 5/@pt;
            }
            input {
              display: none;
              width: 45/@pt;
              background: #fff;
              color: #ff5e54;
              border: none;
              //text-align: center;
              position: relative;
              top: -1/@pt;
              border-radius: 3/@pt;
            }
          }
          div.isEdit {
            input {
              display: inline;
            }
            b {
              display: none;
            }

          }
        }
        div.prodBasePrice {
          height: 40/@pt;
          border-bottom: 1px solid #ddd;
          margin-top: 32/@pt;
          span.qtyText {
            float: left;
            line-height: 40/@pt;
            padding-left: 22/@pt;
            font-size: 14/@pt;
            color: #999;
          }
          div.changeBtn {
            display: inline-block;
            float: right;
            height: 30/@pt;
            border-radius: 4/@pt;
            background: #ff5e54;
            margin-top: 5/@pt;
            margin-right: 5/@pt;
            padding: 5/@pt 22/@pt 7/@pt 13/@pt;
            span.changeText {
              font-size: 12/@pt;
              color: #fff;
              line-height: 20/@pt;
            }
            span.changeSign, em, input {
              color: #fff;
              font-size: 13/@pt;
            }
            span.changeSign {
              padding: 0 4/@pt 0 10/@pt;
            }
            em {

            }
            input {
              display: none;
              width: 45/@pt;
              background: #fff;
              color: #ff5e54;
              border: none;
              //text-align: center;
              position: relative;
              top: -1/@pt;
              border-radius: 3/@pt;
            }
          }
          div.isEdit {
            input {
              display: inline;
            }
            em {
              display: none;
            }
          }
        }
        div.qtyInputer {
          height: 40/@pt;
          padding: 0/@pt 22/@pt;
          border-bottom: 1px solid #ddd;
          span.basePricePerPcs {
            padding-left: 80/@pt;
            color: #333;
            float: right;
            line-height: 40/@pt;
            span:first-child {
              padding: 0 3/@pt;
              font-size: 14/@pt;
            }
            em {
              font-size: 18/@pt;
              position: relative;
              top: 1/@pt;
            }
            span:last-child {
              font-size: 12/@pt;
              padding-left: 3/@pt;
            }
          }
        }
      }
      ul.propertyList {
        padding-top: 30/@pt;
        li.prodProperty {
          margin-bottom: 30/@pt;
          div.propertyHeader {
            height: 40/@pt;
            border-bottom: 1px solid #ddd;
            span.propertyName {
              float: left;
              line-height: 40/@pt;
              padding-left: 22/@pt;
              font-size: 14/@pt;
              color: #999;
            }
            div.changeBtn {
              display: inline-block;
              float: right;
              height: 30/@pt;
              border-radius: 4/@pt;
              background: #ff5e54;
              margin-top: 5/@pt;
              margin-right: 5/@pt;
              padding: 5/@pt 22/@pt 7/@pt 13/@pt;
              span.changeText {
                font-size: 12/@pt;
                color: #fff;
                line-height: 20/@pt;
              }
              span.changeSign, em, input {
                color: #fff;
                font-size: 13/@pt;
              }
              span.changeSign {
                padding: 0 4/@pt 0 10/@pt;
              }
              em {

              }
              input {
                display: none;
                width: 45/@pt;
                background: #fff;
                color: #ff5e54;
                border: none;
                //text-align: center;
                position: relative;
                top: -1/@pt;
                border-radius: 3/@pt;
              }
            }
            div.isEdit {
              input {
                display: inline;
              }
              em {
                display: none;
              }
            }
          }
          ul.detailList {
            li {
              height: 50/@pt;
              border-bottom: 1px solid #ddd;
              font-size: 14/@pt;
              line-height: 50/@pt;
              span.icon {
                color: #ccc;
                padding-left: 17/@pt;
              }
              em {
                color: #333;
                padding-left: 12/@pt;
              }
              span.detailPrice {
                color: #999;
                font-weight: normal;
                float: right;
                padding-right: 22/@pt;
                b {
                  font-weight: normal;
                }
              }
            }
            li.choosed {
              span.icon {
                color: #ff5e54;
              }
            }
          }
        }
      }
    }
    footer {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 20;
      height: 54/@pt;
      width: 100%;
      border-top: 1px solid #ddd;
      background: #fff;
      color: #666;
      line-height: 54/@pt;
      padding: 0 .24rem 0 .48rem;
      span.wayToPrice {
        padding-left: 15/@pt;
        float: left;
        span {
          padding-right: 5/@pt;
          float: left;
        }
      }
      span.pricePerPcs {
        margin-right: .693rem;
        em, b {
          color: #ff5e54;
        }
      }
      span.salesNum {

        em, b {
          color: #ff5e54;
        }
      }
      .sureBtn {
        width: 2rem;
        height: 100%;
        float: right;
        text-align: center;
        color: #FF5E54;
        font-size: .3734rem;
        padding: 0 .24rem;
      }
    }
  }
  //图片银行
  #pictureBank {
    height: 100%;
    background: #fff;
    header {
      height: 49/@pt;
      position: relative;
      text-align: center;
      border-bottom: 1px solid #eee;
      background: #fff;
      h2 {
        font-size: 18/@pt;
        line-height: 49/@pt;
      }
      span {
        position: absolute;
        line-height: 49/@pt;
        top: 0;
        font-size: 14/@pt;
        color: #ff5e54;
      }
      span.cancelBtn {
        left: 0;
        padding: 0 12/@pt;
      }
      span.sureBtn {
        right: 0;
        padding: 0 12/@pt;
      }
    }
    article {
      div.aboutPic {
        height: 75/@pt;
        border-bottom: 1px solid #eee;
        padding: 15/@pt 30/@pt 0;
        p:first-child {
          font-size: 12/@pt;
          color: #666;
        }
        p:last-child {
          font-size: 16/@pt;
          color: #333;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      div.picLists {
        p {
          text-align: right;
          padding: 10/@pt 33/@pt 6/@pt;
          color: #333;
          font-size: 14/@pt;
        }
        ul {
          padding: 0 13/@pt;
          li {
            position: relative;
            float: left;
            height: 90/@pt;
            width: 90/@pt;
            margin: 28/@pt 13/@pt 0;
            border-radius: 12/@pt;
            span {
              position: absolute;
              left: 5/@pt;
              top: 5/@pt;
              font-size: 13/@pt;
              color: red;
              display: none;
            }
            span.spanShow {
              display: block;
            }
            img {
              height: 100%;
              width: 100%;
              border: none;
            }
          }
        }

      }
    }
  }

  //

  .hidden {
    display: none;
  }

  //货运信息
  #freight-information {
    width: 100%;
    height: 100%;

    .message-head {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      width: 100%;
      height: 1.334rem;
      line-height: 1.334rem;
      border-bottom: 1px solid #eee;
      background-color: #fff;
      .cancel {
        float: left;
        font-size: .3734rem;
        color: #FF5E54;
        letter-spacing: -0.34px;
        padding: 0 .45rem;
      }
      .message-title {
        width: 4rem;
        text-align: center;
        margin: 0 auto;
        color: #333;
        font-size: .48rem;
      }
    }
    .freight-body {
      width: 100%;
      height: 100%;
      padding: 1.34rem 0 1.44rem 0;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      .freight-tips {
        width: 100%;
        height: .82667rem;
        line-height: .82667rem;
        background-color: #f8f8f8;
        color: #666;
        padding-left: .64rem;
        font-size: .3466rem;
        //
        //
        span {
          float: left;
        }
        .wenhao {
          margin-top: .26rem;
          margin-right: .1rem;

        }
      }
      .destination {
        width: 100%;
        height: 1.2rem;

        line-height: 1.2rem;
        //border-bottom: 1px solid #eee;
        //border-top: 1px solid #eee;
        box-shadow: 0 1px 0 0 #eee,0 -1px 0 0 #eee;
        padding: 0 .2rem 0 .587rem;
        font-size: .3734rem;
        span {
          float: left;

          color: #999;
        }
        .country-select {
          float: right;
          height: .8rem;
          line-height: .8rem;
          color: #FF5B50;
          border: 1px solid #FF5E54;
          border-radius: .107rem;
          padding: 0 .2rem;
          margin-top: .27rem;
        }
      }
      .freight-way-border {
        width: 100%;
        padding: 0 .2rem 0 0;
        //border-top: 1px solid red;
        margin-top: .8rem;
        .freight-way {
          width: 100%;
          height: 1.2rem;
          line-height: 1.2rem;
          font-size: .3734rem;
          border-bottom: 1px solid #eee;
          padding-left: .587rem;

          span {
            float: left;
            color: #999;
          }
          .fedex {
            float: right;
            width: 2.294rem;
            height: .8rem;
            line-height: .8rem;
            background: #FF5B50;
            border-radius: 4px;
            text-align: center;
            color: #fff;
            margin-top: .2rem;
          }
        }
        .IPway {
          width: 100%;
          height: 1.34rem;
          line-height: 1.34rem;
          font-size: .3734rem;
          box-shadow: 0 1px 0 0 #eee;
          padding-left: .587rem;
          .freight-left {
            float: left;
            color: #ccc;
            .icon-right {
              font-size: .3734rem;
              color: #ccc;
              &.selected {
                color: #FF5B50;
              }
            }
            .ip {
              font-weight: bold;
            }

          }
          .freight-description {
            float: right;
            color: #ccc;
          }
          &.abled {
            .freight-left {
              .ip {
                color: #000;
              }
            }
            .freight-description {
              color: #999;
            }
          }
        }
        .IEway {
          width: 100%;
          height: 1.34rem;
          line-height: 1.34rem;
          font-size: .3734rem;
          box-shadow: 0 1px 0 0 #eee;
          padding-left: .587rem;
          .freight-left {
            float: left;
            color: #ccc;
            .icon-right {
              font-size: .3734rem;
              color: #ccc;
              &.selected {
                color: #FF5B50;
              }
            }
            .ie {
              font-weight: bold;
            }

          }
          .freight-description {
            float: right;
            color: #ccc;
          }
          &.abled {
            .freight-left {
              .ie {
                color: #000;
              }
            }
            .freight-description {
              color: #999;
            }
          }
        }
      }
      .product-num {
        width: 100%;
        height: 1.34rem;
        line-height: 1.34rem;
        padding: 0 .2rem 0 .587rem;
        box-shadow: 0 1px 0 0 #eee,0 -1px 0 0 #eee;
        margin-top: 1.147rem;
        .num-title {
          float: left;
          color: #999;
        }
        .num-count {
          float: right;
          width: 2.94rem;
          height: .8rem;
          background-color: #FF5B50;
          border-radius: .107rem;
          font-size: .3734rem;
          color: #fff;
          text-align: center;
          line-height: .8rem;
          margin-top: .27rem;
        }
      }
      .freight-fee {
        width: 100%;
        padding: 0 .2rem 0 0;
        //border-top: 1px solid red;
        margin-top: .8rem;
        .fee-way {
          width: 100%;
          height: 1.2rem;
          line-height: 1.2rem;
          font-size: .3734rem;
          border-bottom: 1px solid #eee;
          padding-left: .587rem;

          span {
            float: left;
            color: #999;
          }
          .modify {
            float: right;
            height: .8rem;
            padding: 0 .48rem;
            line-height: .8rem;
            background: #FF5B50;
            border-radius: 4px;
            color: #fff;
            margin-top: .2rem;
            .xiugai {
              float: left;
              margin-right: .2rem;
            }
            span {
              color: #fff;
            }
            .fee-count {
              //display: none;
            }
            .fee-icon {
              margin-right: .1rem;
            }
            #fee-input {
              padding-left: .2rem;
              width: 2rem;
              height: .6rem;
              border: none;
              outline: none;
              border-radius: .1rem;
              margin-top: .1rem;
              float: left;
              display: none;
            }

          }
        }
        .fee-standard {
          width: 100%;
          height: 1.34rem;
          line-height: 1.34rem;
          box-shadow: 0 1px 0 0 #eee;
          padding-right: .48rem;
          .content {
            float: right;
            color: #999;
            font-size: .3734rem;
          }
        }
      }
    }
    .foot {
      width: 100%;
      height: 1.44rem;
      line-height: 1.44rem;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 20;
      background-color: #fff;
      padding: 0 .48rem;
      font-size: .32rem;
      .freight-total-fee {
        float: left;
      }
      .save {
        float: right;
        font-size: .3734rem;
      }
      .color {
        color: #FF5E54;
      }
    }
  }

  //选择国家
  #Country-list {
    width: 100%;
    height: 100%;
    .country-head {
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      width: 100%;
      height: 1.34rem;
      line-height: 1.34rem;
      padding: 0 .04rem;
      box-shadow: 0 1px 0 0 #eee;
      .cancel {
        font-size: .3734rem;
        color: #FF5E54;
        float: left;
        padding: 0 .44rem;
      }
      .icon-search {
        float: right;
        font-size: .4534rem;
        color: #FF5E54;
        padding: .44rem;

      }
      .head-title {
        width: 4rem;
        text-align: center;
        font-size: .48rem;
        color: #333;
        margin: 0 auto;
      }
    }
    .country-title {
      background-color: #fff;
      position: absolute;
      top: 1.34rem;
      left: 0;
      z-index: 20;
      width: 100%;
      height: 1.34rem;
      line-height: 1.34rem;
      padding: 0 .55rem;
      color: #333;
      font-size: .4267rem;
      .district {
        float: left;
        width: 4.9rem;
      }
      .IP {
        float: left;
        width: 2rem;
        text-align: center;
      }
      .IE {
        float: left;
        text-align: center;
        width: 2rem;
      }
    }
    .country-list-table {
      background-color: #f8f8f8;
      width: 100%;
      height: 100%;
      padding-top: 2.82rem;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      //background: red;
      .country-item {
        background-color: #fff;
        width: 100%;
        height: 1.6rem;
        padding: 0 .55rem;
        box-shadow: 0 1px 0 0 #eee;
        .district {
          float: left;
          width: 4.9rem;
          height: 100%;
          color: #666;
          font-size: .3734rem;
          line-height: .5rem;
          padding-top: .3rem;
          .china-country {
            width: 100%;
          }
          .english-country {
            width: 100%;
          }
        }
        .IP {
          float: left;
          width: 2rem;

          height: 100%;
          position: relative;
          span {
            position: absolute;
            font-size: .6rem;
            top: .5rem;
            left: .7rem;
          }
          .icon-maoduo0 {
            color: #FB5E54;
          }
          .icon-maoduo1 {
            color: #5094E2;
          }
        }
        .IE {
          float: left;
          position: relative;
          width: 2rem;
          height: 100%;
          span {
            position: absolute;
            font-size: .6rem;
            top: .5rem;
            left: .7rem;
          }
          .icon-maoduo0 {
            color: #FB5E54;
          }
          .icon-maoduo1 {
            color: #5094E2;
          }
        }
      }
    }
  }
  //搜索国家
  #search-country {
    width: 100%;
    height: 100%;
    .search-head {
      width: 100%;
      height: 1.34rem;
      line-height: 1.34rem;
      box-shadow: 0 1px 0 0 #eee;
      .icon-mail_fanhui {
        float: left;
        font-size: .45rem;
        color: #C2C2C2;
        padding: .42rem .445rem;
      }
      .search {
        float: right;
        font-size: .3734rem;
        color: #ff6060;
        padding: 0 .445rem;
      }
      .search-title {
        width: 3rem;
        text-align: center;
        margin: 0 auto;
        color: #333;
        font-size: .48rem;
      }
    }
    .search-input {
      width: 100%;
      height: 1.4rem;
      box-shadow: 0 1px 0 0 #eee,0 -1px 0 0 #eee;
      .icon-search {
        float: left;
        font-size: .45rem;
        color: #ccc;
        padding: .475rem .526rem;
      }
      input {
        float: left;
        width: 8rem;
        height: 1.4rem;
        border: none;
        outline: none;
        font-size: .3734rem;
      }
    }
  }
  //弹窗样式
  #Mask-pop {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(98, 98, 98, .5);
    .saveas-quotation {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 8.427rem;
      height: 7.84rem;
      background: #FFFFFF;
      border-radius: .134rem;
      padding: 0 .267rem;
      .saveas-title {
        font-size: .48rem;
        color: #656565;
        text-align: center;
        margin-top: .5rem;
      }
      .rename {
        margin-top: .9rem;
        font-size: .3734rem;
        color: #999;
      }
      .quotation-input {
        width: 100%;
        height: 1.2rem;
        input {
          float: left;
          width: 7rem;
          height: 1.2rem;
          border: none;
          outline: none;
          background: #F8FAFC;
          border-radius: .05rem;
        }
        .icon-err {
          float: right;
          font-size: .4rem;
          padding: .4rem .2rem;
        }
      }
      .save {
        width: 6.29rem;
        height: .8rem;
        line-height: .8rem;
        margin: 0 auto;
        margin-top: 1.1rem;
        margin-bottom: .587rem;
        text-align: center;
        color: #fff;
        background: #FF4747;
        border-radius: 1.34rem;
      }
      .cancel {
        width: 6.29rem;
        height: .8rem;
        line-height: .8rem;
        margin: 0 auto;
        text-align: center;
        color: #FB4B4C;
        border: 1px solid #FB4B4C;
        border-radius: 1.34rem;
      }
    }
    .quotation-tips {
      display: none;
      width: 8.427rem;
      height: 6.587rem;
      background: #FFFFFF;
      border-radius: .134rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      .tips-title {
        font-size: .48rem;
        color: #656565;
        margin-top: .853rem;
        text-align: center;
      }
      .content {
        width: 3.5rem;
        height: 2rem;
        margin: .8rem auto;
        margin-bottom: .6rem;
        text-align: center;
        color: #666;
        font-size: .32rem;
        p {
          line-height: .6rem;
          span {
            color: #FB4B4C;
          }
        }
      }
      .modify-quotation {
        width: 6.29rem;
        height: .8rem;
        line-height: .8rem;
        margin: 0 auto;
        text-align: center;
        color: #FB4B4C;
        border: 1px solid #FB4B4C;
        border-radius: 1.34rem;
      }
    }
    .save-quotation {
      display: none;
      width: 8.427rem;
      height: 7rem;
      background: #FFFFFF;
      border-radius: .134rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      .close {
        position: absolute;
        right: .3rem;
        top: .3rem;
        font-size: .6rem;
        transform: rotate(45deg);
        color: #d8d8d8;
      }
      .save-title {
        width: 100%;
        text-align: center;
        margin-top: .8rem;
        font-size: .48rem;
        color: #656565;
      }
      .word {
        text-align: center;
        color: #656565;
        line-height: .8rem;
      }
      .send-email {
        width: 6.29rem;
        height: .8rem;
        line-height: .8rem;
        margin: 0 auto;
        margin-top: .8rem;
        margin-bottom: .587rem;
        text-align: center;
        color: #fff;
        background: #FF4747;
        border-radius: 1.34rem;
        font-size: .32rem;
      }
      .submit-order {
        width: 6.29rem;
        height: .8rem;
        line-height: .8rem;
        margin: 0 auto;
        margin-top: 1.387rem;
        text-align: center;
        color: #FB4B4C;
        border: 1px solid #FB4B4C;
        border-radius: 1.34rem;
      }
      .download-quotation {
        width: 6.29rem;
        height: .8rem;
        line-height: .8rem;
        margin: 0 auto;
        margin-top: .8rem;
        text-align: center;
        color: #FB4B4C;
        border: 1px solid #FB4B4C;
        border-radius: 1.34rem;
      }
    }
  }
//报价说明
  .illustrate{
    padding-bottom:1rem;
    background:#fff;
    width:10rem;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:9999;
    overflow: hidden;
    .header{
      position:absolute;
      text-align:center;
      height:1.333rem;
      line-height:1.333rem;
      left:0;
      top:0;
      width:10rem;
      border-bottom:1px solid #eee;
      background:#fff;
      .icon-mail_fanhui{
        position:absolute;
        left:0;
        height:1.333rem;
        line-height:1.333rem;
        padding:0 .416rem;
        font-size:.5rem;
        color:#8c8c8c;
        z-index: 999;
      }
      .title{
        font-size:.48rem;
        color:#5f5f5f;
      }
    }
    .container{
      width:10rem;
      height:100%;
      padding-top:1.333rem;
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      .main-body{
        width:10rem;
        padding:0 .48rem;
        .theme{
          font-size:.4266rem;
          color:#323232;
          font-weight:bold;
          margin-top:.453rem;
        }
        .title{
          color:#323232;
          font-size:.373rem;
          margin-top:.693rem;
        }
        .paragraph{
          margin-top:.3466rem;
          color:#323232;
          font-size:.373rem;
        }
      }
    }
  }
  .loading_more .No-more{
    background: transparent;
  }

  //通用费用
  #common-fee{
    display: none;
    width: 100%;
    height: 100%;
    .header{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      width: 100%;
      height: 1.334rem;
      line-height: 1.334rem;
      border-bottom: 1px solid #eee;
      background-color: #fff;
      .cancel{
        float: left;
        font-size: .3734rem;
        color: #FF5E54;
        letter-spacing: -0.34px;
        padding: 0 .45rem;
      }
      .message-title{
        width: 4rem;
        text-align: center;
        margin: 0 auto;
        color: #333;
        font-size: .48rem;
      }

    }
    .common-attr-content{
      width: 100%;
      height: 100%;
      padding: 1.34rem 0 1.44rem 0;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      .common-attr{
        width: 100%;
        height: 1.893rem;
        background-color: #f8f8f8;
      }
    }
  }
}