<div class="writeEmailmodal hidden" style="height:100%;width: 10rem;overflow: hidden;">
    <!--写邮件-->
    <div class="write_mail hidden writeEmailPage" id="write_mail">
        <div class="header">
            <span class="head-left">取消</span>
            <span class="title">写邮件</span>
            <span class="head-right">发送</span>
        </div>
        <div class="cansel-box hidden">
            <div class="content">
                <h3 class="title">是否保存修改</h3>
                <span class="list li0" data-type="0">放弃修改</span>
                <span class="list li1" data-type="1">保存修改</span>
                <span class="list li2" data-type="2">取消</span>
            </div>
        </div>
        <div class="content0">
            <div class="Addressee-theme">
                <div class="Addressee">
                    <span class="ressee">收件人:</span>
                    <ul class="names">
                        <!--<li>Karey <span class="icon-shred"></span></li>-->
                        <!--<li>Mary <span class="icon-shred"></span></li>-->
                        <!--<li>dragsodason <span class="icon-shred"></span></li>-->
                        <!--<li>jarxyason <span class="icon-shred"></span></li>-->
                        <!--<li>Karey <span class="icon-shred"></span></li>-->
                        <!--<li>Mary <span class="icon-shred"></span></li>-->
                        <!--<li>dragsodason <span class="icon-shred"></span></li>-->
                        <!--<li>jarxyason <span class="icon-shred"></span></li>-->
                    </ul>
                    <span class="icon-add-partner icon"></span>
                    <!--<span class="rt customer-text">客户</span>-->
                    <!--<span class="clickType">收起</span>-->
                </div>
                <div class="Theme">
                    <span class="theme">主题:</span>
                    <textarea class="content mail-number" maxlength="100"></textarea>
                    <span class="icon-text-add icon"></span>
                    <!--<span class="customer-modal">模板</span>-->
                </div>
            </div>
            <div class="mail-subject">
                <!--<p class="mail-title">Multi color cushion & Very soft cushion</p>-->
                <textarea class="mail-number" maxlength="1000" ></textarea>
                <!--<p class="mail-introduce">usb pnjxnsj axjadnxj xknxakjxa xajixkx xa xajkxa x iajxjkaxjkaxkaxjiajiaxjkaxakjx xajkxajk</p>-->
                <div class="mail-picture">

                </div>
                <div class="quotation-box">
                    <!--
                    <div class="quotations">
                        <span class="icon-price-dan icon0"></span>
                        <span class="title"><h2 class="names">Multi color cushion  inquiry</h2><p class="sizes">236.6k</p></span>
                        <span class="icon-mistake icon1"></span>
                    </div>
                    <div class="quotations">
                        <span class="icon-price-dan icon0"></span>
                        <span class="title"><h2 class="names">Multi color cushion  inquiry</h2><p class="sizes">236.6k</p></span>
                        <span class="icon-mistake icon1"></span>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="footer-left"><i class="icon-wenhao icon"></i> <span>邮件书写说明</span></span>
            <div class="footer-right">
                <div class="lf icondan">
                    <i class="icon-price-dan icon icondan"  data-type="dan"></i>
                </div>
                <div class="lf">
                    <i class="icon-img icon" data-type="tu"></i>
                </div>
            </div>
            <input type="file" class="caogaobtn" accept="*/*" >
        </div>
    </div>
    <!--选择私海客户页面-->
    <div class="person-box1 hidden" id="person-box1">
        <div class="top">
            <h4 class="text-center"><span class="canselbtn">取消</span><span class="text">选择客户</span><span class="send-all rt">确定</span></h4>
        </div>
        <div class="content">
            <div class="list-content">

            </div>
            <div class="more">加载更多</div>
        </div>
    </div>
    <!--客户-->
    <div class="personal-seleact1 hidden" id="personal-seleact1">
        <div class="top">
            <h4 class="text-center"><span class="canselbtn">取消</span><span class="text">选择客户</span><span class="send-all rt">确定</span></h4>
        </div>
        <div class="content">
            <div class="list-content">
            </div>
            <div class="more">查看更多</div>
        </div>
    </div>
    <!--说明-->
    <div id="email-explain" class="illustrate hidden">
        <div class="header">
            <span class="icon-mail_fanhui icon"></span>
            <span class="title">邮件书写说明</span>
        </div>
        <div class="container">
            <div class="main-body">
                <h2 class="theme">选择发送对象</h2>
                <p class="paragraph">1.进行邮件发送时，需选择发送对象，根据不同的发送对象，系统将进行群发或单发；</p>
                <p class="paragraph">2.选择“所有联系人”、”待开发联系人“系统将进行群发，此时应遵守群发规则，避免邮件被屏蔽。</p>
                <p class="paragraph">3.选择若干特定联系人，将进行邮件单发。</p>
                <p class="paragraph">4.选择“一个客户”或“多个客户”将进行邮件群发，选择“联系人”将进行单发。</p>
                <h2 class="theme">群发邮件规则</h2>
                <p class="paragraph">以下行为均可能导致邮件被屏蔽，或者邮箱地址、邮箱后缀以及网络IP地址被发垃圾邮件联盟列入黑名单</p>
                <p class="paragraph">1.相同IP和邮箱地址短时间内大量发送邮件出去，一般免费的163，QQ邮箱这些每天发送量应不超过50封，个人使用的企业级邮箱（有公司自己后缀）一般不超过100封。另外，发送邮件的频率也不能过快</p>
                <p class="paragraph">2.大量邮件发送到无效邮箱地址中。这些无效地址包括不存在的邮箱地址和长期不用的邮箱地址。</p>
                <p class="paragraph">3.发送邮件到蜜罐邮箱地址。蜜罐地址即垃圾邮件陷阱，是邮箱运营商和发垃圾邮件联盟自己故意放出来的不存在的邮箱地址，故意让群发的人采集到，当群发者往这些陷阱地址发邮件后就会被盯上，一旦确认确实在群发营销邮件就会被列入黑名单。</p>
                <p class="paragraph">4.收件人未订阅，但是邮件中带有附件的。以及邮件中含有大量图片的。</p>
                <p class="paragraph">5.邮件中含有Spam高频词（即垃圾邮件高位词汇），常见的高危词如下：</p>
                <p class="paragraph">Free, Discount, Oppotunity, Win, Winner, Cheap, Deal, Debt, Income, Insurance, Loan, Money, Mortgage, Price, Rate, Profit, Save, Merchant, Stock, ActNow, All New, CallNow, Subscribe Now, Million, Dollars, Opportunity, Compare, Check, Cash, Bonus, Credit, Loans, BuyDirect, Get Paid, OrderNow, Specializing, Specialized, Offer, Please Read, Don'tDelete, Special Promotion, Satisfaction Guaranteed, You've Been Selected.Money back guarantee</p>
                <h2 class="paragraph">中文高危词汇：</h2>
                <p class="paragraph">免费、优惠、特惠、特价、低价、便宜、廉价、视频、赚钱、群发、发财、致富、代开、薪水、交友、支付、商机、法宝、宝典、秘密、情报、机密、保密、绝密、神秘、秘诀、发票、办证、传销等</p>
                <p class="paragraph">6.邮件中包含URL的。</p>
                <p class="paragraph">7.邮件标题中的高危行为：</p>
                <p class="paragraph">（1）标题全部大写的</p>
                <p class="paragraph">（2）标题中包含大量符号的</p>
                <p class="paragraph">（3）标题中含有高危词汇的（同邮件内容一样，应避免free,discount等字眼）</p>
                <p class="paragraph">8.用word设计HTML代码的邮件.(应尽量使用纯文本文件来发送)</p>
            </div>
        </div>
    </div>
    <!--发邮件选择联系人-->
    <div class="personal-ren-list-de youxiaoidselect hidden" id="personal-ren-list-de">
        <div class="top">
            <h4 class="text-center"><span class="lf icon-mail_fanhui icon"></span><span class="text">usbfad</span><span class="give-up rt">确定</span></h4>
        </div>
        <div class="content">
            <div class="ren-box box">
                <div class="text shuoming"><span class="icon-wenhao"></span>群发邮件</div>
                <div class="all-nav">
                    <div class="lf all-customer lianxiren-houxuan" data-type="1">
                        <span class="icon-right icon"></span>
                        <span class="icon-maoduo45 iconhead"></span>
                        <h3 class="text">所有联系人(<span class="num">100</span>)</h3>
                    </div>
                    <div class="lf wait lianxiren-houxuan" data-type="2">
                        <span class="icon-right icon"></span>
                        <span class="icon-maoduo45 iconhead" style="color: #4a90e2;"></span>
                        <h3 class="text">待开发联系人(<span class="num">22</span>)</h3>
                    </div>
                </div>
                <div class="one-send">单发邮件</div>
                <div class="one-send-box">
                    <div class="title"><span class="text lf">有效联系人</span><span class="rt num">3</span></div>
                    <div class="more">加载更多</div>
                </div>
            </div>
            <div class="no-count hidden">
                <img src="images/nocount_0.svg" alt="">
                <!--<button class="btn">放弃跟进</button>-->
            </div>
        </div>
    </div>

    <div class="personal-seleact1-detail" id="personal-seleact1-detail"></div>
    <!--邮件模板首页-->
    <div class="emailTemplate hidden" id="emailTempIndex" >
        <header>
            <h2>模板</h2>
            <span class="icon-mail_fanhui icon"></span>
            <span class="icon-text"></span>
            <span class="icon-plus"></span>
        </header>
        <article>
            <div class="contentD">
                <div class="systemTemp">
                    <div class="systemTitle">
                        <p>系统模板</p>
                    </div>
                    <ul class="systemUl">
                        <!--
                        <li class="li0">
                            <span class="icon-nav iconl"></span><b>开发信</b><span class="icon-to-right"></span>
                        </li>
                        <li class="li1">
                            <span class="icon-rmb-cir iconl"></span><b>价格类</b><span class="icon-to-right"></span>
                        </li>
                        <li class="li2">
                            <span class="icon-zhuanshi iconl"></span><b>打样类</b><span class="icon-to-right"></span>
                        </li>
                        <li class="li3">
                            <span class="icon-write-cir iconl"></span><b>跟进类</b><span class="icon-to-right"></span>
                        </li>
                        <li class="li4">
                            <span class="icon-dai-cir iconl"></span><b>贷款类</b><span class="icon-to-right"></span>
                        </li>
                        <li class="li5">
                            <span class="icon-message-in iconl"></span><b>邀请类</b><span class="icon-to-right"></span>
                        </li>
                        <li class="li6">
                            <span class="icon-qiqiu iconl"></span><b>节日类</b><span class="icon-to-right"></span>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </article>
        <footer>

        </footer>
    </div>
    <!--系统模板开发信模板-->
    <div data-type="modaljihe" class="hidden" id="singleEmailTemp">
        <header >
            <h2>开发信模板</h2>
            <span class="icon-mail_fanhui icon"></span>
            <span class="icon-text"></span>
            <span class="icon-plus"></span>
        </header>
        <article>
            <ul class="singleTempUl">
                <!--
                <li>
                    <span class="icon-nav iconl"></span>
                    <h4 class="title-name">向客户推荐产品</h4>
                    <b>I love you my dear! I want stay with you all the time. Please don't leave me alone! Good luck my love!</b>
                    <span class="icon-to-right"></span>
                </li>
               -->
            </ul>
        </article>
        <footer>

        </footer>
    </div>
    <!--系统模板 价格类模板-->
    <div data-type="modaljihe" class="pricetypemodal hidden" id="pricetypemodal">
        <header >
            <h2>价格模板</h2>
            <span class="icon-mail_fanhui icon"></span>
            <span class="icon-text"></span>
            <span class="icon-plus"></span>
        </header>
        <article>
            <ul class="singleTempUl">
                <!--
                <li>
                    <span class="icon-rmb-cir iconl"></span>
                    <h4 class="title-name">向客户推荐产品</h4>
                    <b>I love you my dear! I want stay with you all the time. Please don't leave me alone! Good luck my love!</b>
                    <span class="icon-to-right"></span>
                </li>
               -->
            </ul>
        </article>
        <footer>

        </footer>
    </div>
    <!--系统模板 打样类模板-->
    <div data-type="modaljihe" class="dayangtypemodal hidden" id="dayangtypemodal">
        <header >
            <h2>打样模板</h2>
            <span class="icon-mail_fanhui icon"></span>
            <span class="icon-text"></span>
            <span class="icon-plus"></span>
        </header>
        <article>
            <ul class="singleTempUl">
                <!--
                <li>
                    <span class="icon-zhuanshi iconl"></span>
                    <h4 class="title-name">向客户推荐产品</h4>
                    <b>I love you my dear! I want stay with you all the time. Please don't leave me alone! Good luck my love!</b>
                    <span class="icon-to-right"></span>
                </li>
              -->
            </ul>
        </article>
        <footer>

        </footer>
    </div>
    <!--系统模板 跟进类模板-->
    <div data-type="modaljihe" class="genjintypemodal hidden" id="genjintypemodal">
        <header >
            <h2>跟进模板</h2>
            <span class="icon-mail_fanhui icon"></span>
            <span class="icon-text"></span>
            <span class="icon-plus"></span>
        </header>
        <article>
            <ul class="singleTempUl">
                <!--
                <li>
                    <span class="icon-write-cir iconl"></span>
                    <h4 class="title-name">向客户推荐产品</h4>
                    <b>I love you my dear! I want stay with you all the time. Please don't leave me alone! Good luck my love!</b>
                    <span class="icon-to-right"></span>
                </li>
              -->
            </ul>
        </article>
        <footer>

        </footer>
    </div>
    <!--系统模板 售后类模板-->
    <div data-type="modaljihe" class="daikuanmodal hidden" id="daikuanmodal">
        <header >
            <h2>售后类模板</h2>
            <span class="icon-mail_fanhui icon"></span>
            <span class="icon-text"></span>
            <span class="icon-plus"></span>
        </header>
        <article>
            <ul class="singleTempUl">
                <!--
                <li>
                    <span class="icon-dai-cir iconl"></span>
                    <h4 class="title-name">向客户推荐产品</h4>
                    <b>I love you my dear! I want stay with you all the time. Please don't leave me alone! Good luck my love!</b>
                    <span class="icon-to-right"></span>
                </li>
               -->
                </li>
            </ul>
        </article>
        <footer>

        </footer>
    </div>
    <!--系统模板 邀请类模板-->
    <div data-type="modaljihe" class="invitetypemodal hidden" id="invitetypemodal">
        <header >
            <h2>邀请类模板</h2>
            <span class="icon-mail_fanhui icon"></span>
            <span class="icon-text"></span>
            <span class="icon-plus"></span>
        </header>
        <article>
            <ul class="singleTempUl">
                <!--
                <li>
                    <span class="icon-message-in iconl"></span>
                    <h4 class="title-name">向客户推荐产品</h4>
                    <b>I love you my dear! I want stay with you all the time. Please don't leave me alone! Good luck my love!</b>
                    <span class="icon-to-right"></span>
                </li>
                -->
            </ul>
        </article>
        <footer>

        </footer>
    </div>
    <!--系统模板 节日类模板-->
    <div data-type="modaljihe" class="Festivaltypemodal hidden" id="Festivaltypemodal">
        <header >
            <h2>节日类模板</h2>
            <span class="icon-mail_fanhui icon"></span>
            <span class="icon-text"></span>
            <span class="icon-plus"></span>
        </header>
        <article>
            <ul class="singleTempUl">
                <!--
                <li>
                    <span class="icon-qiqiu iconl"></span>
                    <h4 class="title-name">向客户推荐产品</h4>
                    <b>I love you my dear! I want stay with you all the time. Please don't leave me alone! Good luck my love!</b>
                    <span class="icon-to-right"></span>
                </li>
                -->
            </ul>
        </article>
        <footer>

        </footer>
    </div>
    <!--邮件模板详情-->
    <div class="mail-modal-detail hidden" id="mail-modal-detail">
        <div class="header">
            <span class="head-left">取消</span>
            <span class="title">邮件模板</span>
            <span class="head-right">使用</span>
        </div>
        <div class="content0">
            <div class="Addressee-theme">
                <div class="Addressee">
                    <span class="ressee">文件夹分类:</span>
                    <ul class="names">
                        <li class="name">开发信</li>
                    </ul>
                </div>
                <div class="Theme">
                    <span class="theme">模板标题:</span>
                    <textarea class="content" maxlength="100">Multi color cushion & Very soft cushionvery  good  products  introduce！</textarea>
                    <span class="icon-mail_add"></span>
                </div>
            </div>
            <div class="mail-subject">
                <p class="mail-number">ProductNo ：A12314</p>
            </div>
        </div>
    </div>
    <!--回复邮件-->
    <div class="reply-Mail hidden writeEmailPage" id="reply-Mail">
        <div class="header">
            <span class="head-left">取消</span>
            <span class="title">邮件回复</span>
            <span class="head-right">发送</span>
        </div>
        <div class="cansel-box hidden">
            <div class="content">
                <h3 class="title">是否保存修改</h3>
                <span class="list li0" data-type="0">放弃修改</span>
                <span class="list li1" data-type="1">保存修改</span>
                <span class="list li2" data-type="2">取消</span>
            </div>
        </div>
        <div class="content0">
            <div class="Addressee-theme">
                <div class="Addressee">
                    <span class="ressee">客户:</span>
                    <ul class="names">
                    </ul>
                    <!--<span class="clickType">收起</span>-->
                </div>
                <div class="Theme">
                    <span class="theme">主题:</span>
                    <textarea class="content mail-number" maxlength="100"></textarea>
                    <span class="icon-text-add icon"></span>
                    <!--<span class="customer-modal">模板</span>-->
                </div>
            </div>
            <div class="mail-subject">
                <!--<p class="mail-title">Multi color cushion & Very soft cushion</p>-->
                <textarea class="mail-number" autoHeight="true" maxlength="1000"></textarea>
                <!--<p class="mail-introduce">usb pnjxnsj axjadnxj xknxakjxa xajixkx xa xajkxa x iajxjkaxjkaxkaxjiajiaxjkaxakjx xajkxajk</p>-->
                <div class="mail-picture">

                </div>
                <div class="quotation-box">
                    <!--
                    <div class="quotations">
                        <span class="icon-price-dan icon0"></span>
                        <span class="title"><h2 class="names">Multi color cushion  inquiry</h2><p class="sizes">236.6k</p></span>
                        <span class="icon-mistake icon1"></span>
                    </div>
                    <div class="quotations">
                        <span class="icon-price-dan icon0"></span>
                        <span class="title"><h2 class="names">Multi color cushion  inquiry</h2><p class="sizes">236.6k</p></span>
                        <span class="icon-mistake icon1"></span>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="footer-left"><i class="icon-wenhao icon"></i> 邮件书写说明</span>
            <div class="footer-right">
                <div class="lf">
                    <i class="icon-price-dan icon icondan"  data-type="dan"></i>
                    <!--<p class="">单据</p>-->
                </div>
                <div class="lf">
                    <i class="icon-img icon" data-type="tu"></i>
                    <!--<p class="">图片</p>-->
                </div>
            </div>
            <input type="file" class="caogaobtn" accept="*/*">
        </div>
    </div>
    <!--已发送再次发送-->
    <div class="zaici-edit hidden writeEmailPage" id="zaici-edit">
        <div class="header">
            <span class="head-left">取消</span>
            <span class="title">再次编辑</span>
            <span class="head-right">发送</span>
        </div>
        <div class="cansel-box hidden">
            <div class="content">
                <h3 class="title">是否保存修改</h3>
                <span class="list li0" data-type="0">放弃修改</span>
                <span class="list li1" data-type="1">保存修改</span>
                <span class="list li2" data-type="2">取消</span>
            </div>
        </div>
        <div class="content0">
            <div class="Addressee-theme">
                <div class="Addressee">
                    <span class="ressee">收件人:</span>
                    <ul class="names">
                    </ul>
                    <!--<span class="clickType">收起</span>-->
                </div>
                <div class="Theme">
                    <span class="theme">主题:</span>
                    <textarea class="content mail-number" maxlength="100"></textarea>
                    <span class="icon-text-add icon"></span>
                    <!--<span class="customer-modal">模板</span>-->
                </div>
            </div>
            <div class="mail-subject">
                <!--<p class="mail-title">Multi color cushion & Very soft cushion</p>-->
                <textarea class="mail-number" autoHeight="true" maxlength="1000"></textarea>
                <!--<p class="mail-introduce">usb pnjxnsj axjadnxj xknxakjxa xajixkx xa xajkxa x iajxjkaxjkaxkaxjiajiaxjkaxakjx xajkxajk</p>-->
                <div class="mail-picture">

                </div>
                <div class="quotation-box">
                    <!--<div class="quotations">-->
                        <!--<span class="icon-price-dan icon0"></span>-->
                        <!--<span class="title"><h2 class="names">Multi color cushion  inquiry</h2><p class="sizes">236.6k</p></span>-->
                        <!--<span class="icon-mistake icon1"></span>-->
                    <!--</div>-->
                    <!--<div class="quotations">-->
                        <!--<span class="icon-price-dan icon0"></span>-->
                        <!--<span class="title"><h2 class="names">Multi color cushion  inquiry</h2><p class="sizes">236.6k</p></span>-->
                        <!--<span class="icon-mistake icon1"></span>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="footer-left"><i class="icon-wenhao icon"></i> 邮件书写说明</span>
            <div class="footer-right">
                <div class="lf">
                    <i class="icon-price-dan icon icondan"  data-type="dan"></i>
                    <!--<p class="">单据</p>-->
                </div>
                <div class="lf">
                    <i class="icon-img icon" data-type="tu"></i>
                    <!--<p class="">图片</p>-->
                </div>
            </div>
            <input type="file" class="caogaobtn" accept="*/*">
        </div>
    </div>
    <!--客户模块写邮件-->
    <div class="customer-writeMail hidden writeEmailPage" id="customer-writeMail">
        <div class="header">
            <span class="head-left">取消</span>
            <span class="title">写邮件</span>
            <span class="head-right" id="as123">发送</span>
        </div>
        <div class="cansel-box hidden">
            <div class="content">
                <h3 class="title">是否保存修改</h3>
                <span class="list li0" data-type="0">放弃修改</span>
                <span class="list li1" data-type="1">保存修改</span>
                <span class="list li2" data-type="2">取消</span>
            </div>
        </div>
        <div class="content0">
            <div class="Addressee-theme">
                <div class="Addressee">
                    <span class="ressee">收件人:</span>
                    <ul class="names">
                    </ul>
                    <!--<span class="clickType">收起</span>-->
                </div>
                <div class="Theme">
                    <span class="theme">主题:</span>
                    <textarea class="content mail-number" maxlength="100"></textarea>
                    <span class="icon-text-add icon"></span>
                    <!--<span class="customer-modal">模板</span>-->
                </div>
            </div>
            <div class="mail-subject">
                <!--<p class="mail-title">Multi color cushion & Very soft cushion</p>-->
                <textarea class="mail-number" autoHeight="true" maxlength="1000"></textarea>
                <!--<p class="mail-introduce">usb pnjxnsj axjadnxj xknxakjxa xajixkx xa xajkxa x iajxjkaxjkaxkaxjiajiaxjkaxakjx xajkxajk</p>-->
                <div class="mail-picture">

                </div>
                <div class="quotation-box">
                    <!--<div class="quotations">-->
                    <!--<span class="icon-price-dan icon0"></span>-->
                    <!--<span class="title"><h2 class="names">Multi color cushion  inquiry</h2><p class="sizes">236.6k</p></span>-->
                    <!--<span class="icon-mistake icon1"></span>-->
                    <!--</div>-->
                    <!--<div class="quotations">-->
                    <!--<span class="icon-price-dan icon0"></span>-->
                    <!--<span class="title"><h2 class="names">Multi color cushion  inquiry</h2><p class="sizes">236.6k</p></span>-->
                    <!--<span class="icon-mistake icon1"></span>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="footer-left"><i class="icon-wenhao icon"></i> 邮件书写说明</span>
            <div class="footer-right">
                <div class="lf">
                    <i class="icon-price-dan icon icondan"  data-type="dan"></i>
                    <!--<p class="">单据</p>-->
                </div>
                <div class="lf">
                    <i class="icon-img icon" data-type="tu"></i>
                    <!--<p class="">图片</p>-->
                </div>
            </div>
            <input type="file" class="caogaobtn" accept="*/*">
        </div>
    </div>
    <!--报价单-->
    <div class="quotation hidden" id="qw1">
        <div class="quotation-title">
            <div class="back-border">
                <span class="icon-mail_fanhui back"></span>
            </div>
            <div class="edite-border">
                <span>确定</span>
            </div>
            <div class="order-word">报价单</div>
        </div>
        <div class="quotation-body-border">
            <div class="quotation-list-item">

            </div>
            <!--加载按钮-->
            <div class="loading_more hidden ">
                <span class="No-more hidden">没有更多</span>
                <button class="See-more abled">查看更多</button>
            </div>
            <div id="example-quotation" style="display:none;">
                <div class="quotation-item">
                    <div class="item-head">
                        <div class="pic-border">
                            <span class="icon-right-null icon"></span>
                        </div>
                        <div class="item-name">
                            20161212-Multi color cushion & Very soft cushion
                        </div>
                        <span class="icon-to-right to-right"></span>
                    </div>
                    <div class="item-body">
                        <div class="pic-border"></div>
                        <div class="product-introduce">
                            <div class="product"><span>产品：</span><span class="product-name">Multi color cushion & Very soft cushion</span></div>
                            <div class="price"><span>$ </span><span class="money-num">568.36</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-count hidden"><img src="images/nocount_0.svg" alt=""><p class="text">暂时没有单据</p></div>
    </div>
</div>