<div id="mainbox">
<!--首页-->
<div class="login_main" id="login_main">
    <div class="header">
        <img src="images/homeLogo.png" alt="" class="logo">
        <h1 class="homeTitle">贸多多</h1>
        <p class="core">让每一个人都能成为外贸SOHO</p>
    </div>
    <div class="main-content">
        <button class="phone_login"><i class="icon-maoduo95"></i>手机登录</button>
        <button class="create_name">创建账号</button>
    </div>
</div>
<!--手机登陆-->
<div class="login_phone hidden" id="login_phone">
    <div class="header">
        <i class="icon-mail_fanhui"></i>
        <h1 class="title">登录</h1>
    </div>
    <div class="form">
        <label class="username">
            <input type="tel" name="username" placeholder="请输入手机号" maxlength="33">
            <span class="icon-err hidden"></span>
        </label>
        <label class="password">
            <input type="password" name="password" placeholder="请输入登录密码" maxlength="16">
            <span class="icon-err hidden"></span>
        </label>
        <div class="other"><a class="retrieve">找回密码</a> | <a class="register">立即注册</a></div>
        <button class="logining" id="login">登录</button>
    </div>
</div>
<!--找回密码-->
<div class="retrieve_password hidden" id="retrieve_password">
        <div class="header">
            <i class="icon-mail_fanhui"></i>
            <h1 class="title">找回密码</h1>
        </div>
        <div class="form">
            <label class="username">
            <input type="tel" name="username" placeholder="请输入手机号" maxlength="33">
            <span class="icon-err hidden"></span>
            </label>
            <label class="code">
            <input type="tel" name="usercode" placeholder="请输入验证码" maxlength="6">
            <span class="obtain">获取</span>
            </label>
            <div class="other"><a>没收到验证码?</a></div>
            <button class="next">下一步</button>
        </div>
        <div class="Mask_modal hidden">
            <!--未收到验证短信-->
            <div class="Message-Test hidden">
                <span class="icon-maoduo0 icon-close"></span>
                <div class="message-title">未收到验证短信</div>
                <p>1.由于运营商通道故障造成的发送时间延迟，请耐心等待或者点击重新获取验证码；</p>
                <p>2.由于你的手机存在某些安全设置，验证码短信可能被拦截，请修改设置后重新获取验证码；</p>
                <div class="contact-us">
                    <p>如果尝试了上述方式后均未解决</p>
                    <span class="contact-me"><a href="tel:400-0755-222">联系我们</a></span>
                </div>
                <div class="resend-code common">重新发送验证码</div>
                <div class="voice-valid common">语音验证</div>
            </div>
            <!--电话验证码-->
            <div class="Voice-Test hidden">
                <span class="icon-maoduo0 icon-close"></span>
                <div class="tel-icon">
                    <span class="icon-maoduo99"></span>
                </div>
                <div class="message-tips">验证码将以电话形式进行通知，请注意接听</div>
                <div class="confirm">确认</div>
            </div>
            <!--短信验证码-->
            <div class="Message-Code hidden">
                <span class="icon-maoduo0 icon-close"></span>
                <div class="mess-icon">
                    <span class="icon-maoduo94"></span>
                </div>
                <div class="pic-valid">
                    <input type="text" placeholder="请输入图形验证码" name="jianjiancode" maxlength="6">
                    <div class="code-img"><img src="" alt="" class="codesimg"></div>
                </div>
                <div class="get-message">获取验证码</div>
            </div>
        </div>
    </div>
<!--找回密码2-->
<div class="retrieve_password_n hidden" id="retrieve_password_n">
    <div class="header">
        <i class="icon-mail_fanhui"></i>
        <h1 class="title">找回密码</h1>
    </div>
    <div class="form">
        <label class="password">
            <input type="password" name="password" placeholder="请输入新密码" maxlength="16">
            <span class="icon-err hidden"></span>
        </label>
        <label class="password-n">
            <input type="password" name="userpassword" placeholder="确认密码" maxlength="16">
            <span class="icon-err hidden"></span>
        </label>
        <button class="complete">完成</button>
    </div>
</div>
<!--注册-->
<div class="register_name hidden" id="register_name">
    <div class="header">
        <i class="icon-mail_fanhui"></i>
        <h1 class="title">创建账号</h1>
    </div>
    <div class="form">
        <label class="username">
            <input type="tel" name="username" placeholder="请输入手机号" maxlength="33"><span class="icon-err hidden"></span>
        </label>
        <label class="code">
            <input type="tel" name="code" placeholder="请输入验证码" maxlength="6"><span class="obtain" id="obtain">获取</span>
        </label>
        <label class="password">
            <input type="password" name="password" placeholder="请设置6位以上的密码" maxlength="16"><span class="reveal" id="reveal">显示</span>
        </label>
        <div class="other">没收到验证码?</div>
        <button class="next">下一步</button>
        <div class="footer">
            <p>点击[下一步]按钮,即代表你同意<!--<a class="Agreement">《贸多多兼职协议》</a>--></p>
            <p><!--以及--><a class="Privacy-policy">《贸多多法律声明及隐私政策》</a></p>
        </div>
    </div>
    <div class="Mask_modal hidden">
        <!--未收到验证短信-->
        <div class="Message-Test hidden">
            <span class="icon-maoduo0 icon-close"></span>
            <div class="message-title">未收到验证短信</div>
            <p>1.由于运营商通道故障造成的发送时间延迟，请耐心等待或者点击重新获取验证码；</p>
            <p>2.由于你的手机存在某些安全设置，验证码短信可能被拦截，请修改设置后重新获取验证码；</p>
            <div class="contact-us">
                <p>如果尝试了上述方式后均未解决</p>
                <span class="contact-me"><a href="tel:400-0755-222">联系我们</a></span>
            </div>
            <div class="resend-code common">重新发送验证码</div>
            <div class="voice-valid common">语音验证</div>
        </div>
        <!--电话验证码-->
        <div class="Voice-Test hidden">
            <span class="icon-maoduo0 icon-close"></span>
            <div class="tel-icon">
                <span class="icon-maoduo99"></span>
            </div>
            <div class="message-tips">验证码将以电话形式进行通知，请注意接听</div>
            <div class="confirm">确认</div>
        </div>
        <!--短信验证码-->
        <div class="Message-Code hidden">
            <span class="icon-maoduo0 icon-close"></span>
            <div class="mess-icon">
                <span class="icon-maoduo94"></span>
            </div>
            <div class="pic-valid">
                <input type="text" placeholder="请输入图形验证码" name="jianjiancode" maxlength="6">
                <div class="code-img"><img src="" alt="" class="codesimg"></div>
            </div>
            <div class="get-message">获取验证码</div>
        </div>
    </div>
</div>
<!--完善资料-->
<div class="perfect_material hidden" id="perfect_material">
        <div class="header">
            <!--<i class="icon-mail_fanhui"></i>-->
            <h1 class="title">完善资料</h1>
        </div>
        <div class="form">
            <div class="photo">
                <img src="images/user_profile.png" alt="">
            </div>
            <label class="username">
                <span class="">账号:</span>
                <input type="text" name="username" placeholder="请输入账号名" maxlength="18">
                <span class="suffix">@mooddo.biz</span>
                <span class="icon-err hidden"></span>
            </label>
            <label class="nickname">
                <span>昵称:</span>
                <input type="text" placeholder="请输入昵称" name="nickname" maxlength="16">
                <span class="icon-err hidden"></span>
            </label>
            <label class="product">
                <span>偏好产品:</span>
                <input type="text" placeholder="请输入熟悉的产品类别" name="product">
                <span class="add"></span>
            </label>
            <button class="complete">完成</button>
        </div>
    </div>
<!--偏好产品 20170204-->
<div class="hobby_product hidden" id="hobby_product">
        <div class="header">
            <span class="hold">完成</span>
            <span class="title">偏好产品</span>
            <span class="add">添加</span>
        </div>
        <div class="main-body">

        </div>
    <!--
        <div class="footer">
            <span class="icon-maoduo37"></span>
            <p>添加产品</p>
        </div>
    -->
    </div>
<div class="addhobbyPage hidden" id="addhobbyPage">
    <div class="header">
        <span class="cansel">取消</span>
        <span class="title">偏好产品标签</span>
        <span class="submit">确定</span>
    </div>
    <div class="content">
        <textarea name="" id="" cols="30" rows="10" placeholder="请输入偏好产品标签的内容" maxlength="100"></textarea>
    </div>
</div>
<!--修改密码-->
<div class="amend_password hidden" id="amend_password">
    <div class="header">
        <i class="icon-mail_fanhui"></i>
        <h1 class="title">修改密码</h1>
    </div>
    <div class="form">
        <label class="old-password">
            <input type="password" name="old-password" placeholder="原密码" maxlength="16">
            <span class="icon-err hidden"></span>
        </label>
        <label class="new-password">
            <input type="password" name="new-password" placeholder="请输入新密码" maxlength="16">
            <span class="icon-err hidden"></span>
        </label>
        <label class="password">
            <input type="password" name="password" placeholder="确认新密码" maxlength="16">
            <span class="icon-err hidden"></span>
        </label>
        <div class="other">忘记旧密码?</div>
        <button class="complete">完成</button>
    </div>
</div>
<!--弹窗-->
<div class="Mask_modal hidden" id="Mask_modal">
        <!--未收到验证短信-->
        <div class="Message-Test">
            <span class="icon-maoduo0 icon-close"></span>
            <div class="message-title">未收到验证短信</div>
            <p>1.由于运营商通道故障造成的发送时间延迟，请耐心等待或者点击重新获取验证码；</p>
            <p>2.由于你的手机存在某些安全设置，验证码短信可能被拦截，请修改设置后重新获取验证码；</p>
            <div class="contact-us">
                <p>如果尝试了上述方式后均未解决</p>
                <span class="contact-me"><a href="tel:400-0755-222">联系我们</a></span>
            </div>
            <div class="resend-code common">重新发送验证码</div>
            <div class="voice-valid common">语音验证</div>
        </div>
        <!--电话验证码-->
        <div class="Voice-Test">
            <span class="icon-maoduo0 icon-close"></span>
            <div class="tel-icon">
                <span class="icon-maoduo99"></span>
            </div>
            <div class="message-tips">验证码将以电话形式进行通知，请注意接听</div>
            <div class="confirm">确认</div>
        </div>
        <!--短信验证码-->
        <div class="Message-Code">
            <span class="icon-maoduo0 icon-close"></span>
            <div class="mess-icon">
                <span class="icon-maoduo94"></span>
            </div>
            <div class="pic-valid">
                <input type="text" placeholder="请输入图形验证码" maxlength="6">
                <div class="code-img"></div>
            </div>
            <div class="get-message">获取验证码</div>
        </div>
    </div>
<!--各项协议-->
<!--兼职协议-->
<div class="illustrate hidden" id="Agreement_pop">
    <div class="header">
        <span class="icon-mail_fanhui"></span>
        <span class="title">贸多多兼职协议</span>
    </div>
    <div class="container">
        <div class="main-body">
            <h2 class="theme">关于发送邮件</h2>
            <p class="title">1.如何创建邮件模板</p>
            <p class="paragraph">如果频繁使用某些固定的邮件内容，或者该邮件内容获
                得不错的反馈，那么你可以把该邮件内容保存为模板。
                同时你也可以新建模板的文件夹方便分类管理，这样在
                后期就可以直接插入新建的邮件中直接使用了。</p>
        </div>
    </div>
</div>
<!--隐私政策-->
<div class="illustrate hidden" id="Privacy_policy_pop">
    <div class="header">
        <span class="icon-mail_fanhui"></span>
        <span class="title">贸多多法律声明及隐私政策</span>
    </div>
    <div class="container">
        <div class="main-body">
            <h2 class="theme">法律声明</h2>
            <!--<p class="title"></p>-->
            <p class="paragraph">访问、浏览或使用贸多多外贸兼职软件，以下统称“贸多多”，表明您已阅读、理解并同意接受以下条款的约束，并遵守所有适用的法律和法规。您一旦使用贸多多，则须秉着诚信的原则遵守以下条款。</p>
        </div>
        <div class="main-body">
            <h2 class="theme">一般原则</h2>
            <p class="paragraph">以下规则适用于所有贸多多用户或浏览者，贸多多可能随时修改这些条款。您应经常访问本页面以了解当前的条款，因为这些条款与您密切相关。这些条款的某些条文也可能被贸多多软件中某些页面上或某些具体服务明确指定的法律通告或条款所取代，您应该了解这些内容，一旦接受本条款，即意味着您已经同时详细阅读并接受了这些被引用或取代的条款。</p>
        </div>
        <div class="main-body">
            <h2 class="theme">权利说明</h2>
            <p class="paragraph">深圳市茂贸电子商务有限公司及其关联公司对其发行的或与合作公司共同发行的包括但不限于贸多多软件及相关产品或服务的全部内容，享有知识产权，受法律保护。如果相关内容未含权利声明，并不代表贸多多对其不享有权利和不主张权利，您应根据法律、法规及诚信原则尊重权利人的合法权益并合法使用该内容。</p>
            <p class="paragraph">未经深圳市茂贸电子商务有限公司书面许可，任何单位及个人不得以任何方式或理由对上述软件、产品、服务、信息、文字的任何部分进行使用、复制、修改、抄录、传播或与其它产品捆绑使用、销售,或以超级链路连接或传送、存储于信息检索系统或者其他任何商业目的的使用，但对于非商业目的的、个人使用的下载或打印（未作修改，且须保留该内容中的版权说明或其他所有权的说明）除外。</p>
            <p class="paragraph">贸多多软件中使用和显示的商标和标识（以下统称"商标"）是深圳市茂贸电子商务有限公司及其关联公司注册和未注册的有关商标，受法律保护，但注明属于其他方拥有的商标、标志、商号除外。贸多多软件中所载的任何内容，未经深圳市茂贸电子商务有限公司书面许可，任何人不得以任何方式使用贸多多名称及贸多多软件的商标、标记。</p>
        </div>
        <div class="main-body">
            <h2 class="theme">用户信息</h2>
            <p class="paragraph">为贸多多提供相应服务之必须，您以自愿填写的方式提供注册所需的姓名、性别、电话以及其他类似的个人信息，则表示您已经了解并接受您个人信息的用途，同意贸多多为实现该特定目的使用您的个人信息。除此个人信息之外，其他任何您发送或提供给贸多多的材料、信息或文本(以下统称信息)均将被视为非保密和非专有的。贸多多对这些信息不承担任何义务。同时如果您提交时没有特别声明的，可视为同意贸多多及其授权人可以因商业或非商业的目的复制、透露、分发、合并和以其他方式利用这些信息和所有数据、图像、声音、文本及其他内容。您可阅读下面的贸多多隐私政策以了解更加详细的内容。</p>
        </div>
        <div class="main-body">
            <h2 class="theme">责任限制声明</h2>
            <p class="paragraph">不论在何种情况下，贸多多对由于信息网络设备维护、信息网络连接故障、智能终端、通讯或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、火灾、洪水、风暴、爆炸、战争、政府行为、司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务不承担责任。</p>
            <p class="paragraph">无论在任何情况下（包括但不限于疏忽原因），由于使用贸多多上的信息或由贸多多软件链接的信息，或其他与贸多多软件链接的网站信息，对您或他人所造成任何的损失或损害（包括直接、间接、特别或后果性的损失或损害，例如收入或利润之损失，智能终端系统之损坏或数据丢失等后果），均由使用者自行承担责任（包括但不限于疏忽责任）。</p>
            <p class="paragraph">贸多多所载的信息，包括但不限于文本、图片、数据、观点、网页或链接，虽然力图准确和详尽，但贸多多并不就其所包含的信息和内容的准确、完整、充分和可靠性做任何承诺。贸多多表明不对这些信息和内容的错误或遗漏承担责任，也不对这些信息和内容作出任何明示或默示的、包括但不限于没有侵犯第三方权利、质量和没有智能终端病毒的保证。</p>
            <p class="paragraph">对于贸多多软件上所提及或展示的非贸多多产品或服务，贸多多仅提供基本信息。贸多多不是相关产品的生产者或经销者，亦不是服务的提供方。贸多多所有展示的产品和服务应受其本公司或服务提供方所做质量承诺和条款的约束。</p>
        </div>
        <div class="main-body">
            <h2 class="theme">第三方链接</h2>
            <p class="paragraph">贸多多可能保留有第三方网站或网址的链接，访问这些链接将由用户自己作出决定，贸多多并不就这些链接上所提供的任何信息、数据、观点、图片、陈述或建议的准确性、完整性、充分性和可靠性提供承诺或保证。贸多多没有审查过任何第三方网站，对这些网站及其内容不进行控制，也不负任何责任。如果您决定访问任何与本站链接的第三方网站，其可能带来的结果和风险全部由您自己承担。</p>
        </div>
        <div class="main-body">
            <h2 class="theme">适用法律和管辖权</h2>
            <p class="paragraph">通过访问贸多多软件平台或使用贸多多提供的服务, 即表示您同意该访问或服务受中华人民共和国法律的约束，且您同意受中华人民共和国法院的管辖。访问或接受服务过程中发生的争议应当协商解决，协商不成的，各方一致同意至深圳市茂贸电子商务有限公司住所所在地有管辖权的法院诉讼解决。</p>
        </div>
        <div class="main-body">
            <h2 class="theme">隐私政策</h2>
            <p class="paragraph">为向您提供更准确的个性化服务，在您使用贸多多产品或服务的过程中，我们可能会以如下方式收集和使用您提供的个人信息，本声明解释了这些情况下的信息收集和使用情况。贸多多非常重视对您的个人隐私保护，在您使用贸多多的产品及服务前，请您仔细阅读以下声明。</p>
        </div>
        <div class="main-body">
            <h2 class="theme">我们收集以下信息</h2>
            <p class="paragraph">地理位置信息及目的地信息；<br>
                个人联系方式；<br>
                对于业务员类用户，我们会收集您的个人信息、身份证信息、银行卡信息，包括但不限于用户的姓名、身份证信息、银行卡等；<br>
                通过“贸多多”App完成的交易信息；<br>
                其他根据具体服务的需要必要收集的信息。</p>
        </div>
        <div class="main-body">
            <h2 class="theme">收集资料的方法</h2>
            <p class="paragraph">贸多多将会收集及储存您在旗下产品客户端输入的资料，或通过其他渠道向我们提供的信息。我们亦会从关联公司、商业伙伴及其他独立第三方资料来源，获取与您有关并合法收集的个人或非个人资料；</p>
            <p class="paragraph">您在相关站点及其他供应商所作的隐私设定，可限制或阻止我们对有关资料的查阅；</p>
            <p class="paragraph">若您提供个人资料予我们，即表示您接受，贸多多将在所需期限内留存您的资料以履行有关用途，您的资料将在遵守适用相关法律及规定的情况下收集。</p>
        </div>
        <div class="main-body">
            <h2 class="theme">收集个人资料可作以下用途</h2>
            <p class="paragraph">提供贸多多产品中所包含的相关服务；<br>
                贸多多网站及APP管理；<br>
                用户身份验证、用户银行卡验证、提现以及交易、存档和备份用途，确保我们向您提供的产品和服务的安全性；如果我们监测到您使用我们的服务用于欺诈或非法目的，我们将会相应采取措施停止服务；<br>
                向您推送最新的市场信息及优惠方案；<br>
                设计全新或改善目前所提供的产品及服务；<br>
                服务内容个性化更新；<br>
                协助执行法例、警方或其他政府或监管机构调查，以及遵守适用法律及规例所施行的规定，或其他向政府或监管机构承诺之义务；<br>
                在收集之时所通知的其他用途；及与上述任何项目直接有关的其他用途。</p>
        </div>
        <div class="main-body">
            <h2 class="theme">可能向您发送的信息</h2>
            <p class="paragraph">为保证服务完成所必须的验证码；<br>
                使用产品或服务时所必要的推送通知；<br>
                正在交易中的提示信息、邮件信息；<br>
                关于贸多多产品或服务的新闻、特别优惠及促销活动消息。</p>
        </div>
        <div class="main-body">
            <h2 class="theme">信息安全及隐私保护措施</h2>
            <p class="paragraph">深圳市茂贸电子商务有限公司及其关联公司采用严格的安全制度来确保我们收集的信息不丢失，不被滥用和变造；<br>
                我们使用行业通行的安全技术和程序，来保护您的个人信息不被未经授权的访问、使用或泄露；<br>
                为更好地提供服务升级产品，我们可能会将我们获得的数据提供给第三方用于分析统计。在提供服务的过程中，我们也会使用第三方的产品或服务。以上第三方企业或个人，只有在必须的情况下才会接触到用户信息，同时他们都受到严格的保密条款的约束；<br>
                请注意，任何安全系统都存在可能的及未知的风险。</p>
        </div>
        <div class="main-body">
            <h2 class="theme">变更</h2>
            <p class="paragraph">随着贸多多服务的进一步提升，隐私声明的内容会随时更新。更新后的隐私声明一旦在网页上公布即有效代替原来的隐私声明。我们鼓励您定期查看本页以了解我们对于隐私保护的最新操作。</p>
        </div>
    </div>
</div>
</div>
