//首页
#mainbox{
  height:100%;
  width:10rem;
  margin:0 auto;
  position:relative;
  box-shadow: 1px 1px 15px #ddd;
.login_main{
  height:100%;
  overflow: hidden;
  .header{
    text-align:center;
    padding-top:2.7733rem;
    .logo{
      width:2.5rem;
      height:2.5rem;
    }
    .homeTitle{
      margin-top:.6666rem;
      font-size:.7466rem;
      color:#450c03;
      line-height:.7466rem;
    }
    .core{
      margin-top:.4533rem;
      font-size:.3733rem;
      line-height:.3733rem;;
      color:#a1b6cf;
    }
  }
  .main-content{
    margin-top:3.84rem;
    text-align:center;
    button{
      border:1px solid #ccd5e0;
      border-radius:100px;
      -webkit-border-radius:100px;
      -moz-border-radius:100px;
      -o-border-radius:100px;
      width:8.4rem;
      height:1.066rem;
      outline:none;
      background:#fff;
      line-height:1.066rem;
      position:relative;
    }
    .phone_login{
      color:#5e7295;
      font-size:.4266rem;
      margin:0 auto;
      display:block;
      i{
        position:absolute;
        color: #A1B6CF;
        line-height:1.066rem;
        height:1.066rem;
        left:.64rem;
        top:0;
      }
    }
    .create_name{
      margin:0 auto;
      margin-top:.64rem;
      font-size:.4266rem;
      color:#fff;
      background:#ff5e54;
      display:block;
    }
  }
}

//手机登陆
.login_phone{
  overflow-y: auto;
  height:100%;
  width:10rem;
  -webkit-overflow-scrolling: touch;
  .header{
    position:relative;
    text-align:center;
    width:10rem;
    height:1.333rem;
    line-height:1.333rem;
    .icon-mail_fanhui{
      position:absolute;
      left:0;
      height:1.333rem;
      line-height:1.333rem;
      width:1.333rem;
      text-align:center;
      font-size:.4533rem;
      color:#8c8c8c;
    }
    .title{
      font-size:.48rem;
      color:#5f5f5f;
    }
  }
  .form{
    text-align:center;
    margin-top:.5rem;
    width:10rem;
    label{
      position:relative;
      height:1.2rem;
      line-height:1.2rem;
      display:block;
      margin:0 auto;
      width:8.4rem;
      .icon-err{
        position:absolute;
        right:0;
        display:block;
        top:0;
        padding:0 .4266rem;
        color:#CCD5E0;
        line-height:1.2rem;
        height:1.2rem;
        font-size:.32rem;
      }
    }
    .username{

    }
    .password{
      margin-top:.4rem;
    }
    input{
      background:#F5F5F5;
      border-radius:2px;
      -moz-border-radius:2px;
      -webkit-border-radius:2px;
      -o-border-radius:2px;
      width:8.4rem;
      height:1.2rem;
      line-height:.5rem;
      outline:none;
      border:none;
      color:#5E7295;
      font-size:.3733rem;
      padding:.35rem 0;
      padding-left: .4rem;
    }
    .other{
      margin-top:.5866rem;
      font-size:.3733rem;
      color:#A1B6CF;
      line-height:.3733rem;
      .retrieve{  }
      .register{  }
    }
    .logining{
      outline:none;
      border:none;
      border-radius:100px;
      -moz-border-radius:100px;
      -webkit-border-radius:100px;
      -o-border-radius:100px;
      background:#F5F5F5;
      color:#A1B6CF;
      margin-top:.6933rem;
      width:5.6533rem;
      height:.9333rem;
      line-height:.9333rem;
      font-size:.4266rem;
    }
  }
}

//找回密码
.retrieve_password{
  overflow-y: auto;
  height:100%;
  width:10rem;
  -webkit-overflow-scrolling: touch;
  .header{
    position:relative;
    text-align:center;
    width:10rem;
    height:1.333rem;
    line-height:1.333rem;
    .icon-mail_fanhui{
      position:absolute;
      left:0;
      height:1.333rem;
      line-height:1.333rem;
      width:1.333rem;
      text-align:center;
      font-size:.4533rem;
      color:#8c8c8c;
    }
    .title{
      font-size:.48rem;
      color:#5f5f5f;
    }
  }
  .form{
    text-align:center;
    margin-top:.5rem;
    width:10rem;
    label{
      position:relative;
      height:1.2rem;
      line-height:1.2rem;
      display:block;
      margin:0 auto;
      width:8.4rem;
      .icon-err{
        position:absolute;
        right:0;
        display:block;
        top:0;
        padding:0 .4266rem;
        color:#CCD5E0;
        line-height:1.2rem;
        height:1.2rem;
        font-size:.32rem;
      }
      .obtain{
        position:absolute;
        right:0;
        display:block;
        top:0;
        width:1.8666rem;
        font-size:.3733rem;
        line-height:1.2rem;
        color:#5E7295;
        height:1.2rem;
      }
    }
    .username{
      .icon-err{
        display:block;
      }
    }
    .username{

    }
    .code{
      margin-top:.4rem;
    }
    input{
      background:#F5F5F5;
      border-radius:2px;
      -moz-border-radius:2px;
      -webkit-border-radius:2px;
      -o-border-radius:2px;
      width:8.4rem;
      height:1.2rem;
      color:#5E7295;
      line-height:.5rem;
      outline:none;
      font-size:.3733rem;
      border:none;
      padding:.35rem 0;
      padding-left: .4rem;
    }
    .other{
      margin-top:.5866rem;
      font-size:.3733rem;
      color:#A1B6CF;
      line-height:.3733rem;
    }
    .next{
      border:none;
      outline:none;
      background:#F5F5F5;
      border-radius:100px;
      -moz-border-radius:100px;
      -o-border-radius:100px;
      -webkit-border-radius:100px;
      width:5.654rem;
      height:.9333rem;
      color:#a1b6cf;
      font-size:.4266rem;
      margin-top:.9866rem;
    }
  }
}

//找回密码2
.retrieve_password_n{
  overflow-y: auto;
  height:100%;
  width:10rem;
  -webkit-overflow-scrolling: touch;
  .header{
    position:relative;
    text-align:center;
    height:1.333rem;
    width:10rem;
    line-height:1.333rem;
    .icon-mail_fanhui{
      position:absolute;
      left:0;
      height:1.333rem;
      line-height:1.333rem;
      width:1.333rem;
      text-align:center;
      font-size:.4533rem;
      color:#8c8c8c;
    }
    .title{
      font-size:.48rem;
      color:#5f5f5f;
    }
  }
  .form{
    text-align:center;
    margin-top:.5rem;
    width:10rem;
    label{
      position:relative;
      height:1.2rem;
      line-height:1.2rem;
      display:block;
      margin:0 auto;
      width:8.4rem;
      .icon-err{
        position:absolute;
        right:0;
        top:0;
        padding:0 .4266rem;
        color:#CCD5E0;
        line-height:1.2rem;
        display:block;
        height:1.2rem;
        font-size:.32rem;
      }
    }
    .password{

    }
    .password-n{
      margin-top:.4rem;
    }
    input{
      background:#F5F5F5;
      border-radius:2px;
      -moz-border-radius:2px;
      -webkit-border-radius:2px;
      -o-border-radius:2px;
      width:8.4rem;
      height:1.2rem;
      color:#5E7295;
      line-height:.5rem;
      outline:none;
      border:none;
      font-size:.3733rem;
      padding:.35rem 0;
      padding-left: .4rem;
    }
    .other{
      margin-top:.5866rem;
      font-size:.3733rem;
      color:#A1B6CF;
      line-height:.3733rem;
    }
    .complete{
      border:none;
      outline:none;
      background:#F5F5F5;
      border-radius:100px;
      -moz-border-radius:100px;
      -o-border-radius:100px;
      -webkit-border-radius:100px;
      width:5.654rem;
      height:.9333rem;
      color:#a1b6cf;
      font-size:.4266rem;
      margin-top:.9866rem;
    }
  }
}

//注册
.register_name{
  overflow-y: auto;
  height:100%;
  width:10rem;
  -webkit-overflow-scrolling: touch;
  .header{
    position:relative;
    text-align:center;
    width:10rem;
    height:1.333rem;
    line-height:1.333rem;
    .icon-mail_fanhui{
      position:absolute;
      left:0;
      height:1.333rem;
      line-height:1.333rem;
      width:1.333rem;
      text-align:center;
      font-size:.4533rem;
      color:#8c8c8c;
    }
    .title{
      font-size:.48rem;
      color:#5f5f5f;
    }
  }
  .form{
    text-align:center;
    margin-top:.5rem;
    width:10rem;
    label{
      position:relative;
      height:1.2rem;
      line-height:1.2rem;
      display:block;
      margin:0 auto;
      width:8.4rem;
      .icon-err{
        position:absolute;
        right:0;
        display:block;
        top:0;
        padding:0 .4266rem;
        color:#CCD5E0;
        line-height:1.2rem;
        height:1.2rem;
        font-size:.32rem;
      }
    }
    .username{
      .icon-err{
        display:block;
      }
    }
    .code{
      margin-top:.4rem;
      .obtain{
        position:absolute;
        right:0;
        display:block;
        top:0;
        width:1.8666rem;
        font-size:.3733rem;
        line-height:1.2rem;
        color:#5E7295;
        height:1.2rem;
      }
    }
    .password{
      margin-top:.4rem;
      .reveal{
        position:absolute;
        right:0;
        display:block;
        top:0;
        width:1.8666rem;
        font-size:.3733rem;
        line-height:1.2rem;
        color:#5E7295;
        height:1.2rem;
      }
    }
    input{
      background:#F5F5F5;
      border-radius:2px;
      -moz-border-radius:2px;
      -webkit-border-radius:2px;
      -o-border-radius:2px;
      width:8.4rem;
      height:1.2rem;
      outline:none;
      border:none;
      color:#5E7295;
      line-height:.5rem;
      font-size:.3733rem;
      padding:.35rem 0;
      padding-left: .4rem;
    }
    .other{
      margin-top:.5866rem;
      font-size:.3733rem;
      color:#A1B6CF;
      line-height:.3733rem;
    }
    .next{
      border:none;
      outline:none;
      background:#F5F5F5;
      border-radius:100px;
      -moz-border-radius:100px;
      -o-border-radius:100px;
      -webkit-border-radius:100px;
      width:5.654rem;
      height:.9333rem;
      color:#a1b6cf;
      border-radius:100px;
      -webkit-border-radius:100px;
      -moz-border-radius:100px;
      -o-border-radius:100px;
      font-size:.4266rem;
      margin-top:.9866rem;
    }
    .footer{
      margin-top:.56rem;
      font-size:.32rem;
      line-height:.32rem;
      color:#9E9E9E;
      p{
        margin-bottom:5px;
        a{
          color:#5E7295;
        }
      }
    }
  }
}

//完善资料
.perfect_material{
  overflow-y: auto;
  height:100%;
  width:10rem;
  -webkit-overflow-scrolling: touch;
  .header{
    position:relative;
    text-align:center;
    width:10rem;
    height:1.333rem;
    line-height:1.333rem;
    .icon-mail_fanhui{
      position:absolute;
      left:0;
      height:1.333rem;
      line-height:1.333rem;
      width:1.333rem;
      text-align:center;
      font-size:.4533rem;
      color:#8c8c8c;
    }
    .title{
      font-size:.48rem;
      color:#5f5f5f;
    }
  }
  .form{
    text-align:center;
    width:10rem;
    ::-webkit-input-placeholder { /* WebKit browsers */
      color: #CCD5E0;
      font-size:0.373rem;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
      color: #CCD5E0;
      font-size:0.373rem;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #CCD5E0;
      font-size:0.373rem;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #CCD5E0;
      font-size:0.373rem;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #CCD5E0;
      font-size:0.373rem;
    }
    .photo{
      text-align:center;
      margin:.8rem 0;
      img{
        width:2rem;
        height:2rem;
        display:block;
        margin:0 auto;
        border-radius:2rem;
      }
    }
    label{
      width:8.4rem;
      display:block;
      margin:0 auto;
      height:1.2rem;
      background:#F5F5F5;
      border-radius:2px;
      -moz-border-radius:2px;
      -webkit-border-radius:2px;
      -o-border-radius:2px;
      margin-bottom:.4rem;
      position:relative;
      span:nth-child(1){
        float:left;
        padding-left:.4rem;
        color:#A1B6CF;
        font-size:.3733rem;
        height:1.2rem;
        line-height:1.2rem;
      }
      input{
        float:left;
        border:none;
        outline:none;
        height:1.2rem;
        padding:.35rem 0;
        padding-left:.4266rem;
        line-height:.5rem;
        font-size:.3733rem;
        color:#5E7295;
        width:5.66rem;
        background:#F5F5F5;
      }
      .icon-err{
        position:absolute;
        right:0;
        display:block;
        top:0;
        padding:0 .4266rem;
        color:#CCD5E0;
        line-height:1.2rem;
        height:1.2rem;
        font-size:.32rem;
      }
    }
    .username{
      input{
        width:3.8rem;
      }
      .suffix{
        float:left;
        color:#5E7295;
        font-size:.3733rem;
        height:1.2rem;
        line-height:1.2rem;
      }
      .icon-err{
        float:left;
      }
    }
    .product input{
      width:5rem;
    }
    .complete{
      border:none;
      outline:none;
      background:#F5F5F5;
      border-radius:100px;
      -moz-border-radius:100px;
      -o-border-radius:100px;
      -webkit-border-radius:100px;
      width:5.654rem;
      height:.9333rem;
      color:#a1b6cf;
      font-size:.4266rem;
      margin-top:.9866rem;
    }
  }
}

//偏好产品
.hobby_product{
  height:100%;
  overflow:hidden;
  width:10rem;
  position:relative;
  .header{
    position:absolute;
    width:10rem;
    background:#fff;
    z-index:10;
    height:1.333rem;
    width:10rem;
    line-height:1.333rem;
    padding:0 .4533rem;
    border-bottom:1px solid #eee;
    .cancel{
      float:left;
      font-size: .3733rem;
      color: #A2A2A2;
    }
    .title{
      position:absolute;
      left:0;
      right:0;
      top:0;
      margin:0 auto;
      width:2.1333rem;
      text-align:center;
      font-size: .48rem;
      color: #6F6F6F;
    }
    .hold{
      float:left;
      font-size: .3733rem;
      color: #63A1E2;
    }
    .add{
      float:right;
      font-size: .3733rem;
      color: #63A1E2;
    }
  }
  .main-body{
    padding:0 .48rem;
    width:10rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position:absolute;
    left:0;
    top:0;
    height:100%;
    padding-top:1.333rem;
    padding-bottom:1.44rem;
    .label_box{
      .label{
        height:1.066rem;
        margin-top:.4266rem;
        overflow: hidden;
        position:relative;
        display:inline-block;
        border:1px solid #A2B7CF;
        border-radius:3px;
        -moz-border-radius:3px;
        -o-border-radius:3px;
        -webkit-border-radius:3px;
        //20170204
        width:100%;
        //20170204
        .keyword{
          outline:none;
          height:1.066rem;
          //20170204
          //min-width:3.6266rem;
          //max-width:9.0666rem;
          width:100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          //20170204
          padding:.32635rem 0;
          padding-left:.2933rem;
          font-size:.3733rem;
          display:inline-block;
          line-height:.3733rem;
          color:#A2B7CF;
          padding-right:.966rem;
          border:none;
        }
        .icon-err{
          text-align: center;
          position:absolute;
          right:0;
          display:block;
          top:0;
          width:.666rem;
          height:1.066rem;
          line-height:1.066rem;
          color:#CCD5E0;
          font-size:.32rem;
          background:#fff;
        }
      }
    }
  }
  .footer{
    width:10rem;
    position:absolute;
    bottom:0;
    z-index:10;
    left:0;
    height:1.44rem;
    text-align:center;
    overflow: hidden;
    padding-top:.2933rem;
    background: #F0F0F4;
    box-shadow: 0 1px 0 0 #EEEEEE;
    span{
      font-size:.4266rem;
      color:#5598E2;
      line-height:.4266rem;
    }
    p{
      font-size: .32rem;
      color: #5598E2;
      line-height:.32rem;
    }
  }
}
//偏好产品标签编辑
#addhobbyPage{
  .header{
    position:absolute;
    width:10rem;
    background:#fff;
    z-index:10;
    height:1.333rem;
    width:10rem;
    line-height:1.333rem;
    padding:0 .4533rem;
    border-bottom:1px solid #eee;
    .cansel{
      float:left;
      font-size: .3733rem;
      color: #63A1E2;
    }
    .title{
      position:absolute;
      left:0;
      right:0;
      top:0;
      margin:0 auto;
      width:2.98rem;
      text-align:center;
      font-size: .48rem;
      color: #6F6F6F;
    }
    .submit{
      float:right;
      font-size: .3733rem;
      color: #63A1E2;
    }
  }
  .content{
    width:100%;
    padding-top:1.333rem;
    textarea{
      width:100%;
      font-size:.3733rem;
      color: #999999;
      letter-spacing: -0.34px;
      line-height:.5rem;
      padding:.5rem;
      border:none;
    }
    textarea::-webkit-input-placeholder{
      color:#ddd;
    }
  }
}
//修改密码
.amend_password{
  overflow-y: auto;
  height:100%;
  -webkit-overflow-scrolling: touch;
  .header{
    position:relative;
    text-align:center;
    height:1.333rem;
    line-height:1.333rem;
    .icon-mail_fanhui{
      position:absolute;
      left:0;
      height:1.333rem;
      line-height:1.333rem;
      width:1.333rem;
      text-align:center;
      font-size:.4533rem;
      color:#8c8c8c;
    }
    .title{
      font-size:.48rem;
      color:#5f5f5f;
    }
  }
  .form{
    text-align:center;
    margin-top:.5rem;
    label{
      position:relative;
      height:1.2rem;
      line-height:1.2rem;
      display:block;
      margin:0 auto;
      width:8.4rem;
      .icon-err{
        position:absolute;
        right:0;
        display:block;
        top:0;
        padding:0 .4266rem;
        color:#CCD5E0;
        line-height:1.2rem;
        height:1.2rem;
        font-size:.32rem;
      }
    }
    .new-password{
      margin-top:.4rem;
    }
    .password{
      margin-top:.4rem;
    }
    input{
      background:#F5F5F5;
      border-radius:2px;
      -moz-border-radius:2px;
      -webkit-border-radius:2px;
      -o-border-radius:2px;
      width:8.4rem;
      height:1.2rem;
      line-height:.5rem;
      outline:none;
      color:#5E7295;
      border:none;
      font-size:.3733rem;
      padding:.35rem 0;
      padding-left: .4rem;
    }
    .other{
      margin-top:.5866rem;
      font-size:.3733rem;
      color:#A1B6CF;
      line-height:.3733rem;
    }
    .complete{
      outline:none;
      border:none;
      border-radius:100px;
      -moz-border-radius:100px;
      -webkit-border-radius:100px;
      -o-border-radius:100px;
      background:#F5F5F5;
      color:#A1B6CF;
      margin-top:.6933rem;
      width:5.6533rem;
      height:.9333rem;
      line-height:.9333rem;
      font-size:.4266rem;
    }
  }
}

//弹窗
.Mask_modal{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(98,98,98,.5);
  top:0;
  left:0;
}
//未收到验证短信
.Message-Test{
  width: 8.4rem;
  //height: 10.1333rem;
  //height: auto;
  background-color: #fff;
  border-radius: 0.13333rem;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto;
  .icon-close{
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    width:1.333rem;
    font-size:.4933rem;
    text-align:center;
    color:#A2A2A2;
    line-height:1.333rem;
    height:1.333rem;
  }
  .message-title{
    font-size: 0.58667rem;
    color: #656565;
    margin: 0.74667rem 0;
    text-align: center;
  }
  >p{
    width: 6.48rem;
    margin: 0.61333rem auto;
    line-height: 0.5rem;
    color: #656565;
    font-size: 0.32rem;
  }
  .contact-us{
    width: 6.29333rem;
    margin: 0 auto;
    text-align: center;
    p{
      color: #656565;
      font-size: 0.32rem;
    }
    .contact-me{
      color: #ff4747;
      font-size: 0.32rem;
      line-height: 1rem;
      a{
        color: #ff4747;
        padding:20px;
      }
    }
  }
  .common{
    width: 6.2933rem;
    height: 0.8rem;
    border-radius: 100px;
    text-align: center;
    line-height: 0.8rem;
    color: #A7BAD3;
    font-size: 0.32rem;
    margin: 0.45333rem auto;
    background:#f5f5f5;
  }
  .resend-code{
    margin-top: 1rem;
  }
  .voice-valid{
    margin-bottom: 0.8rem;
  }
}
//电话验证码
.Voice-Test{
  width: 8.4rem;
  //height: 5.3333rem;
  background-color: #fff;
  border-radius: 0.13333rem;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  .icon-close{
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    width:1.333rem;
    font-size:.4933rem;
    text-align:center;
    color:#A2A2A2;
    line-height:1.333rem;
    height:1.333rem;
  }
  .tel-icon{
    //background-color: red;
    width: 1.22667rem;
    height: 1.22667rem;
    margin: 0.69334rem auto;
    .icon-maoduo99{
      color: #ff4747;
      font-size: 1.22667rem;
    }
  }
  .message-tips{
    font-size: 0.32rem;
    text-align: center;
    color: #656565;
  }
  .confirm{
    width: 6.2933rem;
    height: 0.8rem;
    border-radius: 100px;
    background: #ff4747;
    text-align: center;
    line-height: 0.8rem;
    color: #fff;
    font-size: 0.32rem;
    margin: 0.69333rem auto;
  }
}
//短信验证码
.Message-Code{
  width: 8.4rem;
  //height: 5.3333rem;
  background-color: #fff;
  border-radius: 0.13333rem;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  z-index:3;
  .icon-close{
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    width:1.333rem;
    font-size:.4933rem;
    text-align:center;
    color:#A2A2A2;
    line-height:1.333rem;
    height:1.333rem;
  }
  .mess-icon{
    //background-color: red;
    height: 1.38667rem;
    width: 1.25333rem;
    margin: 0.8rem auto;
    .icon-maoduo94{
      color: #ff5e54;
      font-size: 1.38667rem;
    }
  }
  .pic-valid{
    position: relative;
    width: 6.8rem;
    height: 1.0667rem;
    margin: 0.8rem auto;
    margin-top: 1.0667rem;
    background-color: #F6F8FA;
    input{
      background:#F5F5F5;
      border-radius:2px;
      -moz-border-radius:2px;
      -webkit-border-radius:2px;
      -o-border-radius:2px;
      width: 4.56rem;
      height: 1.0667rem;
      line-height:.5rem;
      outline:none;
      border:none;
      color:#5E7295;
      font-size:.3733rem;
      padding:.28335rem 0;
      padding-left: .4rem;
      float:left;
    }
    .code-img{
      width: 2.24rem;
      height: .82666rem;
      float:left;
      margin-top:.12002rem;
      background-color: #fff;
      img{
        width: 2.24rem;
        height: .82666rem;
      }
    }
  }
  .get-message{
    width: 6.5rem;
    height: 1.0667rem;
    border-radius: 100px;
    background: #ff5e54;
    text-align: center;
    line-height: 1.0667rem;
    color: #fff;.email-detail{
    display: none;
    width: 100%;
    height: 100%;
    .detail-title{
      width: 100%;
      height: 1.3334rem;
      line-height: 1.3334rem;
      padding: 0 0.48rem;
      border-bottom: 1px solid #eee;
      color: #5094e2;
      font-size: 0.37333rem;
      .inbox{
        float: left;
        width: 1.8rem;
        height: 100%;
      }
      .page-change{
        float: right;
        width: 2rem;
        height: 100%;
        //background-color: red;
        .icon-caret-angle-up{
          font-size: 0.5rem;
        }
        .icon-caret-angle-bottom{
          font-size: 0.5rem;
          //float: right;
        }
      }
      .email-detail-title{
        width: 2rem;
        margin: 0 auto;
        font-size: 0.48rem;
      }
    }
    .detail-head{
      width: 100%;
      height: 4rem;
      padding: 0 0.6667rem;
      border-bottom: 1px solid #eee;
      .email-subject{
        color: #323232;
        font-size: 0.37333rem;
        font-weight: bold;
        line-height: 0.7rem;
        margin-top: 0.3rem;
      }
      .customer{
        font-size: 0.37333rem;
        color: #999;
        line-height: 0.8rem;
      }
      .date{
        font-size: 0.32rem;
        color: #999;
        line-height: 0.65rem;
      }
      .product{
        font-size: 0.32rem;
        color: #999;
        line-height: 0.65rem;
      }
      .price{
        font-size: 0.32rem;
        color: #999;
        line-height: 0.65rem;
      }
    }
  }
    font-size: 0.4rem;
    margin: 0.69333rem auto;
  }
}
}