<!--————————————————————————————————产品——————————————————————————————————————————-->
<div id="product_box" class="writemailbox">
<!--产品首页-->
<div class="product_module indexClass" id="product_module">
    <div class="header">
        <h1 class="title">
            <span class="icon-search"></span>
            <span class="title">产品</span>
            <span class="icon-maoduo37 liaowei"></span>
            <span class="icon-maoduo41 switch-money"></span>
        </h1>
        <div class="nav">
            <div class="classify">
                <span class="all">
                    <span class="alls hidden">全部分类</span>
                    <ul class="classify_alls">
                        <li>全部<span class="sort-underline"></span></li>
                        <li data-pkid="-1">我的<span class="sort-underline hidden"></span></li>
                    </ul>
                </span>
                <span class="icon-maoduo74" id="slide"></span>
            </div>
        </div>
        <ul class="assortment-all">
            <li class="sorts red-select">全部</li>
            <li class="sorts" data-pkid="-1">我的</li>
        </ul>
    </div>
    <div class="black_module"></div>
    <div class="product-display">
        <div class="carousel">
            <ul class="carousel-box">

            </ul>
        </div>
        <div class="products-box">

        </div>
        <div class="loading">
            <span class="No-more hidden">没有更多</span>
            <button class="See-more">查看更多</button>
        </div>
    </div>
    <div class="scrolltop">
        <i class="icon-tab_wode"></i>
        <p class="text_scroll">顶部</p>
    </div>
    <div class="footer" id="footer-bottom">
        <div class="bottom-list product active">
            <span class="icon-tab_box icon"></span>
            <span class="text">产品</span>
        </div>
        <div class="bottom-list customer">
            <span class="icon-tab_kehu icon"></span>
            <span class="text">客户</span>
        </div>
        <div class="bottom-list email">
            <span class="icon-tab_youjian icon"></span>
            <span class="text">邮件</span>
        </div>
        <div class="bottom-list receipts">
            <span class="icon-tab_danju icon"></span>
            <span class="text">单据</span>
        </div>
        <div class="bottom-list mime">
            <span class="icon-tab_wode icon"></span>
            <span class="text">我的</span>
        </div>
    </div>
</div>
<!--搜索页-->
<div class="product_search hidden" id="product_search">
    <div class="header">
        <div class="header-head">
        <span class="icon-mail_fanhui"></span>
        <span class="title">产品搜索</span>
        <span class="head-right">确定</span>
        </div>
        <div class="search_box">
            <label class="search_input">
                <i class="icon-search"></i>
                <input type="text" placeholder="请输入要搜索的产品" name="products" maxlength="36">
            </label>
        </div>
    </div>
    <div class="main-contents">
        <div class="product-display">
            <div class="products-box">
                <!--<div class="product">-->
                    <!--<div class="product-photo">-->
                        <!--<img src="images/a1.jpg" alt="">-->
                    <!--</div>-->
                    <!--<p class="title">Multi color cushion &Very soft cushion</p>-->
                    <!--<span class="money">$ 45</span>-->
                <!--</div>-->
            </div>
            <div class="loading hidden">
                <span class="No-more hidden">没有更多</span>
                <button class="See-more hidden">查看更多</button>
            </div>
        </div>
    </div>
</div>
<!--产品详细-->
<div class="product_details hidden" id="product_details">
    <div class="header">
        <div class="detail_head">
            <span class="icon-mail_fanhui"></span>
            <span class="title">产品详细</span>
            <span class="icon-maoduo41 siwdth-money"></span>
        </div>
        <div class="nav">
            <span class="product-details">产品详细 <span class="underline"></span></span>
            <span class="customers">相关客户 <span class="underline hidden"></span></span>
        </div>
    </div>
    <div class="products">
        <div class="Product-introduce">
            <div class="Product-picture">
                <ul class="picture-box">
                    <!--<li><img src="images/0.jpg" alt=""></li>-->
                    <!--<li><img src="images/1.jpg" alt=""></li>-->
                    <!--<li><img src="images/2.jpg" alt=""></li>-->
                </ul>
            </div>
            <!--<p class="Product-number"></p>-->
            <p class="Product-title"></p>
            <p class="Product-price"> </p>
        </div>
        <div class="Product-key">
            <h1 class="key-title">产品关键词</h1>
            <div class="keys">
                <!--<span class="key">Slipper </span>-->
            </div>
        </div>
        <div class="Related-customers">
            <span class="title">相关客户</span> <span class="icon-to-right"></span>
        </div>
        <div class="graphic-details">
            <h1 class="graphic-title">图文详情</h1>
            <div class="graphic-box">

            </div>
        </div>
    </div>
    <div class="footer">
        <span class="Price-left quotation_note"><i class="icon-wenhao"></i>《报价说明》</span>
        <span class="Price-right">开始报价</span>
    </div>
</div>
<!--客户详情-->
<component :is="currentView" >

</component>
<div class="customer_details hidden" id="customer_details">
        <div class="header">
            <div class="head-header">
                <span class="icon-mail_fanhui"></span>
                <span class="title">产品详细</span>
                <span class="icon-to-right hidden"></span>
            </div>
            <div class="nav">
                <span class="product-details">产品详细 <span class="underline hidden"></span></span>
                <span class="customers">相关客户 <span class="underline"></span></span>
            </div>
        </div>
        <div class="contents">
            <div class="products-box">

            </div>
            <div class="loading hidden">
                <p class="No-more hidden">没有更多</p>
                <button class="See-more hidden">查看更多</button>
            </div>
        </div>
        <div class="footer">
            <span class="Price-left quotation_note"><i class="icon-wenhao"></i>《报价说明》</span>
            <span class="Price-right">开始报价</span>
        </div>
    </div>
<!--公海客户详情-->
<div class="public-sea-customer hidden" id="public-sea-customer">
    <div class="top">
        <h4 class="text-center"><span class="lf icon-mail_fanhui icon"></span><span class="text">客户详情</span></h4>
    </div>
    <div class="content">
        <div class="nav-box ">
            <span class="data nav active lf">基本资料</span>
            <span class="history nav rt">跟进记录</span>
        </div>
        <div class="data-box ">
            <div class="message">
                <h3 class="name"></h3>
                <p class="text"></p>
                <h3 class="more">查看更多</h3>
            </div>
            <div class="company-message">
                <h3 class="title">公司信息<span class="rt qianzai">潜在客户</span></h3>
                <h3 class="text"><span class="name">网址：</span><span class="website" href="http://www.eyaoon.com"></span></h3>
                <!--<h3 class="country"><span class="name">国家：</span ><span class="address">美国 UCT+11 13：00</span></h3>-->
                <h3 class="linkman"><span class="name">联系人数：</span><span class="num"></span></h3>
            </div>
            <div class="fullcontach">
                <div class="xaingxi-message fullcon-box">
                    <h3 class="title fullcon-text">详细信息</h3>
                    <div class="photo-box">
                        <img src="images/gif.gif" alt="">
                    </div>
                    <ul class="ulbox">
                        <li class="li company">
                            <span class="name fullcon-text">公司名：</span>
                            <span class="text fullcon-text"></span>
                        </li>
                        <li class="li count">
                            <span class="name fullcon-text">员工数：</span>
                            <span class="text fullcon-text"></span>
                        </li>
                        <li class="li time">
                            <span class="name fullcon-text">成立时间：</span>
                            <span class="text fullcon-text"></span>
                        </li>
                        <li class="li gaishu">
                            <span class="name fullcon-text">概述：</span>
                            <span class="text fullcon-text"></span>
                        </li>
                    </ul>
                </div>
                <div class="xiangguan-net fullcon-box">
                    <h3 class="title fullcon-text">相关网址</h3>
                    <ul class="ulbox">

                    </ul>
                    <ul class="hidden modalLi">
                        <li class="li">
                            <span class="pingtai fullcon-text">youtube</span>
                            <p class="web fullcon-text"></p>
                        </li>
                    </ul>
                </div>
                <div class="key-box fullcon-box">
                    <h3 class="title fullcon-text">
                        关键词
                    </h3>
                    <p class="text fullcon-text"></p>
                    <div class="seeMoreMessage">查看更多</div>
                </div>
                <div class="shejiaoModal hidden fullcon-box">
                    <h3 class="title"><span class="name fullcon-text">Twitter</span><span class="fullcon-text">的社交信息</span></h3>
                    <div class="fullBox">
                        <h3 class="name fullcon-text">FullContactApp</h3>
                        <p class="text fullcon-text">Keep your contact information clean, complete & current across all your address books.Keep .</p>
                    </div>
                    <div class="net">
                        <span class="icon-maoduo100 icon"></span><span class="text fullcon-text">twitter.com/FullContactApp</span>
                    </div>
                    <div class="shejiao-bottom">
                        <div class="box1">
                            <span class="name fullcon-text">following:</span>
                            <span class="num">1544</span>
                        </div>
                        <div class="box2">
                            <span class="name fullcon-text">followers:</span>
                            <span class="num">1544</span>
                        </div>
                    </div>
                </div>
                <div class="paiming fullcon-box">
                    <h3 class="title fullcon-text">
                        排名
                    </h3>
                    <div class="modalPaiMing hidden">
                        <div class="list">
                            <span class="name lf fullcon-text">fwfewfwe</span>
                            <span class="num rt fullcon-text">4545</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="history-box box hidden">
            <div class="title">
                <span class="text">往来邮件<span class="num rt text">转到私海后可查看该客户的所有往来邮件</span></span>
            </div>
            <div class="mail-times list">
                <span class="text">邮件累计查看次数</span>
                <span class="rt num"></span>
            </div>
            <div class="linkman youxiao list">
                <span class="text">有效联系人</span>
                <span class="rt num"></span>
            </div>
            <div class="linkman genjin list">
                <span class="text">跟进业务员</span>
                <span class="rt num"></span>
            </div>
            <div class="prev-sendtime list">
                <span class="text">上次邮件发送时间</span>
                <span class="rt num"></span>
            </div>
            <div class="last-get-time list">
                <span class="text">最近收到回复时间</span>
                <span class="rt num"></span>
            </div>
            <!--<div class="xunpan list">-->
            <!--<span class="text">是否有待回复的询盘</span>-->
            <!--<span class="rt num">有</span>-->
            <!--</div>-->
        </div>
        <div class="topersonal-seamodal hidden">
            <div class="content">
                <h3 class="title">移到私海</h3>
                <p class="list" >1、客户移到私海后，之前的沟通记录也会加入进来</p>
                <p class="list" >2、移到私海后如果14天内没有邮件往来该客户将被移回公海</p>
                <p class="list" >3、跟进客户申请遵守【客户交易协议】</p>
                <p class="check"><span class="icon-right icon"></span> <span class="text">不再提示</span></p>
                <div class="submitbtn">确定</div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <span class="prev lf">↑</span>
        <span class="next lf">↓</span>
        <span class="send rt"><span class="icon-mail_bianji icon"></span>转到私海</span>
    </div>

</div>
<!--报价说明-->
<div class="illustrate hidden" id="quotation_note_pop">
    <div class="header">
        <span class="icon-mail_fanhui"></span>
        <span class="title">货运报价说明</span>
    </div>
    <div class="container">
        <div class="main-body">
            <h2 class="theme">货运报价规则</h2>
            <p class="paragraph">货运报价只需要选择目的国家以及货运方式（IP或IE），将根据产品报价组合的总数量以及产品参数进行运费计算；</p>
            <p class="paragraph">货运报价将根据国际物流标准计算，目前只支持Fedex，燃油附加费以Fedex费率为准；</p>
            <p class="paragraph">根据产品的不同质量和体积，将按照产品重量和材积取大后进行运费计算；</p>
            <p class="paragraph">货运报价可以自行修改，但须保证销售总额大于成本总额。</p>
        </div>
    </div>
</div>

<!--小廖-->
<!--上传头像背景遮罩-->
<div id="photo_module" class="photo_module hidden"></div>
<!--添加产品-->
<div class="hidden" id="product-add">
    <div class="product-add-title">
        <div class="back-border">
            <span class="back">取消</span>
        </div>
        <div class="nextStep">
            <span class="next-step" id="product-add-next-step">下一步</span>
            <span class="next-step hidden" id="product-add-save">保存</span>
        </div>
        <div class="order-word">添加产品</div>
    </div>
    <!--<div class="product-add-body">-->
        <!--<p class="someinfor-2"><span class="icon icon-wenhao"></span>自定义属性基础价为单价<em>查看例子</em><b>通用属性</b></p>-->
        <!--<div class="someinfor-3"><span class="icon icon-wenhao"></span>请按照要求填写产品详情</div>-->
    <!--</div>-->
    <div class="product-add-body product-add-baseinfo">
        <p class="someInfor-1">  <span class="icon icon-wenhao"></span>  请以英文填写，查看规则</p>
        <div class="prod-add-name">
            <p>产品名称（必填）</p>
            <textarea class="noChinese cantNull"  rows="2" placeholder="请输入产品英文名称"></textarea>
        </div>
        <div class="prod-add-description">
            <p>简要描述（必填）</p>
            <textarea class="noChinese cantNull"  rows="2" placeholder="请输入产品英文简要描述"></textarea>
        </div>
        <!--<div class="prod-keywords">-->
            <!--<p>产品关键词（选填）<span class="icon icon-add-cir"></span></p>-->
            <!--<ul>-->
                <!--<li>-->
                    <!--<input type="text" class="noChinese" placeholder="请输入产品英文关键词"/>-->
                    <!--<span class="icon icon-maoduo103"></span>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <div class="prod-add-pic cantNoImg">
            <p>产品主图（必填）</p>
            <ul class="cl">
                <li class="add-prodpic-btn l">
                    <span class="icon icon-add"></span>
                    <input type="file" class="fileSeleter" id="add-prodpic-btn"/>
                </li>
            </ul>
            <p class="pic-hint">请上传产品主图，需正方形，可多张 <span class="numofPic">0/9</span></p>
        </div>
    </div>
    <div class="product-add-body product-add-priceattr hidden">
        <div class="prod-add-price">
            <p>产品价格（必填，单位：人民币）</p>
            <input type="text" class="onlyNumber cantNull" placeholder="请输入产品基础价格"  />
        </div>
        <div class="prod-base-attr">
            <p>装箱资料（必填）</p>
            <ul>
                <li class="prod-weight">
                    <span>产品重量（单位：Kg）</span>
                    <input class="onlyNumber cantNull" type="text" />
                </li>
                <li class="prod-length">
                    <span>长（单位：CM）</span>
                    <input class="onlyNumber cantNull" type="text" />
                </li>
                <li class="prod-width">
                    <span>宽（单位：CM）</span>
                    <input class="onlyNumber cantNull" type="text" />
                </li>
                <li class="prod-height">
                    <span>高（单位：CM）</span>
                    <input class="onlyNumber cantNull" type="text" />
                </li>
            </ul>
        </div>
        <div class="prod-custom-attr noNullInput">
            <p class="attr-title">自定义属性（必填）</p>
            <ul class="prod-attr-ul">
                <li class="prod-attr-li">
                    <p class="attr-name">属性名
                        <input type="text" class="noChinese" /><!--<span class="icon icon-maoduo103"></span>-->
                    </p>
                    <ul class="prod-val-ul">
                        <li class="prod-val-li">
                            <span>属性值</span><input class="noChinese" type="text" /><span>基础价</span><input class="onlyNumber" type="text" /><i class="icon icon-maoduo103"></i>
                        </li>
                    </ul>
                    <p class="add-attr-btn">添加属性值</p>
                </li>
            </ul>
        </div>
        <div class="add-attrs-btn">
            <p>添加自定义属性<span class="icon icon-add-cir"></span></p>
        </div>
    </div>
    <div class="product-add-body product-add-supplier hidden">
        <div class="add-supplier-btn">
            <p class="ph">供应商信息（必填）</p>
            <div class="supplierCard">
                <span class="icon icon-add"></span>
                <input type="file" class="fileSeleter" id="add-supplierCard-btn"/>
                <p>上传供应商名片</p>
            </div>
            <div class="cl line-or">
                <div></div>
                <p>或者</p>
                <div></div>
            </div>
            <ul>
                <li>
                    <span class="isOption">*</span><b>公司名称</b><input class="companyName cantNull" type="text" />
                </li>
                <li>
                    <span class="isOption">*</span><b>联系人</b><input class="contactPerson cantNull" type="text" />
                </li>
                <li>
                    <span class="isOption">*</span><b>电话</b><input class="phoneNo cantNull"  type="tel" />
                </li>
                <li>
                    <span class="isOption"></span><b>微信</b><input class="noChinese wechat" type="text" />
                </li>
                <li>
                    <span class="isOption"></span><b>QQ</b><input class="noChinese wechat" type="text" />
                </li>
                <li>
                    <span class="isOption"></span><b>邮箱</b><input class="email" type="email" />
                </li>
                <li>
                    <span class="isOption"></span><b>备注</b><input class="remark" type="text" />
                </li>
            </ul>
        </div>
    </div>
    <div class="product-add-body product-add-detail hidden">
        <ul class="prod-discription-ul">
        </ul>
        <ul class="prod-discription-ul-hidden">
            <!--<li class="ApplicationSceneDescription hidden">-->
                <!--<p>应用场景（选填）</p>-->
                <!--<div>-->
                    <!--<span class="icon icon-add"></span>-->
                    <!--<input type="file" class="fileSeleter add-description-btn"/>-->
                <!--</div>-->
                <!--<textarea class="pic-add-textarea noChinese" placeholder="请描述产品的应用场景，英文书写"></textarea>-->
            <!--</li>-->
            <textarea class="noChinese moreDesc" placeholder="产品的更多描述（选填）"></textarea>
            <!--<li>-->
                <!--<div class="li-tag">-->
                    <!--<img src="images/customized.png" alt="">-->
                <!--</div>-->
                <!--<div class="li-main">-->
                    <!--<img src="images/gif.gif" alt="">-->
                    <!--<span class="icon icon-add-cir"></span>-->
                <!--</div>-->
                <!--<textarea class="li-text noChinese" placeholder="请描述产品的特点，英文书写"></textarea>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div class="li-tag">-->
                    <!--<img src="images/customized.png" alt="">-->
                <!--</div>-->
                <!--<div class="li-main">-->
                    <!--<img src="images/gif.gif" alt="">-->
                    <!--<span class="icon icon-add-cir"></span>-->
                <!--</div>-->
                <!--<textarea class="li-text noChinese" placeholder="请描述产品的特点，英文书写"></textarea>-->
            <!--</li>-->
        </ul>
        <p class="add-descPic-btn"><input type="file" accept="images/*" class="fileSeleter" id="add-descPic-btn"/><span class="icon icon-add-cir"></span>添加产品分类描述</p>
    </div>
    <div class="product-add-foot">
        <!--<div class="save-add-prod">保存产品</div>-->
        <ul class="cl">
            <li class="li-btn">
                <span class="icon icon-maoduo113"></span>
                <p>基本信息</p>
            </li>
            <li class="li-line">
                <div></div>
            </li>
            <li class="li-btn">
                <span class="icon icon-maoduo111"></span>
                <p>价格属性</p>
            </li>
            <li class="li-line">
                <div></div>
            </li>
            <li class="li-btn">
                <span class="icon icon-maoduo106"></span>
                <p>供应商</p>
            </li>
            <li class="li-line">
                <div></div>
            </li>
            <li class="li-btn">
                <span class="icon icon-maoduo109"></span>
                <p>详细描述</p>
            </li>
        </ul>
    </div>
    <div class="add-descriptions-page hidden">
        <div class="add-descriptions-header">
            <div class="back-desc">
                <span class="backDesc">取消</span>
            </div>
            <div class="order-word">添加产品分类描述</div>
        </div>
        <div class="add-descriptions-body">
            <p>请选择需要添加的分类描述</p>
            <ul class="descriptions-ul">
                <li>LOGO可印制 <img src="images/1.png" alt=""></li>
                <li>功能描述 <img src="images/2.png" alt=""></li>
                <li>颜色描述 <img src="images/3.png" alt=""></li>
                <li>包装描述 <img src="images/5.png" alt=""></li>
                <li>技术参数 <img src="images/4.png" alt=""></li>
            </ul>
        </div>
    </div>
    <!-----------弹窗----------->
    <div class="more-options-pop hidden">
        <div class="cover-board"></div>
        <div class="pop-box">
            <h3>更多选项</h3>
            <button class="choose-tag">选择标签</button>
            <button class="delete-pic">删除</button>
            <button class="cancel-option">取消</button>
        </div>
    </div>
    <div class="cancel-add-pop hidden">
        <div class="cover-board"></div>
        <div class="pop-box">
            <h3>是否取消添加产品</h3>
            <p>
                此操作将无法撤销！
                <br/>
                确定要删除并取消添加该产品信息？
            </p>
            <button class="ok-btn">删除</button>
            <button class="cancel-btn">取消</button>
        </div>
    </div>
    <div class="help-other-pop hidden">
        <div class="cover-board"></div>
        <div class="pop-box">
            <h3>愿意让更多人帮你售卖产品吗？</h3>
            <p>
                亲爱的用户，如果你有更多的产品资源
                <br/>
                愿意分享出来可以让更多的业务员对此产品进行售卖
            </p>
            <button class="ok-btn">我愿意</button>
            <button class="cancel-btn">取消</button>
        </div>
    </div>
</div>

<!--修改报价单-->
<div class="quotation-modify order-change hidden" id="quotation-modify">
    <div class="quotation-title change-title">
        <div class="back-border">
            <span class="icon-mail_fanhui back"></span>
        </div>
        <div class="money-change-border">
            <span class="icon-maoduo41"></span>
            <span class="icon-maoduo42 hidden"></span>
        </div>
        <div class="order-word">报价单</div>
    </div>
    <div class="quotation-modify-body">
        <div class="product-order-num">
            <!--<div class="product-num">-->
            <!--<span>ProductNo ：</span>-->
            <!--<span class="productno">A12314</span>-->
            <!--</div>-->
            <div class="product-name">Multi color cushion & Very soft cushion</div>
        </div>
        <div class="quotation-group">

        </div>
        <div class="freight-way">
            <div class="freight-head">
                <span>货运信息</span>
                <div class="delete">删除</div>
                <div class="modify">修改</div>
            </div>
            <div class="freight-body">
                <div class="freight-detail">
                    <div class="country">
                        <span>Ship to：</span>
                        <span class="country-detail">America</span>
                    </div>
                    <div class="freight-way-detail">
                        <div class="freight-word">
                            <span>Forwarder：</span>
                            <p class="transway"><span>Fedex</span><span class="way">IP</span></p>
                        </div>
                        <div class="freight-way-tip">
                            <span>国际优先快递服务</span>
                        </div>

                    </div>
                </div>
                <div class="total-money">
                    <span>Total </span>
                    <span class="symol-switch">$ </span>
                    <span class="money fund-change">1100.00</span>
                </div>
            </div>
        </div>
        <div class="modify-group">
            <div class="add-product new-item">
                <span class="modify-item">添加产品组合</span>
                <div class="add-icon">
                    <span class="icon-add-cir"></span>
                </div>
            </div>
            <div class="new-item add-address">
                <span class="modify-item">添加货运信息</span>
                <div class="add-icon">
                    <span class="icon-add-cir"></span>
                </div>
            </div>
            <div class="new-item add-note">
                <span class="modify-item">自定义信息</span>
                <div class="add-icon">
                    <span class="icon-add-cir"></span>
                </div>
            </div>
        </div>
        <div class="note-modify">
            <div class="note-title">
                <span class="name-word">自定义信息</span>
                <span class="name-delete">删除</span>
                <span class="name-modify">修改</span>
            </div>
            <div class="note-word">
                Multi color cushion & Very soft cushion Multi color cushion & Very soft cushionMulti color cushion & Very soft cushion
            </div>
        </div>
        <div class="profit">
            <div class="income-count">收益计算</div>
            <div class="account-balance">
                <div class="sale-volume">
                    <div class="sale-num"><span class="symol-switch">$ </span><span class="money-count fund-change">0</span></div>
                    <div class="sale-word">销售额</div>
                </div>
                <div class="withdraw-deposit">
                    <div class="deposit-num"><span class="symol-switch">$ </span><span class="money-count fund-change">0</span></div>
                    <div class="deposit-word">提成</div>
                </div>
            </div>
        </div>
        <div class="order-name">
            <div class="order-title">
                <span class="name-word">单据名称</span>

            </div>
            <div class="order-word">
                <textarea name="" id="order-name-input" cols="" rows="2" maxlength="50">Multi color cushion & Very soft cushion 的订单</textarea>

            </div>

        </div>
        <div class="order-download">
            <div class="download">
                <span class="icon-price-dan down-icon"></span>
                <span>下载PDF</span>
            </div>
        </div>
        <div id="quotation-modify-exmple" style="display: none;">
            <div class="quotation-item">
                <div class="quotation-head">
                    <span class="group-name">报价组合</span>
                    <span class="group-delete">删除</span>
                    <span class="modify">修改</span>
                </div>
                <div class="pic-container">

                </div>
                <div class="product-detail">


                </div>
                <div class="line"></div>
                <div class="total-money">
                    <span>Total  </span>
                    <span><b class="symol-switch">$</b><span class="money-count fund-change">15450.00</span></span>
                </div>
            </div>
        </div>
        <div id="Mask-pop">
            <div class="saveas-quotation">
                <div class="saveas-title">另存为报价单</div>
                <div class="rename">重命名</div>
                <div class="quotation-input">
                    <input type="text" value="20161212-Multi color cushion 副本">
                    <span class="icon-err"></span>
                </div>
                <div class="save">保存</div>
                <div class="cancel">取消</div>
            </div>
            <div class="quotation-tips">
                <div class="tips-title">报价提示</div>
                <div class="content">
                    <p>请重新修改您的报价</p>
                    <p>销售额不能低于 <span>$</span><span class="money">2.00</span></p>
                </div>
                <div class="modify-quotation">修改报价</div>
            </div>
            <div class="save-quotation">
                <span class="icon-add close"></span>
                <div class="save-title">报价单保存成功</div>
                <p class="word">你已经保存此报价单，接下来可以</p>
                <div class="send-email">发送邮件</div>

                <div class="download-quotation">下载报价单</div>
            </div>
        </div>
    </div>
    <div class="quotation-foot">
        <div class="quotation-description quotation_note">
            <div class="pic-border">
                <span class="icon-wenhao"></span>
            </div>
            <span class="description-word">《报价说明》</span>
        </div>
        <div class="border">
            <div class="submit-order">提交订单</div>
            <div class="save-modify">
                <div class="save-icon"><span class="icon-file-download"></span></div>
                <div class="word">保存</div>
            </div>
            <div class="save-as">
                <div class="save-icon"><span class="icon-save-as"></span></div>
                <div class="word">另存为</div>
            </div>
        </div>
        <div class="save-quotation">保存报价单</div>

    </div>
</div>
<!--修改产品组合-->
<div id="productProperties" class="hidden">
    <header>
        <h2>报价组合</h2>
        <span class="cancelBtn">取消</span>
        <span class="icon-maoduo41 change-money hidden"></span>
        <span class="icon-maoduo42 change-money hidden"></span>
    </header>
    <article>
        <div class="quotation-tip">
            <span class="icon-wenhao tips"></span>
            <span class="wayToPrice quotation_note">提示：《报价说明》</span>
        </div>
        <div class="aboutProduct">
            <p style="display: none;">ProductNo：<span class="productno">A12314</span></p>
            <p class="product-name">Multi color cushion Very soft cushion</p>
        </div>
        <div class="productPicList">
            <p class="picHeader">产品图片</p>
            <ul class="picUl cl">


            </ul>
        </div>
        <div class="quantityOfPro">
            <div class="qtyTitle cl">
                <span class="qtyText">产品数量</span>
                <div class="changeQtyBtn " id="product-num-border">
                    <span class="firstShow">请输入产品数量</span><b id="product-num"></b><input id="product-num-input" class="" type="tel" />
                </div>
            </div>
            <div class="prodBasePrice cl">
                <span class="qtyText">产品基础价格</span>
                <div class="changeBtn">
                    <span class="changeText">修改报价</span><span class="changeSign">+$</span><em class="">9.13</em><input class="" type="number" />
                </div>
            </div>
            <div class="qtyInputer">
                <span class="basePricePerPcs"><span>$</span><em>8.00</em></span>
            </div>
        </div>
        <ul class="propertyList">

        </ul>
        <ul id="attribute-exmple" style="display: none;">
            <li class="prodProperty">
                <div class="propertyHeader">
                    <span class="propertyName">产品属性1</span>
                    <div class="changeBtn">
                        <span class="changeText">修改报价</span><span class="changeSign">+$</span><em class="">0</em><input class="" type="number" />
                    </div>
                </div>
                <ul class="detailList">

                </ul>
            </li>
        </ul>

    </article>
    <footer class="">

        <span class="pricePerPcs">单价  <b>$</b> <em>0</em></span>
        <span class="salesNum">销售额  <b>$</b> <em>0</em></span>
        <div class="sureBtn">保存组合</div>
    </footer>
</div>
<!--自定义信息页面-->
<div class="own-information hidden" id="own-information">
    <div class="stop-head">
        <div class="cancel">取消</div>
        <div class="submit">确定</div>
        <div class="title">自定义信息</div>
    </div>
    <div class="reason-border">
        <textarea name="" id="" cols="30" rows="10" placeholder="输入自定义的内容："></textarea>
    </div>
    <div class="tel-contact">
        <div class="own-description">
            <span class="icon-wenhao"></span>
            <span>信息填写说明</span>
        </div>
        <span class="tel"> 400 0755 222</span>
        <span class="contact-word">电话联系：</span>
    </div>
</div>
<!--成功提交订单-->
<div class="order-success hidden" id="order-success">
    <div class="success-title">
        <span class="complete">完成</span>
        <div class="tips-word">提示</div>
    </div>
    <div class="success-tip">
        <div class="pic-border">
            <span class="icon-right"></span>
        </div>
        <div class="tips">
            <h2>提交订单成功</h2>
            <p>2016年12月5日 23:00</p>
        </div>
    </div>
    <div class="success-description">
        <p>如有疑问，请致电</p>
        <p class="tel">400 0755 222</p>
    </div>
</div>
<!--图片银行-->
<div id="pictureBank" class="hidden">
    <header>
        <h2>选择图片</h2>
        <span class="cancelBtn">取消</span>
        <span class="sureBtn">确定</span>
    </header>
    <article>
        <div class="aboutPic">
            <p style="display:none;">ProductNo：<span class="productno">A12314</span></p>
            <p class="product-name">Multi color cushion Very soft cushion</p>
        </div>
        <div class="picLists">
            <p><em>0</em>/3</p>
            <ul class="cl">
                <li>
                    <span class="icon-right"></span>
                    <img src="images/7F51EB036B7B85F381F2B4CB985EC6A5.png" alt="" />
                </li>
                <li>
                    <span class="icon-right"></span>
                    <img src="images/7F51EB036B7B85F381F2B4CB985EC6A5.png" alt="" />
                </li>
                <li>
                    <span class="icon-right"></span>
                    <img src="images/7F51EB036B7B85F381F2B4CB985EC6A5.png" alt="" />
                </li>
                <li>
                    <span class="icon-right"></span>
                    <img src="images/7F51EB036B7B85F381F2B4CB985EC6A5.png" alt="" />
                </li>
                <li>
                    <span class="icon-right"></span>
                    <img src="images/7F51EB036B7B85F381F2B4CB985EC6A5.png" alt="" />
                </li>
                <li>
                    <span class="icon-right"></span>
                    <img src="images/7F51EB036B7B85F381F2B4CB985EC6A5.png" alt="" />
                </li>
            </ul>
        </div>
    </article>
</div>
<!--货运信息-->
<div id="freight-information" class="hidden">
    <div class="message-head">
        <div class="cancel">取消</div>
        <div class="message-title">货运信息</div>
    </div>
    <div class="freight-body">
        <div class="freight-tips">
            <span class="icon-wenhao wenhao"></span>
            <span>提示：《货运报价》</span>

        </div>
        <div class="destination">
            <span class="destination-title">目的地</span>
            <div class="country-select">请选择国家</div>
        </div>
        <div class="freight-way-border">
            <div class="freight-way">
                <span>货运方式</span>
                <div class="fedex">Fedex</div>
            </div>
            <div class="IPway list abled">
                <div class="freight-left">
                    <span class="icon-right selected"></span>
                    <span class="ip">IP</span>
                </div>
                <div class="freight-description">国际优先快递服务</div>
            </div>
            <div class="IEway list abled">
                <div class="freight-left">
                    <span class="icon-right"></span>
                    <span class="ie">IE</span>
                </div>
                <div class="freight-description">国际经济快递服务</div>
            </div>
        </div>
        <div class="product-num">
            <div class="num-title">产品数量</div>
            <div class="num-count">1000</div>
        </div>
        <div class="freight-fee">
            <div class="fee-way">
                <span>货运费用</span>
                <div class="modify" id="fee-modify">
                    <div class="xiugai">修改</div>
                    <span class="fee-icon">$</span>
                    <span class="fee-count">8.00</span>
                    <input type="number" id="fee-input">
                </div>
            </div>
            <div class="fee-standard">
                <div class="content">
                    <span>$</span>
                    <span class="standard-money">9.00</span>
                </div>
            </div>

        </div>
    </div>
    <div class="foot">
        <div class="freight-total-fee">
            <span>货运费用:</span>
            <span class="color">$ </span>
            <span class="color money">12.19</span>
        </div>
        <div class="save">保存组合</div>
    </div>
</div>
<!--选择国家-->
<div id="Country-list" class="hidden">
    <div class="country-head">
        <div class="cancel">取消</div>
        <span class="icon-search"></span>
        <div class="head-title">选择国家</div>
    </div>
    <div class="country-title">
        <div class="district">国家/地区</div>
        <div class="IP">IP</div>
        <div class="IE">IE</div>
    </div>
    <div class="country-list-table">

    </div>
    <div id="country-item-example" style="display: none;">
        <div class="country-item">
            <div class="district">
                <div class="china-country">阿富汗</div>
                <div class="english-country">Afghanistan</div>
            </div>
            <div class="IP"><span class=""></span></div>
            <div class="IE"><span class=""></span></div>
        </div>
    </div>
</div>
<!--搜索国家-->
<div id="search-country" class="hidden">
    <div class="search-head">
        <span class="icon-mail_fanhui"></span>
        <span class="search">搜索</span>
        <div class="search-title">搜索国家</div>
    </div>
    <div class="search-input">
        <span class="icon-search"></span>
        <input type="text" placeholder="输入要搜索的国家">
    </div>
</div>
<!--组合报价方法-->
<div class="illustrate hidden" id="quotation_way">
    <div class="header">
        <span class="icon-mail_fanhui"></span>
        <span class="title">报价说明</span>
    </div>
    <div class="container">
        <div class="main-body">
            <h2 class="theme">“开始报价”的使用</h2>
            <p class="paragraph">1、选择产品进行报价，每个报价单至少含有一个报价组合，可添加多个报价组合；</p>
            <p class="paragraph">2、每个报价组合可任意选择属性，以及修改相应价格；</p>
            <p class="paragraph">3、可以添加货运信息，目前以Fedex货运为主；</p>
            <p class="paragraph">4、可以添加自定义信息，自定义信息用于填写客户相关信息，如：货运地址、联系方式、要求和备注。</p>
            <h2 class="theme">生产报价单的条件</h2>
            <p class="paragraph">用户可以自行修改每一项属性的价格，生成报价单时，销售总额不低于成本总额。</p>
            <h2 class="theme">生成订单的条件</h2>
            <p class="paragraph">生产订单将会提交给贸多多后台，须保证报价组合、货运信息、自定义信息填写完整，缺一不可。</p>
            <h2 class="theme">提成说明</h2>
            <p class="paragraph">每笔订单的利润，根据国家规定扣除了相关税费；</p>
            <p class="paragraph">用户将获得每笔订单利润90%的提成，剩余10%归平台方所有；</p>
            <p class="paragraph">提成为预计提成，不包含银行手续费以及其他交易过程中产生的额外费用，实际提成将扣除各类费用，请以实际核算提成为准。</p>
            <h2 class="theme">报价单的用途</h2>
            <p class="paragraph">生成报价单之后会生成报价单PDF格式文档，可以下载或通过邮件发送给客户；</p>
            <p class="paragraph">与客户沟通确认后，可将报价单提交成为订单，由贸多多安排出货。</p>
            <h2 class="theme">疑问解答</h2>
            <p class="paragraph">1、是否支持合并报价单</p>
            <p class="paragraph">不支持，目前只支持一个产品的多种属性组合报价，如需多个产品，请生成多个报价单。</p>
            <p class="paragraph">2、报价单的管理</p>
            <p class="paragraph">报价单用于用户给客户客户报价，可根据自己的定制生产报价单、并保存管理，保存在“单据-报价单”中，可根据自身需求调整报价单、另存为报价单。</p>
            <p class="paragraph">3、何时能获得提成</p>
            <p class="paragraph">每笔订单交易完成后，将获得实际提成。</p>
        </div>
    </div>
</div>
<!--货运报价说明报价方法-->
<div class="illustrate hidden" id="freight_description">
    <div class="header">
        <span class="icon-mail_fanhui"></span>
        <span class="title">货运报价说明</span>
    </div>
    <div class="container">
        <div class="main-body">
            <h2 class="theme">货运报价规则</h2>
            <p class="paragraph">货运报价只需要选择目的国家以及货运方式（IP或IE），将根据产品报价组合的总数量以及产品参数进行运费计算；</p>
            <p class="paragraph">货运报价将根据国际物流标准计算，目前只支持Fedex，燃油附加费以Fedex费率为准；</p>
            <p class="paragraph">根据产品的不同质量和体积，将按照产品重量和材积取大后进行运费计算；</p>
            <p class="paragraph">货运报价可以自行修改，但须保证销售总额大于成本总额。</p>

        </div>
    </div>
</div>
<!--自定义信息说明-->
<div class="illustrate hidden" id="own_description">
    <div class="header">
        <span class="icon-mail_fanhui"></span>
        <span class="title">信息填写说明</span>
    </div>
    <div class="container">
        <div class="main-body">
            <p class="paragraph">自定义信息用于填写客户相关信息，如：货运地址、联系方式、要求和备注等，以保证订单信息完整。</p>
        </div>
    </div>
</div>
</div>