.rt{float:right}
.lf{float:left}
.mine-main{
  height:100%;
  overflow:hidden;
  background:#F5F5F5 !important;
  width: 10rem;
  margin: 0 auto;
  position: relative;
  box-shadow: 1px 1px 15px #ddd;
  .hidden{
    display: none;
  }
  //个人信息
  #personal-message0{
    .top{
      width:10rem;
      height:1.3333rem;
      background: #fff;
      line-height:1.333rem;
      .iconleft-box{
        position: absolute;
        left:0;
        top:0;
        .icon{
          width:1.333rem;
          height:1.333rem;
          float:left;
          text-align:center;
          line-height:1.333rem;
        }
      }
      .text-center{
        text-align: center;
        font-size:0.5333rem;
        color: #5e5e5e;
      }
    }
    .content{
      border-top:1px solid #eee;
      .head-box{
        width:10rem;
        height:2.4rem;
        background: #fff;
        line-height:2.4rem;
        padding-left:0.48rem;
        padding-right:0.48rem;
        overflow: hidden;
        .head{
          width:1.733rem;
          height:1.733rem;
          background: #ddd;
          line-height:1.733rem;
          margin-top:0.3335rem;
          position:relative;
          -webkit-border-radius:1.733rem;
          -moz-border-radius:1.733rem;
          border-radius:1.733rem;
          input{
            width:10rem;
            height:2.4rem;
            opacity:0;
            position:absolute;
            z-index:2;
            top:0;
            left:0;
          }
          img{
            width:1.733rem;
            height:1.733rem;
            position:absolute;
            -webkit-border-radius:1.733rem;
            -moz-border-radius:1.733rem;
            border-radius:1.733rem;
            top:0;
            left:0;
          }
        }
        .iconbox{
          .icon{
            color: #b6b6b6;
            font-size:0.5rem;
          }
        }
      }
      .topp{
        width:10rem;
        height:1.6rem;
        background: #fff;
        border-top:1px solid #eee;
        line-height:1.6rem;
        padding:0 0.48rem;
        position:relative;
        overflow: hidden;
        .icon{
          font-size:0.8rem;
          float: left;
          margin-top: 0.37rem;
        }
        .icon-mail_icon_172{
          color:#4a90e2;
        }
        .icon-me_chat {
          color:#FFB359;
        }
        .name{
          margin:0 0.4266rem;
          color: #323232;
          font-size:0.3733rem;
          height:1.6rem;
          line-height:1.6rem;
          float: left;
        }
        .numput{
          position:absolute;
          height:1.6rem;
          line-height:.32rem;
          outline:none;border:none;
          left:3.5rem;
          top:0;
          z-index:5;
          padding:.64rem 0;
          font-size:0.32rem;
          color:#323232;
        }
        .num{
          display: inline-block;
          width:5.5rem;
          height:1.6rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-left:0.5rem;
        }
      }
      .fenge{
        margin-top:0.8rem;
      }
      .bott{
        width:10rem;
        height:1.6rem;
        line-height:1.6rem;
        background: #fff;
        border-top:2px solid #eee;
        padding:0 0.48rem;
        .result{
          color: #ff4b4c;
          font-size:0.32rem;
        }
        .icon-maoduo88{
          color:#4A90E2;
        }
        .icon-maoduo90{
          color:#F96268;
        }
        .lefticon{
          font-size:0.8rem;
          margin-top:0.37rem;
        }
        .name{
          font-size:0.3733rem;
          color: #323232;
          margin:0 0.4266rem;
        }
        .icon.rt{
          width: 0.5rem;
          height: 1.6rem;
          line-height: 1.6rem;
          font-size:0.5rem;
          color: #b6b6b6;
          margin-left:0.2rem;
        }
      }
    }
  }
  //修改密码
  #changepwd{
    background: #fff;
    height:100%;
    .header{
      position:relative;
      text-align:center;
      height:1.333rem;
      line-height:1.333rem;
      .icon-mail_fanhui{
        position:absolute;
        left:0;
        height:1.333rem;
        line-height:1.333rem;
        text-align:center;
        width:1.333rem;
        color:#8c8c8c;
      }
      .title{
        font-size:.48rem;
        color:#5f5f5f;
      }
    }
    .form{
      text-align:center;
      margin-top:.5rem;
      label{
        position:relative;
        height:1.2rem;
        line-height:1.2rem;
        display:block;
        margin:0 auto;
        width:8.4rem;
        .icon-err{
          position:absolute;
          right:0;
          top:0;
          padding:0 .4266rem;
          color:#CCD5E0;
          line-height:1.2rem;
          height:1.2rem;
        }
      }
      .new-password{
        margin-top:.4rem;
      }
      .password{
        margin-top:.4rem;
      }
      input{
        background:#F5F5F5;
        border-radius:2px;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        -o-border-radius:2px;
        width:8.4rem;
        height:1.2rem;
        line-height:.5rem;
        outline:none;
        border:none;
        font-size:.3733rem;
        padding:.35rem 0;
        padding-left: .4rem;
      }
      .other{
        margin-top:.5866rem;
        font-size:.3733rem;
        color:#A1B6CF;
        line-height:.3733rem;
      }
      .complete{
        outline:none;
        border:none;
        border-radius:100px;
        -moz-border-radius:100px;
        -webkit-border-radius:100px;
        -o-border-radius:100px;
        background:#F5F5F5;
        color:#A1B6CF;
        margin-top:.6933rem;
        width:5.6533rem;
        height:.9333rem;
        line-height:.9333rem;
        font-size:.4266rem;
      }
    }
  }
  //实名认证
  #real_namebind{
    overflow-y: auto;
    height:100%;
    background:#fff;
    -webkit-overflow-scrolling: touch;
    position:relative;
    .header{
      position:relative;
      text-align:center;
      height:4.833rem;
      background:#262930;
      .head_title{
        height:1.333rem;
        line-height:1.333rem;
        width:10rem;
        .headfanhui{
          position:absolute;
          left:0;
          height:1.333rem;
          line-height:1.333rem;
          width:1.333rem;
          text-align:center;
          color:#FFF;
        }
        .title{
          font-size:.48rem;
          color:#FFF;
          line-height:1.333rem;
        }
        .prevto{
          position: absolute;
          left: 0;
          top: 0;
          height: 1.33rem;
          padding:0 .48rem;
          color: #fff;
        }
      }
      .nav{
        .line-level{
          width:7.926rem;
          border-top:1px solid #fff;
          margin:0 auto;
          margin-top:1.5rem;
          li{
            width:.426rem;
            height:.426rem;
            border-radius:.426rem;
            background:#686A6F;
            float:left;
            font-size:.426rem;
            margin-left:2.074rem;
            margin-top:-.213rem;
          }
          li:nth-child(1){
            margin-left:0;
          }
          .nond-rde{
            background:#FF4B4C;
            box-shadow:0 1px 2px 0 #F96268;
          }
        }
        .classify-type{
          width:10rem;
          position:absolute;
          bottom:0;
          left:0;
          height:1.2rem;
          li{
            width:2.5rem;
            float:left;
            height:1.2rem;
            font-size:.373rem;
            color:#9e9e9e;
            position:relative;
            .undesanj{
              border: 12px solid transparent;
              border-bottom:15px solid #fff;
              position:absolute;
              bottom:-1px;
              left:50%;
              margin-left:-6px;
            }
          }
        }
      }
    }
    .Submit-information{
      width:10rem;
      background:#fff;
      label{
        width:10rem;
        height:1.6rem;
        line-height:1.6rem;
        display:block;
        span{
          float:left;
          width:2.293rem;
          height:1.6rem;
          padding:0 .326rem;
          font-size:.373rem;
          color:#323232;
        }
        input{
          float:left;
          height:1.6rem;
          width:7.707rem;
          outline:none;
          border:none;
          font-size:.3733rem;
          line-height:.5rem;
          padding:.55rem 0;
          padding-right:.2rem;
        }
      }
      .user_name{

      }
      .user_number{

      }
      .user_photo{
        p{
          float:left;
          color: #A1B6CF;
          font-size:0.373rem;
        }
      }
      .user_picture{
        width:10rem;
        overflow: hidden;
        .users{
          width:2.666rem;
          height:2.666rem;
          border:1px solid #DBE4F3;
          border-radius:5px;
          background:#F4F7FE;
          float:left;
          margin-left:.5rem;
          position:relative;
          .p{
            margin-top:1.866rem;
            color:#B7C1D1;
            font-size:.32rem;
            text-align:center;
          }
          input{
            width:2.666rem;
            height:2.666rem;
            opacity:0;
            position:absolute;
            left:0;
            top:0;
            z-index:5;
          }
          img{
            width:2.666rem;
            height:2.666rem;
            position:absolute;
            left:0;
            top:0;
            z-index:3;
          }
          span{
            position:absolute;
            left:0;
            right:0;
            margin:0 auto;
            text-align:center;
            top:.72rem;
            color:#B8C2D1;
            z-index:1;
            font-size:1.226rem;
          }
        }
        .user_positive{
        }
        .user_back{

        }
        .user_hold{

        }
      }
      .next-step{
        border:none;
        outline:none;
        background:#F5F5F5;
        border-radius:100px;
        -moz-border-radius:100px;
        -o-border-radius:100px;
        -webkit-border-radius:100px;
        width:5.654rem;
        height:.9333rem;
        color:#a1b6cf;
        font-size:.4266rem;
        display:block;
        margin:0 auto;
        margin-top:2.56rem;
      }
    }
    .Bind-bank-card{
      width:10rem;
      background:#fff;
      label{
        width:10rem;
        height:1.6rem;
        line-height:1.6rem;
        display:block;
        span{
          float:left;
          width:2.293rem;
          height:1.6rem;
          padding:0 .326rem;
          font-size:.373rem;
          color:#323232;
        }
        input{
          float:left;
          height:1.6rem;
          width:7.707rem;
          outline:none;
          border:none;
          font-size:.3733rem;
          line-height:.5rem;
          padding:.55rem 0;
          padding-right:.2rem;
        }
      }
      .card_photo{
        p{
          float:left;
          color: #A1B6CF;
          width:7.707rem;
          font-size:0.373rem;
        }
      }
      .card_picture{
        width:2.666rem;
        height:2.666rem;
        border:1px solid #DBE4F3;
        border-radius:5px;
        background:#F4F7FE;
        margin-left:.5rem;
        position:relative;
        .p{
          margin-top:1.866rem;
          color:#B7C1D1;
          font-size:.32rem;
          text-align:center;
        }
        img{
          width:2.666rem;
          height:2.666rem;
          position:absolute;
          left:0;
          top:0;
          z-index:3;
        }
        input{
          width:2.666rem;
          height:2.666rem;
          opacity:0;
          position:absolute;
          left:0;
          top:0;
          z-index:5;
        }
        span{
          position:absolute;
          left:0;
          right:0;
          margin:0 auto;
          text-align:center;
          top:.72rem;
          color:#B8C2D1;
          z-index:1;
          font-size:1.226rem;
        }
      }
      .card-complete{
        border:none;
        outline:none;
        background:#F5F5F5;
        border-radius:100px;
        -moz-border-radius:100px;
        -o-border-radius:100px;
        -webkit-border-radius:100px;
        width:5.654rem;
        height:.9333rem;
        color:#a1b6cf;
        font-size:.4266rem;
        display:block;
        margin:0 auto;
        margin-top:.96rem;
      }
    }
    .complete-bind{
      .defeated{
        text-align:center;
        .icon-err{
          color:#FB4B4C;
          font-size:1.573rem;
          display:block;
          margin:0 auto;
          margin-top:1.013rem;
        }
        .title{
          color:#3f3f3f;
          font-size:.533rem;
          margin-top:.533rem;
        }
        p{
          color:#999;
          font-size:.32rem;
          margin-top:.533rem;
        }
        .newly{
          outline:none;
          border:none;
          border-radius:100px;
          background:#F35254;
          line-height:.933rem;
          height:.933rem;
          width:5.653rem;
          display:block;
          color:#fff;
          font-size:.426rem;
          margin:0 auto;
          margin-top:1.253rem;
        }
      }
      .succeed{
        .icon-right{
          color:#FB4B4C;
          font-size:1.6rem;
          display:block;
          margin:0 auto;
          text-align:center;
          margin-top:1.013rem;
        }
        .title{
          font-size:.533rem;
          color:#3F3F3F;
          text-align:center;
          margin-top:.533rem;
        }
        .equally{
          width:10rem;
          height:1.6rem;
          span:nth-child(1){
            float:left;
            color:#4A90E2;
            font-size:.773rem;
            width:1.5rem;
            text-align:center;
            height:1.6rem;
            line-height:1.6rem;
          }
          span:nth-child(2){
            font-size:.373rem;
            color:#999;
            float:left;
            width:2.966rem;
            height:1.6rem;
            line-height:1.6rem;
          }
          span:nth-child(3){
            float:left;
            font-size:.373rem;
            color:#323232;
            width:5rem;
            overflow: hidden;
            height:1.6rem;
            line-height:1.6rem;
            letter-spacing: .3px;
          }
          .bank-number{
            float:left;
            height:1.6rem;
            font-size:.373rem;
            color:#323232;
            line-height:1.6rem;
            padding:.439rem 0;
            p{
              line-height:.45rem;
              width:5.5rem;
              overflow: hidden;
              margin-bottom:5px;
              letter-spacing: .42px;
            }
          }
        }
      }
      .material{
        text-align:center;
        span{
          font-size:1.573rem;
          color:#F35254;
          display:block;
          margin:0 auto;
          margin-top:1.013rem;
        }
        h2{
          margin-top:.56rem;
          color:#3F3F3F;
          font-size:.5333rem;
        }
        .p1{
          margin-top:.453rem;
          color:#999;
          font-size:.32rem;
        }
        .p2{
          color:#999;
          font-size:.32rem;
        }
        .completer{
          width:5.653rem;
          height:.933rem;
          text-align:center;
          line-height:.933rem;
          color:#EF5557;
          outline:none;
          border:1px solid #FF4747;
          border-radius:100px;
          display:block;
          background:#fff;
          margin:0 auto;
          font-size:.426rem;
          margin-top:.853rem;
        }
      }
    }
    .explain-text{
      position:absolute;
      z-index:50;
      bottom:.56rem;
      right:.72rem;
      font-size: .32rem;
      color: #9E9E9E;
      letter-spacing: -0.29px;
    }
  }
  //销售收入
  #market{
    height:100%;
    overflow: hidden;
    .top{
      width:10rem;
      height:1.3333rem;
      background: #fff;
      line-height:1.333rem;
      position:relative;
      z-index:10;
      left:0;
      top:0;
      .iconleft-box{
        position: absolute;
        left:0;
        top:0;
        .icon {
          width: 1.333rem;
          height: 1.333rem;
          float: left;
          text-align: center;
          line-height:1.333rem;
        }
      }
      .text-center{
        text-align: center;
        font-size:0.5333rem;
        color: #5e5e5e;
      }
      .switchs{
        position:absolute;
        right:0;
        top:0;
        width:1.333rem;
        height:1.333rem;
        text-align:center;
        line-height:1.333rem;
        font-size:.533rem;
        color: #F75254;
      }
    }
    .content{
      .menue{
        border-top:1px solid #eee;
        width:10rem;
        background: #fff;
        height:1.333rem;
        text-align: center;
        position:relative;
        z-index:10;
        border-bottom:1px solid #eee;
        line-height:1.333rem;
        span{
          color: #999;
          font-size:0.4rem;
          margin:0 0.67rem;
          padding-bottom:0.4rem;
        }
        .active{
          color: #666;
          border-bottom:4px solid #ff5e54;
        }
      }
      .market-content{
        height:100%;
        position:absolute;
        top:0;
        left:0;
        padding-top:2.6663rem;
        overflow: hidden;
        overflow-y:auto;
        width:10rem;
        -webkit-overflow-scrolling: touch;
        .all{
          .name{
            color: #323232;
            font-size: 0.3733rem;
          }
        }
        .list-menue{
          .times{
            width:10rem;
            height:1.0667rem;
            color: #666;
            font-size:0.32rem;
            line-height:1.0667rem;
            padding-left:0.48rem;
          }
        }
        .all.list .lefticon{
          color: #FB4B4C;
        }
        .list{
          width:10rem;
          height:2.4rem;
          background: #fff;
          line-height:2.4rem;
          padding:0 0.48rem;
          border-top:1px solid #eee;
          .lefticon{
            font-size:0.8rem;
            color: #FFB83C;
            margin-top:0.77rem;
            margin-right: 0.42667rem;
          }
          .content-box{
            line-height:0.533rem;
            margin-top:0.6rem;
            .name{
              color: #323232;
              font-size:0.3733rem;
            }
          }
          .rt.num{
            color: #3f3f3f;
            font-size:0.42667rem;
          }
        }
        .loading_more{
          .No-more{
            background:none !important;
          }
        }
      }
      .deduct-content{
        height:100%;
        width:10rem;
        position:absolute;
        top:0;
        left:0;
        padding-top:2.6663rem;
        overflow: hidden;
        overflow-y:auto;
        -webkit-overflow-scrolling: touch;
        .all{
          .name{
            color: #323232;
            font-size: 0.3733rem;
          }
        }
        .list-menue{
          .times{
            width:10rem;
            height:1.0667rem;
            color: #666;
            font-size:0.32rem;
            line-height:1.0667rem;
            padding-left:0.48rem;
          }
        }
        .all.list .lefticon{
          color: #FB4B4C;
        }
        .list{
          width:10rem;
          height:2.4rem;
          background: #fff;
          line-height:2.4rem;
          padding:0 0.48rem;
          border-top:1px solid #eee;
          .lefticon{
            font-size:0.8rem;
            color: #FFB83C;
            margin-top:0.77rem;
            margin-right: 0.42667rem;
          }
          .content-box{
            line-height:0.533rem;
            margin-top:0.6rem;
            .name{
              color: #323232;
              font-size:0.3733rem;
            }
          }
          .rt.num{
            color: #3f3f3f;
            font-size:0.42667rem;
          }
        }
        .loading_more{
          .No-more{
            background:none !important;
          }
        }
      }
    }
  }
  //主页
  .mine{
    background: #fff;
    position:relative;
    height:100%;
    .head{
      width: 100%;
      height: 1.3333rem;
      line-height: 1.3333rem;
      border-bottom:1px solid #eee;
      position:absolute;
      background:#fff;
      z-index:10;
      top:0;
      left:0;
      .message{
        float: right;
      }
      .icon-maoduo78{
        color:#999;
        font-size:.4533rem;
        width:1.333rem;
        height:1.333rem;
        display:block;
        text-align:center;
        line-height:1.333rem;
        position:relative;
        .read-title{
          background:#FF5E54;
          width:.213rem;
          height:.213rem;
          position:absolute;
          border-radius:.213rem;
          right:.38rem;
          top:.38rem;
        }
      }
      .title{
        width: 1rem;
        margin: 0 auto;
        font-size: 0.48rem;
        color: #333;
      }
    }
    .main_box{
      height:100%;
      width:10rem;
      overflow: hidden;
      padding:1.3333rem 0 1.44rem 0;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      .photo{
        width: 2.1333rem;
        height: 2.1333rem;
        margin: 0.16rem auto;
        background-color: #eee;
        overflow: hidden;
        border-radius: 50%;
        img{
          width: 2.1333rem;
          height: 2.1333rem;
        }
      }
      .is-valid{
        width: 1.22667rem;
        height: 0.42667rem;
        background: #F8F8F8;
        border: 1px solid #E3E3E3;
        border-radius: 0.08rem;
        text-align: center;
        line-height: 0.42667rem;
        margin: 0.15rem auto;


        color: #bababa;
        span{
          display: block;
          font-size: 0.32rem;
          transform:scale(0.875);
        }
      }
      .nickname{
        width: 2rem;
        text-align: center;
        color: #323232;
        font-size: 0.37333rem;
        margin: 0.27rem auto;
      }
      .mine-data{
        width: 100%;
        height: 1.6rem;
        padding: 0 1rem;
        //background-color: pink;
        .customer-count{
          width: 4rem;
          height: 100%;
          float: left;
          //background: purple;
          padding: 0.3rem 0;
          .customer-num{
            width: 100%;
            float: left;
            line-height: 0.6rem;
            font-size: 0.42667rem;
            color: #6b6b6b;
            text-align: center;
          }
          .customer-word{
            width: 100%;
            float: left;
            line-height: 0.5rem;
            font-size: 0.32rem;
            color: #6b6b6b;
            text-align: center;
          }
        }
        .order-count{
          padding: 0.3rem 0;
          width: 4rem;
          height: 100%;
          float: left;
          //background: yellow;
          .order-num{
            width: 100%;
            float: left;
            line-height: 0.6rem;
            font-size: 0.42667rem;
            color: #6b6b6b;
            text-align: center;
          }
          .order-word{
            width: 100%;
            float: left;
            line-height: 0.5rem;
            font-size: 0.32rem;
            color: #6b6b6b;
            text-align: center;
          }
        }
      }
      .mine-items{
        width: 100%;
        background-color: #f5f5f5;
        //background: red;
        //padding-bottom: 2.13334rem;
        &:before{
          content: '';
          display: table;
        }
        //height: 1rem;
        .money{
          width: 100%;
          height: 4.8rem;
          background-color: #fff;
          margin: 0.26667rem 0;
          .account{
            width: 100%;
            height: 1.6rem;
            border-bottom: 1px solid #eee;
            padding: 0 0.48rem;
            .account-balance{
              width: 2.9333rem;
              height: 100%;
              float: left;
              line-height: 1.6rem;
              .pic-border{
                float: left;
                width: 0.8rem;
                height: 0.8rem;
                margin: 0.4rem 0;
                position: relative;
                span{
                  position: absolute;
                  top: 0;
                  left: 0;
                  font-size: 0.8rem;
                  color: #f96268;
                }
              }
              .account-word{
                font-size: 0.37334rem;
                color: #323232;
                margin-left: 0.42667rem;
                line-height:1.6rem;
                height:1.6rem;
                float:left;
              }
            }
            .account-num{
              height: 100%;
              float: right;
              line-height: 1.6rem;
              .icon-to-right{
                font-size: 0.5rem;
                float: right;
                margin-top: 0.55rem;
                color: #b6b6b6;
              }
              p{
                color: #ff5e54;
                font-size: 0.37334rem;
                font-weight: bold;
                float: right;
                margin-right: 0.4rem;
                letter-spacing: 0.5px;
              }
            }
          }
          .sale-income{
            width: 100%;
            height: 3.2rem;
            border-bottom: 1px solid #eee;
            .sale{
              width: 100%;
              height: 1.3334rem;
              //border-bottom: 1px solid #eee;
              padding: 0 0.48rem;
              .sale-detail{
                width: 2.9333rem;
                height: 100%;
                float: left;
                line-height: 1.3334rem;
                .pic-border{
                  float: left;
                  width: 0.8rem;
                  height: 0.8rem;
                  margin: 0.2777rem 0;
                  position: relative;
                  span{
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 0.8rem;
                    color: #4A90E2;
                  }
                }
                .sale-word{
                  font-size: 0.37334rem;
                  color: #323232;
                  margin-left: 0.42667rem;
                  height:1.333rem;
                  line-height:1.333rem;
                  float:left;
                }
              }
              .icon-to-right{
                font-size: 0.5rem;
                float: right;
                margin-top: 0.4167rem;
                color: #b6b6b6;
              }
            }
            .sale-type{
              width: 100%;
              height: 1.8666rem;
              .sales-volume{
                width: 50%;
                height: 100%;
                float: left;
                .volume-num{
                  width: 100%;
                  text-align: center;
                  float: left;
                  color: #3f3f3f;
                  font-size: 0.42667rem;
                  line-height: 1rem;
                }
                .volume-word{
                  text-align: center;
                  color: #ababab;
                  font-size: 0.37334rem;
                }
              }
              .sales-commission{
                width: 50%;
                height: 100%;
                float: left;
                .commission-num{
                  width: 100%;
                  text-align: center;
                  float: left;
                  color: #3f3f3f;
                  font-size: 0.42667rem;
                  line-height: 1rem;
                }
                .commission-word{
                  text-align: center;
                  color: #ababab;
                  font-size: 0.37334rem;
                }
              }
            }
          }
        }
        .center{
          width: 100%;
          height: 4.8rem;
          background-color: #fff;
          margin: 0.26667rem 0;
        }
        .item-list{
          width: 100%;
          height: 1.6rem;
          border-bottom: 1px solid #eee;
          padding: 0 0.48rem;
          background-color: #fff;
          .item-title{
            width: 2.9333rem;
            height: 100%;
            float: left;
            line-height: 1.6rem;
            .pic-border{
              float: left;
              width: 0.8rem;
              height: 0.8rem;
              margin: 0.4rem 0;
              position: relative;
              span{
                position: absolute;
                top: 0;
                left: 0;
                font-size: 0.8rem;
              }
            }
            .item-word{
              font-size: 0.37334rem;
              color: #323232;
              margin-left: 0.42667rem;
              line-height:1.6rem;
              height:1.6rem;
              float:left;
            }
          }
          .not-read-message{
            float:right;
            height:.533rem;
            text-align:center;
            line-height:.533rem;
            border-radius:2px;
            background:#FF474A;
            font-size:.32rem;
            padding:0 .1rem;
            color:#fff;
            margin-right:.35rem;
            margin-top:.5335rem;
          }
          .icon-to-right{
            font-size: 0.5rem;
            float: right;
            margin-top: 0.55rem;
            color: #b6b6b6;
          }
        }
        .message .pic-border span{
          color: #FFB359;
        }
        .product .pic-border span{
          color: #27B6EF;
        }
        .help .pic-border span{
          color: #4A90E2;
        }
        .setting .pic-border span{
          color: #27B6EF;
        }
      }
    }
    .menue-bottom{
      width:10rem;
      background: #fff;
      position: absolute;
      bottom:0;
      left:0;
      border-top:1px solid #eee;
      .bottom-list{
        width:2rem;
        height:1.44rem;
        float: left;
        text-align: center;
        padding-top:0;
        .icon{
          display: block;
          font-size: 0.6rem;
          color: #ccc;
          margin-top: 0.2rem;
        }
        .text{
          color: #999;
          font-size:0.32rem;
        }
      }
      .active{
        .text,.icon{
          color: #ff5e54;
        }
      }
    }
  }
  @pt:37.5rem;
  //申请产品
  #applyProduct{
    background: #F5F5F5;
    height: 100%;
    header{
      width: 100%; height: 49/@pt;  position: relative;text-align: center;background: #fff;
      h2{
        font-size: .48rem; line-height: 49/@pt;color:#333;
      }
      span{
        position: absolute; line-height: 1.333rem;top:0;left: 0; width:1.333rem;height:1.333rem;
      }
    }
    article{
      div p{
        background: rgb(242,242,242); color: #999; font-size: 12/@pt; padding-left: 18/@pt;line-height: 34/@pt;
      }
      div.prodName{
        div{
          height: 60/@pt; background: #fff;
          input{
            display: block;line-height:.5rem;padding:.55rem .4rem; border: none; font-size: .3733rem; width: 100%;
          }
        }
      }
      div.prodDescrib{
        div{
          height: 120/@pt;
          textarea{
            padding: 15/@pt; width: 100%;height: 100%; border: none; resize: none; font-size: 14/@pt;
          }
        }
      }
      div.addProductPic{
        .imgsbox{
          float:left;
          overflow: hidden;
          position:relative;
          margin: 0 6/@pt;
          width: 60/@pt;height: 60/@pt;
          .icon-maoduo0{
            position:absolute;
            top:-.3rem;
            right:-.3rem;
            width:.8rem;
            height:.8rem;
            z-index:20;
            background:#fff;
            opacity:.7;
            display:block;
            color:#333;
            border:1px solid #eee;
            text-align: left;
            line-height: 1rem;
            font-size: .5rem;
            border-radius: .8rem;
            padding-left: .05rem;
          }
        }
        p{
          height: 70/@pt; padding-top: 38/@pt;
        }
        div.picture_boxsize{
          height: 120/@pt; background: #fff; text-align: left; padding: 30/@pt 6/@pt; position: relative;
          img.imgs{
            width: 60/@pt;height: 60/@pt;  display: inline-block; position: relative; top:-28/@pt
          }
          a.picSeletDiv{
              position: relative; width: 60/@pt; left: 0/@pt; height: 60/@pt;margin: 0 6/@pt; display: inline-block; border: 1px solid #ccc; 
              input{
                  position: absolute; height: 60/@pt; width: 60/@pt; top:0; left: 0; z-index: 10; opacity: 0;
              }
              span{
                text-align:center;
                line-height:60/@pt;
                width:60/@pt;
                position:absolute; left:0; top: 0; font-size: .5rem;color:#B4B4B4;
              }
          }
        }
        input.fileSeleter{
            width: 100/@pt;height: 30/@pt;
        }
      }

    }
    button{
        height: 40/@pt;width: 317/@pt; margin: 56/@pt auto; display:block;border-radius: 20/@pt; background: #eee; color: #909090; font-size: 16/@pt; border: none;
    }
  }
  //消息中心
  #newsCenter{
    background: #fff;
    height:100%;
    position: relative;
    header{
      width: 100%; height: 50/@pt;  position: absolute;text-align: center;
      h2{
        font-size: .48rem; line-height: 50/@pt;color:#333;
      }
      span{
        position: absolute; top:0;left: 0; line-height:1.333rem;text-align:center;width:1.333rem;
      }
    }
    article{
      font-size: 14/@pt;
      height:100%;
      padding-top:1.3333rem;
      .newsNav{
        position: absolute;z-index:10; width:10rem;height:1.333rem;border-top:1px solid #eee ;border-bottom:1px solid #eee ; text-align: center;background:#fff;
        .redLine{
          position: absolute;
        }
        b{
          display: inline-block; line-height: 50/@pt; margin: 0 25/@pt; height: 50/@pt;  font-weight: normal;
        }
        b.tradBtn{
          border-bottom:3px solid #ff5e54 ;color: #666;
        }
        b.sysNewsBtn{
          border:none;color: #aaa;
        }
      }
      .transaction-alerts {
        height: 100%;
        padding-top: 1.333rem;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        .tradingRemindUl {
          li {
            border-bottom: 1px solid #eee;
          }
        }
      }
      .system-alert{
        height:100%;
        padding-top:1.333rem;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        .systemNewsUl{
          li{
            border-bottom:1px solid #eee;
          }
        }
      }
      ul.tradingRemindUl li{
        p.newsTime{
          line-height: 48/@pt;text-align: center;background: rgb(242,242,242);
        }
        ul.detailNews li:first-child{
          border: none;
        }
        ul.detailNews li{
          position: relative; height: 90/@pt; padding: 25/@pt 50/@pt 25/@pt 63/@pt;
          span{
            position: absolute; left: 18/@pt; top: 30/@pt; font-size: 30/@pt; color:#FFB73C;;
            i{
              position:absolute;
              width:.186rem;
              height:.186rem;
              border-radius:.186rem;
              background:#FF2727;
              right:0.01rem;
            }
          }
          em{
            position: absolute; top:26/@pt; left: 275/@pt; font-size: 12/@pt; color: #aaa;width:2.5rem;overflow: hidden;white-space: nowrap;
          }
          h5{
            color: #333; width:5rem; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
          }
          p{
            color: #777; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
          }
        }
      }
      ul.systemNewsUl li{
        position: relative; height: 90/@pt; padding: 25/@pt 50/@pt 25/@pt 63/@pt; border-top: 1px solid #eee;
        .icon-maoduo17{
          color:#448ce2;
        }
        .icon-maoduo4{
          color:#FB4B4C;
        }
        span{
          position: absolute; left: 18/@pt; top: 30/@pt; font-size: 30/@pt;
          i{
            position:absolute;
            width:.186rem;
            height:.186rem;
            border-radius:.186rem;
            background:#FF2727;
            right:0.01rem;
          }
        }
        span.redIcon{
          position: absolute; left: 44/@pt; top: 30/@pt; color: red; font-size: 6/@pt;
        }
        em{
          position: absolute; top:26/@pt; left: 275/@pt; font-size: 12/@pt; color: #aaa;
        }
        h5{
          color: #333; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
        }
        p{
          color: #777; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
        }
      }
      ul.systemNewsUl li:first-child{
        border: none;
      }
    }
  }
  //设置
  #mySetting{
    height: 100%;
    header{
      width: 100%; height: 49/@pt;  position: relative;text-align: center; background: #fff;margin-bottom: 12px;
      h2{
        font-size: .48rem; line-height: 49/@pt;color:#333;
      }
      span{
        position: absolute; line-height: 1.333rem;top:0;left: 0; width:1.333rem ; text-align:center;
      }
    }
    article{
      ul li{
        height: 60/@pt; border-top: 1px solid #eee;background: #fff;
        position:relative;
        span,b{
          line-height: 60/@pt; font-size: 18/@pt;
        }
        span.icon-me_text{
          position: absolute; left: 15/@pt; color: #4A90E2;font-size: 29/@pt;
        }
        span.icon-maoduo3{
          position: absolute; left: 15/@pt; color: #FB4F50;font-size: 29/@pt;
        }
        span.icon-me_inbox{
           position: absolute; left: 15/@pt; color: #F75254;font-size: 29/@pt;
         }
        span.icon-maoduo96{
          position: absolute;
          left: 0.4rem;
          color: #FB4F50;
          font-size: 0.77333333rem;
        }
        span.icon-maoduo102{
          position: absolute;
          left: 0.4rem;
          color: #FB4F50;
          font-size: 0.77333333rem;
        }
        span.icon-to-right{
          position: absolute; left: 346/@pt; color: #bbb;
        }
        b{
          padding-left: 63/@pt; font-weight: normal; font-size: 14/@pt;
        }
      }
      ul li:first-child{border: none;}
      .c5{
        a{
          text-decoration:none;
          color:#333;
          width:10rem;
          height:1.6rem;
          display:block;
          position:absolute;
          left:0;
          top:0;
          padding-left:1.68rem;
          line-height:1.5rem;
        }
      }
    }
    .exit-login{
      position:fixed;
      top:0;
      left:0;
      width:10rem;
      height:100%;
      z-index:999;
      background:rgba(25,25,25,.62);
      .exit-box{
        width:8.426rem;
        height:7.066rem;
        position:absolute;
        top:50%;
        left:50%;
        margin-top:-3.533rem;
        margin-left:-4.213rem;
        text-align:center;
        background:#fff;
        .exit-title{
          color:#656565;
          font-size:.48rem;
          line-height:.48rem;
          margin-top:.64rem;
        }
        .p1{
          color:#656565;
          font-size:.32rem;
          line-height:.32rem;
          margin-top:1.333rem;
        }
        .exit{
          width:6.293rem;
          height:.8rem;
          background:#ff4747;
          border-radius:100px;
          line-height:.8rem;
          color:#fff;
          font-size:.32rem;
          display:block;
          margin:0 auto;
          margin-top:1.52rem;
        }
        .cancel-off{
          outline:none;
          background:#fff;
          border:1px solid #FB4B4C;
          border-radius:100px;
          margin:0 auto;
          margin-top:.5866rem;
          line-height:.8rem;
          display:block;
          width:6.293rem;
          height:.8rem;
          color:#fb4b4c;
        }
      }
    }
    button{
      display: block;width: 317/@pt;height: 40/@pt; margin: 93/@pt auto; background: #fff; border:none;border-radius: 20/@pt;color: #ff4b4c;font-size: 16/@pt;
    }
  }
  //意见反馈
  #feedback{
    .top{
      width:10rem;
      height:1.3333rem;
      background: #fff;
      line-height:1.333rem;
      .iconleft-box{
        position: absolute;
        left:0;
        top:0;
        .icon {
          width: 1.333rem;
          height: 1.333rem;
          float: left;
          text-align: center;
          line-height:1.333rem;
        }
      }
      .text-center{
        text-align: center;
        font-size:0.48rem;
        color: #333;
      }
    }
    .content{
      .title{
        width:10rem;
        height:0.56rem;
        line-height:0.56rem;
        padding-left:0.48rem;
        color: #999;
        font-size:0.32rem;
      }
      .feedback-content{
        width:10rem;
        min-height:5.28rem;
        background: #fff;
        color: #333;
        font-size:0.3733rem;
        padding:0.3rem 0.48rem;
        border:none;
        outline:none;
        resize: none;
        overflow-y: auto;
      }
      .complete{
        width: 5.365334rem;
        height: 0.9334rem;
        border-radius: 2.667rem;
        text-align: center;
        line-height: 0.9334rem;
        font-size: 0.42667rem;
        background: #F8FAFC;
        color: #a0b5cf;
        margin: 0 auto;
        margin-top: 1.2134rem;
      }
    }
  }
  //账号余额
  #Account-Detail{
    overflow: auto;
    background: #f5f5f5;
    width: 100%;
    height: 100%;
    position: relative;
    .account-head{
      background: #fff;
      width: 100%;
      height: 1.3334rem;
      line-height: 1.3334rem;
      //padding: 0 0.48rem;
      border-bottom: 1px solid #eee;
      .icon-mail_fanhui{
        float: left;
        color: #c2c2c2;
        height:1.333rem;
        line-height:1.333rem;
        text-align:center;
        width:1.333rem;
      }
      .detail-deal{
        float: right;
        color: #5094E2;
        font-size: 0.37334rem;
        padding: 0 0.48rem;
      }
      .account-word{
        width: 2.5rem;
        margin: 0 auto;
        font-size: 0.48rem;
        text-align:center;
        color: #333;
      }
    }
    .account-money{
      width: 100%;
      height: 5.3334rem;
      text-align: center;
      padding-top: 0.4rem;
      background: #fff;
      .pic-border{
        width: 1.6rem;
        height: 1.6rem;
        //background-color: red;
        margin: 0.5rem auto;
        span{
          font-size: 1.6rem;
          color: #fb4b4c;
        }
      }
      p{
        font-size: 0.74667rem;
        color: #3f3f3f;
      }
      .account-balance-word{
        font-size: 0.37334rem;
        color: #999;
      }

    }
    .withdrawal-account{
      width: 100%;
      margin-top: 0.29rem;
      background: #fff;
      .account-title{
        width: 100%;
        height: 1.6rem;
        line-height: 1.6rem;
        border-bottom: 1px solid #eee;
        padding: 0 0.48rem;
        p{
          float: left;
          font-size: 0.37334rem;
          color: #323232;
        }
        span{
          float: right;
          font-size: 0.5rem;
          color: #b6b6b6;
          margin-top: 0.55rem;
        }
      }
      .add-account{
        //display: none;
        &:before{
          content:'';
          display: table;
        }
        width: 100%;
        height: 1.86667rem;
        .new-border{
          width: 3rem;
          height: 0.86667rem;
          margin: 0.5rem auto;
          line-height:0.86667rem;
          text-align: center;
          span{
            color: #a0b5cf;
            font-size: .4533rem;
          }
        }
      }
      .account-message{
        width: 100%;
        height: 1.86667rem;
        padding: 0 0.48rem;
        .pic-border{
          width: 0.77334rem;
          height: 0.77334rem;
          margin: 0.54667rem 0;
          float: left;
          span{
            font-size: 0.77334rem;
            color:#FB4B4C;
          }
        }
        .card-detail{
          width:7.5rem;
          height: 100%;
          float: left;
          margin-left: 0.69rem;
          .bank{
            font-size: 0.37334rem;
            line-height:.5rem;
            height:.5rem;
            overflow: hidden;
            color: #323232;
            margin-top: 0.43rem;
          }
          .personal-message{
            font-size: 0.37334rem;
            color: #6f6f6f;
            overflow: hidden;
            .name{
              float: left;
              width:2.2rem;
              overflow: hidden;
              height:.5rem;
            }
            .card-num{
              float: left;
              width:5rem;
              overflow: hidden;
              margin-left:.2rem;
            }
          }
        }
      }
    }
    .withdrawal-count{
      background: #fff;
      margin: 0.29334rem 0;
      width: 100%;
      height: 1.6rem;
      line-height: 1.6rem;
      padding: 0 0.48rem;
      span{
        color: #323232;
        font-size: 0.37334rem;
        float: left;
      }
      .money-input{
        float: left;
        height: 100%;
        width: 7rem;
        //background: green;
        margin-left: 0.24rem;
        padding: 0 0.56rem;
        input{
          width: 6.44rem;
          height: 1.6rem;
          border: none;
          line-height:.5rem;
          outline: none;
          padding:.55rem 0;
          vertical-align: baseline;
          font-size: 0.37334rem;
        }
      }
    }
    .withdrawal{
      width: 5.365334rem;
      height: 0.9334rem;
      border-radius: 2.667rem;
      text-align: center;
      line-height: 0.9334rem;
      font-size: 0.42667rem;
      background: #F8FAFC;
      color: #a0b5cf;
      margin: 0 auto;
      margin-top: 2.2134rem;
    }
  }
  //提现成功页面
  .deposit-succ{
    .top{
      width:10rem;
      height:1.3333rem;
      background: #fff;
      line-height:1.333rem;
      position: relative;
      .text-center{
        text-align: center;
        font-size:.48rem;
        color: #333;
      }
      .list{
        color:#5094E2;
        font-size:0.3733rem;
        position: absolute;
        width:1.5rem;
        text-align:center;
        top:0;
        right:0;
      }
    }
    .content{
      border-top:1px solid #eee;
      .iconbox{
        width:10rem;
        height:4.533rem;
        background: #fff;
        text-align: center;
        padding-top:0.96rem;
        .icon{
          font-size:1.6rem;
          color: #fb4b4c;
        }
        .text{
          color: #3f3f3f;
          font-size:0.5333rem;
        }
      }
      .list-style{
        background: #fff;
        margin-top:0.08rem;
        .list{
          width:10rem;
          height:1.6rem;
          line-height: 1.6rem;
          padding:0 0.48rem;
          border-top:1px solid #eee;
          .icon{
            color:#4A90E2;
            font-size:0.8rem;
            margin-top:0.4rem;
            margin-right:0.4266rem;
          }
          .name{
            color: #999;
            font-size:0.3733rem;
            float: left;
            line-height:1.6rem;
            height:1.6rem;
          }
          .num{
            margin-left:1.5rem;
            color: #323232;
            font-size:0.3733rem;
            display: inline-block;
            width:4.5rem;
            overflow: hidden;
          }
        }
        .tixian-id{
          .usernums{
            float:left;
            margin-left:1.5rem;
            width:4.8rem;
            height:1.6rem;
            line-height:.4rem;
            .bank{
              height:.45rem;
              line-height:.45rem;
              display:inline-block;
              margin-top:.35rem;
              width:5rem;
              font-size:.34rem;
              overflow: hidden;
              white-space:nowrap;
              text-overflow:ellipsis
            }
            .num{
              height:.45rem;
              line-height:.45rem;
              display:inline-block;
              font-size:.34rem;
              margin-left:0;
              width:4.8rem;
              overflow: hidden;
              white-space:nowrap;
              text-overflow:ellipsis
            }
          }
        }
      }
    }
    .bottom{
      clear: both;
      .text{
        color:#A1B6CF;
        font-size:0.32rem;
        padding:0.2rem 0.533rem;
      }
      .submit{
        width:5.6533rem;
        height:0.9333rem;
        background: #fb4b4c;
        color: #fff;
        text-align: center;
        border:none;
        outline:none;
        -webkit-border-radius:0.1rem;
        -moz-border-radius:0.1rem;
        border-radius:0.3rem;
        margin-left:2.1733rem;
        font-size:0.4266rem;
        margin-top:1.28rem;
      }
    }
  }
  //提现明细
  #deposit-list{
    height:100%;
    overflow: hidden;
    position:relative;
    .top{
      width:10rem;
      height:1.3333rem;
      background: #fff;
      line-height:1.333rem;
      position:absolute;
      left:0;
      top:0;
      z-index:10;
      border-bottom:1px solid #eee;
      .iconleft-box{
        position: absolute;
        left:0;
        top:0;
        .icon {
          width: 1.333rem;
          height: 1.333rem;
          float: left;
          text-align: center;
          line-height:1.333rem;
        }
      }
      .text-center{
        text-align: center;
        font-size:.48rem;
        color: #333;
      }
    }
    .content{
      height:100%;
      background:#fff;
      padding-top:1.3333rem;
      overflow: hidden;
      overflow-y:auto;
      width:10rem;
      position:absolute;
      left:0;
      top:0;
      -webkit-overflow-scrolling: touch;
      .deposit-schedule{
        margin-bottom:10px;
        border-bottom:1px solid #eee;
        border-top:1px solid #eee;
        background:#fff;
        .schedule-type{
          width:10rem;
          height:2.4rem;
          border-bottom:1px solid #eee;
          .list-type{
            float: left;
            width:1.44rem;
            height:2.4rem;
            text-align: center;
            .icon{
              display: block;
              font-size:0.85rem;
              color: #B0B0B0;
              margin-top:0.4266rem;
            }
            .text{
              color: #B0B0B0;
              font-size:0.32rem;
            }
          }
          .line{
            height:0;
            border-top:4px solid #B0B0B0;
            margin-top:1.1rem;
            padding:0 0.44rem;
            width:1rem;
            margin-left:0.22rem;
            margin-right: 0.22rem;
          }
          .active{
            .icon{
              color: #fb4b4c;
            }
            .text{
              color: #fb4b4c;
            }
          }
          .active.line{
            border-top:4px solid #fb4b4c;
          }
          .waite{
            color:#fb4b4c;
          }
        }
        .schedule-title{
          .bott{
            width:10rem;
            height:2.4rem;
            line-height:2.4rem;
            background: #fff;
            padding:0 0.48rem;
            .times{
              color: #B0B0B0;
              font-size:0.32rem;
            }
            .lefticon{
              font-size:0.8rem;
              color: #fb4b4c;
              margin-top:0.77rem;
            }
            .icon.rt{
              width: 0.5rem;
              height: 1.6rem;
              line-height: 1.6rem;
              font-size:0.5rem;
              color: #b6b6b6;
              margin-left:0.2rem;
            }
            .name-box{
              height:2.4rem;
              line-height:0.4rem;
              padding:0.7rem 0 0 0.3rem;
              width:4.5rem;
              overflow: hidden;
              .num{
                display: inline-block;
                color: #323232;
                font-size:0.3733rem;
                margin-bottom:0.1rem;
              }
              .bank{
                color: #6f6f6f;
                font-size:0.3733rem;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height:0.58rem;
                line-height:0.58rem;
              }
            }
          }
        }
      }
      .list-content{
        .title{
          width:10rem;
          height:2.4rem;
          clear: both;
          .time{
            width:10rem;
            height:1.0666rem;
            line-height:1.066rem;
            color: #666;
            font-size:0.32rem;
            background: #eee;
            padding-left:0.2rem;
          }
          .bott{
            width:10rem;
            height:2.4rem;
            line-height:2.4rem;
            background: #fff;
            border-top:1px solid #eee;
            padding:0 0.48rem;
            .times{
              color: #B0B0B0;
              font-size:0.32rem;
            }
            .lefticon{
              font-size:0.8rem;
              color: #00a0ff;
              margin-top:0.77rem;
            }
            .icon.rt{
              width: 0.5rem;
              height: 1.6rem;
              line-height: 1.6rem;
              font-size:0.5rem;
              color: #b6b6b6;
              margin-left:0.2rem;
            }
            .name-box{
              height:2.4rem;
              line-height:0.4rem;
              padding:0.7rem 0 0 0.3rem;
              width:4.5rem;
              overflow: hidden;
              .num{
                display: inline-block;
                color: #323232;
                font-size:0.3733rem;
                margin-bottom:0.1rem;
              }
              .bank{
                color: #6f6f6f;
                font-size:0.3733rem;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height:0.58rem;
                line-height:0.58rem;
              }
            }
          }
        }
      }
    }
  }
  //帮助中心
  #help-center{
    padding-bottom:1rem;
    background:#f5f5f5;
    width:10rem;
    height:100%;
    overflow: hidden;
    .header{
      position:relative;
      text-align:center;
      height:1.333rem;
      line-height:1.333rem;
      width:10rem;
      background:#fff;
      .icon-mail_fanhui{
        position:absolute;
        left:0;
        height:1.333rem;
        line-height:1.333rem;
        text-align:center;
        width:1.333rem;
        color:#8c8c8c;
      }
      .title{
        font-size:.48rem;
        color:#5f5f5f;
      }
    }
    .content-body{
      width:10rem;
      margin-top:12px;
      ul{
        width:10rem;
        background:#fff;
        li{
          height:1.333rem;
          width:10rem;
          line-height:1.333rem;
          border-top:1px solid #eee;
          i{
            float:left;
            height:1.333rem;
            width:1.68rem;
            text-align:center;
            color:#F96268;
            font-size:.7733rem;
            line-height:1.333rem;
          }
          .icon-me_text{
            color:#4A90E2;
          }
          .title{
            float:left;
            height:1.333rem;
            color:#323232;
            font-size:.3733rem;
            line-height:1.333rem;
          }
          .icon-to-right{
            float:right;
            width:1.333rem;
            height:1.333rem;
            text-align:center;
            color:#B6B6B6;
            font-size:.3466rem;
            line-height:1.333rem;
          }
        }
        li:nth-child(1){
          border:none;
        }
      }
    }
  }
  //提现账号
  #Mention_account{
    height:100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .header{
      position:relative;
      text-align:center;
      height:1.333rem;
      line-height:1.333rem;
      background:#fff;
      .icon-mail_fanhui{
        position:absolute;
        left:0;
        height:1.333rem;
        line-height:1.333rem;
        width:1.333rem;
        text-align:center;
        color:#8c8c8c;
      }
      .title{
        font-size:.48rem;
        color:#5f5f5f;
      }
    }
    .form{
      margin-top:11px;
      label{
        width:10rem;
        height:1.6rem;
        margin-bottom: 1px;
        display:block;
        background:#fff;
        .title{
          float:left;
          width:2.1866rem;
          color:#323232;
          font-size:.3733rem;
          height:1.6rem;
          line-height:1.6rem;
          padding-left:.48rem;
        }
        .inputs{
          float:left;
          width:7.466rem;
          height:1.6rem;
          line-height:.5rem;
          color:#3f3f3f;
          border-radius:2px;
          -moz-border-radius:2px;
          -webkit-border-radius:2px;
          -o-border-radius:2px;
          padding:.55rem 0;
          padding-left:.56rem;
          border:none;
          letter-spacing: .34px;
          font-size:.3733rem;
        }
      }
    }
    .upload-pictures{
      margin-top:1.2rem;
      .title{
        color:#999;
        font-size:.32rem;
        padding-left:.48rem;
        margin-bottom:10px;
      }
      .photo{
        background:#fff;
        width:10rem;
        height:3.2rem;
        overflow: hidden;
        .photo-box{
          width:1.733rem;
          height:1.733rem;
          background:#fff;
          margin-left:.5333rem;
          margin-top:.8266rem;
          line-height:1.733rem;
          border:1px solid #D9D9D9;
          border-radius:5px;
          -moz-border-radius:5px;
          -o-border-radius:5px;
          -webkit-border-radius:5px;
          text-align:center;
          position:relative;
          overflow: hidden;
          .icon-add{
            color:#ddd;
            position:absolute;
            z-index:0;
            font-size:.506rem;
            left:50%;
            top:50%;
            margin-left:-.253rem;
            margin-top:-.253rem;
          }
          img{
            position:absolute;
            width:1.733rem;
            height:1.733rem;
            top:0;
            left:0;
            z-index:1;
          }
          .choose{
            position:absolute;
            width:1.733rem;
            height:1.733rem;
            left:0;top:0;
            z-index:100;
            opacity: 0;
            filter:Alpha(opacity=0);
          }
        }
      }
    }
    .complete{
      background: #FF5E54;
      display:block;
      width:5.6533rem;
      height:.933rem;
      border-radius:100px;
      -webkit-border-radius:100px;
      -moz-border-radius:100px;
      -o-border-radius:100px;
      margin:0 auto;
      margin-top:1.333rem;
      outline:none;
      border:none;
      line-height:.933rem;
      color:#fff;
      font-size:.4266rem;
    }
  }
  //更换银行卡
  .withdraw_deposit{
    height:100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .header{
      position:relative;
      text-align:center;
      height:1.333rem;
      line-height:1.333rem;
      background:#fff;
      .cancel-head{
        position:absolute;
        left:0;
        height:1.333rem;
        line-height:1.333rem;
        padding:0 .48rem;
        color:#5094E2;
        font-size: 0.37334rem;
      }
      .title{
        font-size:.48rem;
        color:#5f5f5f;
      }
    }
    .form{
      margin-top:11px;
      label{
        width:10rem;
        height:1.6rem;
        margin-bottom: 1px;
        display:block;
        background:#fff;
        .title{
          float:left;
          width:2.1866rem;
          color:#323232;
          font-size:.3733rem;
          height:1.6rem;
          line-height:1.6rem;
          padding-left:.48rem;
        }
        input{
          float:left;
          width:7.466rem;
          height:1.2rem;
          margin-top:.2rem;
          background:#F5F5F5;
          color:#5E7295;
          border-radius:2px;
          -moz-border-radius:2px;
          -webkit-border-radius:2px;
          -o-border-radius:2px;
          line-height:.5rem;
          padding:.35rem 0;
          padding-left:.56rem;
          border:none;
          font-size:.3733rem;
        }
      }
    }
    .upload-pictures{
      margin-top:1.2rem;
      .title{
        color:#999;
        font-size:.32rem;
        padding-left:.48rem;
        margin-bottom:10px;
      }
      .photo{
        background:#fff;
        width:10rem;
        height:3.2rem;
        overflow: hidden;
        .photo-box{
          width:1.733rem;
          height:1.733rem;
          background:#fff;
          margin-left:.5333rem;
          margin-top:.8266rem;
          line-height:1.733rem;
          border:1px solid #D9D9D9;
          border-radius:5px;
          -moz-border-radius:5px;
          -o-border-radius:5px;
          -webkit-border-radius:5px;
          text-align:center;
          position:relative;
          overflow: hidden;
          .icon-plus-lg{
            font-size:.506rem;
            color:#B4B4B4;
            position:absolute;
            z-index:0;
            left:50%;
            top:50%;
            margin-left:-.253rem;
            margin-top:-.253rem;
          }
          img{
            position:absolute;
            width:1.733rem;
            height:1.733rem;
            top:0;
            left:0;
            z-index:1;
          }
          .choose{
            position:absolute;
            width:1.733rem;
            height:1.733rem;
            left:0;top:0;
            z-index:100;
            opacity: 0;
            filter:Alpha(opacity=0);
          }
        }
      }
    }
    .complete{
      background:#F5F5F5;
      display:block;
      width:5.6533rem;
      height:.933rem;
      border-radius:100px;
      -webkit-border-radius:100px;
      -moz-border-radius:100px;
      -o-border-radius:100px;
      margin:0 auto;
      margin-top:1.333rem;
      outline:none;
      border:none;
      line-height:.933rem;
      color:#A0B5CF;
      font-size:.4266rem;
    }
  }
  //更换手机
  .changephone{
    overflow-y: auto;
    height:100%;
    background:#fff;
    -webkit-overflow-scrolling: touch;
    .header{
      position:relative;
      text-align:center;
      height:1.333rem;
      line-height:1.333rem;
      .icon-mail_fanhui{
        position:absolute;
        left:0;
        height:1.333rem;
        line-height:1.333rem;
        width:1.333rem;
        text-align:center;
        color:#8c8c8c;
      }
      .title{
        font-size:.48rem;
        color:#5f5f5f;
      }
    }
    .form{
      text-align:center;
      margin-top:.5rem;
      label{
        position:relative;
        height:1.2rem;
        line-height:1.2rem;
        display:block;
        margin:0 auto;
        width:8.4rem;
        .icon-err{
          position:absolute;
          right:0;
          display:block;
          top:0;
          padding:0 .4266rem;
          color:#CCD5E0;
          line-height:1.2rem;
          height:1.2rem;
          display:none;
        }
        .obtain{
          position:absolute;
          right:0;
          display:block;
          top:0;
          width:1.8666rem;
          font-size:.3733rem;
          line-height:1.2rem;
          color:#5E7295;
          height:1.2rem;
        }
      }
      .username{

      }
      .password{
        margin-top:.4rem;
      }
      input{
        background:#F5F5F5;
        border-radius:2px;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        -o-border-radius:2px;
        width:8.4rem;
        height:1.2rem;
        line-height:.5rem;
        padding:.35rem 0;
        outline:none;
        border:none;
        color:#5E7295;
        font-size:.3733rem;
        padding-left: .4rem;
      }
      .other{
        margin-top:.5866rem;
        font-size:.3733rem;
        color:#A1B6CF;
        line-height:.3733rem;
        .retrieve{  }
        .register{  }
      }
      .next{
        outline:none;
        border:none;
        border-radius:100px;
        -moz-border-radius:100px;
        -webkit-border-radius:100px;
        -o-border-radius:100px;
        background:#F5F5F5;
        color:#A1B6CF;
        margin-top:.6933rem;
        width:5.6533rem;
        height:.9333rem;
        line-height:.9333rem;
        font-size:.4266rem;
      }
    }
  }
  //银行卡审核
  .under_review{
    height:100%;
    overflow-y: auto;
    background:#fff;
    -webkit-overflow-scrolling: touch;
    .header{
      position:relative;
      text-align:center;
      height:1.333rem;
      line-height:1.333rem;
      background:#fff;
      border-bottom:1px solid #eee;
      .icon-mail_fanhui{
        position:absolute;
        left:0;
        height:1.333rem;
        line-height:1.333rem;
        text-align:center;
        width:1.333rem;
        color:#8c8c8c;
      }
      .title{
        font-size:.48rem;
        color:#5f5f5f;
      }
    }
    .material{
      text-align:center;
      span{
        font-size:1.573rem;
        color:#F35254;
        display:block;
        margin:0 auto;
        margin-top:2.013rem;
      }
      h2{
        margin-top:.56rem;
        color:#3F3F3F;
        font-size:.5333rem;
      }
      .p1{
        margin-top:.453rem;
        color:#999;
        font-size:.32rem;
      }
      .p2{
        color:#999;
        font-size:.32rem;
      }
      .completer{
        width:5.653rem;
        height:.933rem;
        text-align:center;
        line-height:.933rem;
        color:#EF5557;
        outline:none;
        border:1px solid #FF4747;
        border-radius:100px;
        display:block;
        background:#fff;
        margin:0 auto;
        font-size:.426rem;
        margin-top:.853rem;
      }
    }
  }
  //没有任何数据的展示
  .null-state{
    position:fixed;
    top:2.66633rem;
    text-align:center;
    left:0;
    right:0;
    background:#fff;
    width:100%;
    height:100%;
    margin:0 auto;
    img{
      opacity:.6;
      width:4rem;
      height:4rem;
      margin-top:2rem;
      margin-left:-1.3rem;
    }
    p{
      font-size: .373rem;
      color: #999999;
      letter-spacing: -0.34px;
    }
  }
  //找回密码
  .retrieve_password{
    overflow-y: auto;
    height:100%;
    background:#fff;
    -webkit-overflow-scrolling: touch;
    .header{
      position:relative;
      text-align:center;
      height:1.333rem;
      line-height:1.333rem;
      .icon-mail_fanhui{
        position:absolute;
        left:0;
        height:1.333rem;
        line-height:1.333rem;
        text-align:center;
        width:1.333rem;
        color:#8c8c8c;
      }
      .title{
        font-size:.48rem;
        color:#5f5f5f;
      }
    }
    .form{
      text-align:center;
      margin-top:.5rem;
      label{
        position:relative;
        height:1.2rem;
        line-height:1.2rem;
        display:block;
        margin:0 auto;
        width:8.4rem;
        .icon-err{
          position:absolute;
          right:0;
          display:block;
          top:0;
          padding:0 .4266rem;
          color:#CCD5E0;
          line-height:1.2rem;
          height:1.2rem;
          font-size:.32rem;
        }
        .obtain{
          position:absolute;
          right:0;
          display:block;
          top:0;
          width:1.8666rem;
          font-size:.3733rem;
          line-height:1.2rem;
          color:#5E7295;
          height:1.2rem;
        }
      }
      .username{
        .icon-err{
          display:block;
        }
      }
      .username{

      }
      .code{
        margin-top:.4rem;
      }
      input{
        background:#F5F5F5;
        border-radius:2px;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        -o-border-radius:2px;
        width:8.4rem;
        height:1.2rem;
        color:#5E7295;
        line-height:.5rem;
        padding:.35rem 0;
        outline:none;
        font-size:.3733rem;
        border:none;
        padding-left: .4rem;
      }
      .other{
        margin-top:.5866rem;
        font-size:.3733rem;
        color:#A1B6CF;
        line-height:.3733rem;
      }
      .next{
        border:none;
        outline:none;
        background:#F5F5F5;
        border-radius:100px;
        -moz-border-radius:100px;
        -o-border-radius:100px;
        -webkit-border-radius:100px;
        width:5.654rem;
        height:.9333rem;
        color:#a1b6cf;
        font-size:.4266rem;
        margin-top:.9866rem;
      }
    }
  }
  //找回密码2
  .retrieve_password_n{
    overflow-y: auto;
    height:100%;
    background:#fff;
    -webkit-overflow-scrolling: touch;
    .header{
      position:relative;
      text-align:center;
      height:1.333rem;
      line-height:1.333rem;
      .icon-mail_fanhui{
        position:absolute;
        left:0;
        height:1.333rem;
        line-height:1.333rem;
        text-align:center;
        width:1.333rem;
        color:#8c8c8c;
      }
      .title{
        font-size:.48rem;
        color:#5f5f5f;
      }
    }
    .form{
      text-align:center;
      margin-top:.5rem;
      label{
        position:relative;
        height:1.2rem;
        line-height:1.2rem;
        display:block;
        margin:0 auto;
        width:8.4rem;
        .icon-err{
          position:absolute;
          right:0;
          top:0;
          padding:0 .4266rem;
          color:#CCD5E0;
          line-height:1.2rem;
          display:block;
          height:1.2rem;
          font-size:.32rem;
        }
      }
      .password{

      }
      .password-n{
        margin-top:.4rem;
      }
      input{
        background:#F5F5F5;
        border-radius:2px;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        -o-border-radius:2px;
        width:8.4rem;
        height:1.2rem;
        color:#5E7295;
        line-height:.5rem;
        outline:none;
        border:none;
        font-size:.3733rem;
        padding:.35rem 0;
        padding-left: .4rem;
      }
      .other{
        margin-top:.5866rem;
        font-size:.3733rem;
        color:#A1B6CF;
        line-height:.3733rem;
      }
      .complete{
        border:none;
        outline:none;
        background:#F5F5F5;
        border-radius:100px;
        -moz-border-radius:100px;
        -o-border-radius:100px;
        -webkit-border-radius:100px;
        width:5.654rem;
        height:.9333rem;
        color:#a1b6cf;
        font-size:.4266rem;
        margin-top:.9866rem;
      }
    }
  }
  //上传头像背景遮罩
  .photo_module{
    width:10rem;
    height:100%;
    background:#fff;
    position:absolute;
    top:0;
    left:0;
    z-index:888;
  }
  //弹窗
  .Mask_modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(98,98,98,.5);
    top:0;
    left:0;
  }
  //未收到验证短信
  .Message-Test{
    width: 8.4rem;
    //height: 10.1333rem;
    //height: auto;
    background-color: #fff;
    border-radius: 0.13333rem;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    .icon-close{
      font-weight: bold;
      position: absolute;
      right: 0;
      top: 0;
      width:1.333rem;
      font-size:.4933rem;
      text-align:center;
      color:#A2A2A2;
      line-height:1.333rem;
      height:1.333rem;
    }
    .message-title{
      font-size: 0.58667rem;
      color: #656565;
      margin: 0.74667rem 0;
      text-align: center;
    }
    >p{
      width: 6.48rem;
      margin: 0.61333rem auto;
      line-height: 0.5rem;
      color: #656565;
      font-size: 0.32rem;
    }
    .contact-us{
      width: 6.29333rem;
      margin: 0 auto;
      text-align: center;
      p{
        color: #656565;
        font-size: 0.32rem;
      }
      .contact-me{
        color: #ff4747;
        font-size: 0.32rem;
        line-height: 1rem;
        a{
          color: #ff4747;
          padding:20px;
        }
      }
    }
    .common{
      width: 6.2933rem;
      height: 0.8rem;
      border-radius: 100px;
      text-align: center;
      line-height: 0.8rem;
      color: #A7BAD3;
      font-size: 0.32rem;
      margin: 0.45333rem auto;
      background:#f5f5f5;
    }
    .resend-code{
      margin-top: 1rem;
    }
    .voice-valid{
      margin-bottom: 0.8rem;
    }
  }
  //电话验证码
  .Voice-Test{
    width: 8.4rem;
    //height: 5.3333rem;
    background-color: #fff;
    border-radius: 0.13333rem;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    .icon-close{
      font-weight: bold;
      position: absolute;
      right: 0;
      top: 0;
      width:1.333rem;
      font-size:.4933rem;
      text-align:center;
      color:#A2A2A2;
      line-height:1.333rem;
      height:1.333rem;
    }
    .tel-icon{
      //background-color: red;
      width: 1.22667rem;
      height: 1.22667rem;
      margin: 0.69334rem auto;
      .icon-maoduo99{
        color: #ff4747;
        font-size: 1.22667rem;
      }
    }
    .message-tips{
      font-size: 0.32rem;
      text-align: center;
      color: #656565;
    }
    .confirm{
      width: 6.2933rem;
      height: 0.8rem;
      border-radius: 100px;
      background: #ff4747;
      text-align: center;
      line-height: 0.8rem;
      color: #fff;
      font-size: 0.32rem;
      margin: 0.69333rem auto;
    }
  }
  //短信验证码
  .Message-Code{
    width: 8.4rem;
    //height: 5.3333rem;
    background-color: #fff;
    border-radius: 0.13333rem;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    z-index:3;
    .icon-close{
      font-weight: bold;
      position: absolute;
      right: 0;
      top: 0;
      width:1.333rem;
      font-size:.4933rem;
      text-align:center;
      color:#A2A2A2;
      line-height:1.333rem;
      height:1.333rem;
    }
    .mess-icon{
      //background-color: red;
      height: 1.38667rem;
      width: 1.25333rem;
      margin: 0.8rem auto;
      .icon-maoduo94{
        color: #ff5e54;
        font-size: 1.38667rem;
      }
    }
    .pic-valid{
      position: relative;
      width: 6.8rem;
      height: 1.0667rem;
      margin: 0.8rem auto;
      margin-top: 1.0667rem;
      background-color: #F6F8FA;
      input{
        background:#F5F5F5;
        border-radius:2px;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        -o-border-radius:2px;
        width: 4.56rem;
        height: 1.0667rem;
        line-height:.5rem;
        outline:none;
        border:none;
        color:#5E7295;
        font-size:.3733rem;
        padding:.28335rem 0;
        padding-left: .4rem;
        float:left;
      }
      .code-img{
        width: 2.24rem;
        height: .82666rem;
        float:left;
        margin-top:.12002rem;
        background-color: #fff;
        img{
          width: 2.24rem;
          height: .82666rem;
        }
      }
    }
    .get-message{
      width: 6.5rem;
      height: 1.0667rem;
      border-radius: 100px;
      background: #ff5e54;
      text-align: center;
      line-height: 1.0667rem;
      color: #fff;.email-detail{
      display: none;
      width: 100%;
      height: 100%;
      .detail-title{
        width: 100%;
        height: 1.3334rem;
        line-height: 1.3334rem;
        padding: 0 0.48rem;
        border-bottom: 1px solid #eee;
        color: #5094e2;
        font-size: 0.37333rem;
        .inbox{
          float: left;
          width: 1.8rem;
          height: 100%;
        }
        .page-change{
          float: right;
          width: 2rem;
          height: 100%;
          //background-color: red;
          .icon-caret-angle-up{
            font-size: 0.5rem;
          }
          .icon-caret-angle-bottom{
            font-size: 0.5rem;
            //float: right;
          }
        }
        .email-detail-title{
          width: 2rem;
          margin: 0 auto;
          font-size: 0.48rem;
        }
      }
      .detail-head{
        width: 100%;
        height: 4rem;
        padding: 0 0.6667rem;
        border-bottom: 1px solid #eee;
        .email-subject{
          color: #323232;
          font-size: 0.37333rem;
          font-weight: bold;
          line-height: 0.7rem;
          margin-top: 0.3rem;
        }
        .customer{
          font-size: 0.37333rem;
          color: #999;
          line-height: 0.8rem;
        }
        .date{
          font-size: 0.32rem;
          color: #999;
          line-height: 0.65rem;
        }
        .product{
          font-size: 0.32rem;
          color: #999;
          line-height: 0.65rem;
        }
        .price{
          font-size: 0.32rem;
          color: #999;
          line-height: 0.65rem;
        }
      }
    }
      font-size: 0.4rem;
      margin: 0.69333rem auto;
    }
  }
}