<div class="email-main" style="width:10rem;height:100%;margin:0 auto;background:#f5f5f5;">
    <!--邮件首页-->
    <div class="menue-box" id="menue-box" >
        <div class="menue-box-modal hidden">
            <div class="list-box">
                <div class="list write-email">
                    <span class="icon-search-email-circle icon"></span>
                    <span class="text">写邮件</span>
                </div>
                <div class="list add-customer min">
                    <span class="icon-search-email-circle icon"></span>
                    <span class="text">添加客户</span>
                </div>
                <div class="list new-modal">
                    <span class="icon-search-email-circle icon"></span>
                    <span class="text">新建模板</span>
                </div>
                <div class="list price">
                    <span class="icon-search-email-circle icon"></span>
                    <span class="text">报价单</span>
                </div>
                <div class="list order min">
                    <span class="icon-search-email-circle icon"></span>
                    <span class="text">订单</span>
                </div>
            </div>
            <div class="close">×</div>
        </div>
        <div class="top">
            <span class="title">邮件</span>
        </div>
        <div class="menue-content">
            <div class="menue-list inbox">
                <span class="icon-message-cir icon"></span>
                <span class="text">收件箱</span>
                <span class="rt">
                    <span class="num"></span>
                    <span class="icon-to-right icon"></span>
                </span>
            </div>
            <div class="menue-list hadsend">
                <span class="icon-star icon"></span>
                <span class="text">已发送</span>
                <span class="rt">
                    <span class="icon-to-right icon"></span>
                </span>
            </div>
            <div class="menue-list qunfajilu">
                <span class="icon-star icon"></span>
                <span class="text">群发记录</span>
                <span class="rt">
                    <span class="icon-to-right icon"></span>
                </span>
            </div>
            <div class="menue-list emailmodal">
                <span class="icon-me_node icon"></span>
                <span class="text">邮件模板</span>
                <span class="rt">
                    <span class="icon-to-right icon"></span>
                </span>
            </div>
            <!--
            <div class="menue-list draft fenge">
                <span class="icon-mail_down icon"></span>
                <span class="text">草稿箱</span>
                <span class="rt">
                    <span class="num">1</span>
                    <span class="icon-to-right icon"></span>
                </span>
            </div>
            -->
            <div class="menue-list had-delete">
                <span class="icon-shared-circle icon"></span>
                <span class="text">已删除</span>
                <span class="rt">
                    <span class="icon-to-right icon"></span>
                </span>
            </div>
            <div class="menue-list customer">
                <span class="icon-mail_down icon"></span>
                <span class="text">客户归档</span>
                <span class="rt">
                    <span class="icon-to-right icon"></span>
                </span>
            </div>
        </div>
        <div class="icon-new-write add"></div>
        <div class="menue-bottom">
            <div class="bottom-list product">
                <span class="icon-tab_box icon"></span>
                <span class="text">产品</span>
            </div>
            <div class="bottom-list customer">
                <span class="icon-tab_kehu icon"></span>
                <span class="text">客户</span>
            </div>
            <div class="bottom-list email active">
                <span class="icon-tab_youjian icon"></span>
                <span class="text">邮件</span>
            </div>
            <div class="bottom-list receipts">
                <span class="icon-tab_danju icon"></span>
                <span class="text">单据</span>
            </div>
            <div class="bottom-list mime">
                <span class="icon-tab_wode icon"></span>
                <span class="text">我的</span>
            </div>
        </div>
    </div>
    <!--收件箱-->
    <div class="inbox0 hidden" id="inbox0" >
        <div class="email-head">
            <div class="inbox-top">
                <div class="lf tobackbox">
                    <span class="icon-mail_fanhui icon lf"></span>
                </div>
                <h4 class="text-center">
                    <span class="text">收件箱</span>
                    (<span class="num">0</span>)
                </h4>
                <div class="rt">
                    <div class="icon0">
                        <span class="icon-maoduo101 icon"></span>
                    </div>
                    <!--<div class="icon1">-->
                    <!--<span class="icon-mail_bianji icon"></span>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="top">
                <span class="lf select-all">全选</span>
                <h4 class="text-center">已选择<span class="num">0</span>封</h4>
                <span class="cansel rt">取消</span>
            </div>
        </div>
        <div class="delete-btn">
            <span class="icon-shred icon"></span>
            <h3 class="text">删除</h3>
        </div>
        <div class="inbox-content">
            <div class="search-box">
                <div class="dicen"><span class="icon-search icon"></span><span>搜索邮件标题或内容</span></div>
                <input type="text" class="search-input">
            </div>
            <div class="content-list">

            </div>
            <div class="more abled">加载更多</div>
        </div>
        <div class="no-count hidden"><img src="images/nocount_0.svg" alt=""><p class="text">暂时没有收到的邮件</p></div>
        <div id="get-email-example" style="display: none;">
            <div class="list abled">
                <div class="icon-border">
                    <div class="iconleft-box">
                        <div class="red-dot"></div>
                        <span class="iconleft">V</span>
                    </div>
                    <span class="icon-right-null check"></span>
                </div>


                <h3 class="title">
                    <span class="text">VivianV</span><span class="rt"><span class="time">昨天 12:28</span><span class="icon-to-right"></span></span>
                </h3>
                <h4 class="title-too">USB Driver and MOney</h4>
                <p class="content">format multiple usb, deploy multiple usb, collect from usb, format several usb, deploy...</p>
            </div>
        </div>
    </div>

    <!--收件箱里面的邮件详细-->
    <div class="inbox-email-detail hidden" id="inbox-email-detail">
        <div class="detail-title">
            <div class="inbox">
                <span class="icon-mail_fanhui"></span>
                <span>收件箱</span>
            </div>
            <div class="page-change">
                <!--<span class="icon-caret-angle-up prev" data-type="0">上</span>-->
                <!--<span class="icon-caret-angle-bottom next" data-type="1">下</span>-->
            </div>
            <div class="email-detail-title">邮件详细</div>
        </div>
        <div class="content">
            <div class="detail-head">
                <div class="email-subject">USB Driver and Money</div>
                <div class="customer"><span class="name lf">客户：</span><input type="text" class="text lf"></div>
                <div class="link-net">
                    <span class="name lf">抄送：</span>
                    <span class="text lf show-all-content"></span>
                    <span class="show-all rt">展开</span>
                </div>
                <div class="date"><span class="name lf">时间：</span><span class="text lf">2016年12月28日 12:56</span></div>
            </div>
            <div class="zihu-content">
                <div class="content-box">
                    及
                </div>
                <div class="list-box">

                </div>
                <div class="modalFujian">
                    <div class="list hidden">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <div class="lf box">
                            <h3 class="name">USB Driver-todaysgrgregregregregreports-2016-1208.pdf</h3>
                            <span class="count">1.2M</span>
                        </div>
                    </div>
                    <div class="imgbox hidden">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <img src="images/gif.gif" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="reply-box lf" data-type="0">
                <span class="icon-maoduo55 icon"></span>
                <p class="text">回复</p>
            </div>
            <!--<div class="reply-all-box lf" data-type="1">-->
                <!--<span class="icon-reply-all icon"></span>-->
                <!--<p class="text">回复全部</p>-->
            <!--</div>-->
        </div>
    </div>


    <!--收件箱回复       -->
    <div class="inbox-reply-mail hidden" id="inbox-reply-mail">
        <div class="header">
            <span class="head-left">取消</span>
            <span class="title">回复邮件</span>
            <span class="head-right">发送</span>
        </div>
        <div class="content">
            <div class="Addressee-theme">
                <div class="Addressee">
                    <span class="ressee">收件人:</span>
                    <ul class="names">
                        <li>Karey <span class="icon-shred"></span></li>
                        <li>Mary <span class="icon-shred"></span></li>
                        <li>dragsodason <span class="icon-shred"></span></li>
                        <li>jarxyason <span class="icon-shred"></span></li>
                    </ul>
                    <span class="icon-me_setting"></span>
                </div>
                <div class="Theme">
                    <span class="theme">主题:</span>
                    <div class="content" contenteditable="true">Multi color cushion & Very soft cushionvery  good  products  introduce！</div>
                    <span class="icon-mail_add"></span>
                </div>
            </div>
            <div class="mail-subject">
                <p class="mail-title">Multi color cushion & Very soft cushion</p>
                <p class="mail-number">ProductNo ：A12314</p>
                <p class="mail-introduce">usb pnjxnsj axjadnxj xknxakjxa xajixkx xa xajkxa x iajxjkaxjkaxkaxjiajiaxjkaxakjx xajkxajk</p>
                <div class="mail-picture">
                    <div class="addpictureBTN-box"><input type="file" accept="*" id="addpictureBTN" ></div>
                </div>
                <div class="quotation-box">
                    <div class="quotations">
                        <span class="icon-mail_add"></span>
                        <span class="title"><h2 class="names">Multi color cushion  inquiry</h2><p class="sizes">236.6k</p></span>
                        <span class="icon-shred"></span>
                    </div>
                    <div class="quotations">
                        <span class="icon-mail_add"></span>
                        <span class="title"><h2 class="names">Multi color cushion  inquiry</h2><p class="sizes">236.6k</p></span>
                        <span class="icon-shred"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="footer-left"><i class="icon-mail_ballute"></i> 邮件书写说明</span>
            <span class="footer-right"><i class="icon-me_setting"></i><i class="icon-me_download"></i></span>
        </div>
    </div>
    <!--收件箱搜索页面-->
    <div class="mail-search-page hidden" id="mail-search-page">
        <div class="top">
            <span class="icon-mail_fanhui icon"></span>
            <h4 class="text-center">邮件搜索</h4>
            <span class="search">搜索</span>
        </div>
        <div class="content">
            <div class="search-box">
                <input type="text" class="input" placeholder="请输入关键词">
            </div>
        </div>
    </div>
    <!--已发送-->
    <div class="hadsend-box hidden" id="hadsend-box">
        <div class="email-head">
            <div class="inbox-top">
                <div class="lf tobackbox">
                    <span class="icon-mail_fanhui icon lf"></span>
                </div>
                <h4 class="text-center">
                    <span class="text">发件箱</span>
                    (<span class="num">0</span>)
                </h4>
                <div class="rt">
                    <div class="icon0">
                        <span class="icon-maoduo101 icon"></span>
                    </div>
                    <!--<div class="icon1">-->
                    <!--<span class="icon-mail_bianji icon"></span>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="top">
                <span class="lf select-all">全选</span>
                <h4 class="text-center">已选择<span class="num">0</span>封</h4>
                <span class="cansel rt">取消</span>
            </div>
        </div>

        <div class="delete-btn">
            <span class="icon-shred icon"></span>
            <h3 class="text">删除</h3>
        </div>
        <div class="inbox-content">
            <div class="search-box">
                <div class="dicen"><span class="icon-search icon"></span><span>搜索邮件标题或内容</span></div>
                <input type="text" class="search-input">
            </div>
            <div class="content-list">

            </div>
            <div class="more abled">加载更多</div>
        </div>
        <div id="send-email-example" style="display: none;">
            <div class="list abled">
                <div class="icon-border">
                    <div class="iconleft-box">
                        <span class="red-dot"></span>
                        <span class="iconleft">V</span>
                    </div>
                    <span class="icon-right-null check"></span>
                </div>

                <h3 class="title">
                    <span class="text">VivianV</span><span class="rt"><span class="time">昨天 12:28</span><span class="icon-to-right"></span></span>
                </h3>
                <h4 class="title-too">USB Driver and MOney</h4>
                <p class="content">format multiple usb, deploy multiple usb, collect from usb, format several usb, deploy...</p>
            </div>
        </div>
        <div class="no-count hidden"><img src="images/nocount_0.svg" alt=""><p class="text">暂时没有已发送的邮件</p></div>
    </div>

    <!--已发送里面的邮件详情-->
    <div class="hadsend-mail-detail hidden" id="hadsend-mail-detail">
        <div class="detail-title">
            <div class="inbox">
                <span class="icon-mail_fanhui"></span>
                <span>已发送</span>
            </div>
            <div class="page-change">
                <!--<span class="icon-caret-angle-up prev" data-type="0">上</span>-->
                <!--<span class="icon-caret-angle-bottom next" data-type="1">下</span>-->
            </div>
            <div class="email-detail-title">邮件详细</div>
        </div>
        <div class="content">
            <div class="detail-head">
                <div class="email-subject">USB Driver and Money</div>
                <div class="customer"><span class="name lf">客户：</span><input type="text" class="text lf"></div>
                <!--<div class="link-net">-->
                    <!--<span class="name lf">抄送：</span>-->
                    <!--<span class="text lf show-all-content">frfr、的我的、的的我顾客如果客人公开热裤仍然可观若客官热裤供热</span>-->
                    <!--<span class="show-all rt">展开</span  >-->
                <!--</div>-->
                <div class="date"><span class="name lf">时间：</span><span class="text lf">2016年12月28日 12:56</span></div>
            </div>
            <div class="zihu-content">
                <div class="content-box">
                    及覅感觉
                </div>
                <div class="list-box">

                </div>
            </div>
            <div class="modalClone">
                <div class="list hidden">
                    <a class="icon-maoduo18 icon lf" href=""></a>
                    <div class="lf box">
                        <h3 class="name">USB Driver-todaysgrgregregregregreports-2016-1208.pdf</h3>
                        <span class="count">1.2M</span>
                    </div>
                </div>
                <div class="imgbox hidden">
                    <a class="icon-maoduo18 icon lf" href=""></a>
                    <img src="images/gif.gif" alt="">
                </div>
            </div>
        </div>
        <div class="bottom">
            <span class="icon-maoduo53 icon"></span>
            <p class="text">再次编辑</p>
        </div>
    </div>


    <!--已发送回复-->
    <div class="hassend-reply-mail hidden" id="hassend-reply-mail">
        <div class="header">
            <span class="head-left">取消</span>
            <span class="title">回复邮件</span>
            <span class="head-right">发送</span>
        </div>
        <div class="content">
            <div class="Addressee-theme">
                <div class="Addressee">
                    <span class="ressee">收件人:</span>
                    <ul class="names">
                        <li>Karey <span class="icon-mail_shred"></span></li>
                        <li>Mary <span class="icon-mail_shred"></span></li>
                        <li>dragsodason <span class="icon-mail_shred"></span></li>
                        <li>jarxyason <span class="icon-mail_shred"></span></li>
                    </ul>
                    <span class="icon-me_setting"></span>
                </div>
                <div class="Theme">
                    <span class="theme">主题:</span>
                    <div class="content" contenteditable="true">Multi color cushion & Very soft cushionvery  good  products  introduce！</div>
                    <span class="icon-mail_add"></span>
                </div>
            </div>
            <div class="mail-subject">
                <p class="mail-title">Multi color cushion & Very soft cushion</p>
                <p class="mail-number">ProductNo ：A12314</p>
                <p class="mail-introduce">usb pnjxnsj axjadnxj xknxakjxa xajixkx xa xajkxa x iajxjkaxjkaxkaxjiajiaxjkaxakjx xajkxajk</p>
                <div class="mail-picture">
                    <div class="addpictureBTN-box"><input type="file" accept="*" id="addpictureBTN" ></div>
                </div>
                <div class="quotation-box">
                    <div class="quotations">
                        <span class="icon-mail_add"></span>
                        <span class="title"><h2 class="names">Multi color cushion  inquiry</h2><p class="sizes">236.6k</p></span>
                        <span class="icon-mail_shred"></span>
                    </div>
                    <div class="quotations">
                        <span class="icon-mail_add"></span>
                        <span class="title"><h2 class="names">Multi color cushion  inquiry</h2><p class="sizes">236.6k</p></span>
                        <span class="icon-mail_shred"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="footer-left"><i class="icon-mail_ballute"></i> 邮件书写说明</span>
            <span class="footer-right"><i class="icon-me_setting"></i><i class="icon-me_download"></i></span>
        </div>
    </div>
    <!--群发记录-->
    <div class="all-send-history hidden" id="all-send-history">
        <div class="inbox-top normal">
            <div class="lf tobackbox">
                <span class="icon-mail_fanhui icon lf"></span>
            </div>
            <h4 class="text-center">
                <span class="text">群发记录</span>
            </h4>
            <div class="rt">
                <div class="icon0">
                    <span class="icon-maoduo101 icon"></span>
                </div>
                <div class="icon1">
                    <span class="icon-mail_bianji icon"></span>
                </div>
            </div>
        </div>
        <div class="top bianji hidden">
            <span class="lf select-all">全选</span>
            <h4 class="text-center">已选择<span class="num">0</span>封</h4>
            <span class="cansel rt">取消</span>
        </div>
        <div class="inbox-content">
            <div class="search-box normal">
                <div class="dicen"><span class="icon-search icon"></span><span>搜索邮件标题或内容</span></div>
                <input type="text" class="search-input">
            </div>
            <div class="delete-btn bianji hidden">
                <span class="icon-shred icon"></span>
                <h3 class="text">删除</h3>
            </div>
            <div class="content-list">
                <div class="list">
                    <div class="iconleft-box normal">
                        <span class="iconleft">V</span>
                    </div>
                    <span class="icon-right-null iconl bianji hidden"></span>
                    <h3 class="title">
                        <span class="text">VivianV</span><span class="rt"><span class="time">昨天 12:28</span><span class="icon-to-right"></span></span>
                    </h3>
                    <h4 class="title-too">USB Driver and MOney</h4>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format several usb, deploy...</p>
                </div>
                <div class="list">
                    <div class="iconleft-box normal">
                        <span class="iconleft">V</span>
                    </div>
                    <span class="icon-right-null iconl bianji hidden"></span>
                    <h3 class="title">
                        <span class="text">VivianV</span><span class="rt"><span class="time">昨天 12:28</span><span class="icon-to-right"></span></span>
                    </h3>
                    <h4 class="title-too">USB Driver and MOney</h4>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format several usb, deploy...</p>
                </div>
                <div class="list">
                    <div class="iconleft-box normal">
                        <span class="iconleft">V</span>
                    </div>
                    <span class="icon-right-null iconl bianji hidden"></span>
                    <h3 class="title">
                        <span class="text">VivianV</span><span class="rt"><span class="time">昨天 12:28</span><span class="icon-to-right"></span></span>
                    </h3>
                    <h4 class="title-too">USB Driver and MOney</h4>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format several usb, deploy...</p>
                </div>
            </div>
            <div class="more">加载更多</div>
        </div>
        <div class="no-count hidden"><img src="images/nocount_0.svg" alt=""><p class="text">暂时没有群发记录</p></div>
    </div>
    <!--群发记录邮件详情-->
    <div class="all-send-history-mial-detail hidden" id="all-send-history-mial-detail">
        <div class="detail-title">
            <div class="inbox">
                <span class="icon-mail_fanhui"></span>
                <span>群发记录</span>
            </div>
            <div class="page-change">
                <span class="icon-caret-angle-up"></span>
                <span class="icon-caret-angle-bottom"></span>
            </div>
            <div class="email-detail-title">邮件详细</div>
        </div>
        <div class="content">
            <div class="detail-head">
                <div class="email-subject">USB Driver and Money</div>
                <div class="customer"><span class="name lf">收件人：</span><input class="text lf"/></div>
                <!--<div class="link-net">-->
                    <!--<span class="name lf">抄送：</span>-->
                    <!--<span class="text lf show-all-content">frfr、的我的、的的我顾客如果客人公开热裤仍然可观若客官热裤供热</span>-->
                    <!--<span class="show-all rt">展开</span>-->
                <!--</div>-->
                <div class="date"><span class="name lf">时间：</span><span class="text lf">2016年12月28日 12:56</span></div>
            </div>
            <div class="zihu-content">
                <div class="content-box">
                    及
                </div>
                <div class="list-box">

                </div>
                <div class="modalFujian">
                    <div class="list hidden">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <div class="lf box">
                            <h3 class="name">USB Driver-todaysgrgregregregregreports-2016-1208.pdf</h3>
                            <span class="count">1.2M</span>
                        </div>
                    </div>
                    <div class="imgbox hidden">
                        <a class="icon-maoduo18 icon lf" href="" target="_parent"></a>
                        <img src="images/gif.gif" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <span class="icon-maoduo53 icon"></span>
            <p class="text">再次编辑</p>
        </div>
    </div>
    <!--已删除-->
    <div class="haddelete hidden" id="haddelete">
        <div class="top1 normalpage">
            <h3 class="text"><span class="icon-mail_fanhui iconlf"></span>已删除<span class="icon-maoduo101 iconrt"></span></h3>
        </div>
        <div class="top hidden bianjipage">
            <span class="lf select-all">全选</span>
            <h4 class="text-center">已选择<span class="num">0</span>封</h4>
            <span class="cansel rt">取消</span>
        </div>
        <div class="recover-content">
            <!--<div class="search-box normalpage">-->
                <!--<div class="dicen"><span class="icon-search icon"></span><span>搜索邮件标题或内容</span></div>-->
                <!--<input type="text" class="search-input">-->
            <!--</div>-->
            <div class="nav-box">
                <span class="nav active" data-type="dan">邮件已删除</span>
                <span class="nav" data-type="qun">群发已删除</span>
            </div>
            <div class="recover-btn hidden bianjipage">
                <span class="icon-maoduo54 icon"></span>
                <h3 class="text">恢复</h3>
            </div>
            <div class="mail-box box">
                <div class="content-list">
                    <!--
                    <div class="list" data-id="12">
                        <div class="iconleft-box normalpage ">
                            <span class="iconleft">V</span>
                        </div>
                        <span class="bianjipage icon-right-null icon hidden"></span>
                        <h3 class="title">
                            <span class="text">VivianV</span><span class="rt"><span class="time">昨天 12:28</span><span class="icon-to-right"></span></span>
                        </h3>
                        <h4 class="title-too">USB Driver and MOney</h4>
                        <p class="content">format multiple usb, deploy multiple usb, collect from usb, format several usb, deploy...</p>
                    </div>
                    -->
                </div>
                <div class="more">加载更多</div>
            </div>
            <div class="mailgroup-box box hidden">
                <div class="content-list">
                    <!--

                    -->
                </div>
                <div class="more">加载更多</div>
                <div class="list hidden cloneModal" data-id="12">
                    <div class="iconleft-box normalpage ">
                        <span class="iconleft">V</span>
                    </div>
                    <span class="bianjipage icon-right-null icon hidden"></span>
                    <h3 class="title">
                        <span class="text">VivianV</span><span class="rt"><span class="time">昨天 12:28</span><span class="icon-to-right"></span></span>
                    </h3>
                    <h4 class="title-too">USB Driver and MOney</h4>
                    <p class="content">format multiple usb, deploy multiple usb, collect from usb, format several usb, deploy...</p>
                </div>
            </div>
        </div>
        <div class="no-count hidden"><img src="images/nocount_0.svg" alt=""><p class="text">暂时没有已删除的邮件</p></div>
    </div>
    <!--已删除邮件详细-->
    <div class="remove-email-detail hidden" id="remove-email-detail">
        <div class="detail-title">
            <div class="inbox">
                <span class="icon-mail_fanhui"></span>
                <span>已删除</span>
            </div>
            <div class="page-change">
                <span class="icon-caret-angle-up"></span>
                <span class="icon-caret-angle-bottom"></span>
            </div>
            <div class="email-detail-title">邮件详细</div>
        </div>
        <div class="content">
            <div class="detail-head">
                <div class="email-subject">USB Driver and Money</div>
                <div class="customer"><span class="name lf">客户：</span><input type="text" class="text lf"></div>
                <div class="link-net">
                    <span class="name lf">抄送：</span>
                    <span class="text lf show-all-content"></span>
                    <span class="show-all rt">展开</span>
                </div>
                <div class="date"><span class="name lf">时间：</span><span class="text lf">2016年12月28日 12:56</span></div>
            </div>
            <div class="zihu-content">
                <div class="content-box">
                    及
                </div>
                <div class="list-box">

                </div>
                <div class="modalFujian">
                    <div class="list hidden">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <div class="lf box">
                            <h3 class="name">USB Driver-todaysgrgregregregregreports-2016-1208.pdf</h3>
                            <span class="count">1.2M</span>
                        </div>
                    </div>
                    <div class="imgbox hidden">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <img src="images/gif.gif" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="bottom">-->
            <!--<div class="reply-box lf">-->
                <!--<span class="icon-to-right icon" data-type="0"></span>-->
                <!--<p class="text">回复</p>-->
            <!--</div>-->
            <!--<div class="reply-all-box lf" data-type="1">-->
                <!--<span class="icon-to-right icon"></span>-->
                <!--<p class="text">回复全部</p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <!--草稿箱-->
    <div class="drafts0 hidden" id="drafts0" >
        <div class="inbox-top normal">
            <div class="lf tobackbox">
                <span class="icon-mail_fanhui icon lf"></span>
            </div>
            <h4 class="text-center">
                <span class="text">草稿箱</span>
            </h4>
            <div class="rt">
                <div class="icon0 rt">
                    <span class="icon-maoduo101 icon"></span>
                </div>
            </div>
        </div>
        <div class="top hidden bianji">
            <span class="lf select-all">全选</span>
            <h4 class="text-center">已选择<span class="num">0</span>封</h4>
            <span class="cansel rt">取消</span>
        </div>
        <div class="inbox-content">
            <div class="search-box normal">
                <div class="dicen"><span class="icon-search icon"></span><span>搜索邮件标题或内容</span></div>
                <input type="text" class="search-input">
            </div>
            <div class="delete-btn hidden bianji">
                <span class="icon-shred icon"></span>
                <h3 class="text">删除</h3>
            </div>
            <div class="content-list">
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">V</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">VivianV</span><span class="rt"><span class="time">昨天 12:28</span><span class="icon-to-right"></span></span>-->
                    <!--</h3>-->
                    <!--<h4 class="title-too">USB Driver and MOney</h4>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format several usb, deploy...</p>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">V</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">VivianV</span><span class="rt"><span class="time">昨天 12:28</span><span class="icon-to-right"></span></span>-->
                    <!--</h3>-->
                    <!--<h4 class="title-too">USB Driver and MOney</h4>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format several usb, deploy...</p>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="iconleft-box">-->
                        <!--<span class="iconleft">V</span>-->
                    <!--</div>-->
                    <!--<h3 class="title">-->
                        <!--<span class="text">VivianV</span><span class="rt"><span class="time">昨天 12:28</span><span class="icon-to-right"></span></span>-->
                    <!--</h3>-->
                    <!--<h4 class="title-too">USB Driver and MOney</h4>-->
                    <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format several usb, deploy...</p>-->
                <!--</div>-->
            </div>
            <div class="more">加载更多</div>
            <div class="canselmodal hidden">
                <div class="content">
                    <h3 class="title">是否删除草稿</h3>
                    <h4 class="text">此操作将无法撤销</h4>
                    <h4 class="text">确定要永久删除选中的草稿？</h4>
                    <div class="list btn1">删除</div>
                    <div class="list btn2">取消</div>
                </div>
            </div>
        </div>

    </div>
    <!--草稿箱再次编辑-->
    <div class="caogao-edit hidden writeEmailPage" id="caogao-edit">
        <div class="header">
            <span class="head-left">取消</span>
            <span class="title">再次编辑</span>
            <span class="head-right">发送</span>
        </div>
        <div class="cansel-box hidden">
            <div class="content">
                <h3 class="title">是否保存修改</h3>
                <span class="list li0" data-type="0">放弃修改</span>
                <span class="list li1" data-type="1">保存修改</span>
                <span class="list li2" data-type="2">取消</span>
            </div>
        </div>
        <div class="content0">
            <div class="Addressee-theme">
                <div class="Addressee">
                    <span class="ressee">收件人:</span>
                    <ul class="names">
                        <!--<li>Karey <span class="icon-shred"></span></li>-->
                        <!--<li>Mary <span class="icon-shred"></span></li>-->
                        <!--<li>dragsodason <span class="icon-shred"></span></li>-->
                        <!--<li>jarxyason <span class="icon-shred"></span></li>-->
                        <!--<li>Karey <span class="icon-shred"></span></li>-->
                        <!--<li>Mary <span class="icon-shred"></span></li>-->
                        <!--<li>dragsodason <span class="icon-shred"></span></li>-->
                        <!--<li>jarxyason <span class="icon-shred"></span></li>-->
                    </ul>
                    <span class="icon-add-partner icon"></span>
                    <span class="clickType">收起</span>
                </div>
                <div class="Theme">
                    <span class="theme">主题:</span>
                    <textarea class="content mail-number" maxlength="100"></textarea>
                    <span class="icon-text-add icon"></span>
                </div>
            </div>
            <div class="mail-subject">
                <!--<p class="mail-title">Multi color cushion & Very soft cushion</p>-->
                <textarea class="mail-number" autoHeight="true" maxlength="1000"></textarea>
                <!--<p class="mail-introduce">usb pnjxnsj axjadnxj xknxakjxa xajixkx xa xajkxa x iajxjkaxjkaxkaxjiajiaxjkaxakjx xajkxajk</p>-->
                <div class="mail-picture">

                </div>
                <div class="quotation-box">
                    <div class="quotations">
                        <span class="icon-price-dan icon0"></span>
                        <span class="title"><h2 class="names">Multi color cushion  inquiry</h2><p class="sizes">236.6k</p></span>
                        <span class="icon-mistake icon1"></span>
                    </div>
                    <div class="quotations">
                        <span class="icon-price-dan icon0"></span>
                        <span class="title"><h2 class="names">Multi color cushion  inquiry</h2><p class="sizes">236.6k</p></span>
                        <span class="icon-mistake icon1"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="footer-left"><i class="icon-wenhao icon"></i> 邮件书写说明</span>
            <span class="footer-right"><span class="icon-price-dan icon icondan" id="abc123" data-type="dan"></span><i class="icon-img icon" data-type="tu"></i></span>
            <input type="file" class="caogaobtn" accept="*/*" multiple="multiple">
        </div>
    </div>
    <!--客户归档-->
    <div class="customer-achived hidden" id="customer-achived" >
        <div class="inbox-top">
            <div class="lf tobackbox">
                <span class="icon-mail_fanhui icon lf"></span>
            </div>
            <h4 class="text-center">
                <span class="text">客户归档</span>
            </h4>
            <div class="rt">
                <div class="icon1">
                    <span class="icon-mail_bianji icon"></span>
                </div>
            </div>
        </div>
        <div class="inbox-content">
            <div class="content-list">
                <!--<div class="list">-->
                <!--<div class="iconleft-box">-->
                    <!--<span class="iconleft">V</span>-->
                <!--</div>-->
                <!--<h3 class="title">-->
                    <!--<span class="text">VivianV</span><span class="rt"><span class="time">昨天 12:28</span><span class="icon-to-right"></span></span>-->
                <!--</h3>-->
                <!--<h4 class="title-too">USB Driver and MOney</h4>-->
                <!--<p class="content">format multiple usb, deploy multiple usb, collect from usb, format several usb, deploy...</p>-->
            <!--</div>-->
            </div>
            <div class="more">加载更多</div>
        </div>
        <div class="no-count hidden"><img src="images/nocount_0.svg" alt=""><p class="text">暂时没有客户归档</p></div>
    </div>
    <!--客户归档 往来邮件-->
    <div class="customer-linknet-mail hidden" id="customer-linknet-mail">
        <div class="inbox-top">
            <div class="lf tobackbox">
                <span class="icon-mail_fanhui icon lf"></span>
            </div>
            <h4 class="text-center">
                <span class="text">往来邮件</span>
            </h4>
            <div class="rt">
                <div class="icon0">
                    <span class="icon-maoduo92 icon"></span>
                </div>
            </div>
        </div>
        <div class="inbox-content">
            <div class="search-box">
                <span class="nav active" data-type="全部" data-class=".all-data">全部</span>
                <span class="nav" data-type="收到的" data-class=".get-data">收到的</span>
                <span class="nav" data-type="收到的" data-class=".send-data">发送的</span>
            </div>
            <div class="email-list-border">
                <div class="all-data">
                    <div class="content-list">

                    </div>
                    <div class="more">加载更多</div>
                </div>
                <div class="get-data hidden">
                    <div class="content-list">

                    </div>
                    <div class="more">加载更多</div>
                </div>
                <div class="send-data hidden">
                    <div class="content-list">

                    </div>
                    <div class="more">加载更多</div>
                </div>
            </div>
        </div>
    </div>
    <!--客户归档该联系人里的邮件-->
    <div class="customer-mail-box hidden" id="customer-mail-box">
        <div class="inbox-top">
            <div class="lf tobackbox">
                <span class="icon-mail_fanhui icon lf"></span>
            </div>
            <h4 class="text-center">
                <span class="text">联系人的名字</span>
            </h4>
            <div class="rt">
                <div class="icon0">
                    回复
                </div>
            </div>
        </div>
        <div class="inbox-content">
            <div class="content-list">

            </div>
            <div class="more">加载更多</div>
        </div>
    </div>
    <!--往来邮件详情-->
    <div class="contacts-email-detail hidden" id="contacts-email-detail">
        <div class="detail-title">
            <div class="inbox">
                <span class="icon-mail_fanhui"></span>
                <span></span>
            </div>
            <div class="page-change">
                <span class="icon-caret-angle-up"></span>
                <span class="icon-caret-angle-bottom"></span>
            </div>
            <div class="email-detail-title">邮件详细</div>
        </div>
        <div class="content">
            <div class="detail-head">
                <div class="email-subject">USB Driver and Money</div>
                <div class="customer"><span class="name lf">客户：</span><input type="text" class="text lf"></div>
                <div class="link-net">
                    <span class="name lf">抄送：</span>
                    <span class="text lf show-all-content"></span>
                    <span class="show-all rt">展开</span>
                </div>
                <div class="date"><span class="name lf">时间：</span><span class="text lf">2016年12月28日 12:56</span></div>
            </div>
            <div class="zihu-content">
                <div class="content-box">
                    及
                </div>
                <div class="list-box">

                </div>
                <div class="modalFujian">
                    <div class="list hidden">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <div class="lf box">
                            <h3 class="name">USB Driver-todaysgrgregregregregreports-2016-1208.pdf</h3>
                            <span class="count">1.2M</span>
                        </div>
                    </div>
                    <div class="imgbox hidden">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <img src="images/gif.gif" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="reply-box lf">
                <span class="icon-maoduo55 icon" data-type="0"></span>
                <p class="text">回复</p>
            </div>
        </div>
    </div>
    <!--往来邮件发送详情-->
    <div class="Send-contacts-email-detail hidden" id="Send-contacts-email-detail">
        <div class="detail-title">
            <div class="inbox">
                <span class="icon-mail_fanhui"></span>
                <span></span>
            </div>
            <div class="page-change">
                <span class="icon-caret-angle-up"></span>
                <span class="icon-caret-angle-bottom"></span>
            </div>
            <div class="email-detail-title">邮件详细</div>
        </div>
        <div class="content">
            <div class="detail-head">
                <div class="email-subject">USB Driver and Money</div>
                <div class="customer"><span class="name lf">收件人：</span><input type="text" class="text lf"></div>
                <div class="date"><span class="name lf">时间：</span><span class="text lf">2016年12月28日 12:56</span></div>
            </div>
            <div class="zihu-content">
                <div class="content-box">
                    及
                </div>
                <div class="list-box">

                </div>
                <div class="modalFujian">
                    <div class="list hidden">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <div class="lf box">
                            <h3 class="name">USB Driver-todaysgrgregregregregreports-2016-1208.pdf</h3>
                            <span class="count">1.2M</span>
                        </div>
                    </div>
                    <div class="imgbox hidden">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <img src="images/gif.gif" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="reply-box lf">
                <span class="icon-maoduo53 icon" data-type="0"></span>
                <p class="text">再次编辑</p>
            </div>
        </div>
    </div>
    <!--该联系人收到邮件详情-->
    <div class="ren-get-contacts-detail hidden" id="ren-get-contacts-detail">
        <div class="detail-title">
            <div class="inbox">
                <span class="icon-mail_fanhui"></span>
                <span></span>
            </div>
            <div class="page-change">
                <span class="icon-caret-angle-up"></span>
                <span class="icon-caret-angle-bottom"></span>
            </div>
            <div class="email-detail-title">邮件详细</div>
        </div>
        <div class="content">
            <div class="detail-head">
                <div class="email-subject">USB Driver and Money</div>
                <div class="customer"><span class="name lf">客户：</span><input type="text" class="text lf"></div>
                <div class="link-net">
                    <span class="name lf">抄送：</span>
                    <span class="text lf show-all-content"></span>
                    <span class="show-all rt">展开</span>
                </div>
                <div class="date"><span class="name lf">时间：</span><span class="text lf">2016年12月28日 12:56</span></div>
            </div>
            <div class="zihu-content">
                <div class="content-box">
                    及
                </div>
                <div class="list-box">

                </div>
                <div class="modalFujian hidden">
                    <div class="list">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <div class="lf box">
                            <h3 class="name">USB Driver-todaysgrgregregregregreports-2016-1208.pdf</h3>
                            <span class="count">1.2M</span>
                        </div>
                    </div>
                    <div class="imgbox">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <img src="images/gif.gif" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="reply-box lf">
                <span class="icon-maoduo55 icon" data-type="0"></span>
                <p class="text">回复</p>
            </div>
        </div>
    </div>
    <!--该联系人邮件发送详情-->
    <div class="ren-send-contacts-detail hidden" id="ren-send-contacts-detail">
        <div class="detail-title">
            <div class="inbox">
                <span class="icon-mail_fanhui"></span>
                <span></span>
            </div>
            <div class="page-change">
                <span class="icon-caret-angle-up"></span>
                <span class="icon-caret-angle-bottom"></span>
            </div>
            <div class="email-detail-title">邮件详细</div>
        </div>
        <div class="content">
            <div class="detail-head">
                <div class="email-subject">USB Driver and Money</div>
                <div class="customer"><span class="name lf">收件人：</span><input type="text" class="text lf"></div>
                <div class="date"><span class="name lf">时间：</span><span class="text lf">2016年12月28日 12:56</span></div>
            </div>
            <div class="zihu-content">
                <div class="content-box">
                    及
                </div>
                <div class="list-box">

                </div>
                <div class="modalFujian hidden">
                    <div class="list">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <div class="lf box">
                            <h3 class="name">USB Driver-todaysgrgregregregregreports-2016-1208.pdf</h3>
                            <span class="count">1.2M</span>
                        </div>
                    </div>
                    <div class="imgbox">
                        <a class="icon-maoduo18 icon lf" href=""></a>
                        <img src="images/gif.gif" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="reply-box lf">
                <span class="icon-maoduo53 icon" data-type="0"></span>
                <p class="text">再次编辑</p>
            </div>
        </div>
    </div>
    <!--发邮件时选择客户-->
    <!--发邮件时选择联系人-->
    <!--邮件详细-->
    <div class="email-detail hidden" id="email-detail">
        <div class="detail-title">
            <div class="inbox">
                <span class="icon-mail_fanhui"></span>
                <span>收件箱</span>
            </div>
            <div class="page-change">
                <span class="icon-caret-angle-up"></span>
                <span class="icon-caret-angle-bottom"></span>
            </div>
            <div class="email-detail-title">邮件详细</div>
        </div>
        <div class="detail-head">
            <div class="email-subject">USB Driver and Money</div>
            <div class="customer">客户：Vivian</div>
            <div class="date">时间：2016年12月28日 12:56</div>
            <div class="product">产品：Multi color cushion & Very soft cushion</div>
            <div class="price">报价（inquiry）</div>
        </div>
    </div>

    <component :is="currentView" >

    </component>
    <!--写邮件-->

    <!--选择单据-->
    <div class="document_selection hidden" id="document_selection">
        <div class="header">
            <i class="icon-mail_fanhui"></i>
            <h1 class="title">提现账号</h1>
        </div>
        <div class="main-contents">
            <div class="quotations">
                <span class="icon-mail_money"></span><span class="title">报价单</span><span class="icon-to-right"></span>
            </div>
            <div class="orders">
                <span class="icon-mail_money"></span><span class="title">订单</span><span class="icon-to-right"></span>
            </div>
        </div>
    </div>
    <!--联系人-->
    <div class="contacts_e hidden" id="contacts_e">
        <div class="header">
            <span class="head-left"><i class="icon-mail_fanhui"></i><span class="alle">所有往来</span></span>
            <h1 class="title">联系人</h1>
        </div>
        <div class="main-contents">
            <div class="contacts-box">

            </div>
            <div class="more">加载更多</div>
        </div>
    </div>
    <!--系统模板开发信模板-->
    <div class="system_template hidden" id="system_template">
        <div class="header">
            <i class="icon-mail_fanhui"></i>
            <h1 class="title">开发信模板</h1>
        </div>
        <div class="main-contents">
            <div class="groom-boxs">
                <div class="grooms">
                    <div class="customer-name"><span class="first-name">A</span></div>
                    <div class="customer-details">
                        <div class="title"><span class="titles">向客户推荐产品</span><span class="icon-to-right"></span></div>
                        <p class="introduce">format multiple usb, deploy multiple usb, collect from usb, format several usb, deploy several usb, collect multiple usb, mass usb format…</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--邮件模板-->
    <div class="mail_template hidden" id="mail_template">
        <div class="header">
            <span class="head-left">取消</span>
            <span class="title">邮件模板</span>
            <span class="head-right">使用</span>
        </div>
        <div class="nav">
            <label class="classify">
                <span>文件夹分类: </span><input type="text" name="">
            </label>
            <label class="module-title">
                <span>模板标题: </span><input type="text" name>
            </label>
        </div>
        <div class="main-content">
            <h1 class="title">Multi color cushion & Very soft cushion</h1>
            <h2 class="number">ProductNo ：A12314</h2>
            <div class="picture-text">
                <img src="images/7F51EB036B7B85F381F2B4CB985EC6A5.png" alt="">
                <p class="introduce">usb pnjxnsj axjadnxj xknxakjxa xajixkx xa xajkxa x iajxjkaxjkaxkaxjiajiaxjkaxakjx xajkxajk</p>
            </div>
        </div>
    </div>
</div>







