<div class="mine-main " style="width:10rem;height:100%;margin:0 auto;background:#eee;" id="mine-main">
    <!--我的首页-->
    <div class="mine" id="mine0" style="">
        <div class="head">
            <div class="message"><span class="icon-maoduo78"><i class="read-title hidden"></i></span></div>
            <div class="title">我的</div>
        </div>
        <div class="main_box">
            <div class="photo"><img src="images/user_profile.png" alt=""></div>
            <div class="is-valid"><span>未认证</span></div>
            <div class="nickname">用户昵称</div>
            <div class="mine-data">
                <div class="customer-count">
                    <div class="customer-num"></div>
                    <div class="customer-word">客户</div>
                </div>
                <div class="order-count">
                    <div class="order-num"></div>
                    <div class="order-word">订单</div>
                </div>
            </div>
            <div class="mine-items">
                <div class="money">
                    <div class="account">
                        <div class="account-balance">
                            <div class="pic-border">
                                <span class="icon-me_see"></span>
                            </div>
                            <span class="account-word">账户余额</span>
                        </div>
                        <div class="account-num">
                            <span class="icon-to-right"></span>
                            <p><span> </span><span class="balancemodule"></span></p>
                        </div>
                    </div>
                    <div class="sale-income">
                        <div class="sale">
                            <div class="sale-detail">
                                <div class="pic-border">
                                    <span class="icon-me_node"></span>
                                </div>
                                <span class="sale-word">销售收入</span>
                            </div>
                            <span class="icon-to-right"></span>
                        </div>
                        <div class="sale-type">
                            <div class="sales-volume">
                                <div class="volume-num"><span></span><span></span></div>
                                <div class="volume-word">销售额</div>
                            </div>
                            <div class="sales-commission">
                                <div class="commission-num"><span></span><span></span></div>
                                <div class="commission-word">提成</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <div class="message item-list">
                        <div class="item-title">
                            <div class="pic-border">
                                <span class="icon-me_chat"></span>
                            </div>
                            <span class="item-word">消息中心</span>
                        </div>
                        <span class="icon-to-right"></span>
                        <div class="not-read-message">
                            <span class="notread"></span>条未读
                        </div>
                    </div>
                    <div class="product item-list">
                        <div class="item-title">
                            <div class="pic-border">
                                <span class="icon-maoduo80"></span>
                            </div>
                            <span class="item-word">申请产品</span>
                        </div>
                        <span class="icon-to-right"></span>
                    </div>
                    <div class="help item-list">
                        <div class="item-title">
                            <div class="pic-border">
                                <span class="icon-argue"></span>
                            </div>
                            <span class="item-word">帮助中心</span>
                        </div>
                        <span class="icon-to-right"></span>
                    </div>
                </div>
                <div class="item-list setting">
                    <div class="item-title">
                        <div class="pic-border">
                            <span class="icon-setting-cir"></span>
                        </div>
                        <span class="item-word">设置</span>
                    </div>
                    <span class="icon-to-right"></span>
                </div>
            </div>
        </div>
        <div class="menue-bottom">
            <div class="bottom-list product">
                <span class="icon-tab_box icon"></span>
                <span class="text">产品</span>
            </div>
            <div class="bottom-list customer">
                <span class="icon-tab_kehu icon"></span>
                <span class="text">客户</span>
            </div>
            <div class="bottom-list email">
                <span class="icon-tab_youjian icon"></span>
                <span class="text">邮件</span>
            </div>
            <div class="bottom-list receipts">
                <span class="icon-tab_danju icon"></span>
                <span class="text">单据</span>
            </div>
            <div class="bottom-list mime active">
                <span class="icon-tab_wode icon"></span>
                <span class="text">我的</span>
            </div>
        </div>
        <div class="write-mail"></div>
    </div>
    <!--个人信息-->
    <div class="hidden" id="personal-message0">
        <div class="top">
            <div class="iconleft-box">
                <span class="icon-mail_fanhui icon"></span>
            </div>
            <h3 class="text-center">个人信息</h3>
        </div>
        <div class="content">
            <div class="head-box">
                <div class="lf head">
                    <input type="file" accept="images/*" id="upload_photo" capture="camera" >
                    <img src="images/user_profile.png" alt="" id="upload_picture">
                </div>
                <div class="rt iconbox">
                    <span class="icon-to-right icon"></span>
                </div>
            </div>
            <div class="id-num topp">
                <span class="icon-mail_icon_172 icon"></span>
                <span class="name">账号:</span>
                <span class="num"></span>
            </div>
            <div class="niken topp">
                <span class="icon-me_chat icon"></span>
                <span class="name">昵称</span>
                <input type="text" name="nikename" class="numput" maxlength="25">
            </div>
            <div class="pass-name bott fenge">
                <span class="icon-maoduo88 icon lefticon lf"></span>
                <span class="name">实名认证</span>
                <span class="icon-to-right icon rt"></span>
                <span class="result rt"></span>
            </div>
            <!--<div class="change-phone bott">
                <span class="icon-me_phone icon lefticon lf"></span>
                <span class="name">更换手机</span>
                <span class="icon-to-right icon rt"></span>
            </div>-->
            <div class="change-password bott">
                <span class="icon-maoduo90 icon lefticon lf"></span>
                <span class="name">修改密码</span>
                <span class="icon-to-right icon rt"></span>
            </div>
        </div>
    </div>
    <!---------------更改手机号码1-->
    <!-- <div id="change-phone0" class="changephone hidden">
        <div class="header">
            <i class="icon-mail_fanhui"></i>
            <h1 class="title">更换手机</h1>
        </div>
        <div class="form">
            <label class="username">
                <input type="tel" name="username" placeholder="请输入正在绑定的手机号" maxlength="33">
                <span class="icon-err"></span>
            </label>
            <label class="password">
                <input type="tel" name="password" placeholder="请输入验证码" maxlength="6">
                <span class="obtain">获取</span>
            </label>
            <button class="next" id="next">下一步</button>
        </div>
    </div>-->
    <!--——————————————更换手机号2-->
    <!--<div id="change-phone1" class="changephone hidden">
        <div class="header">
            <i class="icon-mail_fanhui"></i>
            <h1 class="title">更换手机</h1>
        </div>
        <div class="form">
            <label class="username">
                <input type="tel" name="username" placeholder="请输入新的手机号" maxlength="33">
                <span class="icon-err"></span>
            </label>
            <label class="password">
                <input type="tel" name="password" placeholder="请输入验证码" maxlength="6">
                <span class="obtain">获取</span>
            </label>
            <button class="complete" id="complete">下一步</button>
        </div>
    </div>-->
    <!---------------修改密码-------------------------------------------------------->
    <div class="hidden" id="changepwd">
        <div class="header">
            <i class="icon-mail_fanhui"></i>
            <h1 class="title">修改密码</h1>
        </div>
        <div class="form">
            <label class="old-password">
                <input type="password" name="old-password" placeholder="原密码" maxlength="16">
                <span class="icon-err hidden"></span>
            </label>
            <label class="new-password">
                <input type="password" name="new-password" placeholder="请输入新密码" maxlength="16">
                <span class="icon-err hidden"></span>
            </label>
            <label class="password">
                <input type="password" name="password" placeholder="确认新密码" maxlength="16">
                <span class="icon-err hidden"></span>
            </label>
            <div class="other">忘记旧密码?</div>
            <button class="complete">完成</button>
        </div>
    </div>
    <!--找回密码-->
    <div class="retrieve_password hidden" id="retrieve_password">
        <div class="header">
            <i class="icon-mail_fanhui"></i>
            <h1 class="title">找回密码</h1>
        </div>
        <div class="form">
            <label class="username">
                <input type="tel" name="username" placeholder="请输入手机号" maxlength="33">
                <span class="icon-err hidden"></span>
            </label>
            <label class="code">
                <input type="tel" name="usercode" placeholder="请输入验证码" maxlength="6">
                <span class="obtain">获取</span>
            </label>
            <div class="other"><a>没收到验证码?</a></div>
            <button class="next">下一步</button>
        </div>
        <div class="Mask_modal hidden">
            <!--未收到验证短信-->
            <div class="Message-Test hidden">
                <span class="icon-maoduo0 icon-close"></span>
                <div class="message-title">未收到验证短信</div>
                <p>1.由于运营商通道故障造成的发送时间延迟，请耐心等待或者点击重新获取验证码；</p>
                <p>2.由于你的手机存在某些安全设置，验证码短信可能被拦截，请修改设置后重新获取验证码；</p>
                <div class="contact-us">
                    <p>如果尝试了上述方式后均未解决</p>
                    <span class="contact-me"><a href="tel:400-0755-222">联系我们</a></span>
                </div>
                <div class="resend-code common">重新发送验证码</div>
                <div class="voice-valid common">语音验证</div>
            </div>
            <!--电话验证码-->
            <div class="Voice-Test hidden">
                <span class="icon-maoduo0 icon-close"></span>
                <div class="tel-icon">
                    <span class="icon-maoduo99"></span>
                </div>
                <div class="message-tips">验证码将以电话形式进行通知，请注意接听</div>
                <div class="confirm">确认</div>
            </div>
            <!--短信验证码-->
            <div class="Message-Code hidden">
                <span class="icon-maoduo0 icon-close"></span>
                <div class="mess-icon">
                    <span class="icon-maoduo94"></span>
                </div>
                <div class="pic-valid">
                    <input type="text" placeholder="请输入图形验证码" name="jianjiancode" maxlength="6">
                    <div class="code-img"><img src="" alt="" class="codesimg"></div>
                </div>
                <div class="get-message">获取验证码</div>
            </div>
        </div>
    </div>
    <!--找回密码2-->
    <div class="retrieve_password_n hidden" id="retrieve_password_n">
        <div class="header">
            <i class="icon-mail_fanhui"></i>
            <h1 class="title">找回密码</h1>
        </div>
        <div class="form">
            <label class="password">
                <input type="password" name="password" placeholder="请输入新密码" maxlength="16">
                <span class="icon-err hidden"></span>
            </label>
            <label class="password-n">
                <input type="password" name="userpassword" placeholder="确认密码" maxlength="16">
                <span class="icon-err hidden"></span>
            </label>
            <button class="complete">完成</button>
        </div>
    </div>
    <!--实名认证-->
    <div class="real_namebind hidden" id="real_namebind">
        <div class="header">
            <div class="head_title">
            <i class="icon-mail_fanhui headfanhui"></i>
            <span class="prevto hidden"><i class="icon-mail_fanhui"></i> 上一步</span>
            <h1 class="title">实名认证</h1>
            </div>
            <div class="nav">
                <ul class="line-level">
                    <li class="icon-right"></li>
                    <li class="nond-rde"></li>
                    <li class=""></li>
                    <li class=""></li>
                </ul>
                <ul class="classify-type">
                    <li>手机验证 <span class="undesanj hidden"></span></li>
                    <li>提交资料 <span class="undesanj"></span></li>
                    <li>绑定银行卡 <span class="undesanj hidden"></span></li>
                    <li>完成认证 <span class="undesanj hidden"></span></li>
                </ul>
            </div>
        </div>
        <!--提交资料-->
        <div class="Submit-information hidden">
            <label class="user_name">
                <span class="">真实姓名</span><input type="text" name="username" placeholder="请输入真实姓名" maxlength="10">
            </label>
            <label class="user_number">
                <span class="">身份证号</span><input type="text" name="usernumber" placeholder="请输入真实的身份证号" maxlength="20">
            </label>
            <label class="user_photo">
                <span class="">证件照片</span><p>点击上传证件照</p>
            </label>
            <div class="user_picture">
                <div class="user_positive users">
                    <span class="icon-maoduo10"></span>
                    <p class="p">身份证正面</p>
                    <img src="" alt="">
                    <input type="file" accept="images/*">
                </div>
                <div class="user_back users">
                    <span class="icon-maoduo7"></span>
                    <p class="p">身份证反面</p>
                    <img src="" alt="">
                    <input type="file" accept="images/*">
                </div>
                <div class="user_hold users">
                    <span class="icon-maoduo9"></span>
                    <p class="p">身份证手持照</p>
                    <img src="" alt="">
                    <input type="file" accept="images/*">
                </div>
            </div>
            <button class="next-step">下一步</button>
        </div>
        <!--绑定银行卡-->
        <div class="Bind-bank-card hidden">
            <label class="card_name">
                <span class="">开户姓名</span><input type="text" name="cardname" placeholder="请输入开户的真实姓名" maxleng="10">
            </label>
            <label class="card_hnames">
                <span class="">开户行</span><input type="text" name="cardhnames" placeholder="请输入详细的开户分行名" maxleng="30">
            </label>
            <label class="card_number">
                <span class="">银行卡号</span><input type="text" name="cardnumber" placeholder="请输入银行卡号" maxleng="20">
            </label>
            <label class="card_photo">
                <span class="">银行卡照</span><p>点击上传银行卡照片</p>
            </label>
            <div class="card_picture">
                <span class="icon-maoduo19"></span>
                <p class="p">身份证正面</p>
                <img src="" alt="">
                <input type="file" accept="images/*">
            </div>
            <button class="card-complete">提交资料</button>
        </div>
        <!--完成-->
        <div class="complete-bind hidden">
            <!--未通过-->
            <div class="defeated hidden">
                <span class="icon-err"></span>
                <h2 class="title">认证未通过</h2>
                <p>抱歉！您上传的身份信息不符合认证要求</p>
                <button class="newly">重新认证</button>
            </div>
            <!--认证成功-->
            <div class="succeed hidden">
                <span class="icon-right"></span>
                <h2 class="title">实名认证成功</h2>
                <div class="monicker equally">
                    <span class="icon-maoduo21"></span>
                    <span>真实姓名</span>
                    <span class="name"></span>
                </div>
                <div class="idnumber equally">
                    <span class="icon-maoduo8"></span>
                    <span>身份证号</span>
                    <span class="cardnum"></span>
                </div>
                <div class="Bankname equally">
                    <span class="icon-maoduo15"></span>
                    <span>提现账户</span>
                    <div class="bank-number">
                        <p class="Bank"></p>
                        <p class="banknum"></p>
                    </div>
                </div>
            </div>
            <!--资料提交成功-->
            <div class="material hidden">
                <span class="icon-maoduo24"></span>
                <h2>资料提交成功</h2>
                <p class="p1">您的实名认证信息已经提交成功</p>
                <p class="p2">我们将在1-3个工作日内通知认证结果</p>
                <button class="completer">完成</button>
            </div>
        </div>
        <div class="explain-text">
            <p>实名认证说明</p>
        </div>
    </div>
    <!--账户余额-------------------------------------------------------------------------------->
    <div class="Account-Detail hidden" id="Account-Detail">
        <div class="account-head">
            <span class="icon-mail_fanhui"></span>
            <span class="detail-deal">明细</span>
            <div class="account-word">账户余额</div>
        </div>
        <div class="account-money">
            <div class="pic-border">
                <span class="icon-maoduo6"></span>
            </div>
            <p><span></span><span class="balance"></span></p>
            <div class="account-balance-word">账户余额</div>
        </div>
        <div class="withdrawal-account">
            <div class="account-title">
                <p>提现账号</p>
                <span class="icon-to-right"></span>
            </div>
            <div class="add-account hidden">
                <div class="new-border">
                    <span class="icon-maoduo15"></span>
                    <span>添加银行卡</span>
                </div>
            </div>
            <div class="account-message hidden">
                <div class="pic-border">
                    <span class="icon-add-partner"></span>
                </div>
                <div class="card-detail">
                    <div class="bank"></div>
                    <div class="personal-message">
                        <span class="name"></span>
                        <span class="card-num"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="withdrawal-count">
            <span>提现金额</span>
            <div class="money-input">
                <input type="number" placeholder="请输入提现金额" id="money-count" max="5">
            </div>
        </div>
        <div class="withdrawal">申请提现</div>
    </div>
    <!-----------申请提现成功------------------------------------------------------------------------>
    <div class="deposit-succ hidden" id="deposit-succ">
        <div class="top">
            <h3 class="text-center">账户余额</h3>
            <span class="list">明细</span>
        </div>
        <div class="content">
            <div class="iconbox">
                <span class="icon-right icon"></span>
                <h2 class="text">提现申请成功</h2>
            </div>
            <div class="list-style">
                <div class="list char-money">
                    <span class="icon-maoduo14 icon lf"></span>
                    <span class="name">提现金额</span>
                    <span class="num"></span>
                </div>
                <div class="list tixian-id">
                    <span class="icon-maoduo15 icon lf"></span>
                    <span class="name">提现账户</span>
                    <span class="usernums">
                        <span class="bank"></span>
                        <span class="num"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="bottom">
            <p class="text">
                说明：您的提现申请已经提交成功，提现金额将在3-5个工作日内划入您的银行账户
            </p>
            <button class="submit">完成</button>
        </div>
    </div>
    <!-----------提现明细-->
    <div class="deposit-list hidden" id="deposit-list">
        <div class="top">
            <div class="iconleft-box">
                <span class="icon-mail_fanhui icon"></span>
            </div>
            <h3 class="text-center">提现明细</h3>
        </div>
        <div class="content">
            <!--平时hidden提现未结束时是出现 进程-->
            <div class="deposit-box">
                <!--<div class="deposit-schedule">-->
                <!--<div class="schedule-type">-->
                <!--<div class="list-type tijiao active">-->
                <!--<span class="icon-shake icon"></span>-->
                <!--<span class="text">提交申请</span>-->
                <!--</div>-->
                <!--<div class="list-type line active"></div>-->
                <!--<div class="list-type waite">-->
                <!--<span class="icon-shake icon"></span>-->
                <!--<span class="text">等待转账</span>-->
                <!--</div>-->
                <!--<div class="list-type line"></div>-->
                <!--<div class="list-type succ">-->
                <!--<span class="icon-shake icon"></span>-->
                <!--<span class="text">提现成功</span>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="schedule-title">-->
                <!--<div class="pass-name bott">-->
                <!--<span class="icon-telephone-circle icon lefticon lf"></span>-->
                <!--<div class="name-box lf">-->
                <!--<span class="num">860.00</span>-->
                <!--<h3 class="bank">提现至招商银行</h3>-->
                <!--</div>-->
                <!--<span class="times rt">12月12日 12:00</span>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <div class="loading_more hidden">
                <span class="No-more hidden">没有更多</span>
                <button class="See-more hidden">查看更多</button>
            </div>
        </div>
        <!--为空提示信息-->
        <div class="null-state hidden">
            <img src="images/nocount_0.svg" alt="">
            <p>暂时没有提现明细</p>
        </div>
    </div>
    <!--销售收入-->
    <div class="hidden" id="market">
        <div class="top">
            <div class="iconleft-box">
                <span class="icon-mail_fanhui icon"></span>
            </div>
            <h3 class="text-center">销售收入</h3>
            <span class="icon-maoduo42 switchs"></span>
        </div>
        <div class="content">
            <div class="menue">
                <span class="market active">销售</span>
                <span class="deduct">提成</span>
            </div>
            <div class="market-content">
                <div class="all list hidden">
                    <span class="icon-me_text icon lefticon lf"></span>
                    <span class="name">销售总额</span>
                    <span class="rt num"></span>
                </div>
                <div class="list-menue">
                    <!--<div class="list">-->
                        <!--<span class="icon-me_download icon lefticon lf"></span>-->
                        <!--<div class="lf content-box">-->
                            <!--<p class="name">销售收入</p>-->
                            <!--<span class="time">12月12日 12::00</span>-->
                        <!--</div>-->
                        <!--<span class="num rt">$ 268.36</span>-->
                    <!--</div>-->
                </div>

                <div class="loading_more hidden">
                    <span class="No-more hidden">没有更多</span>
                    <button class="See-more hidden">查看更多</button>
                </div>
                <!--为空提示信息-->
                <div class="null-state hidden">
                    <img src="images/nocount_0.svg" alt="">
                    <p>暂时没有销售记录</p>
                </div>
            </div>
            <div class="deduct-content hidden">
                <div class="all list">
                    <span class="icon-me_text icon lefticon lf"></span>
                    <span class="name">提成总额</span>
                    <span class="rt num"></span>
                </div>
                <div class="list-menue">
                    <!--<div class="list">-->
                        <!--<span class="icon-me_download icon lefticon lf"></span>-->
                        <!--<div class="lf content-box">-->
                            <!--<p class="name">提成收入</p>-->
                            <!--<span class="time">12月12日 12::00</span>-->
                        <!--</div>-->
                        <!--<span class="num rt">$ 268.36</span>-->
                    <!--</div>-->
                </div>
                <!--为空提示信息-->
                <div class="null-state hidden">
                    <img src="images/nocount_0.svg" alt="">
                    <p>暂时没有提成记录</p>
                </div>
                <div class="loading_more hidden">
                    <span class="No-more hidden">没有更多</span>
                    <button class="See-more hidden">查看更多</button>
                </div>
            </div>
        </div>
    </div>
    <!--消息中心-->
    <div class="newsCenter hidden" id="newsCenter">
        <header >
            <h2>消息中心</h2>
            <span class="icon-mail_fanhui"></span>
        </header>
        <article class="article">
            <div class="newsNav">
                <div class="redLine"></div>
                <b class="tradBtn">交易提醒</b><b class="sysNewsBtn">系统消息</b>
            </div>
            <div class="transaction-alerts">
                <ul class="tradingRemindUl">
            	<!--<li>-->
            		<!--<p class="newsTime">2016年12月</p>-->
            		<!--<ul class="detailNews">-->
            			<!--<li>-->
            				<!--<span class="icon-warm"></span>-->
            				<!--<em>12月12日 12:00</em>-->
            				<!--<h5>客户回复</h5>-->
            				<!--<p>ViVian回复了邮件</p>-->
            			<!--</li>-->
            			<!--<li>-->
            				<!--<span class="icon-warm"></span>-->
            				<!--<em>12月12日 12:00</em>-->
            				<!--<h5>物流信息</h5>-->
            				<!--<p>货物已经发往深圳湾港口</p>-->
            			<!--</li>-->
            		<!--</ul>-->
            	<!--</li>-->
            </ul>
                <div class="loading_more hidden">
                    <span class="No-more hidden">没有更多</span>
                    <button class="See-more">查看更多</button>
                </div>
                <!--为空提示信息-->
                <div class="null-state hidden">
                    <img src="images/nocount_0.svg" alt="">
                    <p>暂时没有交易提醒</p>
                </div>
            </div>
            <div class="system-alert hidden">
                <ul class="systemNewsUl">
            	<!--<li>-->
    				<!--<span class="icon-warm"></span>-->
    				<!--<em>12月12日 12:00</em>-->
    				<!--<h5>系统通知</h5>-->
    				<!--<p>提现成功，请核对银行卡账户余额</p>-->
    			<!--</li>-->

            </ul>
                <div class="loading_more hidden">
                    <span class="No-more hidden">没有更多</span>
                    <button class="See-more">查看更多</button>
                </div>
                <!--为空提示信息-->
                <div class="null-state hidden">
                    <img src="images/nocount_0.svg" alt="">
                    <p>暂时没有系统通知</p>
                </div>
            </div>
        </article>
    </div>
    <!--申请产品-->
    <div class="hidden" id="applyProduct">
        <header >
            <h2>申请产品</h2>
            <span class="icon-mail_fanhui"></span>
        </header>
        <article>
            <div class="prodName">
                <p>产品名称</p>
                <div><input class="inputProName" type="text" placeholder="请输入产品名称" maxlength="18"/></div>
            </div>
            <div class="prodDescrib">
                <p>产品描述</p>
                <div>
                    <textarea placeholder="请输入产品的描述" maxlength="300" class="product-describe"></textarea>
                </div>
            </div>
            <div class="addProductPic">
                <p>产品图片</p>
                <div class="picture_boxsize">
                	<a class="picSeletDiv">
                		<span class="icon-maoduo37"></span>
                		<input type="file" class="fileSeleter" id="inputFile"/>
                	</a>
                </div>
            </div>
        </article>
        <button class="product-obtain">提交</button>
    </div>
    <!--帮助中心-------------------------------------------------------------------------->
    <div class="help-center hidden" id="help-center">
        <div class="header">
            <span class="icon-mail_fanhui"></span>
            <span class="title">帮助中心</span>
        </div>
        <div class="content-body">
            <ul class="">
                <li class="sea-all"><i class="icon-me_text"></i><span class="title">客户池说明</span><span class="icon-to-right"></span></li>
                <li class="offer"><i class="icon-me_text"></i><span class="title">报价说明</span><span class="icon-to-right"></span></li>
                <li class="mail-rules"><i class="icon-me_text"></i><span class="title">邮件说明</span><span class="icon-to-right"></span></li>
                <li class="bill-explain"><i class="icon-me_text"></i><span class="title">单据说明</span><span class="icon-to-right"></span></li>
                <li class="Real-name-explain"><i class="icon-me_text"></i><span class="title">实名认证说明</span><span class="icon-to-right"></span></li>
                <li class="freight-explain"><i class="icon-me_text"></i><span class="title">货运说明</span><span class="icon-to-right"></span></li>
                <li class="order-tracking-explain"><i class="icon-me_text"></i><span class="title">订单追踪说明</span><span class="icon-to-right"></span></li>
            </ul>
        </div>
    </div>
    <!--设置-->
    <div class="hidden" id="mySetting">
        <header>
            <h2>设置</h2>
            <span class="icon-mail_fanhui"></span>
        </header>
        <article>
            <ul>
                <li class="c1">
                    <span class="icon-me_text"></span><b>贸多多法律声明及隐私政策</b><span class="icon-to-right"></span>
                </li>
                <!--<li class="c4">-->
                    <!--<span class="icon-maoduo96"></span><b>贸多多兼职协议</b><span class="icon-to-right"></span>-->
                <!--</li>-->
                <li class="c2">
                    <span class="icon-me_text"></span><b>关于我们</b><span class="icon-to-right"></span>
                </li>
                <li class="c3">
                    <span class="icon-maoduo96"></span><b>意见反馈</b><span class="icon-to-right"></span>
                </li>
                <li class="c5 hidden">
                    <span class="icon-maoduo102"></span><b><a href="sms:123456">清除缓存</a></b>
                </li>
            </ul>
        </article>
        <div class="exit-login hidden">
            <div class="exit-box">
                <h2 class="exit-title">退出账号</h2>
                <p class="p1">你确定退出当前账号？</p>
                <div class="exit">退出登陆</div>
                <div class="cancel-off">取消</div>
            </div>
        </div>
        <button class="exit-account">退出账号</button>
    </div>
    <!-----------------意见反馈-->
    <div class="hidden" id="feedback">
        <div class="top">
            <div class="iconleft-box">
                <span class="icon-mail_fanhui icon"></span>
            </div>
            <h3 class="text-center">意见反馈</h3>
        </div>
        <div class="content">
            <div class="title">意见反馈</div>
            <textarea name="" id="" class="feedback-content" maxlength="300" placeholder="请输入">

            </textarea>
            <div class="complete">提交</div>
        </div>
    </div>
    <!--提现账号-->
    <div class="Mention_account hidden" id="Mention_account">
        <div class="header">
            <div class="header">
                <i class="icon-mail_fanhui"></i>
                <h1 class="title">我的银行卡</h1>
            </div>
        </div>
        <div class="form">
            <label class="name">
                <span class="title">开户姓名</span>
                <span class="inputs names"></span>
            </label>
            <label class="">
                <span class="title">开户行</span>
                <span class="inputs banks"></span>
            </label>
            <label class="">
                <span class="title">银行卡号</span>
                <span class="inputs cards"></span>
            </label>
        </div>
        <div class="upload-pictures">
            <h2 class="title">银行卡图片</h2>
            <div class="photo">
                <div class="photo-box">
                    <span class="icon-plus-lg"></span>
                    <img src="" alt="" style="" class="picture">
                </div>
            </div>
        </div>
        <button class="complete">更换银行卡</button>
    </div>
    <!--更换银行卡-->
    <div class="withdraw_deposit hidden" id="withdraw_deposit">
        <div class="header">
            <div class="header">
                <span class="cancel-head">取消</span>
                <h1 class="title">更换银行卡</h1>
            </div>
        </div>
        <div class="form">
            <label class="name">
                <span class="title">开户姓名</span>
                <input type="text" name="username" placeholder="请输入开户的真实姓名" maxlength="10">
            </label>
            <label class="">
                <span class="title">开户行</span>
                <input type="text" name="bankAccount" placeholder="请输入详细的开户分行名" maxlength="30">
            </label>
            <label class="">
                <span class="title">银行卡号</span>
                <input type="tel" name="cardNo" placeholder="请输入银行卡号" maxlength="20">
            </label>
        </div>
        <div class="upload-pictures">
            <h2 class="title">银行卡图片</h2>
            <div class="photo">
                <div class="photo-box">
                    <span class="icon-add"></span>
                    <img src="" alt="" style="" class="picture">
                    <input type="file" accept="images/*" class="choose"/>
                </div>
            </div>
        </div>
        <button class="complete">提交审核</button>
    </div>
    <!--更换银行卡审核期-->
    <div class="under_review hidden" id="under_review">
        <div class="header">
            <i class="icon-mail_fanhui"></i>
            <h1 class="title">银行卡审核</h1>
        </div>
        <div class="material">
            <span class="icon-right"></span>
            <h2>资料提交成功</h2>
            <p class="p1">您的实名认证信息已经提交成功</p>
            <p class="p2">我们将在1-3个工作日内通知认证结果</p>
            <button class="completer">完成</button>
        </div>
    </div>
    <!--各种说明-->
    <!--客户池说明-->
    <div id="Sea_all" class="illustrate hidden">
        <div class="header">
            <span class="icon-mail_fanhui icon"></span>
            <span class="title">客户池说明</span>
        </div>
        <div class="container">
            <div class="main-body">
                <h2 class="theme">什么是海</h2>
                <p class="paragraph">1.大海，可根据你所需要的关键词进行客户搜索，搜到的客户可加入私海；</p>
                <p class="paragraph">2.公海，公海是贸多多提供的公共客户数据，可加入私海；</p>
                <p class="paragraph">3.私海，私海客户是用户自己的客户，不与他人共享。</p>
                <h2 class="theme">转移规则</h2>
                <p class="paragraph">1.客户数据只会存在唯一海，不重复出现，因此每个用户都拥有专属客户资源；</p>
                <p class="paragraph">2.大海、公海中的客户均可加入私海；私海中的客户若14天未跟进，将会转移至公海。</p>
                <h2 class="theme">数据归属</h2>
                <p class="paragraph">贸多多平台数据归贸多多所有，仅用于提供给用户使用，用户不得以任何形式窃取、转移贸多多客户资料，一经发现将永久封停账号。必要时将进行法律维权。</p>
            </div>
        </div>

    </div>
    <!--报价说明-->
    <div id="Quotation_note" class="illustrate hidden">
        <div class="header">
            <span class="icon-mail_fanhui"></span>
            <span class="title">报价说明</span>
        </div>
        <div class="container">
            <div class="main-body">
                <h2 class="theme">“开始报价”的使用</h2>
                <p class="paragraph">1、选择产品进行报价，每个报价单至少含有一个报价组合，可添加多个报价组合；</p>
                <p class="paragraph">2、每个报价组合可任意选择属性，以及修改相应价格；</p>
                <p class="paragraph">3、可以添加货运信息，目前以Fedex货运为主；</p>
                <p class="paragraph">4、可以添加自定义信息，自定义信息用于填写客户相关信息，如：货运地址、联系方式、要求和备注。</p>
                <h2 class="theme">生产报价单的条件</h2>
                <p class="paragraph">用户可以自行修改每一项属性的价格，生成报价单时，销售总额不低于成本总额。</p>
                <h2 class="theme">生成订单的条件</h2>
                <p class="paragraph">生成的订单将会提交给贸多多后台，须保证报价组合、货运信息、自定义信息填写完整，缺一不可。</p>
                <h2 class="theme">自定义信息</h2>
                <p class="paragraph">可以添加自定义信息，自定义信息用于填写客户相关信息，如：货运地址、联系方式、要求和备注。</p>
                <h2 class="theme">提成说明</h2>
                <p class="paragraph">每笔订单的利润，根据国家规定扣除了相关税费；</p>
                <p class="paragraph">用户将获得每笔订单利润90%的提成，剩余10%归平台方所有；</p>
                <p class="paragraph">提成为预计提成，不包含银行手续费以及其他交易过程中产生的额外费用，实际提成将扣除各类费用，请以实际核算提成为准。</p>
                <h2 class="theme">报价单的用途</h2>
                <p class="paragraph">生成报价单之后会生成报价单PDF格式文档，可以下载或通过邮件发送给客户；</p>
                <p class="paragraph">与客户沟通确认后，可将报价单提交成为订单，由贸多多安排出货。</p>
                <h2 class="theme">疑问解答</h2>
                <p class="paragraph">1、是否支持合并报价单</p>
                <p class="paragraph">不支持，目前只支持一个产品的多种属性组合报价，如需多个产品，请生成多个报价单。</p>
                <p class="paragraph">2、报价单的管理</p>
                <p class="paragraph">报价单用于用户给客户客户报价，可根据自己的定制生产报价单、并保存管理，保存在“单据-报价单”中，可根据自身需求调整报价单、另存为报价单。</p>
                <p class="paragraph">3、何时能获得提成</p>
                <p class="paragraph">每笔订单交易完成后，将获得实际提成。</p>
            </div>
        </div>
    </div>
    <!--邮件说明-->
    <div id="Mail_rule" class="illustrate hidden">
        <div class="header">
            <span class="icon-mail_fanhui icon"></span>
            <span class="title">邮件书写说明</span>
        </div>
        <div class="container">
            <div class="main-body">
                <h2 class="theme">选择发送对象</h2>
                <p class="paragraph">1.进行邮件发送时，需选择发送对象，根据不同的发送对象，系统将进行群发或单发；</p>
                <p class="paragraph">2.选择“所有联系人”、”待开发联系人“系统将进行群发，此时应遵守群发规则，避免邮件被屏蔽。</p>
                <p class="paragraph">3.选择若干特定联系人，将进行邮件单发。</p>
                <p class="paragraph">4.选择“一个客户”或“多个客户”将进行邮件群发，选择“联系人”将进行单发。</p>
                <h2 class="theme">群发邮件规则</h2>
                <p class="paragraph">以下行为均可能导致邮件被屏蔽，或者邮箱地址、邮箱后缀以及网络IP地址被发垃圾邮件联盟列入黑名单</p>
                <p class="paragraph">1.相同IP和邮箱地址短时间内大量发送邮件出去，一般免费的163，QQ邮箱这些每天发送量应不超过50封，个人使用的企业级邮箱（有公司自己后缀）一般不超过100封。另外，发送邮件的频率也不能过快</p>
                <p class="paragraph">2.大量邮件发送到无效邮箱地址中。这些无效地址包括不存在的邮箱地址和长期不用的邮箱地址。</p>
                <p class="paragraph">3.发送邮件到蜜罐邮箱地址。蜜罐地址即垃圾邮件陷阱，是邮箱运营商和发垃圾邮件联盟自己故意放出来的不存在的邮箱地址，故意让群发的人采集到，当群发者往这些陷阱地址发邮件后就会被盯上，一旦确认确实在群发营销邮件就会被列入黑名单。</p>
                <p class="paragraph">4.收件人未订阅，但是邮件中带有附件的。以及邮件中含有大量图片的。</p>
                <p class="paragraph">5.邮件中含有Spam高频词（即垃圾邮件高位词汇），常见的高危词如下：</p>
                <p class="paragraph">Free, Discount, Oppotunity, Win, Winner, Cheap, Deal, Debt, Income, Insurance, Loan, Money, Mortgage, Price, Rate, Profit, Save, Merchant, Stock, ActNow, All New, CallNow, Subscribe Now, Million, Dollars, Opportunity, Compare, Check, Cash, Bonus, Credit, Loans, BuyDirect, Get Paid, OrderNow, Specializing, Specialized, Offer, Please Read, Don'tDelete, Special Promotion, Satisfaction Guaranteed, You've Been Selected.Money back guarantee</p>
                <h2 class="paragraph">中文高危词汇：</h2>
                <p class="paragraph">免费、优惠、特惠、特价、低价、便宜、廉价、视频、赚钱、群发、发财、致富、代开、薪水、交友、支付、商机、法宝、宝典、秘密、情报、机密、保密、绝密、神秘、秘诀、发票、办证、传销等</p>
                <p class="paragraph">6.邮件中包含URL的。</p>
                <p class="paragraph">7.邮件标题中的高危行为：</p>
                <p class="paragraph">（1）标题全部大写的</p>
                <p class="paragraph">（2）标题中包含大量符号的</p>
                <p class="paragraph">（3）标题中含有高危词汇的（同邮件内容一样，应避免free,discount等字眼）</p>
                <p class="paragraph">8.用word设计HTML代码的邮件.(应尽量使用纯文本文件来发送)</p>
            </div>
        </div>
    </div>
    <!--单据说明-->
    <div id="bill_rule_pop" class="illustrate hidden">
        <div class="header">
            <span class="icon-mail_fanhui"></span>
            <span class="title">单据使用说明</span>
        </div>
        <div class="container">
            <div class="main-body">
                <h2 class="theme">报价单</h2>
                <p class="paragraph">1.在产品页面选择产品后，点击“开始报价”，填写相关信息，即可生产报价单；</p>
                <p class="paragraph">2.用户可以自行修改每一项属性的价格，生成报价单时，销售总额不低于成本总额。</p>
                <h2 class="theme">订单</h2>
                <p class="paragraph">1.可从报价单生成订单，须保证报价组合、货运信息、自定义信息填写完整，缺一不可；</p>
                <p class="paragraph">2.订单将会提交给贸多多后台，由贸多多安排处理；</p>
                <p class="paragraph">3.订单交易过程中的信息，通过订单详细页面右下方“信息反馈”，及时与我们保持沟通。</p>
                <h2 class="theme">新建单据</h2>
                <p class="paragraph">新建单据，从产品页面开始。</p>
            </div>
        </div>

    </div>
    <!--货运说明-->
    <div id="freight_pop" class="illustrate hidden">
        <div class="header">
            <span class="icon-mail_fanhui"></span>
            <span class="title">货运报价说明</span>
        </div>
        <div class="container">
            <div class="main-body">
                <h2 class="theme">货运报价规则</h2>
                <p class="paragraph">货运报价只需要选择目的国家以及货运方式（IP或IE），将根据产品报价组合的总数量以及产品参数进行运费计算；</p>
                <p class="paragraph">货运报价将根据国际物流标准计算，目前只支持Fedex，燃油附加费以Fedex费率为准；</p>
                <p class="paragraph">根据产品的不同质量和体积，将按照产品重量和材积取大后进行运费计算；</p>
                <p class="paragraph">货运报价可以自行修改，但须保证销售总额大于成本总额。</p>
            </div>
        </div>
    </div>
    <!--订单追踪说明-->
    <div id="order_tracking_pop" class="illustrate hidden">
        <div class="header">
            <span class="icon-mail_fanhui"></span>
            <span class="title">订单追踪说明</span>
        </div>
        <div class="container">
            <div class="main-body">
                <h2 class="theme">订单的使用</h2>
                <p class="paragraph">订单用于用户根据客户要求提交所得，由贸多多根据订单需求备货、出货；</p>
                <p class="paragraph">订单追踪用于用户跟进订单状态，及时与贸多多进行沟通反馈；</p>
                <p class="paragraph">订单交易中产生的问题请点“订单反馈”说明情况，贸多多将及时处理。</p>
                <h2 class="theme">疑问解答</h2>
                <p class="paragraph">1、何时安排备货、出货？</p>
                <p class="paragraph">贸多多将在收到订单时进行准备，收到客户定金后备货完成，收到客户全款后进行出货。</p>
                <p class="paragraph">2、如何收取货款？</p>
                <p class="paragraph">客户根据生产订单中的银行信息，进行支付；用户须在与客户确认货款动向后，认领货款。</p>
            </div>
        </div>

    </div>
    <!--实名认证说明-->
    <div id="certification" class="illustrate hidden">
        <div class="header">
            <span class="icon-mail_fanhui"></span>
            <span class="title">实名认证说明</span>
        </div>
        <div class="container">
            <div class="main-body">
                <h2 class="theme">所需资料</h2>
                <p class="paragraph">认证需要用户手机号、用户身份证正面、用户身份反面、手持身份证照；以及银行卡开户姓名、开户行、银行卡正面照等资料。</p>
            </div>
            <div class="main-body">
                <h2 class="theme">用途</h2>
                <p class="paragraph">我们根据实名认证确保用户的收益安全以及其他安全保障。</p>
            </div>
            <div class="main-body">
                <h2 class="theme">法律声明和隐藏政策</h2>
                <p class="paragraph">具体参见《贸多多法律声明和隐藏政策》</p>
            </div>
        </div>
    </div>
    <!--各种说明-->
    <!--上传头像背景遮罩-->
    <div id="photo_module" class="photo_module hidden"></div>
    <!--关于我们-->
    <div class="illustrate hidden" id="About_us_pop">
        <div class="header">
            <span class="icon-mail_fanhui"></span>
            <span class="title">关于我们</span>
        </div>
        <div class="container">
            <div class="main-body">
                <p class="paragraph">贸多多，利用外贸业务员空余的时间和精力，提供优质的产品、成熟交易要素与保障体系，让大家共享贸易红利。让外贸业务员无论何时何地，都能够享受自由的工作，提供千万外贸业务员一个成就自己的机会。</p>
                <p class="paragraph">贸多多拥有丰富的外贸经验及互联网技术支持，以千亿级的全球礼品市场为切入点，构建起了产品定制采购、供应商生产、货代报关等完整的外贸生态链系统，并且为外贸业务员提供价值度极高的国外买家数据及询盘，让外贸业务员无需花一分钱， 只需利用业余时间全心全意跟进客户，即可赚取丰厚佣金。同时也提供给海外客户一个更加注重品质、信誉度高、服务有温度的平台，让采购更高效、更快速、更可靠。</p>
            </div>
        </div>
    </div>
    <!--隐私政策-->
    <div class="illustrate hidden" id="Privacy_policy_pop">
        <div class="header">
            <span class="icon-mail_fanhui"></span>
            <span class="title">贸多多法律声明及隐私政策</span>
        </div>
        <div class="container">
            <div class="main-body">
                <h2 class="theme">法律声明</h2>
                <!--<p class="title"></p>-->
                <p class="paragraph">访问、浏览或使用贸多多外贸兼职软件，以下统称“贸多多”，表明您已阅读、理解并同意接受以下条款的约束，并遵守所有适用的法律和法规。您一旦使用贸多多，则须秉着诚信的原则遵守以下条款。</p>
            </div>
            <div class="main-body">
                <h2 class="theme">一般原则</h2>
                <p class="paragraph">以下规则适用于所有贸多多用户或浏览者，贸多多可能随时修改这些条款。您应经常访问本页面以了解当前的条款，因为这些条款与您密切相关。这些条款的某些条文也可能被贸多多软件中某些页面上或某些具体服务明确指定的法律通告或条款所取代，您应该了解这些内容，一旦接受本条款，即意味着您已经同时详细阅读并接受了这些被引用或取代的条款。</p>
            </div>
            <div class="main-body">
                <h2 class="theme">权利说明</h2>
                <p class="paragraph">深圳市茂贸电子商务有限公司及其关联公司对其发行的或与合作公司共同发行的包括但不限于贸多多软件及相关产品或服务的全部内容，享有知识产权，受法律保护。如果相关内容未含权利声明，并不代表贸多多对其不享有权利和不主张权利，您应根据法律、法规及诚信原则尊重权利人的合法权益并合法使用该内容。</p>
                <p class="paragraph">未经深圳市茂贸电子商务有限公司书面许可，任何单位及个人不得以任何方式或理由对上述软件、产品、服务、信息、文字的任何部分进行使用、复制、修改、抄录、传播或与其它产品捆绑使用、销售,或以超级链路连接或传送、存储于信息检索系统或者其他任何商业目的的使用，但对于非商业目的的、个人使用的下载或打印（未作修改，且须保留该内容中的版权说明或其他所有权的说明）除外。</p>
                <p class="paragraph">贸多多软件中使用和显示的商标和标识（以下统称"商标"）是深圳市茂贸电子商务有限公司及其关联公司注册和未注册的有关商标，受法律保护，但注明属于其他方拥有的商标、标志、商号除外。贸多多软件中所载的任何内容，未经深圳市茂贸电子商务有限公司书面许可，任何人不得以任何方式使用贸多多名称及贸多多软件的商标、标记。</p>
            </div>
            <div class="main-body">
                <h2 class="theme">用户信息</h2>
                <p class="paragraph">为贸多多提供相应服务之必须，您以自愿填写的方式提供注册所需的姓名、性别、电话以及其他类似的个人信息，则表示您已经了解并接受您个人信息的用途，同意贸多多为实现该特定目的使用您的个人信息。除此个人信息之外，其他任何您发送或提供给贸多多的材料、信息或文本(以下统称信息)均将被视为非保密和非专有的。贸多多对这些信息不承担任何义务。同时如果您提交时没有特别声明的，可视为同意贸多多及其授权人可以因商业或非商业的目的复制、透露、分发、合并和以其他方式利用这些信息和所有数据、图像、声音、文本及其他内容。您可阅读下面的贸多多隐私政策以了解更加详细的内容。</p>
            </div>
            <div class="main-body">
                <h2 class="theme">责任限制声明</h2>
                <p class="paragraph">不论在何种情况下，贸多多对由于信息网络设备维护、信息网络连接故障、智能终端、通讯或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、火灾、洪水、风暴、爆炸、战争、政府行为、司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务不承担责任。</p>
                <p class="paragraph">无论在任何情况下（包括但不限于疏忽原因），由于使用贸多多上的信息或由贸多多软件链接的信息，或其他与贸多多软件链接的网站信息，对您或他人所造成任何的损失或损害（包括直接、间接、特别或后果性的损失或损害，例如收入或利润之损失，智能终端系统之损坏或数据丢失等后果），均由使用者自行承担责任（包括但不限于疏忽责任）。</p>
                <p class="paragraph">贸多多所载的信息，包括但不限于文本、图片、数据、观点、网页或链接，虽然力图准确和详尽，但贸多多并不就其所包含的信息和内容的准确、完整、充分和可靠性做任何承诺。贸多多表明不对这些信息和内容的错误或遗漏承担责任，也不对这些信息和内容作出任何明示或默示的、包括但不限于没有侵犯第三方权利、质量和没有智能终端病毒的保证。</p>
                <p class="paragraph">对于贸多多软件上所提及或展示的非贸多多产品或服务，贸多多仅提供基本信息。贸多多不是相关产品的生产者或经销者，亦不是服务的提供方。贸多多所有展示的产品和服务应受其本公司或服务提供方所做质量承诺和条款的约束。</p>
            </div>
            <div class="main-body">
                <h2 class="theme">第三方链接</h2>
                <p class="paragraph">贸多多可能保留有第三方网站或网址的链接，访问这些链接将由用户自己作出决定，贸多多并不就这些链接上所提供的任何信息、数据、观点、图片、陈述或建议的准确性、完整性、充分性和可靠性提供承诺或保证。贸多多没有审查过任何第三方网站，对这些网站及其内容不进行控制，也不负任何责任。如果您决定访问任何与本站链接的第三方网站，其可能带来的结果和风险全部由您自己承担。</p>
            </div>
            <div class="main-body">
                <h2 class="theme">适用法律和管辖权</h2>
                <p class="paragraph">通过访问贸多多软件平台或使用贸多多提供的服务, 即表示您同意该访问或服务受中华人民共和国法律的约束，且您同意受中华人民共和国法院的管辖。访问或接受服务过程中发生的争议应当协商解决，协商不成的，各方一致同意至深圳市茂贸电子商务有限公司住所所在地有管辖权的法院诉讼解决。</p>
            </div>
            <div class="main-body">
                <h2 class="theme">隐私政策</h2>
                <p class="paragraph">为向您提供更准确的个性化服务，在您使用贸多多产品或服务的过程中，我们可能会以如下方式收集和使用您提供的个人信息，本声明解释了这些情况下的信息收集和使用情况。贸多多非常重视对您的个人隐私保护，在您使用贸多多的产品及服务前，请您仔细阅读以下声明。</p>
            </div>
            <div class="main-body">
                <h2 class="theme">我们收集以下信息</h2>
                <p class="paragraph">地理位置信息及目的地信息；<br>
                    个人联系方式；<br>
                    对于业务员类用户，我们会收集您的个人信息、身份证信息、银行卡信息，包括但不限于用户的姓名、身份证信息、银行卡等；<br>
                    通过“贸多多”App完成的交易信息；<br>
                    其他根据具体服务的需要必要收集的信息。</p>
            </div>
            <div class="main-body">
                <h2 class="theme">收集资料的方法</h2>
                <p class="paragraph">贸多多将会收集及储存您在旗下产品客户端输入的资料，或通过其他渠道向我们提供的信息。我们亦会从关联公司、商业伙伴及其他独立第三方资料来源，获取与您有关并合法收集的个人或非个人资料；</p>
                <p class="paragraph">您在相关站点及其他供应商所作的隐私设定，可限制或阻止我们对有关资料的查阅；</p>
                <p class="paragraph">若您提供个人资料予我们，即表示您接受，贸多多将在所需期限内留存您的资料以履行有关用途，您的资料将在遵守适用相关法律及规定的情况下收集。</p>
            </div>
            <div class="main-body">
                <h2 class="theme">收集个人资料可作以下用途</h2>
                <p class="paragraph">提供贸多多产品中所包含的相关服务；<br>
                    贸多多网站及APP管理；<br>
                    用户身份验证、用户银行卡验证、提现以及交易、存档和备份用途，确保我们向您提供的产品和服务的安全性；如果我们监测到您使用我们的服务用于欺诈或非法目的，我们将会相应采取措施停止服务；<br>
                    向您推送最新的市场信息及优惠方案；<br>
                    设计全新或改善目前所提供的产品及服务；<br>
                    服务内容个性化更新；<br>
                    协助执行法例、警方或其他政府或监管机构调查，以及遵守适用法律及规例所施行的规定，或其他向政府或监管机构承诺之义务；<br>
                    在收集之时所通知的其他用途；及与上述任何项目直接有关的其他用途。</p>
            </div>
            <div class="main-body">
                <h2 class="theme">可能向您发送的信息</h2>
                <p class="paragraph">为保证服务完成所必须的验证码；<br>
                    使用产品或服务时所必要的推送通知；<br>
                    正在交易中的提示信息、邮件信息；<br>
                    关于贸多多产品或服务的新闻、特别优惠及促销活动消息。</p>
            </div>
            <div class="main-body">
                <h2 class="theme">信息安全及隐私保护措施</h2>
                <p class="paragraph">深圳市茂贸电子商务有限公司及其关联公司采用严格的安全制度来确保我们收集的信息不丢失，不被滥用和变造；<br>
                    我们使用行业通行的安全技术和程序，来保护您的个人信息不被未经授权的访问、使用或泄露；<br>
                    为更好地提供服务升级产品，我们可能会将我们获得的数据提供给第三方用于分析统计。在提供服务的过程中，我们也会使用第三方的产品或服务。以上第三方企业或个人，只有在必须的情况下才会接触到用户信息，同时他们都受到严格的保密条款的约束；<br>
                    请注意，任何安全系统都存在可能的及未知的风险。</p>
            </div>
            <div class="main-body">
                <h2 class="theme">变更</h2>
                <p class="paragraph">随着贸多多服务的进一步提升，隐私声明的内容会随时更新。更新后的隐私声明一旦在网页上公布即有效代替原来的隐私声明。我们鼓励您定期查看本页以了解我们对于隐私保护的最新操作。</p>
            </div>
        </div>
    </div>
    <!--兼职协议-->
    <div class="illustrate hidden" id="Part-time_job_pop">
        <div class="header">
            <span class="icon-mail_fanhui"></span>
            <span class="title">贸多多兼职协议</span>
        </div>
        <div class="container">

        </div>
    </div>
</div>